
/* CSS Document */

/* Table of Content
==================================================
	1.0  -  Transition
	2.0  -  Type 17
	3.0  -  Browser Fix
	4.0  -  General
	5.0  -  Default Color
	6.0  -  Responsive
	7.0  -  Skin Colors*/
	
	/*--------------------------------------------------------------
	1.0 - Transition
	--------------------------------------------------------------*/
	.woocommerce ul.products li.product .woo-type17 .product-buttons-wrapper .wc_inline_buttons, .woocommerce ul.products li.product .woo-type17 .product-buttons-wrapper .wc_inline_buttons, .woocommerce ul.products li.product .woo-type17 .product-buttons-wrapper .wc_inline_buttons > .wc_btn_inline a, .woocommerce ul.products li.product .woo-type17 .product-buttons-wrapper .wc_inline_buttons > .wc_btn_inline a { -webkit-backface-visibility: hidden; backface-visibility: hidden; -webkit-transition: all 0.8s ease 0s; -moz-transition: all 0.8s ease 0s; -ms-transition: all 0.8s ease 0s; -o-transition: all 0.8s ease 0s; transition: all 0.8s ease 0s; }

	ul.products li.product .woo-type17 .product-thumb a.add_to_cart_button:after, ul.products li.product .woo-type17 .product-thumb a.button.product_type_simple:after, ul.products li.product .woo-type17 .product-thumb a.button.product_type_variable:after, ul.products li.product .woo-type17 .product-thumb a.added_to_cart.wc-forward:after, ul.products li.product .woo-type17 .product-thumb a.add_to_wishlist:after, ul.products li.product .woo-type17 .product-thumb .yith-wcwl-wishlistaddedbrowse a:after, ul.products li.product .woo-type17 .product-thumb .yith-wcwl-wishlistexistsbrowse a:after, .woocommerce ul.products li.product .woo-type17 .product-buttons-wrapper a.yith-wcqv-button:after, .woocommerce ul.products li.product .woo-type17 .product-buttons-wrapper a.yith-woocompare-button:after { -webkit-transition: all 0.6s ease 0s; -moz-transition: all 0.6s ease 0s; -ms-transition: all 0.6s ease 0s; -o-transition: all 0.6s ease 0s; transition: all 0.6s ease 0s; }
	
	ul.products li.product .woo-type17 .product-wrapper, ul.products li.product .woo-type17 .product-details, ul.products li.product .woo-type17 .product-details:before, ul.products li.product .woo-type17 .product-details:after, ul.products li.product .woo-type17 .product-details h5, ul.products li.product-category .woo-type17 .product-details h5 .count, ul.products li.product .woo-type17 .product-details h5 a:after, ul.products li.product-category .woo-type17 .product-details h5:after { -webkit-transition: all 300ms linear 0s; -moz-transition: all 300ms linear 0s; -ms-transition: all 300ms linear 0s; -o-transition: all 300ms linear 0s; transition: all 300ms linear 0s; }


	/*--------------------------------------------------------------
	2.0 - Type 17
	--------------------------------------------------------------*/
	.woocommerce ul.products li.product .woo-type17 .product-buttons-wrapper .wc_inline_buttons, 
	.woocommerce ul.products li.product .woo-type17 .product-buttons-wrapper .wc_inline_buttons { margin-top: -22px; left: 0; top: 100%; }
	
	.woocommerce ul.products li.product:hover .woo-type17 .product-buttons-wrapper .wc_inline_buttons, 
	.woocommerce ul.products li.product:hover .woo-type17 .product-buttons-wrapper .wc_inline_buttons { top: 50%; }
	
	ul.products li.product .woo-type17 .product-buttons-wrapper .wc_inline_buttons > .wc_btn_inline:nth-child(1):nth-last-child(2),
	ul.products li.product .woo-type17 .product-buttons-wrapper .wc_inline_buttons > .wc_btn_inline:nth-child(1):nth-last-child(3), 
	ul.products li.product .woo-type17 .product-buttons-wrapper .wc_inline_buttons > .wc_btn_inline:nth-child(2):nth-last-child(1),
	ul.products li.product .woo-type17 .product-buttons-wrapper .wc_inline_buttons > .wc_btn_inline:nth-child(2):nth-last-child(2),
	.woocommerce ul.products li.product .woo-type17 .product-buttons-wrapper .wc_inline_buttons > .wc_btn_inline:nth-child(1):nth-last-child(4), 
	.woocommerce ul.products li.product .woo-type17 .product-buttons-wrapper .wc_inline_buttons > .wc_btn_inline:nth-child(2):nth-last-child(3) { opacity: 1; filter: alpha(opacity=100); visibility: visible; -webkit-transform: none; -moz-transform: none; -ms-transform: none; -o-transform: none; transform: none; }
	
	.woocommerce ul.products li.product .woo-type17 .product-buttons-wrapper .wc_inline_buttons > .wc_btn_inline:nth-child(1):nth-last-child(2) a,
	.woocommerce ul.products li.product .woo-type17 .product-buttons-wrapper .wc_inline_buttons > .wc_btn_inline:nth-child(1):nth-last-child(3) a,
	.woocommerce ul.products li.product .woo-type17 .product-buttons-wrapper .wc_inline_buttons > .wc_btn_inline:nth-child(2):nth-last-child(1) a,
	.woocommerce ul.products li.product .woo-type17 .product-buttons-wrapper .wc_inline_buttons > .wc_btn_inline:nth-child(2):nth-last-child(2) a, 
	.woocommerce ul.products li.product .woo-type17 .product-buttons-wrapper .wc_inline_buttons > .wc_btn_inline:nth-child(1):nth-last-child(2) a,
	.woocommerce ul.products li.product .woo-type17 .product-buttons-wrapper .wc_inline_buttons > .wc_btn_inline:nth-child(1):nth-last-child(3) a,
	.woocommerce ul.products li.product .woo-type17 .product-buttons-wrapper .wc_inline_buttons > .wc_btn_inline:nth-child(2):nth-last-child(1) a,
	.woocommerce ul.products li.product .woo-type17 .product-buttons-wrapper .wc_inline_buttons > .wc_btn_inline:nth-child(2):nth-last-child(2) a { margin: auto 10px; }
	
	.woocommerce ul.products li.product .woo-type17 .product-buttons-wrapper .wc_inline_buttons > .wc_btn_inline:nth-child(1):nth-last-child(1) a, 
	.woocommerce ul.products li.product .woo-type17 .product-buttons-wrapper .wc_inline_buttons > .wc_btn_inline:nth-child(3):nth-last-child(1) a,
	.woocommerce ul.products li.product .woo-type17 .product-buttons-wrapper .wc_inline_buttons > .wc_btn_inline:nth-child(1):nth-last-child(1) a, 
	.woocommerce ul.products li.product .woo-type17 .product-buttons-wrapper .wc_inline_buttons > .wc_btn_inline:nth-child(3):nth-last-child(1) a, 
	.woocommerce ul.products li.product .woo-type17 .product-buttons-wrapper .wc_inline_buttons > .wc_btn_inline:nth-child(4):nth-last-child(1) a, 
	.woocommerce ul.products li.product .woo-type17 .product-buttons-wrapper .wc_inline_buttons > .wc_btn_inline:nth-child(3):nth-last-child(2) a, 
	.woocommerce ul.products li.product .woo-type17 .product-buttons-wrapper .wc_inline_buttons > .wc_btn_inline:nth-child(1):nth-last-child(4) a, 
	.woocommerce ul.products li.product .woo-type17 .product-buttons-wrapper .wc_inline_buttons > .wc_btn_inline:nth-child(2):nth-last-child(3) a { opacity: 1; filter: alpha(opacity=100); visibility: visible; -webkit-transform: none; -moz-transform: none; -ms-transform: none; -o-transform: none; transform: none; }
	
	ul.products li.product .woo-type17 .product-wrapper { border: 1px solid; } 
	
	ul.products li.product .woo-type17 .product-thumb a.add_to_cart_button, ul.products li.product .woo-type17 .product-thumb a.button.product_type_simple, ul.products li.product .woo-type17 .product-thumb a.button.product_type_variable, ul.products li.product .woo-type17 .product-thumb a.added_to_cart.wc-forward, ul.products li.product .woo-type17 .product-thumb a.add_to_wishlist, ul.products li.product .woo-type17 .product-thumb .yith-wcwl-wishlistaddedbrowse a, ul.products li.product .woo-type17 .product-thumb .yith-wcwl-wishlistexistsbrowse a, ul.products li.product .woo-type17 .product-thumb a.add_to_cart_button:before, ul.products li.product .woo-type17 .product-thumb a.button.product_type_simple:before, ul.products li.product .woo-type17 .product-thumb a.button.product_type_variable:before, ul.products li.product .woo-type17 .product-thumb a.added_to_cart.wc-forward:before, ul.products li.product .woo-type17 .product-thumb a.add_to_wishlist:before, ul.products li.product .woo-type17 .product-thumb .yith-wcwl-wishlistaddedbrowse a:before, ul.products li.product .woo-type17 .product-thumb .yith-wcwl-wishlistexistsbrowse a:before { z-index: 1; }
	
 	ul.products li.product .woo-type17 .product-thumb a.add_to_cart_button:after, ul.products li.product .woo-type17 .product-thumb a.button.product_type_simple:after, ul.products li.product .woo-type17 .product-thumb a.button.product_type_variable:after, ul.products li.product .woo-type17 .product-thumb a.added_to_cart.wc-forward:after, ul.products li.product .woo-type17 .product-thumb a.add_to_wishlist:after, ul.products li.product .woo-type17 .product-thumb .yith-wcwl-wishlistaddedbrowse a:after, ul.products li.product .woo-type17 .product-thumb .yith-wcwl-wishlistexistsbrowse a:after, .woocommerce ul.products li.product .woo-type17 .product-buttons-wrapper a.yith-wcqv-button:after, .woocommerce ul.products li.product .woo-type17 .product-buttons-wrapper a.yith-woocompare-button:after { border: 1px solid; content: ""; height: 100%; position: absolute; left: 0; top: 0; width: 100%; z-index: -1; -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); -ms-transform: rotate(45deg); -o-transform: rotate(45deg); transform: rotate(45deg); }
	
	ul.products li.product:hover .woo-type17 .product-thumb a.add_to_cart_button:after, ul.products li.product:hover .woo-type17 .product-thumb a.button.product_type_simple:after, ul.products li.product:hover .woo-type17 .product-thumb a.button.product_type_variable:after, ul.products li.product:hover .woo-type17 .product-thumb a.added_to_cart.wc-forward:after, ul.products li.product:hover .woo-type17 .product-thumb a.add_to_wishlist:after, ul.products li.product:hover .woo-type17 .product-thumb .yith-wcwl-wishlistaddedbrowse a:after, ul.products li.product:hover .woo-type17 .product-thumb .yith-wcwl-wishlistexistsbrowse a:after, .woocommerce ul.products li.product:hover .woo-type17 .product-buttons-wrapper a.yith-wcqv-button:after, .woocommerce ul.products li.product:hover .woo-type17 .product-buttons-wrapper a.yith-woocompare-button:after { -webkit-transform: rotate(135deg); -moz-transform: rotate(135deg); -ms-transform: rotate(135deg); -o-transform: rotate(135deg); transform: rotate(135deg); }
	
	.woocommerce ul.products li.product .woo-type17 .product-thumb .yith-wcwl-add-button img, .woocommerce ul.products li.product .woo-type17 .product-thumb .yith-wcwl-add-button img { right: calc(50% - 90px); }
	
	ul.products li.product .woo-type17 .featured-tag { top: 10px; }
	
	ul.products li.product .woo-type17 .featured-tag, .woo-type17.woocommerce.single-product .featured-tag { font-size: 14px; }
	
	ul.products li.product .woo-type17 .product-thumb { overflow: visible; z-index: auto; }
	
	ul.products li.product:hover .woo-type17 .product-content:after { content: none; }
	
	.woocommerce ul.products li.product .woo-type17 .product-buttons-wrapper .wc_inline_buttons > .wc_btn_inline:nth-child(3):nth-last-child(2), .woocommerce ul.products li.product .woo-type17 .product-buttons-wrapper .wc_inline_buttons > .wc_btn_inline:nth-child(1):nth-last-child(4) { margin: 0 10px; }
 	
	ul.products li.product .woo-type17 .product-details { padding: 30px 15px; position: relative; z-index: 1; }
	
	ul.products li.product .woo-type17 .product-details:before { border-width: 1px 0; -webkit-transform: scale(0, 1); -moz-transform: scale(0, 1); -ms-transform: scale(0, 1); -o-transform: scale(0, 1); transform: scale(0, 1); -webkit-transform-origin: 0 0 0; -moz-transform-origin: 0 0 0; -ms-transform-origin: 0 0 0; -o-transform-origin: 0 0 0; transform-origin: 0 0 0; }
	
	ul.products li.product .woo-type17 .product-details:after { border-width: 0 1px; -webkit-transform: scale(1, 0); -moz-transform: scale(1, 0); -ms-transform: scale(1, 0); -o-transform: scale(1, 0); transform: scale(1, 0); -webkit-transform-origin: 100% 0 0; -moz-transform-origin: 100% 0 0; -ms-transform-origin: 100% 0 0; -o-transform-origin: 100% 0 0; transform-origin: 100% 0 0; }
	
	ul.products li.product .woo-type17 .product-details:before, ul.products li.product .woo-type17 .product-details:after { border-style: solid; content: ""; opacity: 0; position: absolute; bottom: 5px; left: 5px; right: 5px; top: 5px; z-index: -1; }
	
	ul.products li.product:hover .woo-type17 .product-details:before, ul.products li.product:hover .woo-type17 .product-details:after { opacity: 1; -webkit-transform: scale(1); -moz-transform: scale(1); -ms-transform: scale(1); -o-transform: scale(1); transform: scale(1); }
	
	
	ul.products li.product .woo-type17 .product-details h5 { border-bottom: none; margin-bottom: 25px; }
	
	ul.products li.product .woo-type17 .product-details h5 a, ul.products li.product-category .woo-type17 .product-details h5 { position: relative; padding-bottom: 25px; }
	
	ul.products li.product-category .woo-type17 .product-details h5 { margin: 0 0 10px; }
	
	
	ul.products li.product .woo-type17 .product-details h5 a:after, ul.products li.product-category .woo-type17 .product-details h5:after { border-style: solid; border-width: 1px 0; content: ""; height: 2px; margin: auto; position: absolute; bottom: 0; left: 0; right: 0; width: 40px; }
	
	ul.products li.product:hover .woo-type17 .product-details h5 a:after, .woo-type17 ul.products li.product-category:hover .product-details h5:after { width: 60px; }
	
	
	ul.products li.product .woo-type17 .price { border: 1px solid; -webkit-border-radius: 20px; -moz-border-radius: 20px; -ms-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; }
	
	ul.products li.product .woo-type17 .price, ul.products li.product:hover .woo-type17 .price { padding: 5px 20px; text-align: center; width: auto; }
	
	ul.products li.product .woo-type17 .product-details .product-rating-wrapper, ul.products li.product:hover .woo-type17 .product-details .product-rating-wrapper { display: none; }
	
	.page-with-sidebar ul.products li.product .woo-type17 .dt-sc-one-fourth .product-details h5,
	.page-with-sidebar .woocommerce.columns-4 ul.products li.product .woo-type17 .dt-sc-one-fourth .product-details h5,
	.with-both-sidebar ul.products li.product .woo-type17 .dt-sc-one-third .product-details h5,
	.with-both-sidebar .woocommerce.columns-3 ul.products li.product .woo-type17 .dt-sc-one-third .product-details h5 { font-size: 12px; }
	
	.page-with-sidebar ul.products li.product .woo-type17 .dt-sc-one-fourth .price,
	.page-with-sidebar .woocommerce.columns-4 ul.products li.product .woo-type17 .dt-sc-one-fourth .price,
	.with-both-sidebar ul.products li.product .woo-type17 .dt-sc-one-third .price,
	.with-both-sidebar .woocommerce.columns-3 ul.products li.product .woo-type17 .dt-sc-one-third .price { font-size: 10px; }
	
	.page-with-sidebar ul.products li.product .woo-type17 .dt-sc-one-fourth .price,
	.page-with-sidebar .woocommerce.columns-4 ul.products li.product .woo-type17 .dt-sc-one-fourth .price,
	.with-both-sidebar ul.products li.product .woo-type17 .dt-sc-one-third .price,
	.with-both-sidebar .woocommerce.columns-3 ul.products li.product .woo-type17 .dt-sc-one-third .price { padding: 5px 15px; }
	
	
	.woo-type17.woocommerce a.button, .woo-type17.woocommerce button.button, .woo-type17.woocommerce button, .woo-type17.woocommerce input.button, .woo-type17.woocommerce input[type=button], .woo-type17.woocommerce input[type=submit], .woo-type17.woocommerce #respond input#submit, .woo-type17.woocommerce a.button.alt, .woo-type17.woocommerce button.button.alt, .woo-type17.woocommerce input.button.alt, .woo-type17.woocommerce #respond input#submit.alt, .woo-type17 .woocommerce a.button, .woo-type17 .woocommerce button.button, .woo-type17 .woocommerce button, .woo-type17 .woocommerce input.button, .woo-type17 .woocommerce input[type=button], .woo-type17 .woocommerce input[type=submit], .woo-type17 .woocommerce #respond input#submit, .woo-type17 .woocommerce a.button.alt, .woo-type17 .woocommerce button.button.alt, .woo-type17 .woocommerce input.button.alt, .woo-type17 .woocommerce #respond input#submit.alt, .woo-type17.woocommerce.single-product div.product .product-thumb-wrapper .add_to_wishlist, .woo-type17 .wishlist_table .add_to_cart.button, .woo-type17 .yith-wcwl-add-button a.add_to_wishlist, .woo-type17 .yith-wcwl-popup-button a.add_to_wishlist, .woo-type17 .wishlist_table a.ask-an-estimate-button, .woo-type17 .wishlist-title a.show-title-form, .woo-type17 .hidden-title-form a.hide-title-form, .woo-type17 .yith-wcwl-wishlist-new button, .woo-type17 .wishlist_manage_table a.create-new-wishlist, .woo-type17 .wishlist_manage_table button.submit-wishlist-changes, .woo-type17 .yith-wcwl-wishlist-search-form button.wishlist-search-button, .woo-type17 .cart input.button, .woo-type17 div.product .woocommerce-tabs ul.tabs li a { font-family: Lora,sans-serif }
	
	ul.products li.product .woo-type17 .product-details h5, .woo-type17 .select2-container .select2-choice > .select2-chosen, .woo-type17 .select2-search, .woo-type17 .select2-results { text-transform: uppercase; }
	
	.woo-type17 .quantity .qty, .woo-type17.woocommerce-page .quantity .qty, .woo-type17 #coupon_code.input-text { height: 37px; min-height: 37px; }
	
	.woo-type17 .quantity .qty, .woo-type17.woocommerce-page .quantity .qty { padding: 0; }
	
	.woo-type17 form .form-row .select2-container { line-height: 36px; }
	
	.woo-type17.woocommerce .selection-box:after, .woo-type17 .woocommerce .selection-box:after { height: 51px; }
	
	.woocommerce ul.products li.product .woo-type17 .product-buttons-wrapper a.yith-wcqv-button, .woocommerce ul.products li.product .woo-type17 .product-buttons-wrapper a.yith-woocompare-button, .woocommerce ul.products li.product .woo-type17 .product-buttons-wrapper a.yith-wcqv-button:hover, .woocommerce ul.products li.product .woo-type17 .product-buttons-wrapper a.yith-woocompare-button:hover { background:none; }
	
	.woocommerce ul.products li.product .woo-type17 .product-thumb:after { content: ""; overflow: hidden; position: absolute; right: 0; top: 0; z-index: 1; width:100%; height:100%; left:0; z-index:0; }	
.woocommerce ul.products li.product.outofstock .woo-type17 .product-thumb:after, .woocommerce ul.products li.product.sale .woo-type17 .product-thumb:after { content: ""; border-style: none solid solid none; border-width: 0 40px 40px 0; overflow: hidden; position: absolute; right: 0; top: 0; z-index: 1; border-color: rgba(255,255,255,0.35) rgba(255,255,255,0.35) rgba(255,255,255,0.75) rgba(255,255,255,0.75); width:auto; height:auto; left:auto; z-index:0; }
.woocommerce ul.products li.product.outofstock:hover .woo-type17 .product-thumb:after, .woocommerce ul.products li.product.sale:hover .woo-type17 .product-thumb:after, .woocommerce ul.products li.product:hover .woo-type17 .product-thumb:after { background-color: rgba(255,255,255,0.65); width:100%; height:100%; left:0; border:none; }

	.woocommerce ul.products li.product .woo-type17 a.image { overflow:hidden; }
	.woocommerce ul.products.list-view li.product .woo-type17 .product-details { padding:20px 30px; }
	.woocommerce ul.products.list-view li.product:hover .woo-type17 .product-details { color:#fff; }
	.woocommerce ul.products li.product .woo-type17 .product-details .product-price:empty { display: none; }
	
	.woocommerce ul.products li.product .woo-type17 .product-buttons-wrapper .wc_inline_buttons, .woocommerce ul.products li.product .woo-type17 .product-buttons-wrapper .wc_inline_buttons { margin-top:-25px; }

	/*--------------------------------------------------------------
	3.0 - Browser Fix
	--------------------------------------------------------------*/
	@-moz-document url-prefix() { 
	
		.woo-type17 .quantity .qty, .woo-type17.woocommerce-page .quantity .qty { height: 41px; min-height: 41px; }
		
		.woo-type17 form .form-row .select2-container { line-height: 37px; }
	
	}

	
	/*--------------------------------------------------------------
	4.0 - General
	--------------------------------------------------------------*/
.woo-type17 .select2-container .select2-choice > .select2-chosen, .woo-type17 .select2-search, .woo-type17 .select2-results { font-size: 13px; letter-spacing: 0.5px; }

.woo-type17.woocommerce input[type="text"], .woo-type17.woocommerce input[type="password"], .woo-type17.woocommerce input[type="email"], .woo-type17.woocommerce input[type="url"], .woo-type17.woocommerce input[type="tel"], .woo-type17.woocommerce input[type="number"], .woo-type17.woocommerce input[type="range"], .woo-type17.woocommerce input[type="date"], .woo-type17.woocommerce textarea, .woo-type17.woocommerce input.text, .woo-type17.woocommerce input[type="search"], .woo-type17.woocommerce select, .woo-type17 .woocommerce input[type="text"], .woo-type17 .woocommerce input[type="password"], .woo-type17 .woocommerce input[type="email"], .woo-type17 .woocommerce input[type="url"], .woo-type17 .woocommerce input[type="tel"], .woo-type17 .woocommerce input[type="number"], .woo-type17 .woocommerce input[type="range"], .woo-type17 .woocommerce input[type="date"], .woo-type17 .woocommerce textarea, .woo-type17 .woocommerce input.text, .woo-type17 .woocommerce input[type="search"], .woo-type17 .woocommerce select { font-family: inherit; }


ul.products li.product .woo-type17 .product-thumb a.add_to_cart_button:after, ul.products li.product .woo-type17 .product-thumb a.button.product_type_simple:after, ul.products li.product .woo-type17 .product-thumb a.button.product_type_variable:after, ul.products li.product .woo-type17 .product-thumb a.added_to_cart.wc-forward:after, ul.products li.product .woo-type17 .product-thumb a.add_to_wishlist:after, ul.products li.product .woo-type17 .product-thumb .yith-wcwl-wishlistaddedbrowse a:after, ul.products li.product .woo-type17 .product-thumb .yith-wcwl-wishlistexistsbrowse a:after, ul.products li.product .woo-type17 .product-details { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; -o-box-sizing: border-box; box-sizing: border-box; }


ul.products li.product .woo-type17 .product-thumb a.add_to_cart_button, ul.products li.product .woo-type17 .product-thumb a.button.product_type_simple, ul.products li.product .woo-type17 .product-thumb a.button.product_type_variable, ul.products li.product .woo-type17 .product-thumb a.added_to_cart.wc-forward, ul.products li.product .woo-type17 .product-thumb a.add_to_wishlist, ul.products li.product .woo-type17 .product-thumb .yith-wcwl-wishlistaddedbrowse a, ul.products li.product .woo-type17 .product-thumb .yith-wcwl-wishlistexistsbrowse a { -webkit-border-radius: 0; -moz-border-radius: 0; -ms-border-radius: 0; -o-border-radius: 0; border-radius: 0; }

.woo-type17.woocommerce a.button, .woo-type17.woocommerce button.button, .woo-type17.woocommerce button, .woo-type17.woocommerce input.button, .woo-type17.woocommerce input[type=button], .woo-type17.woocommerce input[type=submit], .woo-type17.woocommerce #respond input#submit, .woo-type17.woocommerce a.button.alt, .woo-type17.woocommerce button.button.alt, .woo-type17.woocommerce input.button.alt, .woo-type17.woocommerce #respond input#submit.alt, .woo-type17 .woocommerce a.button, .woo-type17 .woocommerce button.button, .woo-type17 .woocommerce button, .woo-type17 .woocommerce input.button, .woo-type17 .woocommerce input[type=button], .woo-type17 .woocommerce input[type=submit], .woo-type17 .woocommerce #respond input#submit, .woo-type17 .woocommerce a.button.alt, .woo-type17 .woocommerce button.button.alt, .woo-type17 .woocommerce input.button.alt, .woo-type17 .woocommerce #respond input#submit.alt, .woo-type17.woocommerce.single-product div.product .product-thumb-wrapper .add_to_wishlist, .woo-type17 .wishlist_table .add_to_cart.button, .woo-type17 .yith-wcwl-add-button a.add_to_wishlist, .woo-type17 .yith-wcwl-popup-button a.add_to_wishlist, .woo-type17 .wishlist_table a.ask-an-estimate-button, .woo-type17 .wishlist-title a.show-title-form, .woo-type17 .hidden-title-form a.hide-title-form, .woo-type17 .yith-wcwl-wishlist-new button, .woo-type17 .wishlist_manage_table a.create-new-wishlist, .woo-type17 .wishlist_manage_table button.submit-wishlist-changes, .woo-type17 .yith-wcwl-wishlist-search-form button.wishlist-search-button, .woo-type17.woocommerce input[type="text"], .woo-type17.woocommerce input[type="password"], .woo-type17.woocommerce input[type="email"], .woo-type17.woocommerce input[type="url"], .woo-type17.woocommerce input[type="tel"], .woo-type17.woocommerce input[type="number"], .woo-type17.woocommerce input[type="range"], .woo-type17.woocommerce input[type="date"], .woo-type17.woocommerce textarea, .woo-type17.woocommerce input.text, .woo-type17.woocommerce input[type="search"], .woo-type17.woocommerce select, .woo-type17 .woocommerce input[type="text"], .woo-type17 .woocommerce input[type="password"], .woo-type17 .woocommerce input[type="email"], .woo-type17 .woocommerce input[type="url"], .woo-type17 .woocommerce input[type="tel"], .woo-type17 .woocommerce input[type="number"], .woo-type17 .woocommerce input[type="range"], .woo-type17 .woocommerce input[type="date"], .woo-type17 .woocommerce textarea, .woo-type17 .woocommerce input.text, .woo-type17 .woocommerce input[type="search"], .woo-type17 .woocommerce select, .woo-type17 .select2-container .select2-choice, .woo-type17 .cart input.button, .woo-type17 .woocommerce-message, .woo-type17 .woocommerce-info, .woo-type17 .woocommerce-error, .woo-type17 .woocommerce-message:before, .woo-type17 .woocommerce-info:before, .woo-type17 .woocommerce-error:before { -webkit-border-radius: 8px; -moz-border-radius: 8px; -ms-border-radius: 8px; -o-border-radius: 8px; border-radius: 8px; }

.woo-type17.woocommerce .selection-box:after, .woo-type17 .woocommerce .selection-box:after, .woo-type17 .widget.woocommerce .woocommerce-product-search input[type="submit"] { -webkit-border-radius: 0 8px 8px 0; -moz-border-radius: 0 8px 8px 0; border-radius: 0 8px 8px 0; }


	/*--------------------------------------------------------------
	5.0 - Default Colors
	--------------------------------------------------------------*/
	
	/*----*****---- << Background >> --****--*/
	ul.products li.product .woo-type17 .product-thumb a.add_to_cart_button, ul.products li.product .woo-type17 .product-thumb a.button.product_type_simple, ul.products li.product .woo-type17 .product-thumb a.button.product_type_variable, ul.products li.product .woo-type17 .product-thumb a.added_to_cart.wc-forward, ul.products li.product .woo-type17 .product-thumb a.add_to_wishlist, ul.products li.product .woo-type17 .product-thumb .yith-wcwl-wishlistaddedbrowse a, ul.products li.product .woo-type17 .product-thumb .yith-wcwl-wishlistexistsbrowse a, ul.products li.product .woo-type17 .product-thumb a.add_to_cart_button:hover, ul.products li.product .woo-type17 .product-thumb a.button.product_type_simple:hover, ul.products li.product .woo-type17 .product-thumb a.button.product_type_variable:hover, ul.products li.product .woo-type17 .product-thumb a.added_to_cart.wc-forward:hover, ul.products li.product .woo-type17 .product-thumb a.add_to_wishlist:hover, ul.products li.product .woo-type17 .product-thumb .yith-wcwl-wishlistaddedbrowse a:hover, ul.products li.product .woo-type17 .product-thumb .yith-wcwl-wishlistexistsbrowse a:hover { background-color: rgba(0,0,0,0); }
	
	ul.products li.product .woo-type17 .product-thumb a.add_to_cart_button:after, ul.products li.product .woo-type17 .product-thumb a.button.product_type_simple:after, ul.products li.product .woo-type17 .product-thumb a.button.product_type_variable:after, ul.products li.product .woo-type17 .product-thumb a.added_to_cart.wc-forward:after, ul.products li.product .woo-type17 .product-thumb a.add_to_wishlist:after, ul.products li.product .woo-type17 .product-thumb .yith-wcwl-wishlistaddedbrowse a:after, ul.products li.product .woo-type17 .product-thumb .yith-wcwl-wishlistexistsbrowse a:after, .woocommerce ul.products li.product .woo-type17 .product-buttons-wrapper a.yith-wcqv-button:after, .woocommerce ul.products li.product .woo-type17 .product-buttons-wrapper a.yith-woocompare-button:after { background-color: #fff; }
	
	ul.products li.product:hover .woo-type17 .product-content, .woo-type17 ul.products li.product.instock:hover .on-sale-product .product-content, .woo-type17 ul.products li.product.outofstock:hover .out-of-stock-product .product-content { background-color: rgba(255, 255, 255,0.6); }


	/*----*****---- << Borders >> --****--*/
	ul.products li.product .woo-type17 .product-wrapper { border-color: rgba(0, 0, 0, 0.08); } 
	
	ul.products li.product .woo-type17 .product-details:before, ul.products li.product .woo-type17 .product-details:after, ul.products li.product:hover .woo-type17 .product-details h5 a:after, .woo-type17 ul.products li.product-category:hover .product-details h5:after, ul.products li.product:hover .woo-type17 .price, ul.products li.product-category:hover .woo-type17 .product-details h5:after { border-color: #fff; }
	
	ul.products li.product .woo-type17 .product-thumb a.add_to_cart_button:after, ul.products li.product .woo-type17 .product-thumb a.button.product_type_simple:after, ul.products li.product .woo-type17 .product-thumb a.button.product_type_variable:after, ul.products li.product .woo-type17 .product-thumb a.added_to_cart.wc-forward:after, ul.products li.product .woo-type17 .product-thumb a.add_to_wishlist:after, ul.products li.product .woo-type17 .product-thumb .yith-wcwl-wishlistaddedbrowse a:after, ul.products li.product .woo-type17 .product-thumb .yith-wcwl-wishlistexistsbrowse a:after, .woocommerce ul.products li.product .woo-type17 .product-buttons-wrapper a.yith-wcqv-button:after, .woocommerce ul.products li.product .woo-type17 .product-buttons-wrapper a.yith-woocompare-button:after { border-color: rgba(0, 0, 0, 0); } 
	
	.woo-type17.woocommerce input[type="text"], .woo-type17.woocommerce input[type="password"], .woo-type17.woocommerce input[type="email"], .woo-type17.woocommerce input[type="url"], .woo-type17.woocommerce input[type="tel"], .woo-type17.woocommerce input[type="number"], .woo-type17.woocommerce input[type="range"], .woo-type17.woocommerce input[type="date"], .woo-type17.woocommerce textarea, .woo-type17.woocommerce input.text, .woo-type17.woocommerce input[type="search"], .woo-type17.woocommerce select, .woo-type17 .woocommerce input[type="text"], .woo-type17 .woocommerce input[type="password"], .woo-type17 .woocommerce input[type="email"], .woo-type17 .woocommerce input[type="url"], .woo-type17 .woocommerce input[type="tel"], .woo-type17 .woocommerce input[type="number"], .woo-type17 .woocommerce input[type="range"], .woo-type17 .woocommerce input[type="date"], .woo-type17 .woocommerce textarea, .woo-type17 .woocommerce input.text, .woo-type17 .woocommerce input[type="search"], .woo-type17 .woocommerce select, .woo-type17 .select2-container .select2-choice { border-color: rgba(0, 0, 0, 0.15); }
	
	.woo-type17 .selection-box:before { border-top-color: rgba(0, 0, 0, 0.15); }


	/*----*****---- << Colors >> --****--*/
	ul.products li.product .woo-type17 .product-thumb a.add_to_cart_button:hover, ul.products li.product .woo-type17 .product-thumb a.button.product_type_simple:hover, ul.products li.product .woo-type17 .product-thumb a.button.product_type_variable:hover, ul.products li.product .woo-type17 .product-thumb a.added_to_cart.wc-forward:hover, ul.products li.product .woo-type17 .product-thumb a.add_to_wishlist:hover, ul.products li.product .woo-type17 .product-thumb .yith-wcwl-wishlistaddedbrowse a:hover, ul.products li.product .woo-type17 .product-thumb .yith-wcwl-wishlistexistsbrowse a:hover, ul.products li.product .woo-type17 .product-thumb a.add_to_cart_button:hover:before, ul.products li.product .woo-type17 .product-thumb a.button.product_type_simple:hover:before, ul.products li.product .woo-type17 .product-thumb a.button.product_type_variable:hover:before, ul.products li.product .woo-type17 .product-thumb a.added_to_cart.wc-forward:hover:before, ul.products li.product .woo-type17 .product-thumb a.add_to_wishlist:hover:before, ul.products li.product .woo-type17 .product-thumb .yith-wcwl-wishlistaddedbrowse a:hover:before, ul.products li.product .woo-type17 .product-thumb .yith-wcwl-wishlistexistsbrowse a:hover:before, ul.products li.product:hover .woo-type17 .product-details h5 a, .woo-type17 ul.products li.product-category:hover .product-details h5, .woo-type17 ul.products li.product-category:hover .product-details h5 .count, ul.products li.product:hover .woo-type17 .product-details .product-price .amount, ul.products li.product:hover .woo-type17 .product-details span.price, ul.products li.product:hover .woo-type17 .product-details span.price del, ul.products li.product:hover .woo-type17 .product-details span.price del .amount, ul.products li.product:hover .woo-type17 .product-details span.price ins, ul.products li.product:hover .woo-type17 .product-details span.price ins .amount, .woocommerce ul.products li.product .woo-type17 .product-buttons-wrapper a.yith-wcqv-button:hover:before, .woocommerce ul.products li.product .woo-type17 .product-buttons-wrapper a.yith-woocompare-button:hover:before, ul.products li.product-category:hover .woo-type17 .product-details h5, ul.products li.product-category:hover .woo-type17 .product-details h5 .count { color: #fff; }
	
	.woo-type17.woocommerce input[type="text"], .woo-type17.woocommerce input[type="password"], .woo-type17.woocommerce input[type="email"], .woo-type17.woocommerce input[type="url"], .woo-type17.woocommerce input[type="tel"], .woo-type17.woocommerce input[type="number"], .woo-type17.woocommerce input[type="range"], .woo-type17.woocommerce input[type="date"], .woo-type17.woocommerce textarea, .woo-type17.woocommerce input.text, .woo-type17.woocommerce input[type="search"], .woo-type17.woocommerce select, .woo-type17 .woocommerce input[type="text"], .woo-type17 .woocommerce input[type="password"], .woo-type17 .woocommerce input[type="email"], .woo-type17 .woocommerce input[type="url"], .woo-type17 .woocommerce input[type="tel"], .woo-type17 .woocommerce input[type="number"], .woo-type17 .woocommerce input[type="range"], .woo-type17 .woocommerce input[type="date"], .woo-type17 .woocommerce textarea, .woo-type17 .woocommerce input.text, .woo-type17 .woocommerce input[type="search"], .woo-type17 .woocommerce select, .woo-type17 .select2-container .select2-choice, .woo-type17 #billing_country_chzn, .woo-type17 #billing_state_chzn, .woo-type17 .chzn-container-single .chzn-single span, .woo-type17 .payment_methods, .woo-type17 .payment_methods label { color: #888888; }



	
	/*--------------------------------------------------------------
	 6.0 - Responsive
	--------------------------------------------------------------*/	
	@media only screen and (max-width: 1199px) and (min-width: 992px) { 
		.woocommerce ul.products li.product .woo-type17 .product-buttons-wrapper a.add_to_cart_button, .woocommerce ul.products li.product .woo-type17 .product-buttons-wrapper a.button.product_type_simple, .woocommerce ul.products li.product .woo-type17 .product-buttons-wrapper a.button.product_type_variable, .woocommerce ul.products li.product .woo-type17 .product-buttons-wrapper a.added_to_cart.wc-forward, .woocommerce ul.products li.product .woo-type17 .product-buttons-wrapper a.add_to_wishlist, .woocommerce ul.products li.product .woo-type17 .product-buttons-wrapper .yith-wcwl-wishlistaddedbrowse a, .woocommerce ul.products li.product .woo-type17 .product-buttons-wrapper .yith-wcwl-wishlistexistsbrowse a, .woocommerce ul.products li.product .woo-type17 .product-buttons-wrapper a.yith-wcqv-button, .woocommerce ul.products li.product .woo-type17 .product-buttons-wrapper a.yith-woocompare-button { width: 35px; height: 35px; }

		.woocommerce ul.products li.product .woo-type17 .product-buttons-wrapper a.add_to_cart_button:before, .woocommerce ul.products li.product .woo-type17 .product-buttons-wrapper a.added_to_cart.wc-forward:before, .woocommerce ul.products li.product .woo-type17 .product-buttons-wrapper a.button.product_type_simple:before, .woocommerce ul.products li.product .woo-type17 .product-buttons-wrapper a.button.product_type_variable:before, .woocommerce ul.products li.product .woo-type17 .product-buttons-wrapper .add_to_wishlist:before, .woocommerce ul.products li.product .woo-type17 .product-buttons-wrapper .yith-wcwl-wishlistaddedbrowse a:before, .woocommerce ul.products li.product .woo-type17 .product-buttons-wrapper .yith-wcwl-wishlistexistsbrowse a:before, .woocommerce ul.products li.product .woo-type17 .product-buttons-wrapper a.yith-wcqv-button:before, .woocommerce ul.products li.product .woo-type17 .product-buttons-wrapper a.yith-woocompare-button:before { font-size: 17px; line-height: 35px; }

		.woocommerce ul.products li.product .woo-type17 .product-buttons-wrapper .wc_inline_buttons, .woocommerce ul.products li.product .woo-type17 .product-buttons-wrapper .wc_inline_buttons { margin-top: -20px; }
		.woocommerce ul.products li.product .woo-type17 .product-buttons-wrapper .wc_inline_buttons > .wc_btn_inline:nth-child(3):nth-last-child(2), .woocommerce ul.products li.product .woo-type17 .product-buttons-wrapper .wc_inline_buttons > .wc_btn_inline:nth-child(1):nth-last-child(4){margin:0 5px;}
	}
	

	/*----*****---- << Tablet (Portrait) >> ----*****----*/	
	
	/* Note: Design for a width of 768px */
	@media only screen and (min-width:768px) and (max-width:991px) {
		
		ul.products li.product .woo-type17 .product-thumb a.add_to_cart_button, ul.products li.product .woo-type17 .product-thumb a.button.product_type_simple, ul.products li.product .woo-type17 .product-thumb a.button.product_type_variable, ul.products li.product .woo-type17 .product-thumb a.added_to_cart.wc-forward, ul.products li.product .woo-type17 .product-thumb a.add_to_wishlist, ul.products li.product .woo-type17 .product-thumb .yith-wcwl-wishlistaddedbrowse a, ul.products li.product .woo-type17 .product-thumb .yith-wcwl-wishlistexistsbrowse a, .woocommerce ul.products li.product .woo-type17 .product-buttons-wrapper a.yith-wcqv-button, .woocommerce ul.products li.product .woo-type17 .product-buttons-wrapper a.yith-woocompare-button { height: 35px; width: 35px; }

		ul.products li.product .woo-type17 .product-thumb a.add_to_cart_button:before, ul.products li.product .woo-type17 .product-thumb a.button.product_type_simple:before, ul.products li.product .woo-type17 .product-thumb a.button.product_type_variable:before, ul.products li.product .woo-type17 .product-thumb a.added_to_cart.wc-forward:before, ul.products li.product .woo-type17 .product-thumb a.add_to_wishlist:before, ul.products li.product .woo-type17 .product-thumb .yith-wcwl-wishlistaddedbrowse a:before, ul.products li.product .woo-type17 .product-thumb .yith-wcwl-wishlistexistsbrowse a:before, .woocommerce ul.products li.product .woo-type17 .product-buttons-wrapper a.yith-wcqv-button:before, .woocommerce ul.products li.product .woo-type17 .product-buttons-wrapper a.yith-woocompare-button:before { font-size: 15px; line-height: 35px; }
				
		.woocommerce ul.products li.product .woo-type17 .dt-sc-one-fourth .product-buttons-wrapper .wc_inline_buttons > .wc_btn_inline:nth-child(3):nth-last-child(2), .woocommerce ul.products li.product .woo-type17 .dt-sc-one-fourth .product-buttons-wrapper .wc_inline_buttons > .wc_btn_inline:nth-child(1):nth-last-child(4) { margin: 0 5px; }

		.woocommerce ul.products li.product:hover .woo-type17 .product-buttons-wrapper .wc_inline_buttons > .wc_btn_inline:nth-child(3):nth-last-child(2), .woocommerce ul.products li.product:hover .woo-type17 .product-buttons-wrapper .wc_inline_buttons > .wc_btn_inline:nth-child(1):nth-last-child(4) { margin: 0 15px; }

		.woocommerce ul.products li.product .woo-type17 .product-buttons-wrapper .wc_inline_buttons, .woocommerce ul.products li.product .woo-type17 .product-buttons-wrapper .wc_inline_buttons { margin-top: -18px; }
				
		.woocommerce ul.products li.product .woo-type17 .product-thumb .yith-wcwl-add-button img, .woocommerce ul.products li.product .woo-type17 .product-thumb .yith-wcwl-add-button img { right: calc(50% - 70px); }
		
		ul.products li.product .woo-type17 .product-details { padding: 15px 10px 30px; }
		ul.products li.product .woo-type17 .product-details:before, ul.products li.product .woo-type17 .product-details:after { bottom: 3px; left: 3px; right: 3px; top: 3px; }
		ul.products li.product .woo-type17 .price, ul.products li.product:hover .woo-type17 .price { font-size: 10px; padding: 3px 10px; }		
		
	} 

	/* Common Styles for the devices below 767px width */
	@media only screen and (max-width: 767px) {
		.woocommerce ul.products li.product .woo-type17 .product-buttons-wrapper .wc_inline_buttons > .wc_btn_inline:nth-child(3):nth-last-child(2), .woocommerce ul.products li.product .woo-type17 .product-buttons-wrapper .wc_inline_buttons > .wc_btn_inline:nth-child(1):nth-last-child(4) { margin: 0 15px; }
	}

	@media only screen and (max-width: 319px) {
		ul.products li.product .woo-type17 .product-thumb a.add_to_cart_button, ul.products li.product .woo-type17 .product-thumb a.button.product_type_simple, ul.products li.product .woo-type17 .product-thumb a.button.product_type_variable, ul.products li.product .woo-type17 .product-thumb a.added_to_cart.wc-forward, ul.products li.product .woo-type17 .product-thumb a.add_to_wishlist, ul.products li.product .woo-type17 .product-thumb .yith-wcwl-wishlistaddedbrowse a, ul.products li.product .woo-type17 .product-thumb .yith-wcwl-wishlistexistsbrowse a, .woocommerce ul.products li.product .woo-type17 .product-buttons-wrapper a.yith-wcqv-button, .woocommerce ul.products li.product .woo-type17 .product-buttons-wrapper a.yith-woocompare-button { height: 35px; width: 35px; }

		ul.products li.product .woo-type17 .product-thumb a.add_to_cart_button:before, ul.products li.product .woo-type17 .product-thumb a.button.product_type_simple:before, ul.products li.product .woo-type17 .product-thumb a.button.product_type_variable:before, ul.products li.product .woo-type17 .product-thumb a.added_to_cart.wc-forward:before, ul.products li.product .woo-type17 .product-thumb a.add_to_wishlist:before, ul.products li.product .woo-type17 .product-thumb .yith-wcwl-wishlistaddedbrowse a:before, ul.products li.product .woo-type17 .product-thumb .yith-wcwl-wishlistexistsbrowse a:before, .woocommerce ul.products li.product .woo-type17 .product-buttons-wrapper a.yith-wcqv-button:before, .woocommerce ul.products li.product .woo-type17 .product-buttons-wrapper a.yith-woocompare-button:before { font-size: 15px; line-height: 35px; }
				
		.woocommerce ul.products li.product .woo-type17 .product-buttons-wrapper .wc_inline_buttons, .woocommerce ul.products li.product .woo-type17 .product-buttons-wrapper .wc_inline_buttons { margin-top: -22px; }
	}