
/* CSS Document */

/* Table of Content
==================================================
	1.0  -  Transition
	2.0  -  Type 20
	3.0  -  Browser Fix
	4.0  -  General
	5.0  -  Default Color
	6.0  -  Responsive
	7.0  -  Skin Colors*/
	
	
	/*--------------------------------------------------------------
	1.0 - Transition
	--------------------------------------------------------------*/
	ul.products li.product .woo-type20 .product-wrapper, ul.products li.product .woo-type20 .product-wrapper:after { -webkit-transition: all 300ms linear 0s; -moz-transition: all 300ms linear 0s; -ms-transition: all 300ms linear 0s; -o-transition: all 300ms linear 0s; transition: all 300ms linear 0s; }
	
	
	/*--------------------------------------------------------------
	2.0 - Type 20
	--------------------------------------------------------------*/
	ul.products li.product .woo-type20 .product-wrapper { padding: 20px 25px 20px; position: relative; z-index: 1; }
	
	ul.products li.product .woo-type20 .product-wrapper:after { border-width: 1px; content: ""; position: absolute; bottom: 5px; left: 5px; right: 5px; top: 5px; z-index: -1; }
	
	ul.products li.product:hover .woo-type20 .product-wrapper:after { bottom: 0; left: 0; right: 0; top: 0; }
	
	
	ul.products li.product .woo-type20 .featured-tag { left: 5px; top: 15px; }
	
	ul.products li.product .woo-type20 .onsale, ul.products li.product .woo-type20 .out-of-stock,
	ul.products li.product:hover .woo-type20 .onsale, ul.products li.product:hover .woo-type20 .out-of-stock { height: 30px; line-height: 30px; right: 10px; top: 10px; width: 30px; z-index: 2; }
	
	ul.products li.product .woo-type20 .product-thumb { margin: 15px auto; }
	
	ul.products li.product .woo-type20 .product-thumb .image, .woo-type20 div.product div.images img { border: 3px solid rgba(0,0,0,0); }
	ul.products li.product .woo-type20 .product-thumb .image { overflow:hidden; }
	
	ul.products li.product .woo-type20 .product-content:after { content: none; }
	
	.woocommerce ul.products li.product .woo-type20 .featured-tag, .woo-type20.woocommerce.single-product .featured-tag { left: 5px; top: 10px; }
	.woo-type20.woocommerce.single-product .featured-tag { left: 3px; }
	
	ul.products li.product .woo-type20 .product-wrapper:after, ul.products li.product .woo-type20 .product-details h5 { border-style: dashed; }
	
	ul.products li.product .woo-type20 .product-details h5 { font-family: Love Ya Like A Sister,sans-serif; }
	
	ul.products li.product-category .woo-type20 .product-wrapper h3 { margin: 0 0 40px; }
	
	ul.products li.product .woo-type20 .product-details .product-rating-wrapper .star-rating { margin: 8px 0 0; }
	
	
	.page-with-sidebar ul.products li.product .woo-type20 .dt-sc-one-fourth .product-wrapper,
	.page-with-sidebar .woocommerce.columns-4 ul.products li.product .woo-type20 .dt-sc-one-fourth .product-wrapper,
	.with-both-sidebar ul.products li.product .woo-type20 .dt-sc-one-third .product-wrapper,
	.with-both-sidebar .woocommerce.columns-3 ul.products li.product .woo-type20 .dt-sc-one-third .product-wrapper { padding: 20px 10px 0; }
	
	.page-with-sidebar ul.products li.product .woo-type20 .dt-sc-one-fourth .product-details h5, .woo-type20 .page-with-sidebar .woocommerce.columns-4 ul.products li.product .woo-type20 .dt-sc-one-fourth .product-details h5, 
	.with-both-sidebar ul.products li.product .woo-type20 .dt-sc-one-third .product-details h5, .woo-type20 .with-both-sidebar .woocommerce.columns-3 ul.products li.product .woo-type20 .dt-sc-one-third .product-details h5, 
	.page-with-sidebar ul.products li.product .woo-type20 .dt-sc-one-fourth .price, .woo-type20 .page-with-sidebar .woocommerce.columns-4 ul.products li.product .woo-type20 .dt-sc-one-fourth .price, 
	.with-both-sidebar ul.products li.product .woo-type20 .dt-sc-one-third .price, .woo-type20 .with-both-sidebar .woocommerce.columns-3 ul.products li.product .woo-type20 .dt-sc-one-third .price { font-size: 10px; }
	
	.page-with-sidebar ul.products li.product:hover .woo-type20 .dt-sc-one-fourth .product-details .product-rating-wrapper,
	.page-with-sidebar .woocommerce.columns-4 ul.products li.product:hover .woo-type20 .dt-sc-one-fourth .product-details .product-rating-wrapper,
	.with-both-sidebar ul.products li.product:hover .woo-type20 .dt-sc-one-third .product-details .product-rating-wrapper,
	.with-both-sidebar .woocommerce.columns-3 ul.products li.product:hover .woo-type20 .dt-sc-one-third .product-details .product-rating-wrapper { right: 0; }
	
	.page-with-sidebar ul.products li.product:hover:not(.purchasable) .woo-type20 .dt-sc-one-fourth .product-details .product-rating-wrapper, 
	.page-with-sidebar .woocommerce.columns-4 ul.products li.product:hover:not(.purchasable) .woo-type20 .dt-sc-one-fourth .product-details .product-rating-wrapper, 
	.with-both-sidebar ul.products li.product:hover:not(.purchasable) .woo-type20 .dt-sc-one-third .product-details .product-rating-wrapper, 
	.with-both-sidebar .woocommerce.columns-3 ul.products li.product:hover:not(.purchasable) .woo-type20 .dt-sc-one-third .product-details .product-rating-wrapper { margin-right: 0; right: 50%; width: auto; -webkit-transform: translateX(50%); -moz-transform: translateX(50%); transform: translateX(50%); }
	
	.page-with-sidebar ul.products li.product .woo-type20 .dt-sc-one-fourth .product-details .product-rating-wrapper .star-rating,
	.page-with-sidebar .woocommerce.columns-4 ul.products li.product .woo-type20 .dt-sc-one-fourth .product-details .product-rating-wrapper .star-rating,
	.with-both-sidebar ul.products li.product .woo-type20 .dt-sc-one-third .product-details .product-rating-wrapper .star-rating,
	.with-both-sidebar .woocommerce.columns-3 ul.products li.product .woo-type20 .dt-sc-one-third .product-details .product-rating-wrapper .star-rating { font-size: 9px; margin: 10px 0 0; }
	
	
	.woo-type20 .quantity .qty, .woo-type20.woocommerce-page .quantity .qty, .woo-type20 #coupon_code.input-text { height: 38px; min-height: 38px; }
	
	.woo-type20 .quantity .qty, .woo-type20.woocommerce-page .quantity .qty { padding: 1px; }
	
	.woo-type20 #coupon_code.input-text { padding-bottom: 0; padding-top: 0; }
	
	.woo-type20 form .form-row .select2-container { line-height: 39px; }
	
	ul.products li.product .woo-type20 .product-thumb .secondary-image { left:0; }
	/*.woocommerce ul.products li.product:hover .woo-type20 .product-buttons-wrapper { border-radius:50%; }*/

	.woocommerce ul.products.list-view li.product:hover .woo-type20 .product-description { color:#fff; }
	.woocommerce ul.products.list-view li.product:hover .woo-type20 .product-details .product-rating-wrapper { right:25px; }

	/*--------------------------------------------------------------
	3.0 - Browser Fix
	--------------------------------------------------------------*/
	@-moz-document url-prefix() { 
	
		.woo-type20 .quantity .qty, .woo-type20.woocommerce-page .quantity .qty { height: 40px; min-height: 40px; }
		
		.woo-type20 #coupon_code.input-text { height: 37px; min-height: 37px; }
		
		.woo-type20 form .form-row .select2-container { line-height: 40px; }
		
	}
	
	
	/*--------------------------------------------------------------
	4.0 - General
	--------------------------------------------------------------*/
	.woo-type20.woocommerce input[type="text"], .woo-type20.woocommerce input[type="password"], .woo-type20.woocommerce input[type="email"], .woo-type20.woocommerce input[type="url"], .woo-type20.woocommerce input[type="tel"], .woo-type20.woocommerce input[type="number"], .woo-type20.woocommerce input[type="range"], .woo-type20.woocommerce input[type="date"], .woo-type20.woocommerce textarea, .woo-type20.woocommerce input.text, .woo-type20.woocommerce input[type="search"], .woo-type20.woocommerce select, .woo-type20 .woocommerce input[type="text"], .woo-type20 .woocommerce input[type="password"], .woo-type20 .woocommerce input[type="email"], .woo-type20 .woocommerce input[type="url"], .woo-type20 .woocommerce input[type="tel"], .woo-type20 .woocommerce input[type="number"], .woo-type20 .woocommerce input[type="range"], .woo-type20 .woocommerce input[type="date"], .woo-type20 .woocommerce textarea, .woo-type20 .woocommerce input.text, .woo-type20 .woocommerce input[type="search"], .woo-type20 .woocommerce select { font-family: inherit; font-size: inherit; }
	
	ul.products li.product .woo-type20 .product-thumb a.add_to_cart_button, ul.products li.product .woo-type20 .product-thumb a.button.product_type_simple, ul.products li.product .woo-type20 .product-thumb a.button.product_type_variable, ul.products li.product .woo-type20 .product-thumb a.added_to_cart.wc-forward, ul.products li.product .woo-type20 .product-thumb a.add_to_wishlist, ul.products li.product .woo-type20 .product-thumb .yith-wcwl-wishlistaddedbrowse a, ul.products li.product .woo-type20 .product-thumb .yith-wcwl-wishlistexistsbrowse a, .woocommerce ul.products li.product .woo-type20 .product-buttons-wrapper a.yith-wcqv-button, .woocommerce ul.products li.product .woo-type20 .product-buttons-wrapper a.yith-woocompare-button { border: 2px solid; }
	
	ul.products li.product .woo-type20 .product-thumb a.add_to_cart_button, ul.products li.product .woo-type20 .product-thumb a.button.product_type_simple, ul.products li.product .woo-type20 .product-thumb a.button.product_type_variable, ul.products li.product .woo-type20 .product-thumb a.added_to_cart.wc-forward, ul.products li.product .woo-type20 .product-thumb a.add_to_wishlist, ul.products li.product .woo-type20 .product-thumb .yith-wcwl-wishlistaddedbrowse a, ul.products li.product .woo-type20 .product-thumb .yith-wcwl-wishlistexistsbrowse a, ul.products li.product .woo-type20 .product-thumb a.add_to_cart_button:before, ul.products li.product .woo-type20 .product-thumb a.button.product_type_simple:before, ul.products li.product .woo-type20 .product-thumb a.button.product_type_variable:before, ul.products li.product .woo-type20 .product-thumb a.added_to_cart.wc-forward:before, ul.products li.product .woo-type20 .product-thumb a.add_to_wishlist:before, ul.products li.product .woo-type20 .product-thumb .yith-wcwl-wishlistaddedbrowse a:before, ul.products li.product .woo-type20 .product-thumb .yith-wcwl-wishlistexistsbrowse a:before, .woocommerce ul.products li.product .woo-type20 .product-buttons-wrapper a.yith-wcqv-button, .woocommerce ul.products li.product .woo-type20 .product-buttons-wrapper a.yith-woocompare-button { -webkit-box-sizing: content-box; -moz-box-sizing: content-box; box-sizing: content-box; }
	
	.woo-type20.woocommerce .pagination ul li a, .woo-type20.woocommerce .pagination ul li span, .woo-type20 .woocommerce .pagination ul li a, .woo-type20 .woocommerce .pagination ul li span { border-style: dashed; -webkit-border-radius: 0; -moz-border-radius: 0; -ms-border-radius: 0; -o-border-radius: 0; border-radius: 0; }
	
	
	.woo-type20.woocommerce a.button, .woo-type20.woocommerce button.button, .woo-type20.woocommerce button, .woo-type20.woocommerce input.button, .woo-type20.woocommerce input[type=button], .woo-type20.woocommerce input[type=submit], .woo-type20.woocommerce #respond input#submit, .woo-type20.woocommerce a.button.alt, .woo-type20.woocommerce button.button.alt, .woo-type20.woocommerce input.button.alt, .woo-type20.woocommerce #respond input#submit.alt, .woo-type20 .woocommerce a.button, .woo-type20 .woocommerce button.button, .woo-type20 .woocommerce button, .woo-type20 .woocommerce input.button, .woo-type20 .woocommerce input[type=button], .woo-type20 .woocommerce input[type=submit], .woo-type20 .woocommerce #respond input#submit, .woo-type20 .woocommerce a.button.alt, .woo-type20 .woocommerce button.button.alt, .woo-type20 .woocommerce input.button.alt, .woo-type20 .woocommerce #respond input#submit.alt, .woo-type20.woocommerce.single-product div.product .product-thumb-wrapper .add_to_wishlist, .woo-type20 .wishlist_table .add_to_cart.button, .woo-type20 .yith-wcwl-add-button a.add_to_wishlist, .woo-type20 .yith-wcwl-popup-button a.add_to_wishlist, .woo-type20 .wishlist_table a.ask-an-estimate-button, .woo-type20 .wishlist-title a.show-title-form, .woo-type20 .hidden-title-form a.hide-title-form, .woo-type20 .yith-wcwl-wishlist-new button, .woo-type20 .wishlist_manage_table a.create-new-wishlist, .woo-type20 .wishlist_manage_table button.submit-wishlist-changes, .woo-type20 .yith-wcwl-wishlist-search-form button.wishlist-search-button, .woo-type20 .cart input.button, .woo-type20 .woocommerce-message, .woo-type20 .woocommerce-info, .woo-type20 .woocommerce-error, .woo-type20 .woocommerce-message:before, .woo-type20 .woocommerce-info:before, .woo-type20 .woocommerce-error:before { -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; }
	
	/*ul.products li.product .woo-type20 .product-thumb .image, ul.products li.product .woo-type20 .image img, ul.products li.product-category .woo-type20 img, ul.products li.product .woo-type20 .product-content { -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; }*/
	
	ul.products li.product .woo-type20 .product-thumb .image, ul.products li.product .woo-type20 .product-thumb .image img, ul.products li.product-category .woo-type20 img, .woo-type20 div.product div.images img { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; -o-box-sizing: border-box; box-sizing: border-box; }
	.woocommerce ul.products li.product .woo-type20 .product-details h5 a, .woocommerce ul.products li.product-category .woo-type20 .product-details h5 { padding:15px 0; }
	.woocommerce ul.products li:not(.purchasable):hover .woo-type20 .product-details .product-rating-wrapper { right:0; left:0; margin:auto; }


	/*--------------------------------------------------------------
	5.0 - Default Colors
	--------------------------------------------------------------*/
	ul.products li.product .woo-type20 .product-thumb a.add_to_cart_button, ul.products li.product .woo-type20 .product-thumb a.button.product_type_simple, ul.products li.product .woo-type20 .product-thumb a.button.product_type_variable, ul.products li.product .woo-type20 .product-thumb a.added_to_cart.wc-forward, ul.products li.product .woo-type20 .product-thumb a.add_to_wishlist, ul.products li.product .woo-type20 .product-thumb .yith-wcwl-wishlistaddedbrowse a, ul.products li.product .woo-type20 .product-thumb .yith-wcwl-wishlistexistsbrowse a, .woocommerce ul.products li.product .woo-type20 .product-buttons-wrapper a.yith-wcqv-button, .woocommerce ul.products li.product .woo-type20 .product-buttons-wrapper a.yith-woocompare-button { background-color: rgba(255,255,255,0.6); }
	
	ul.products li.product .woo-type20 .product-wrapper { background-color: #fff; }
	
	ul.products li.product .woo-type20 .onsale { background-color: #77a464; }
	
	ul.products li.product .woo-type20 .out-of-stock { background-color: #9f2124; }
	
	.woo-type20 div.product .woocommerce-tabs ul.tabs li.active, .woo-type20 .woocommerce-tabs .panel, .woo-type20 .select2-results, .woo-type20 .woocommerce-message, .woo-type20 .woocommerce-info, .woo-type20 .woocommerce-error { background-color: rgba(0,0,0,0); }
	
	.woocommerce #reviews #comments ol.commentlist li img.avatar { background-color: rgba(0, 0, 0, 0.05); }


	/*----*****---- << Borders >> --****--*/
	ul.products li.product .woo-type20 .featured-tag:after, .woo-type20.woocommerce.single-product .featured-tag:after { border-right-color: rgba(0, 0, 0, 0); }
	
	.woocommerce ul.products li.product .woo-type20 .product-thumb a.add_to_cart_button:hover, .woocommerce ul.products li.product .woo-type20 .product-thumb a.button.product_type_simple:hover, .woocommerce ul.products li.product .woo-type20 .product-thumb a.button.product_type_variable:hover, .woocommerce ul.products li.product .woo-type20 .product-thumb a.added_to_cart.wc-forward:hover, .woocommerce ul.products li.product .woo-type20 .product-thumb a.add_to_wishlist:hover, .woocommerce ul.products li.product .woo-type20 .product-thumb .yith-wcwl-wishlistaddedbrowse a:hover, .woocommerce ul.products li.product .woo-type20 .product-thumb .yith-wcwl-wishlistexistsbrowse a:hover, .woocommerce ul.products li.product .woo-type20 .product-thumb a.add_to_cart_button:hover, .woocommerce ul.products li.product .woo-type20 .product-thumb a.button.product_type_simple:hover, .woocommerce ul.products li.product .woo-type20 .product-thumb a.button.product_type_variable:hover, .woocommerce ul.products li.product .woo-type20 .product-thumb a.added_to_cart.wc-forward:hover, .woocommerce ul.products li.product .woo-type20 .product-thumb a.add_to_wishlist:hover, .woocommerce ul.products li.product .woo-type20 .product-thumb .yith-wcwl-wishlistaddedbrowse a:hover, .woocommerce ul.products li.product .woo-type20 .product-thumb .yith-wcwl-wishlistexistsbrowse a:hover, .woocommerce ul.products li.product .woo-type20 .product-buttons-wrapper a.yith-wcqv-button:hover, .woocommerce ul.products li.product .woo-type20 .product-buttons-wrapper a.yith-woocompare-button:hover { border-color: rgba(255,255,255,0.6); }
	
	ul.products li.product:hover .woo-type20 .product-thumb .image { border-color: rgba(255,255,255,0.75); }
	
	.woocommerce ul.products li.product-category:hover .woo-type20 .product-details h5, .woocommerce ul.products li.product:hover .woo-type20 .product-details h5 { border-color: #fff; color:#fff; }
	.woocommerce ul.products li.product:hover .woo-type20 .product-details h5 .count { color:#fff; }
	
	.woo-type20.woocommerce-checkout #payment div.form-row { border-color: rgba(255,255,255,0.35); }
	
	.woo-type20.woocommerce #reviews #comments ol.commentlist li img.avatar, .woo-type20.woocommerce #reviews #comments ol.commentlist li .comment-text { border-color: rgba(0, 0, 0, 0.05); }
	
	ul.products li.product:hover .woo-type20 .product-wrapper { -webkit-box-shadow: 0 0 0 5px #fff inset; -moz-box-shadow: 0 0 0 5px #fff inset; -ms-box-shadow: 0 0 0 5px #fff inset; -o-box-shadow: 0 0 0 5px #fff inset; box-shadow: 0 0 0 5px #fff inset; }
	
	
	/*----*****---- << Colors >> --****--*/
	.woocommerce ul.products li.product .woo-type20 .product-thumb a.add_to_cart_button:hover:before, .woocommerce ul.products li.product .woo-type20 .product-thumb a.button.product_type_simple:hover:before, .woocommerce ul.products li.product .woo-type20 .product-thumb a.button.product_type_variable:hover:before, .woocommerce ul.products li.product .woo-type20 .product-thumb a.added_to_cart.wc-forward:hover:before, .woocommerce ul.products li.product .woo-type20 .product-thumb a.add_to_wishlist:hover:before, .woocommerce ul.products li.product .woo-type20 .product-thumb .yith-wcwl-wishlistaddedbrowse a:hover:before, .woocommerce ul.products li.product .woo-type20 .product-thumb .yith-wcwl-wishlistexistsbrowse a:hover:before, .woocommerce ul.products li.product .woo-type20 .product-thumb a.add_to_cart_button:hover:before, .woocommerce ul.products li.product .woo-type20 .product-thumb a.button.product_type_simple:hover:before, .woocommerce ul.products li.product .woo-type20 .product-thumb a.button.product_type_variable:hover:before, .woocommerce ul.products li.product .woo-type20 .product-thumb a.added_to_cart.wc-forward:hover:before, .woocommerce ul.products li.product .woo-type20 .product-thumb a.add_to_wishlist:hover:before, .woocommerce ul.products li.product .woo-type20 .product-thumb .yith-wcwl-wishlistaddedbrowse a:hover:before, .woocommerce ul.products li.product .woo-type20 .product-thumb .yith-wcwl-wishlistexistsbrowse a:hover:before, ul.products li.product:hover .woo-type20 .product-details h5 a, ul.products li.product-category:hover .woo-type20 .product-details h5, ul.products li.product-category:hover .woo-type20 .product-details h5 .count, ul.products li.product:hover .woo-type20 .product-details .product-price .amount, ul.products li.product:hover .woo-type20 .product-details span.price, ul.products li.product:hover .woo-type20 .product-details span.price del, ul.products li.product:hover .woo-type20 .product-details span.price del .amount, ul.products li.product:hover .woo-type20 .product-details span.price ins, ul.products li.product:hover .woo-type20 .product-details span.price ins .amount, ul.products li.product:hover .woo-type20 .product-details .product-rating-wrapper .star-rating:before, ul.products li.product:hover .woo-type20 .product-details .product-rating-wrapper .star-rating span:before, ul.products li.product .woo-type20 .onsale, ul.products li.product .woo-type20 .out-of-stock, ul.products li.product:hover .woo-type20 .onsale, ul.products li.product:hover .woo-type20 .out-of-stock, .woocommerce ul.products li.product .woo-type20 .product-buttons-wrapper a.yith-wcqv-button:hover:before, .woocommerce ul.products li.product .woo-type20 .product-buttons-wrapper a.yith-woocompare-button:hover:before { color: #fff; }



	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 319px) {
		ul.products li.product .woo-type20 .product-wrapper { padding: 20px 15px 0; }
		
		ul.products li.product .woo-type20 .dt-sc-one-fourth .product-details .price { font-size: 11px; }
		ul.products li.product .woo-type20 .dt-sc-one-fourth .product-details .product-rating-wrapper .star-rating { font-size: 10px; margin: 6px 0 0; }
		
	}
	
	
	
	/*--------------------------------------------------------------
	 6.0 - Responsive
	--------------------------------------------------------------*/	
	
	/* Note: Design for a width of 960px */	
	@media only screen and (min-width:992px) and (max-width:1199px) {
		
		ul.products li.product .woo-type20 .product-wrapper { padding: 20px 20px 0; }		
		ul.products li.product .woo-type20 .dt-sc-one-fourth .product-details .product-rating-wrapper .star-rating { font-size: 10px; margin: 5px 0 0; }

		.woocommerce ul.products li.product .woo-type20 .dt-sc-one-fourth .product-buttons-wrapper a.add_to_cart_button, .woocommerce ul.products li.product .woo-type20 .dt-sc-one-fourth .product-buttons-wrapper a.button.product_type_simple, .woocommerce ul.products li.product .woo-type20 .dt-sc-one-fourth .product-buttons-wrapper a.button.product_type_variable, .woocommerce ul.products li.product .woo-type20 .dt-sc-one-fourth .product-buttons-wrapper a.added_to_cart.wc-forward, .woocommerce ul.products li.product .woo-type20 .dt-sc-one-fourth .product-buttons-wrapper a.add_to_wishlist, .woocommerce ul.products li.product .woo-type20 .dt-sc-one-fourth .product-buttons-wrapper .yith-wcwl-wishlistaddedbrowse a, .woocommerce ul.products li.product .woo-type20 .dt-sc-one-fourth .product-buttons-wrapper .yith-wcwl-wishlistexistsbrowse a, .woocommerce ul.products li.product .woo-type20 .dt-sc-one-fourth .product-buttons-wrapper a.yith-wcqv-button, .woocommerce ul.products li.product .woo-type20 .dt-sc-one-fourth .product-buttons-wrapper a.yith-woocompare-button { width: 35px; height: 35px; }

		.woocommerce ul.products li.product .woo-type20 .dt-sc-one-fourth .product-buttons-wrapper a.add_to_cart_button:before, .woocommerce ul.products li.product .woo-type20 .dt-sc-one-fourth .product-buttons-wrapper a.added_to_cart.wc-forward:before, .woocommerce ul.products li.product .woo-type20 .dt-sc-one-fourth .product-buttons-wrapper a.button.product_type_simple:before, .woocommerce ul.products li.product .woo-type20 .dt-sc-one-fourth .product-buttons-wrapper a.button.product_type_variable:before, .woocommerce ul.products li.product .woo-type20 .dt-sc-one-fourth .product-buttons-wrapper .add_to_wishlist:before, .woocommerce ul.products li.product .woo-type20 .dt-sc-one-fourth .product-buttons-wrapper .yith-wcwl-wishlistaddedbrowse a:before, .woocommerce ul.products li.product .woo-type20 .dt-sc-one-fourth .product-buttons-wrapper .yith-wcwl-wishlistexistsbrowse a:before, .woocommerce ul.products li.product .woo-type20 .dt-sc-one-fourth .product-buttons-wrapper a.yith-wcqv-button:before, .woocommerce ul.products li.product .woo-type20 .dt-sc-one-fourth .product-buttons-wrapper a.yith-woocompare-button:before { font-size: 17px; line-height: 35px; }
		
	}
	
	
	/*----*****---- << Tablet (Portrait) >> ----*****----*/	
	
	/* Note: Design for a width of 768px */
	@media only screen and (min-width:768px) and (max-width:991px) {
		
		ul.products li.product .woo-type20 .product-thumb a.add_to_cart_button, ul.products li.product .woo-type20 .product-thumb a.button.product_type_simple, ul.products li.product .woo-type20 .product-thumb a.button.product_type_variable, ul.products li.product .woo-type20 .product-thumb a.added_to_cart.wc-forward, ul.products li.product .woo-type20 .product-thumb a.add_to_wishlist, ul.products li.product .woo-type20 .product-thumb .yith-wcwl-wishlistaddedbrowse a, ul.products li.product .woo-type20 .product-thumb .yith-wcwl-wishlistexistsbrowse a, .woocommerce ul.products li.product .woo-type20 .product-buttons-wrapper a.yith-wcqv-button, .woocommerce ul.products li.product .woo-type20 .product-buttons-wrapper a.yith-woocompare-button { height: 35px; width: 35px; }


		ul.products li.product .woo-type20 .product-thumb a.add_to_cart_button:before, ul.products li.product .woo-type20 .product-thumb a.button.product_type_simple:before, ul.products li.product .woo-type20 .product-thumb a.button.product_type_variable:before, ul.products li.product .woo-type20 .product-thumb a.added_to_cart.wc-forward:before, ul.products li.product .woo-type20 .product-thumb a.add_to_wishlist:before, ul.products li.product .woo-type20 .product-thumb .yith-wcwl-wishlistaddedbrowse a:before, ul.products li.product .woo-type20 .product-thumb .yith-wcwl-wishlistexistsbrowse a:before, .woocommerce ul.products li.product .woo-type20 .product-buttons-wrapper a.yith-wcqv-button:before, .woocommerce ul.products li.product .woo-type20 .product-buttons-wrapper a.yith-woocompare-button:before { font-size: 15px; line-height: 35px; }		
		
	.woocommerce ul.products li.product .woo-type20 .product-thumb .yith-wcwl-add-button img, .woocommerce ul.products li.product .woo-type20 .product-thumb .yith-wcwl-add-button img { right: calc(50% - 60px); }
		
		ul.products li.product .woo-type20 .product-wrapper { padding: 20px 15px 0; }
		
 		ul.products li.product .woo-type20 .product-details .product-rating-wrapper .star-rating { font-size: 8px; margin: 8px 0 0; }	
 		.woocommerce ul.products li.product .woo-type20 .featured-tag > div span { font-size: 0; }		
		
	}
	
	
	/*----*****---- << Mobile >> ----*****----*/	

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (min-width: 320px) and (max-width: 479px) {
		
		ul.products li.product .woo-type20 .product-details .product-rating-wrapper .star-rating { margin: 4px 0 0; }
		
	} 

	@media only screen and (max-width: 319px) {
		
		ul.products li.product .woo-type20 .product-thumb a.add_to_cart_button, ul.products li.product .woo-type20 .product-thumb a.button.product_type_simple, ul.products li.product .woo-type20 .product-thumb a.button.product_type_variable, ul.products li.product .woo-type20 .product-thumb a.added_to_cart.wc-forward, ul.products li.product .woo-type20 .product-thumb a.add_to_wishlist, ul.products li.product .woo-type20 .product-thumb .yith-wcwl-wishlistaddedbrowse a, ul.products li.product .woo-type20 .product-thumb .yith-wcwl-wishlistexistsbrowse a, .woocommerce ul.products li.product .woo-type20 .product-buttons-wrapper a.yith-wcqv-button, .woocommerce ul.products li.product .woo-type20 .product-buttons-wrapper a.yith-woocompare-button { height: 35px; width: 35px; }


		ul.products li.product .woo-type20 .product-thumb a.add_to_cart_button:before, ul.products li.product .woo-type20 .product-thumb a.button.product_type_simple:before, ul.products li.product .woo-type20 .product-thumb a.button.product_type_variable:before, ul.products li.product .woo-type20 .product-thumb a.added_to_cart.wc-forward:before, ul.products li.product .woo-type20 .product-thumb a.add_to_wishlist:before, ul.products li.product .woo-type20 .product-thumb .yith-wcwl-wishlistaddedbrowse a:before, ul.products li.product .woo-type20 .product-thumb .yith-wcwl-wishlistexistsbrowse a:before, .woocommerce ul.products li.product .woo-type20 .product-buttons-wrapper a.yith-wcqv-button:before, .woocommerce ul.products li.product .woo-type20 .product-buttons-wrapper a.yith-woocompare-button:before { font-size: 15px; line-height: 35px; }
	}