@-webkit-keyframes SNSLucLac {
    0% { -webkit-transform: translateX(8px); }
    25% { -webkit-transform: translateX(-8px); }
    50% { -webkit-transform: translateX(8px); }
    100% { -webkit-transform: translateX(0px); }
}

@-moz-keyframes SNSLucLac {
    0% { -moz-transform: translateX(8px); }
    25% { -moz-transform: translateX(-8px); }
    50% { -moz-transform: translateX(8px); }
    100% { -moz-transform: translateX(0px); }
}

@-o-keyframes SNSLucLac {
    0% { -o-transform: translateX(8px); }
    25% { -o-transform: translateX(-8px); }
    50% { -o-transform: translateX(8px); }
    100% { -o-transform: translateX(0px); }
}

@keyframes SNSLucLac {
    0% { transform: translateX(8px); }
    25% { transform: translateX(-8px); }
    50% { transform: translateX(8px); }
    100% { transform: translateX(0px); }
}
.fadeOut {
  -webkit-animation-name: fadeOut;
  -moz-animation-name: fadeOut;
  -o-animation-name: fadeOut;
  animation-name: fadeOut;
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
.fadeInUp {
  -webkit-animation-name: fadeInUp;
  -moz-animation-name: fadeInUp;
  -o-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  -moz-animation-name: fadeInDown;
  -o-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}
@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
  }
}
@-moz-keyframes fadeInDown {
  from {
    opacity: 0;
    -moz-transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -moz-transform: none;
  }
}
@-o-keyframes fadeInDown {
  from {
    opacity: 0;
    -o-transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -o-transform: none;
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}


@-webkit-keyframes bounceIn {
    0% { opacity: 0; -webkit-transform: scale(.3); }
    50% { -webkit-transform: scale(1.05); }
    70% { -webkit-transform: scale(.9); }
    100% { opacity: 1; -webkit-transform: scale(1); }
}

@-moz-keyframes bounceIn {
    0% { opacity: 0; -moz-transform: scale(.3); }
    50% { -moz-transform: scale(1.05); }
    70% { -moz-transform: scale(.9); }
    100% { opacity: 1; -moz-transform: scale(1); }
}

@-o-keyframes bounceIn {
    0% { opacity: 0; -o-transform: scale(.3); }
    50% { -o-transform: scale(1.05); }
    70% { -o-transform: scale(.9); }
    100% { opacity: 1; -o-transform: scale(1); }
}

@keyframes bounceIn {
    0% { opacity: 0; transform: scale(.3); }
    50% { transform: scale(1.05); }
    70% { transform: scale(.9); }
    100% { opacity: 1; transform: scale(1); }
}
@-webkit-keyframes bounceInRight {
    0% { opacity: 0; -webkit-transform: translateX(100px); }
    60% { -webkit-transform: translateX(-30px); }
    80% { -webkit-transform: translateX(10px); }
    100% { opacity: 1; -webkit-transform: translateX(0); }
}

@-moz-keyframes bounceInRight {
    0% { opacity: 0; -moz-transform: translateX(100px); }
    60% { -moz-transform: translateX(-30px); }
    80% { -moz-transform: translateX(10px); }
    100% { opacity: 1; -moz-transform: translateX(0); }
}

@-o-keyframes bounceInRight {
    0% { opacity: 0; -o-transform: translateX(100px); }
    60% { -o-transform: translateX(-30px); }
    80% { -o-transform: translateX(10px); }
    100% { opacity: 1; -o-transform: translateX(0); }
}

@keyframes bounceInRight {
    0% { opacity: 0; transform: translateX(100px); }
    60% { transform: translateX(-30px); }
    80% { transform: translateX(10px); }
    100% { opacity: 1; transform: translateX(0); }
}
@-webkit-keyframes zoomIn {
    0% { opacity: 0; -webkit-transform: scale(1.8); }
    100% { opacity: 1; -webkit-transform: scale(1); }
}

@-moz-keyframes zoomIn {
    0% { opacity: 0; -moz-transform: scale(1.8); }
    100% { opacity: 1; -moz-transform: scale(1); }
}

@-o-keyframes zoomIn {
    0% { opacity: 0; -o-transform: scale(1.8); }
    100% { opacity: 1; -o-transform: scale(1); }
}

@keyframes zoomIn {
    0% { opacity: 0; transform: scale(1.8); }
    100% { opacity: 1; transform: scale(1); }
}
@-webkit-keyframes zoomOut {
    0% { opacity: 0; -webkit-transform: scale(.6); }
    100% { opacity: 1; -webkit-transform: scale(1); }
}

@-moz-keyframes zoomOut {
    0% { opacity: 0; -moz-transform: scale(.6); }
    100% { opacity: 1; -moz-transform: scale(1); }
}

@-o-keyframes zoomOut {
    0% { opacity: 0; -o-transform: scale(.6); }
    100% { opacity: 1; -o-transform: scale(1); }
}

@keyframes zoomOut {
    0% { opacity: 0; transform: scale(.6); }
    100% { opacity: 1; transform: scale(1); }
}

@-webkit-keyframes pageLeft {
    0% { opacity: 0; -webkit-transform: perspective(400px) rotateY(-90deg); }
    100% { opacity: 1; -webkit-transform: perspective(400px) rotateY(0deg); }
}

@-moz-keyframes pageLeft {
    0% { opacity: 0; -moz-transform: perspective(400px) rotateY(-90deg); }
    100% { opacity: 1; -moz-transform: perspective(400px) rotateY(0deg); }
}

@-o-keyframes pageLeft {
    0% { opacity: 0; -o-transform: perspective(400px) rotateY(-90deg); }
    100% { opacity: 1; -o-transform: perspective(400px) rotateY(0deg); }
}

@keyframes pageLeft {
    0% { opacity: 0; transform: perspective(400px) rotateY(-90deg); }
    100% { opacity: 1; transform: perspective(400px) rotateY(0deg); }
}
.pageRight {
  -webkit-animation-name: pageRight;
  -moz-animation-name: pageRight;
  -o-animation-name: pageRight;
  animation-name: pageRight;
}

@-webkit-keyframes pageRight {
    0% { opacity: 0; -webkit-transform: perspective(400px) rotateY(90deg); }
    100% { opacity: 1; -webkit-transform: perspective(400px) rotateY(0deg); }
}

@-moz-keyframes pageRight {
    0% { opacity: 0; -moz-transform: perspective(400px) rotateY(90deg); }
    100% { opacity: 1; -moz-transform: perspective(400px) rotateY(0deg); }
}

@-o-keyframes pageRight {
    0% { opacity: 0; -o-transform: perspective(400px) rotateY(90deg); }
    100% { opacity: 1; -o-transform: perspective(400px) rotateY(0deg); }
}

@keyframes pageRight {
    0% { opacity: 0; transform: perspective(400px) rotateY(90deg); }
    100% { opacity: 1; transform: perspective(400px) rotateY(0deg); }
}
@-webkit-keyframes pageTop {
    0% { opacity: 0; -webkit-transform: perspective(400px) rotateX(90deg); }
    100% { opacity: 1; -webkit-transform: perspective(400px) rotateX(0deg); }
}

@-moz-keyframes pageTop {
    0% { opacity: 0; -moz-transform: perspective(400px) rotateX(90deg); }
    100% { opacity: 1; -moz-transform: perspective(400px) rotateX(0deg); }
}

@-o-keyframes pageTop {
    0% { opacity: 0; -o-transform: perspective(400px) rotateX(90deg); }
    100% { opacity: 1; -o-transform: perspective(400px) rotateX(0deg); }
}

@keyframes pageTop {
    0% { opacity: 0; transform: perspective(400px) rotateX(90deg); }
    100% { opacity: 1; transform: perspective(400px) rotateX(0deg); }
}
@-webkit-keyframes pageTopBack {
    0% { opacity: 0; -webkit-transform: perspective(400px) rotateX(90deg); }
    100% { opacity: 1; -webkit-transform: perspective(400px) rotateX(0deg); }
}

@-moz-keyframes pageTopBack {
    0% { opacity: 0; -moz-transform: perspective(400px) rotateX(90deg); }
    100% { opacity: 1; -moz-transform: perspective(400px) rotateX(0deg); }
}

@-o-keyframes pageTopBack {
    0% { opacity: 0; -o-transform: perspective(400px) rotateX(90deg); }
    100% { opacity: 1; -o-transform: perspective(400px) rotateX(0deg); }
}

@keyframes pageTopBack {
    0% { opacity: 0; transform: perspective(400px) rotateX(90deg); }
    100% { opacity: 1; transform: perspective(400px) rotateX(0deg); }
}
@-webkit-keyframes pageBottom {
    0% { opacity: 0; -webkit-transform: perspective(400px) rotateX(-90deg); }
    100% { opacity: 1; -webkit-transform: perspective(400px) rotateX(0deg); }
}

@-moz-keyframes pageBottom {
    0% { opacity: 0; -moz-transform: perspective(400px) rotateX(-90deg); }
    100% { opacity: 1; -moz-transform: perspective(400px) rotateX(0deg); }
}

@-o-keyframes pageBottom {
    0% { opacity: 0; -o-transform: perspective(400px) rotateX(-90deg); }
    100% { opacity: 1; -o-transform: perspective(400px) rotateX(0deg); }
}

@keyframes pageBottom {
    0% { opacity: 0; transform: perspective(400px) rotateX(-90deg); }
    100% { opacity: 1; transform: perspective(400px) rotateX(0deg); }
}

@-webkit-keyframes starwars {
    0% { opacity: 0; -webkit-transform: perspective(200px) scale(3) translateY(180px) rotateX(80deg); }
    80% { opacity: 1; -webkit-transform: perspective(200px) scale(1) rotateX(60deg) }
    100% { opacity: 1; -webkit-transform: perspective(200px) scale(1) rotateX(0deg) }
}

@-moz-keyframes starwars {
    0% { opacity: 0; -moz-transform: perspective(200px) scale(3) translateY(180px) rotateX(80deg); }
    80% { opacity: 1; -moz-transform: perspective(200px) scale(1) rotateX(60deg) }
    100% { opacity: 1; -moz-transform: perspective(200px) scale(1) rotateX(0deg) }
}

@-o-keyframes starwars {
    0% { opacity: 0; -o-transform: perspective(200px) scale(3) translateY(180px) rotateX(80deg); }
    80% { opacity: 1; -o-transform: perspective(200px) scale(1) rotateX(60deg) }
    100% { opacity: 1; -o-transform: perspective(200px) scale(1) rotateX(0deg) }
}

@keyframes starwars {
    0% { opacity: 0; transform: perspective(200px) scale(3) translateY(180px) rotateX(80deg); }
    80% { opacity: 1; transform: perspective(200px) scale(1) rotateX(60deg) }
    100% { opacity: 1; transform: perspective(200px) scale(1) rotateX(0deg) }
}

@-webkit-keyframes moveFromBottom {
    from {
        opacity: 0;
        -webkit-transform: translateY(200%);
    }
    to {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}
@-moz-keyframes moveFromBottom {
    from {
        opacity: 0;
        -moz-transform: translateY(200%);
    }
    to {
        opacity: 1;
        -moz-transform: translateY(0%);
    }
}
@-ms-keyframes moveFromBottom {
    from {
        opacity: 0;
        -ms-transform: translateY(200%);
    }
    to {
        opacity: 1;
        -ms-transform: translateY(0%);
    }
}

@-webkit-keyframes moveFromTop {
    from {
        opacity: 0;
        -webkit-transform: translateY(-200%);
    }
    to {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}
@-moz-keyframes moveFromTop {
    from {
        opacity: 0;
        -moz-transform: translateY(-200%);
    }
    to {
        opacity: 1;
        -moz-transform: translateY(0%);
    }
}
@-ms-keyframes moveFromTop {
    from {
        opacity: 0;
        -ms-transform: translateY(-200%);
    }
    to {
        opacity: 1;
        -ms-transform: translateY(0%);
    }
}
@keyframes smallLoading {
    16.67% {box-shadow:-35px -60px 0 20px #76bdd1,35px -60px 0 20px #6cce74,70px 0px 0 20px #c18d46,35px 60px 0 20px #c14745,-35px 60px 0 20px #2e1e5b,-70px 0px 0 20px #9c37a6;}
    33.33% { box-shadow:-35px -60px 0 20px #9c37a6,35px -60px 0 20px #76bdd1,70px 0px 0 20px #6cce74,35px 60px 0 20px #c18d46,-35px 60px 0 20px #c14745,-70px 0px 0 20px #2e1e5b;}
    50% { box-shadow:-35px -60px 0 20px #2e1e5b,35px -60px 0 20px #9c37a6,70px 0px 0 20px #76bdd1,35px 60px 0 20px #6cce74,-35px  60px 0 20px #c18d46,-70px 0px 0 20px #c14745;}
    66.67% { box-shadow:-35px -60px 0 20px #c14745,35px -60px 0 20px #2e1e5b,70px 0px 0 20px #9c37a6,35px 60px 0 20px #76bdd1,-35px 60px 0 20px #6cce74,-70px 0px 0 20px #c18d46;}
    88.88% { box-shadow:-35px -60px 0 20px #c18d46,35px -60px 0 20px #c14745,70px 0px 0 20px #2e1e5b,35px 60px 0 20px #9c37a6,-35px 60px 0 20px #76bdd1,-70px 0px 0 20px #6cce74;}
    100% {transform:rotate(-360deg);box-shadow:-35px -60px 0 20px #6cce74,35px -60px 0 20px #c18d46,70px 0px 0 20px #c14745,35px 60px 0 20px #2e1e5b,-35px  60px 0 20px #9c37a6,-70px 0px 0 20px #76bdd1;}
}
@-webkit-keyframes smallLoading {
    16.67% {box-shadow:-35px -60px 0 20px #76bdd1,35px -60px 0 20px #6cce74,70px 0px 0 20px #c18d46,35px 60px 0 20px #c14745,-35px  60px 0 20px #2e1e5b,-70px 0px 0 20px #9c37a6;}
    33.33% { box-shadow:-35px -60px 0 20px #9c37a6,35px -60px 0 20px #76bdd1,70px 0px 0 20px #6cce74,35px 60px 0 20px #c18d46,-35px  60px 0 20px #c14745,-70px 0px 0 20px #2e1e5b;}
    50% { box-shadow:-35px -60px 0 20px #2e1e5b,35px -60px 0 20px #9c37a6,70px 0px 0 20px #76bdd1,35px 60px 0 20px #6cce74,-35px  60px 0 20px #c18d46,-70px 0px 0 20px #c14745;}
    66.67% { box-shadow:-35px -60px 0 20px #c14745,35px -60px 0 20px #2e1e5b,70px 0px 0 20px #9c37a6,35px 60px 0 20px #76bdd1,-35px  60px 0 20px #6cce74,-70px 0px 0 20px #c18d46;}
    88.88% { box-shadow:-35px -60px 0 20px #c18d46,35px -60px 0 20px #c14745,70px 0px 0 20px #2e1e5b,35px 60px 0 20px #9c37a6,-35px  60px 0 20px #76bdd1,-70px 0px 0 20px #6cce74;}
    100% {-webkit-transform:rotate(-360deg);box-shadow:-35px -60px 0 20px #6cce74,35px -60px 0 20px #c18d46,70px 0px 0 20px #c14745,35px  60px 0 20px #2e1e5b,-35px  60px 0 20px #9c37a6,-70px 0px 0 20px #76bdd1;}
}
@-moz-keyframes smallLoading {
    16.67% {box-shadow:-35px -60px 0 20px #76bdd1,35px -60px 0 20px #6cce74,70px 0px 0 20px #c18d46,35px 60px 0 20px #c14745,-35px  60px 0 20px #2e1e5b,-70px 0px 0 20px #9c37a6;}
    33.33% { box-shadow:-35px -60px 0 20px #9c37a6,35px -60px 0 20px #76bdd1,70px 0px 0 20px #6cce74,35px 60px 0 20px #c18d46,-35px  60px 0 20px #c14745,-70px 0px 0 20px #2e1e5b;}
    50% { box-shadow:-35px -60px 0 20px #2e1e5b,35px -60px 0 20px #9c37a6,70px 0px 0 20px #76bdd1,35px  60px 0 20px #6cce74,-35px  60px 0 20px #c18d46,-70px 0px 0 20px #c14745;}
    66.67% { box-shadow:-35px -60px 0 20px #c14745,35px -60px 0 20px #2e1e5b,70px 0px 0 20px #9c37a6,35px  60px 0 20px #76bdd1,-35px 60px 0 20px #6cce74,-70px  0px 0 20px #c18d46;}
    88.88% { box-shadow:-35px -60px 0 20px #c18d46,35px -60px 0 20px #c14745,70px 0px 0 20px #2e1e5b,35px  60px 0 20px #9c37a6,-35px 60px 0 20px #76bdd1,-70px 0px 0 20px #6cce74;}
    100% {-moz-transform:rotate(-360deg);box-shadow:-35px -60px 0 20px #6cce74,35px -60px 0 20px #c18d46,70px 0px 0 20px #c14745,35px 60px 0 20px #2e1e5b,-35px 60px 0 20px #9c37a6,-70px 0px 0 20px #76bdd1;}
}
@-o-keyframes smallLoading {
    16.67% {box-shadow:-35px -60px 0 20px #76bdd1,35px -60px 0 20px #6cce74,70px 0px 0 20px #c18d46,35px  60px 0 20px #c14745,-35px  60px 0 20px #2e1e5b,-70px 0px 0 20px #9c37a6;}
    33.33% { box-shadow:-35px -60px 0 20px #9c37a6,35px -60px 0 20px #76bdd1,70px 0px 0 20px #6cce74,35px  60px 0 20px #c18d46,-35px  60px 0 20px #c14745,-70px 0px 0 20px #2e1e5b;}
    50% { box-shadow:-35px -60px 0 20px #2e1e5b,35px -60px 0 20px #9c37a6,70px 0px 0 20px #76bdd1,35px  60px 0 20px #6cce74,-35px  60px 0 20px #c18d46,-70px 0px 0 20px #c14745;}
    66.67% { box-shadow:-35px -60px 0 20px #c14745,35px -60px 0 20px #2e1e5b,70px 0px 0 20px #9c37a6,35px  60px 0 20px #76bdd1,-35px  60px 0 20px #6cce74,-70px 0px 0 20px #c18d46;}
    88.88% { box-shadow:-35px -60px 0 20px #c18d46,35px -60px 0 20px #c14745,70px 0px 0 20px #2e1e5b,35px  60px 0 20px #9c37a6,-35px  60px 0 20px #76bdd1,-70px 0px 0 20px #6cce74;}
    100% {-o-transform:rotate(-360deg);box-shadow:-35px -60px 0 20px #6cce74,35px -60px 0 20px #c18d46,70px 0px 0 20px #c14745,35px  60px 0 20px #2e1e5b,-35px 60px 0 20px #9c37a6,-70px 0px 0 20px #76bdd1;}
}
 @keyframes shine{
    0% {
        background-position: top left;
    }
    100% {
        background-position: top right;
    }
}
 @-webkit-keyframes shine{
    0% {
        background-position: top left;
    }
    100% {
        background-position: top right;
    }
}
 @-o-keyframes shine{
    0% {
        background-position: top left;
    }
    100% {
        background-position: top right;
    }
}
 @-moz-keyframes shine{
    0% {
        background-position: top left;
    }
    100% {
        background-position: top right;
    }
}
@keyframes infinite_icon  {
    0%{
            transform: translate( 0px ,2px);
    }
     100%{
            transform: translate( 0px, -2px);
    }
}
@-moz-keyframes infinite_icon  {
    0%{
            transform: translate( 0px ,2px);
    }
     100%{
            transform: translate( 0px, -2px);
    }
}
@-webkit-keyframes infinite_icon  {
    0%{
            transform: translate( 0px ,2px);
    }
     100%{
            transform: translate( 0px, -2px);
    }
}
@-o-keyframes infinite_icon  {
    0%{
            transform: translate( 0px ,2px);
    }
     100%{
            transform: translate( 0px, -2px);
    }
}
@keyframes iconmap {
    0%{
            transform: translate( 4px ,4px) rotate(-45deg);
    }
     100%{
            transform: translate( 0px, 0px) rotate(-45deg);
    }
}
@-moz-keyframes iconmap {
    0%{
            transform: translate( 4px ,4px) rotate(-45deg);
    }
     100%{
            transform: translate( 0px, 0px) rotate(-45deg);
    }
}
@-webkit-keyframes iconmap {
    0%{
            transform: translate( 4px ,4px) rotate(-45deg);
    }
     100%{
            transform: translate( 0px, 0px) rotate(-45deg);
    }
}
@-o-keyframes iconmap {
    0%{
            transform: translate( 4px ,4px) rotate(-45deg);
    }
     100%{
            transform: translate( 0px, 0px) rotate(-45deg);
    }
}