@media screen and ( max-width: 600px ) {
	html { margin-top: 0px !important; }
	* html body { margin-top: 0px !important; }
}
body {
	color: $color; line-height: 1.68;
	#sns_wrapper{
		> .wrap {
			width: 100%;
		}
	}
	&.boxed-layout {
		#sns_wrapper{
			max-width: 1470px;margin: 0 auto !important;background: #FFF;padding:0 15px;box-shadow:0 0 15px rgba(0,0,0,0.2); overflow: hidden;
 		}
 	}
}
// Bootstrap container
.container{
	@media(max-width: $screen-xs-max){
		padding-left: 20px; padding-right: 20px;
	}
}
.btn:focus, .btn.focus, .btn:active:focus, .btn.focus:active, .btn.active:focus, .btn.active.focus,
*, a {
	&:hover,
	&:focus,
	&:active {
		outline: none;
	}
}
.label,
label{
	font-size: 100%; font-weight: inherit; color: inherit;
}
a {
	color: $link-color;
	&:hover,
	&:focus {
		text-decoration: none;
		color: $color1;
	}
}
a, span, i {
    @include transition(all 0.25s ease 0s);
}
p{ margin-bottom: 20px;}
ul, ol {
    margin-bottom: 20px;
    margin-top: 0;
    padding-left: 25px;
    ul, ol{
    	padding-left: 30px;
    }
}
dl:not(.gallery-item){
	margin: 0 20px;
	dt{
		font-weight: bold;
	}
	dd{
		margin: 0 0 15px;
	}
}
address{
	margin: 0 0 20px; font-style: italic;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	margin-top: 0; color: $link-color; font-weight: bold; line-height: 1.42857;
}
h1 { font-size: 2em; }
h2 { font-size: 1.6818em; }
h3 { font-size: 1.4142em; }
h4 { font-size: 1.1892em; }
h5 { font-size: 1em; }
h6 { font-size: 0.8409em; }
label {
	font-weight: inherit; cursor: pointer; margin: 0 5px 0 0;
	&.required {
		&:before {
			content: "*";
			color: red;
			font-size: 14px;
			position: relative;
			line-height: 12px;
		}
	}
}
abbr[title], abbr[data-original-title]{
	border-bottom: none;
}
.wp-caption{max-width: 100%; border: none; padding: 5px 0 10px;}
.wpb_text_column img.alignleft{
	margin: 5px 15px 5px 0;
}
legend{
	font-weight: inherit; margin: 15px 0 15px; padding: 0 0 5px; color: $link-color; font-size: 130%;
}
blockquote{
	font-size: 1em; margin: 0 0 20px;
}
#wp-calendar,
table {
	background: white;
	border-color: $base-border-color;
	border-width: 1px;
	border-style: solid;
	width: 100%;
	margin-bottom: 20px;
	caption{
		padding: 0 0 5px;
	}
	td.label{
		display: table-cell;
		label{margin: 0 0;}
	}
	margin-bottom: 30px;
	> thead > tr > th,
	> tbody > tr > th,
	> tfoot > tr > th{
		border-color: $base-border-color; border-width: 1px 1px 0 0; border-style: solid; color: $color; vertical-align: middle;
	}
	> thead > tr > th{
		background: #f9f9f9; 
	}
	> thead > tr > td,
	> tbody > tr > td,
	> tfoot > tr > td{
		border-color: $base-border-color; border-width: 1px 1px 0 0; border-style: solid;
	}
	td {
		a.color-myaccount {
			text-decoration: underline;
			&:hover {
				text-decoration: none;
			}
		}
		&#today{
			color: $color1;
			a{
				color: $color1;
			}
		}
	}
	tfoot {
		tr {
			//background: $base-border-color;
		}
	}
}
#wp-calendar{
	margin-bottom: 0px;
}
#wp-calendar tbody td a{
	@include inline-block();
	padding: 0;
	background: transparent;
	cursor: pointer;
	white-space: normal;
	font-size: 100%;
	border: none;
	@include border-radius(100%);
	@include transition(all 0.25s linear);
	vertical-align: top;
	font-weight: bold;
	&:focus,
	&:hover{color: $color1; background: #FFF; }
}
#wp-calendar tfoot #prev,
#wp-calendar tfoot #next{
	text-align: center;
	a,
	a:focus{
		font-size: 100%; background: none; border-color: $base-border-color; color: inherit;
		padding: 3px 15px; @include box-shadow(none);
	}
}
select{
	height: 38px; line-height: 38px; margin: 0; padding: 4px 10px;
    border: 1px solid $base-border-color; cursor: pointer;
    @include border-radius(0px);@include transition(all 0.25s ease-out);
    &:focus{border-color: $hover-border-color; @include box-shadow(none);}
}
// select2
.select2-container--default { @include transition(none !important);
	.select2-selection--single{
		border: 1px solid $base-border-color; @include border-radius(0px); height: 42px;
		.select2-selection__rendered{
			line-height: 40px; padding: 0 30px 0 15px;
		}
		.select2-selection__arrow{
			top: 8px; right: 8px;
		}
	}
}
.select2-dropdown{
	padding: 15px; border-color: $base-border-color; @include transition(none !important);
}
.select2-container--default .select2-search--dropdown{
	padding: 0; margin: 0 0 10px;
	.select2-search__field{ border-color: $base-border-color; }
} 
input, button, select, textarea{
	max-width: 100%;
}
input[type="checkbox"], input[type="radio"] {
    margin: 0 5px 0 0;
}
#searchform input#s,
input[type="password"],
input[type="email"],
input[type="search"],
input[type="text"],
input.input-text{
	@include border-radius(0px);
	padding: 8px 10px;
	@include transition(all 0.25s ease-out); color: $color;
	border: 1px solid $input-border-color;
	@include box-shadow(none);
	&:hover,
	&:focus{
		border-color: $hover-border-color;color: inherit;
		@include box-shadow(none);
	}
}

textarea{
	@include border-radius(0px);@include box-shadow(none); padding:8px 10px;@include transition(all 0.25s ease-out); 
	border: 1px solid $input-border-color; resize: none;
	&:focus{border-color:$hover-border-color; @include box-shadow(none);}
}
.btn,
.comment-respond #submit, 
#searchform #searchsubmit,
input[type="submit"],
input[type="button"],
.button,
button{
	@include inline-block(); padding: 8px 20px; border: 2px solid $color; color: $color; background: transparent;text-transform: uppercase;cursor: pointer;
	font-size: 1em; vertical-align: top;white-space: normal;@include transition(all 0.25s ease-out); @include border-radius(5px);
	&:hover,
	&:focus{
		background-color: $color1; border-color: $color1; color: #FFF;
	}
}

a:focus,
input:focus,
button:focus,
select:focus,
a:visited,
input:visited,
button:visited,
select:visited{
	outline: none !important
}

#sns-totop {
    width: 50px;bottom: 30px;right: 20px;height: 50px; text-decoration: none;
    overflow: hidden; z-index: 40;position: fixed;display: block;text-align: center;
    @include transition(all 0.2s ease-out 0s); background: #999;
    @include border-radius(50%);
    &.hidden-top {bottom: -100px; }
    &:before{
    	content: ""; @include font-awesome('f062', 50px); font-size: 16px; color: #FFF;
    	// background: url('../img/icon-scrop.png') no-repeat center center; width: 50px; height: 50px; line-height: 50px;
    	position: absolute;top: 0; left: 0;
    }
    &:hover{
    	background-color:$color1; border-color: $color1;
    	
    }
    
}

.icon-chevron-right,
.icon-th-large,
.icon-th-list,
.icon-home,
.icon-remove {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome; // shortening font declaration
	font-size: inherit; // can't have font-size inherit on line above, so need to override
	text-rendering: auto; // optimizelegibility throws things off #1094
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

}
.icon-remove:before { content: "\f00d"; }
.icon-home:before { content: "\f015"; }
.icon-th-large:before { content: "\f009"; }
.icon-th-list:before { content: "\f00b"; }
.icon-chevron-right:before { content: "\f054"; }

// Tooltip
.tooltip.in {
	z-index: 9999;
}
.tooltip-inner {
  background-color: rgba( $color1, $tooltip-opacity);
  @include border-radius(4px);
}
.tooltip{
	&.top .tooltip-arrow {
    border-top-color: rgba( $color1, $tooltip-opacity);
  }
  &.top-left .tooltip-arrow {
    border-top-color: rgba( $color1, $tooltip-opacity);
  }
  &.top-right .tooltip-arrow {
    border-top-color: rgba( $color1, $tooltip-opacity);
  }
  &.right .tooltip-arrow {
    border-right-color: rgba( $color1, $tooltip-opacity);
  }
  &.left .tooltip-arrow {
    border-left-color: rgba( $color1, $tooltip-opacity);
  }
  &.bottom .tooltip-arrow {
    border-bottom-color: rgba( $color1, $tooltip-opacity);
  }
  &.bottom-left .tooltip-arrow {
    border-bottom-color: rgba( $color1, $tooltip-opacity);
  }
  &.bottom-right .tooltip-arrow {
    border-bottom-color: rgba( $color1, $tooltip-opacity);
  }
}
@media (max-width: $screen-xs - 1) {
	@include make-grid(phone);
}
// Sticky post
.sticky {
	background: none;
	padding: 0px;
	position: relative;
	&:before{
		position: absolute; @include font-awesome('f08d', 30px);
		right: -1px; bottom: -1px; font-size: 14px;
		background: rgba(0,0,0,0.4); color: #FFF; z-index: 1;
	}
}

header.archive-header{
	margin-bottom: 30px; border-bottom: 1px solid $base-border-color;
}
img{
	max-width: 100%;
	height: auto;
}
.owl-carousel .owl-item img{
	width: auto;
}
// Share box
.post-share-block{ @include clearfix(); color: #888;
	.label-shareblock{ display: inline-block; line-height: 24px; float: left; margin: 0 5px 0 0;}
	.sns-share-box{
		padding: 0; display: inline-block;
		ul.socials{
			list-style: none; display: inline-block;padding: 0; margin: 0 0;
			li{ margin:0px 3px -1px; float: left; display: inline-block; 
				a{
					display: block; height: 24px; width: 24px; line-height: 24px; background: #888; color: #FFF; @include border-radius(100%); text-align: center;font-size: 1em;@include transition(all 0.25s ease-out);
					i{ font-size: 12px; }
					&:hover{
						background-color: $color1;
					}
				}
			}
		}
	}
}

// Comment
.sns-comments{
	margin: 50px 0 80px; padding-top: 50px; border-top: 1px solid $base-border-color;
	&.no-comment{
		#respond{ margin-top: 0px;}
	}
	h3#comments{
		margin-bottom: 25px; font-size: 2em;text-transform: uppercase;
	}
	.comment-reply-title{
		padding: 0 0; margin: 0 0 10px; font-size: 2em; text-transform: uppercase; display: block; font-weight: bold;
		&.title-reply{
			margin-bottom: 10px;
			text-transform: uppercase;
		}
	}
	.commentlist{
		padding:0 0 20px; margin: 0; border-bottom: 1px solid $base-border-color;
		li.pingback,
		li.comment{ list-style: none;
			.comment-body{
				@include clearfix();position: relative;padding: 30px 0;margin: 0; border-bottom: 1px solid $base-border-color;
				.comment-user-meta{
					display: block;
					img.avatar{
						float: left;margin: 0 20px 5px 0;vertical-align: top; @include border-radius(5px);
					}
					h4.comment-user{
						display: block; margin: 0 0 12px;font-size: 1.2307em; line-height: 1;
					}
					.comment-content{
						position: relative; margin: 0 0 20px;
						p:last-child{margin: 0 0;}
						ol,
						ul{
							padding: 0 0 0 25px; margin: 0 0 25px;
							ol,
							ul{ margin: 0 0; padding: 0 0 0 30px; }
						}
					}
				}
				.comment-meta{ display: block; margin: 0 0;font-size: 1em; @include clearfix();
					.date{ float: left; position: relative; color: #888; padding-left: 6px;
						&:before{ @include font-awesome('f272', 13px);  text-indent: -8px;}
					}
					.comment-edit-link,
					.comment-reply-link{
						float: right; font-weight: inherit; padding: 0px; margin: 0 0 0 20px; color: $link-color;
						font-size: 1em; display: inline;border:none;background: transparent; position: relative; text-transform: uppercase; line-height: 1.6;
						&:before{ @include font-awesome('f112', 13px); text-indent: -8px;}
						&:focus,
						&:hover{
							background: transparent; color: $color1; box-shadow: none;
						}
						@media (max-width: $screen-phone){
							width: 14px; height: 20px; margin: 0 0 0 10px; overflow: hidden;
							&:before{ text-indent: 0px;}
						}
					}
					.comment-edit-link{
						&:before{@include font-awesome('f044', 13px);}
					}
				}
			}
			@media (max-width: $screen-sm-min){
				.children{
					margin-left: 20px;
					padding-left: 0px;
				}
				.comment-body{
					padding: 20px 0;
					.comment-user-meta{
						img.avatar{max-width: 50px; margin-right: 10px;}
					}
					&:before{
						display: none;
					}
				}
			}
		}
		> li:first-child{
			> .comment-body:first-child{
				padding-top: 0;
			}
		}
		> li:last-child{
			> .comment-body:last-child{
				border-bottom: none;
			}
		}
		.children{
			position: relative; margin-left: 35px; padding-left: 35px;
			li{
				.comment-body{}
			}
		}
	}
	.navigation{
		margin: 0 0; padding: 50px 0 0; @include clearfix();
	}
	small{
		font-size: 13px; margin: 0 0 0 5px;
		a{ color: $color1;}
	}
	#respond{
		margin: 50px 0 50px;
	}
	.comment-form{
		label{
			font-weight: bold;
		}
		.comment-notes{
			margin-bottom: 25px; color: #8b93a1;
		}
		.form-submit{
			margin: 0;
			clear: both;
			input#submit{
				background: $color1;color: #ffffff;border: none;@include border-radius(5px);font-weight: normal; font-size: 1em;
				padding: 11px 30px;display: inline; vertical-align: middle;margin-top: 10px;
				@media(max-width: $screen-xs-max){
					width: auto;
				}
			}
		}
		input[type="text"],
		textarea{
			max-width: 100%; width: 100%; margin-bottom: 10px;
		}
		textarea{
			margin-bottom: 10px; height: 160px; @include border-radius(0px); border: none; background: #f5f5f5;
		}
		.form-allowed-tags{
			margin-bottom: 20px;
		}
		.your-comment{
		    width: calc(50% - 15px); display: inline-block;padding-right: 0;
		    body.logged-in & {
				width: 100%;
			}
			@media(max-width: $screen-xs-max){
				width: 100%;
			}
		}
		.text-field{
			padding-left: 0;float: left; width: calc(50% - 15px); margin-right: 30px;
		    @media(max-width: $screen-xs-max){
				width: 100%;
			}
			&.row{
				margin-left: -5px;margin-right: -5px;
				.col-md-4{
					padding-left: 5px;padding-right: 5px;
				}
			}
			input{
				margin-bottom: 20px;height: 40px;border: none;border: none; background: #f5f5f5;@include border-radius(0px);
			}
		}
		.comment-form-cookies-consent{ display: block; float: left; margin-bottom: 30px; }
	}
	.no-comments{ margin-top: 80px}
}
.wp-caption{max-width: 100%}
// Pageination
.navigation{
	padding: 0 0; margin: 15px 0 60px;
	h2,h4{display: none;}
	text-align: center;
	.pagination{
		margin: 0 0;
		a{
		    text-align: center; margin: 0 5px; padding: 0 0; display: inline-block; font-weight: bold; width: 40px; height: 40px; line-height: 36px; border: 2px solid $color; @include border-radius(5px);
		    float: left;
		    &:hover{
		    	background-color: $color1 !important; border-color: $color1; color: #FFF;
		    }
		}
		span.dots{
			line-height: 40px; float: left;
		}
		span.current{
			text-align: center; margin: 0 5px; padding: 0 0; display: inline-block; font-weight: bold; width: 40px; height: 40px; line-height: 36px; border: 2px solid $color1; @include border-radius(5px);
		    background-color: $color1 !important; color: #FFF; float: left;
		}
	}
	.next,
	.prev{
		position: relative; overflow: hidden; font-size: 0px; text-align: center;
		&:before{
			font-size: 16px;
		}
	}
	.next{
		&:before{ @include font-awesome('f0da', 16px); line-height: inherit; }
	}
	.prev{
		&:before{ @include font-awesome('f0d9', 16px); line-height: inherit;}
	}
}

// navigation-ajax
.navigation-ajax{
	display: block;
	text-align: center;
	margin: 30px 0 60px;
	#navigation-ajax{
		position: relative; display: inline-block; vertical-align: top; border: 1px solid $text-color;
	    margin: 0px; padding: 12px 40px; font-weight: bold; @include border-radius(30px);
	    overflow: hidden; font-size: 1em; background: #fff;
	    &:hover{
	    	background: $color1; border-color: $color1;
	    	span{ color: #FFF; }
	    }
	    span{
	    	color: $link-color;text-transform: uppercase;font-weight: bold;
	    }
	    .sns-navloading{
			position: absolute;top:0;left: 0;bottom: 0;right: 0;opacity: 0;visibility: hidden;
			.sns-navloader{
				border-radius: 50%; width: 30px; height: 30px; font-size: 10px;
				border-top: 5px solid rgba(0,0,0,.4); border-right: 5px solid rgba(0,0,0,.4);
				border-bottom: 5px solid rgba(0,0,0,.4);border-left: 5px solid rgba($color1,1);
			    @include  transform(translateZ(0));
			    -webkit-animation: snsnavloadding 1s infinite linear;
			    -moz-animation: snsnavloadding 1s infinite linear;
			    -o-animation: snsnavloadding 1s infinite linear;
			    -ms-animation: snsnavloadding 1s infinite linear;
			    animation: snsnavloadding 1s infinite linear;
			    position: absolute; top: 50%; margin-top: -15px; left: 50%; margin-left: -15px;
			}
	    }
	    &.snsnav-active{
	    	.sns-navloading{
	    		opacity: 1;visibility: visible;
	    	}
	    	span{
	    		opacity: 0;visibility: hidden;
	    	}
	    }
	}
}

h3.sidebar-shortcodes{
	font-size: 114.29%;font-weight: bold;margin: 0;padding: 20px;position: relative;text-transform: uppercase;border-bottom: 1px solid $base-border-color;
	span{
		position:relative; padding: 0;display: inline-block;
	}
}

// .handle-preload
.handle-preload{
	@include opacity(0);
	visibility: hidden;
}

.bypostauthor{
	font-size: 100%;
}

#sns_content .wpb_row{
	&:last-child{
		margin-bottom: 0;
	}
}

#sns_content .wpb_column > .wpb_wrapper > *:last-child{
	margin-bottom: 0;
}

@media (min-width: 1200px){
	#sns_content .wpb_row{
		&:last-child{
			margin-bottom: 0;
		}
	}
	#sns_content .wpb_column > .wpb_wrapper > *:last-child{
		margin-bottom: 0;
	}
	.archive #sns_content,
	.archive #sns_content .sns-content{
		margin-bottom: 0px;
	}
}

@media (max-width: $screen-phone){
	#sns_content .hide-border-phone{
		border: none !important;
	}
}

