/***************************************************
	scss file: /assets/scss/theme/_header.scss
		+ Header 
			- .sns_header_layout_1
			- .sns_header_layout_2 
			- .sns_header_layout_3 
****************************************************/
// Main menu
#sns_menu{
	&.keep-menu{
		z-index: 2; position: fixed; top: 0px; width: 100%; background: #FFF; box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
		body.boxed-layout &{
			width: auto;
		}
	}
	.sns-mainnav-wrapper{
		#sns_mainnav{ position: relative; width: 100%; text-align: center;}
	}
}
.sns_menu_wrapper {
	position: relative;background-position: center top;width: 100%; transition: none; -webkit-transition: none;
	.contain{
		position: relative;
	}
	&:hover{
		z-index: 2;
	}
	body.show-sidebar, body.show-video &{
		z-index: 4;
	}
	.icon-search{
	    display: inline-block;text-align: center;
	}
	.sns-mainnav-wrapper{
		float: left;
	}
	@media (max-width: $screen-lg-desktop) {
		.nav-right {
			margin-right: 15px;
			float: right;
			width: 130px;
			padding: 0;
		}
		.icon-menu{
			display: none;
		}
		
		#sns_respmenu {
			margin-top: 31px;
			margin-bottom: 30px;
			margin-right: 0px;
			display: block;
		}
	}
	@media (max-width: $screen-xs-max) {
		
		#sns_respmenu {
			margin-top: 10px;
			margin-bottom: 10px;
			margin-right: 0px;
			display: block;
		}
	}
	
}

// Header Style
#sns_header{
    .container{
    	position: relative;
    }
    .top-header{ color: #888; height: 40px; line-height: 40px;
		.vc_row{ overflow: visible;}
		a{ color: inherit;
			&:hover{ color: #fff;}
		}
		.settings{
			.currency,
	    	.language{
	    		position: relative; float: left;
	    		.tongle{ line-height: 40px; padding: 0 14px 0 14px; position: relative; display: inline-block; cursor: pointer; @include transition(all 0.25s ease-out 0s);
	    			&:before{
	    				@include font-awesome('f107', 14px); font-size: 14px; position: absolute; right: -2px; top: 14px;
	    			}
	    		}
	    		ul{
	    			@include ulclear(); width: 120px; position: absolute; top: 60px; right: 0px; visibility: hidden; @include opacity(0); @include transition(all 0.25s ease-out 0s);
	    			border: 1px solid $base-border-color; z-index: 1; background: #FFF;
	    			li{
	    				display: block; border-top: 1px solid $base-border-color; line-height: normal;
	    				a{ display: block; padding: 8px 15px;
	    					&:hover{ color: $color1}
	    				}
	    				&:first-child{
	    					border: none;
	    				}
	    			}
	    		}
	    		&:hover{
	    			.tongle{ color: #FFF;
	    				&:before{ color: #FFF;}
	    			}
	    			ul{ top: 40px; @include opacity(1); visibility: visible; @include transition(all 0.15s ease-out 0s); }
	    		}
	    	}
		}
	}
    .main-header{
    	padding: 30px 0;
    	&.keep-menu{
			z-index: 2; position: fixed; top: 0px; width: 100%; background: #FFF; box-shadow: 0 0 4px rgba(0, 0, 0, 0.15); padding: 5px 0 !important;
			body.boxed-layout &{
				width: auto;
			}
		}
    	.inner{float: right;}
    	.login-regis{
    		float: left; position: relative;
    		body.woocommerce & {
	    		padding-right: 18px;
	    		&:before{
	    			position: absolute; content: ""; right: 0px; top: 50%; margin-top: -15px; height: 30px; width: 1px; background-color: $base-border-color;
	    		}
	    	}
    		.usr-welcome{ font-size: 1.2307em; margin-bottom: 0px;}
    	}
    	.my-account,
    	.mini-wishlist,
	    .mini-cart{
	    	position: relative; float: left; margin-left: 18px; margin-top: 8px; height: 30px;
	    	.tongle{ padding: 0; display: inline-block; @include transition(all 0.25s ease-out 0s); }
	    	.content{
	    		visibility: hidden; @include opacity(0); position: absolute; top: 90px; right: 0px; @include transition(all 0.25s ease-out 0s); 
	    		border: 1px solid $base-border-color; z-index: 1; background: #FFF; width: 180px;
	    	}
	    	&:hover{
	    		.tongle{
	    			&:before{ color: $color1;}
	    			.number{ background-color: $link-color}
	    		}
	    		.content{
	    			visibility: visible; @include opacity(1); top: 56px; z-index: 99; @include transition(all 0.15s ease-out 0s);
	    		}
	    	}
	    }
	  	.my-account{
	    	.tongle{
	    		position: relative; width: 28px; height: 30px;
	    		&:before{ position: absolute; @include font-awesome('f007', '26px'); font-size: 26px;}
	    	}
	    	.content{
	    		min-width: 160px;
	    		.menu{
	    			margin: 0 0; list-style: none; padding: 0 0;
	    			li{ display: block; padding: 10px 20px; border-top: 1px solid $base-border-color;
	    				&:first-child{
	    					border-top: none;
	    				}
	    			}
	    		}
	    	}
	    }
	    .mini-wishlist{
	    	.tongle{
	    		position: relative; width: 28px; height: 30px;
	    		&:before{ position: absolute; @include font-awesome('f004', '26px'); font-size: 26px;}
	    		.number{
	    			@include transition(all 0.25s ease-out 0s); width: 20px; height: 20px; @include border-radius(100%); text-align: center; line-height: 20px; background: $color1; color: #FFF; position: absolute; top: -4px; right: -8px; font-size: 0.8333em;
	    		}
	    	}
	    }
	    .mini-cart{
	    	padding: 0 0 0;
	    	.tongle{
	    		position: relative; width: 30px; height: 30px;
	    		&:before{ position: absolute; @include font-awesome('f291', '26px'); font-size: 26px;}
	    		.number{
	    			@include transition(all 0.25s ease-out 0s); width: 20px; height: 20px; @include border-radius(100%); text-align: center; line-height: 20px; background: $color1; color: #FFF; position: absolute; top: -4px; right: -8px; font-size: 0.8333em;
	    		}
	    		.cart-label{ display: none; }
	    	}
	    	.content{
	    		width: 320px;
	    		.cart-title{
	    			padding: 0 20px;
					h4{
						font-weight: bold; text-transform: uppercase; color: $link-color; display: block; font-size: 1em; padding: 20px 0 10px; margin: 0 0 15px; border-bottom: 1px solid $base-border-color;
					}
				}
				.widget{
					padding: 0 0; margin: 0 0; border: none;
				}
	    	}
	    }
    }
    .sns-promobar{
    	i{ margin-right: 5px;}
    }
    body.header-style1 &{
    	.main-header{
    		padding: 30px 0 15px;
    		@media (max-width: $screen-md-min){ padding: 10px 0; 
    			.cart-account{ padding-right: 25px;}
    		}
    		.search{
    			margin-top: 25px;
    			@media (max-width: $screen-md-min){ margin-top: 32px; }
    			@media (max-width: $screen-xs-max){ margin-top: 18px; }
    			@media (min-width: $screen-lg) { margin-right: 8.33333%; }
    			@media (min-width: $screen-md-min) and (max-width: $screen-md-max){ padding-right: 45px; }
    			.sns-icon-nav{ margin-top: 8px;}
    		}
    		.header-logo{ text-align: center;
    			@media (max-width: $screen-xs-max){
    				img{ max-height: 75px; }
    			}
    		}
    		.cart-account{
    			margin-top: 25px;
    			@media (max-width: $screen-md-min){ margin-top: 32px; }
    			@media (max-width: $screen-xs-max){ margin-top: 18px; }
    		}
    	}
    	.sns-promobar{
    		background-color: $color1; position: relative; min-height: 1px;
    		&:before{ content: ""; position: absolute; left: 0px; top: 0px; height: 1px; width: 100%; background-color: $base-border-color; @include transition(all 0.25s ease-out 0s);}
    		.content{
    			height: 40px; width: 100%; padding: 10px 0; color: #FFF; display: none;
    			p{ overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
    		}
    		&.active{ &:before{ background-color: transparent; } }
    	}
    }
    body.header-style2 &{
    	.menu-search-content{
    		position: relative; height: 0px;
    		#sns_mainmenu{ position: absolute; width: 100%; height: 50px; bottom: -285px; @include transition(all 0.25s ease-out 0s); visibility: hidden; @include opacity(0); z-index: 999; }
    		.overlay{background: $color1;bottom: 0;content: "";height: 100%;left: 0; position: fixed;
				right: 0;top: 0;width: 100%; @include transition(all 0.25s ease-out 0s); visibility: hidden; @include opacity(0); z-index: 998; 
				.bt-close{
					position: absolute; top: 80px; right: 80px; height: 40px; width: 40px; color: #FFF; @include transition(all 0.25s ease-out 0s); cursor: pointer;
					&:before{
						@include font-awesome('f00d', 40px); font-size: 40px;
					}
					&:hover{ color: $link-color; }
				}
			}
    		&.active{
    			#sns_mainmenu{ visibility: visible; @include opacity(1); @include transition(all 0.25s ease-out 0s); }
    			.overlay{ display: inline; visibility: visible; @include opacity(0.9); @include transition(all 0.25s ease-out 0s); }
    		}
    		#sns_mainmenu ul#main_navigation > li.menu-item > a{ color: #FFF;
    			&:before{ color: inherit; }
    		}
    	}
    	.main-header{
    		padding: 10px 0;
    		.menu-search{
    			margin-top: 45px;
    			@media (max-width: $screen-xs-max){ margin-top: 30px; }
    			.menu-tongle{ display: inline-block; float: left; cursor: pointer; color: $link-color; text-transform: uppercase; font-weight: bold;
    				&:hover{ color: $color1; }
    				i{ margin-right: 6px; font-size: 16px;}
    				
    			}
    			.search{ position: relative; display: inline-block; float: left;
    				.search-tongle{ display: inline-block; float: left; cursor: pointer; color: $link-color; position: relative; margin-left: 11px; padding-left: 13px;
    					@media (max-width: $screen-md-min){ margin-left: 0px;
    						i{ font-size: 16px; vertical-align: middle; }
    					}
    					&:before{ position: absolute; content: ""; left: 0px; top: 50%; margin-top: -6px; width: 1px; height: 12px; background-color: #eee;}
	    				&:hover{ color: $color1; }
	    			}
    				.sns-searchwrap{ z-index: 997; position: absolute; width: 280px; height: 50px; top: 40px; left: 0px; visibility: hidden; @include opacity(0); @include transition(all 0.25s ease-out 0s); }
    				&:before{z-index: 998; position: absolute; content: ""; height: 3px; width: 35px; background-color: $color1; left: 16px; top: 37px; visibility: hidden; @include opacity(0); @include transition(all 0.25s ease-out 0s);}
    				&.active{
    					.sns-searchwrap{ visibility: visible;  @include opacity(1); }
    					&:before{ visibility: visible; @include opacity(1); }
    				}
    			}
    			.sns-icon-nav{
    				float: left;
					> [class*="btn"] {
						width: 16px; height: 16px;line-height: 16px;
						&.offcanvas,
						&.leftsidebar,
						&.rightsidebar {
							&:before{ position: absolute; font-size: 16px; width: 16px; height: 16px;line-height: 16px; }
						}
					}
				}
    		}
    		.header-logo{ text-align: center;
    			@media (max-width: $screen-xs-max){
    				img{ max-height: 75px; }
    			}
    		}
    	}
    	.cart-account{
    		margin-top: 36px;
    		@media (max-width: $screen-xs-max){ margin-top: 23px; }
    		.my-account,
	    	.mini-cart,
	    	.mini-wishlist{
	    		height: 20px; margin-left: 15px;
		    	.tongle{
		    		position: relative; width: auto; height: 20px; padding-left: 20px;
		    		&:before{ font-size: 16px; left: 0px;}
		    		.number{
		    			width: 20px; height: 20px; @include border-radius(0); text-align: center; line-height: 20px; background: none; color: inherit; position: relative;
		    			top: 0px; right: 0px; font-size: 1em;
		    		}
		    	}
		    	.content{
		    		top: 40px;
		    	}
		    	&:hover{
		    		.tongle{
		    			&:before{ color: $color1;}
		    			.number{ background: none}
		    		}
		    		.content{
			    		top: 30px;
			    	}
		    	}
		    }
		    .mini-cart{
		    	padding-right: 0px;
		    	.tongle{
		    		padding-left: 22px;
		    	}
		    }
		    .my-account{
		    	padding-right: 0px;
		    	.tongle{
		    		padding-left: 16px;
		    	}
		    }
		    .my-account,
		    .mini-wishlist{ padding-right: 16px;
		    	&:before{ position: absolute; content: ""; height: 16px; width: 1px; right: 0px; top: 50%; margin-top: -8px; background-color: $base-border-color; }
		    }
		}
    }
    body.header-style3 &{
    	.main-header{
    		padding: 30px 0;
    		@media (max-width: $screen-md-max){
    			padding: 15px 0; 
    		}
    		@media (max-width: $screen-md-min){
    			padding: 10px 0; 
    		}
    		.sns-mainnav-wrapper{ @include clearfix();
    			.header-logo{ float: left;
	    			@media (max-width: $screen-xs-max){
	    				img{ max-height: 75px; }
	    			}
	    		}
    			#sns_mainnav{ float: left; margin: 38px 0 0 30px; position: relative;
    				@media (min-width: $screen-md-max){ 
    					float: right; margin: 28px 0 0;
    					.sns-searchwrap{
							display: inline-block; width: 50px; height: 50px; line-height: 50px; cursor: pointer; text-align: center;
							&:before{
								@include font-awesome('f002', 24px); color: $link-color;
							}
							> * { cursor: default; line-height: normal; text-align: left; }
							.sns-ajaxsearchbox{
								position: absolute; left: 15px; top: 80px; width: calc(100% - 30px); visibility: hidden; @include opacity(0); @include transition(all 0.25s ease-out); z-index: 999;
							}
							&.active,
							&:hover{
								&:before{ color: $color1; }
								.sns-ajaxsearchbox{ visibility: visible; @include opacity(1); top: 50px; }
							}
						}
    				}
    				@media (max-width: $screen-xs-max){
		    			margin: 25px 0 0 15px;
		    		}
		    		#sns_mainmenu{ float: left; }
    			}
    			#sns_content_rsm {
    				float: left;
					@media (max-width: $screen-md-max){
						position: fixed; top: 0; @include transition(all 0.3s ease-out); left: -290px; height: 100%; overflow: auto; width: 290px; background: #f5f5f5;
						padding: 35px 20px; z-index: 99999; text-align: left;
						&.active {
							left: 0;@include opacity(1);
						}
					}
				}
    		}
    		.cart-account{ margin-top: 32px;
    			@media (max-width: $screen-xs-max){
	    			margin-top: 18px;
	    		}
    		}
    	}
    	.sns-promobar{
    		background-color: $color1; position: relative; min-height: 1px;
    		&:before{ content: ""; position: absolute; left: 0px; top: -1px; height: 1px; width: 100%; background-color: $base-border-color; @include transition(all 0.25s ease-out 0s);}
    		.content{
    			height: 40px; width: 100%; padding: 10px 0; color: #FFF; display: none;
    			p{ overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
    		}
    		&.active{ &:before{ background-color: transparent; } }
    	}
    }
    body.header-style4 &{
    	.sns-promobar{
    		background-color: $link-color;
    		.content{
    			height: 40px; width: 100%; padding: 10px 0; color: #FFF; display: none;
    			a{ color: inherit; text-decoration: underline;
    				&:hover{ color: $color1; }
    			}
    			p{ overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
    		}
    		&.active{
    			.btn-tongle{ @include opacity(1); }
    		}
    	}
    	.main-header{
    		padding: 30px 0;
    		@media (max-width: $screen-md-min){
    			padding: 10px 0; 
    		}
    		.left-mheader{
    			margin-top: 45px;
    			@media (max-width: $screen-xs-max){ margin-top: 28px; }
    			.settings{
					.currency,
			    	.language{
			    		position: relative; float: left;
			    		.tongle{ padding: 0 14px 0 0; margin-right: 18px; position: relative; display: inline-block; cursor: pointer; @include transition(all 0.25s ease-out 0s);
			    			&:before{
			    				@include font-awesome('f107', 14px); font-size: 14px; position: absolute; right: -2px; top: 50%; margin-top: -7px;
			    			}
			    		}
			    		ul{
			    			@include ulclear(); width: 120px; position: absolute; top: 60px; left: 0px; visibility: hidden; @include opacity(0); @include transition(all 0.25s ease-out 0s);
			    			border: 1px solid $base-border-color; z-index: 1; background: #FFF;
			    			li{
			    				display: block; border-top: 1px solid $base-border-color; line-height: normal;
			    				a{ display: block; padding: 8px 15px;
			    					&:hover{ color: $color1}
			    				}
			    				&:first-child{
			    					border: none;
			    				}
			    			}
			    		}
			    		&:hover{
			    			.tongle{ //color: #FFF;
			    				&:before{ //color: #FFF;
			    				}
			    			}
			    			ul{ top: 30px; @include opacity(1); visibility: visible; @include transition(all 0.15s ease-out 0s); }
			    		}
			    	}
	    		}
    			.sns-info-inline{ position: relative; float: left;
    				a{ color: $color;
    					&:hover{ color: $color1; }
    				}
	    			&.have-left-border{
	    				padding-left: 20px;
	    				&:before{ position: absolute; content: ''; height: 12px; margin-top: -6px; width: 1px; left: 0px; top: 50%; background-color: $base-border-color;}
	    				@media (max-width: $screen-md-min){
		    				padding: 0 0; display: none;
		    				&:before{ display: none; }
		    			}
	    			}
	    		}
	    		@media (max-width: $screen-md-min){
		    		#sns_content_rsm {
		    			> *{ margin-bottom: 15px; }
		    		}
		    	}
		    	.sns-searchwrap{
		    		@media (min-width: $screen-md-min){ display: none;}
		    	}
    		}
    		.header-logo{ text-align: center;
    			@media (max-width: $screen-xs-max){
    				img{ max-height: 75px; }
    			}
    		}
    		.cart-account{
    			margin-top: 35px;
    			@media (max-width: $screen-xs-max){ margin-top: 18px; }
    		}
    		
    	}
    	#sns_menu{
    		#sns_mainnav{border-top: 1px solid $base-border-color;
    			@media (min-width: $screen-md-min){ #sns_mainmenu { display: inline-block !important; } }
    			.sns-searchwrap{
					display: inline-block; width: 50px; height: 50px; line-height: 50px; cursor: pointer; text-align: center;
					@media (max-width: $screen-md-min){ display: none;}
					&:before{
						@include font-awesome('f002', 24px); color: $link-color;
					}
					> * { cursor: default; line-height: normal; text-align: left; }
					.sns-ajaxsearchbox{
						position: absolute; left: 15px; top: 80px; width: calc(100% - 30px); visibility: hidden; @include opacity(0); @include transition(all 0.25s ease-out); z-index: 999;
					}
					&.active,
					&:hover{
						&:before{ color: $color1; }
						.sns-ajaxsearchbox{ visibility: visible; @include opacity(1); top: 50px; }
					}
				}
    		}
    	}
    }
    body.header-style5 &{ position: relative; z-index: 2;
    	.top-header{ color: $color;
			a{ color: inherit;
				&:hover{ color: $color1;}
			}
			.settings{
				.currency,
		    	.language{
		    		&:hover{
		    			.tongle{ color: $color1;
		    				&:before{ color: $color1;}
		    			}
		    		}
		    	}
			}
		}
		.main-header{
    		padding: 30px 0;
    		@media (max-width: $screen-md-min){ padding: 10px 0; 
    			.cart-account{ padding-right: 25px;}
    		}
    		.search{
    			margin-top: 25px;
    			@media (max-width: $screen-md-min){ margin-top: 32px; }
    			@media (max-width: $screen-xs-max){ margin-top: 18px; }
    			@media (min-width: $screen-lg) { margin-right: 8.33333%; }
    			@media (min-width: $screen-md-min) and (max-width: $screen-md-max){ padding-right: 45px; }
    			.sns-icon-nav{ margin-top: 8px;}
    		}
    		.header-logo{ text-align: center;
    			@media (max-width: $screen-xs-max){
    				img{ max-height: 75px; }
    			}
    		}
    		.cart-account{
    			margin-top: 25px;
    			@media (max-width: $screen-md-min){ margin-top: 32px; }
    			@media (max-width: $screen-xs-max){ margin-top: 18px; }
    		}
    	}
    	#sns_menu{
    		#sns_mainnav{ background: $link-color; @include border-radius(5px);
    			ul#main_navigation{
    				// Level 1
					> li.menu-item{ 
						> a{ color: #FFF;}
						&.current-menu-ancestor,
						&.current-menu-item,
						&:hover{
							> a{ color: $color1; }
						}
					}
    			}
    		}
    	}
    }
    body.page-header-transparent &{
	    position: absolute; top:0px; z-index:2;
		.top-header{
			.vc_row{
			    background: transparent !important;
			    border-bottom: 1px solid rgba(255,255,255,0.2);
			    .sns-info-inline{
			    	a{
			    		color: #FFF;
			    	}
			    	&.have-left-border,
			    	&.have-right-border{
			    		&:before{ background-color: #FFF; }
			    	}
			    }
			    .settings .tongle{ color: #FFF; }
			}
		}
		.sns-promobar{display: none !important;}
		.main-header{
    		#sns_mainnav{
    			ul#main_navigation{
    				// Level 1
					> li.menu-item{ 
						> a{ color: #FFF;
							&:before{ color: #FFF; }
						}
						&.current-menu-ancestor,
						&.current-menu-item,
						&:hover{
							> a{ color: $color1;
								&:before{ color: $color1; }
							}
						}
					}
    			}
    			.sns-icon-nav{
    				.btn2{ &:before{ color: #FFF; } }
    			}
    			.sns-searchwrap{
    				&:before{ color: #FFF !important;}
    				&:hover{
    					&:before{ color: $color1 !important;}
    				}
    			}
    		}
    		.login-regis{ color: #FFF;
    			*{ color: inherit; }
    			a:hover{ color: $color1; }
    		}
    		.tongle{
    			&:before{ color: #FFF; }
    		}
		}
	}
}


.sns-searchwrap{
	body.enable-search-cat & {
		.search-input{
			input[type="text"]{
				border: 1px solid $base-border-color; height: 45px; @include border-radius(0px); padding-left: 20px;
			}
			&:before{ right: 10px; }
		}
		button[type="submit"]{
			font-size: 0px; padding: 0 0; border: none; height: 45px; width: 45px;position: absolute; right: 0px; top: 0px; background-color: $color1;
			&:before{
				position: absolute; @include font-awesome('f002', 24px); font-size: 16px; @include transition(all 0.25s ease-out);top: 0px; right: 0px; margin: 0 0; color: $link-color;
			}
		}
		.select2-container{
			.select2-selection{
				line-height: 43px; padding: 0 20px;
				.select2-selection__rendered{ line-height: inherit;}
				.select2-selection__arrow{width: 25px; height: 100%; top: 0px;
					b::after{left: 7px;}
				}
				> .select2-chosen{ margin: 0 0;}
			}
		}
	}
	div.select-cat{
		display: table-cell !important;
		a{
			background: #f5f5f5; border: none; padding: 4px 10px;
		}
	}
	select.select-cat{
		visibility: hidden; @include opacity(0); display: none;
	}
	.select2-container{ width: 158px !important;
		@media(max-width: $screen-xs-max){ display: none;}
		.select2-selection{
			padding: 7px 10px; width: 100%; height: 45px;background: #f5f5f5; border: 1px solid $base-border-color; border-right: none;@include border-radius(0); 
		}
		&.select2-dropdown-open{
			.select2-selection{
				box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none; -o-box-shadow: none; -ms-box-shadow: none;
			}
		}
	}
	.sns-ajaxsearchbox{
		display: table;width: 100%;
		form{
			display: table-row;
		}
		&.loaded{
			.search-input{
				display: table-cell !important; width: 100%; padding: 0px;
			}
			.select-cat + .search-input{padding: 0 0;}
		}
	}
	.search-input{
		position: relative; vertical-align: middle;
		input[type="text"]{
			width: 100%; height: 50px; border: 1px solid $base-border-color; @include border-radius(5px); padding-left: 20px;
			@include placeholder($color);
		}
		&:before{
			position: absolute; top: 13px;right: 16px;
			@include font-awesome('f110', 24px); font-size:16px; color:$link-color;
			-webkit-animation: spin 1s ease-in-out infinite;
		    -moz-animation: spin 1s ease-in-out infinite;
		    -o-animation: spin 1s ease-in-out infinite;
		    animation: spin 1s ease-in-out infinite;
		    background: none;
			@include opacity(0);
		}
		&.loading{
			button,
			input[type=submit]{
				display: none;
			}
			&:before{
				@include opacity(1);
			}
		}
	}
	button[type="submit"]{
		font-size: 0px; padding: 0 0; border: none; height: 24px; width: 24px;position: absolute; right: 16px; top: 13px; background: transparent;
		&:before{
			position: absolute; @include font-awesome('f002', 24px); font-size: 16px; @include transition(all 0.25s ease-out);top: 0px; right: 0px; margin: 0 0; color: $link-color;
		}
		&:hover{
			background: transparent; border: none;
			&:before{ color: $color1; }
		}
	}
}
.select2-dropdown--below{
	border-color: $base-border-color; margin-top: 0px; @include border-radius(0px); //width: 220px !important; 
	.select2-search{
		padding: 15px 15px 5px;
		input{
			padding: 2px 5px !important; border-color: $base-border-color;
		}
	}
	.select2-results{ padding: 0px 0 5px;
		.select2-results__options{
			background: #FFF; list-style: none; padding: 0 15px 10px; max-height: 220px;
			li{
				margin: 1px 0 0; padding: 3px 6px;
				&.select2-results__option--highlighted[aria-selected],
				&.select2-results__option--highlighted[aria-selected],
				&.select2-results__option--highlighted,
				&:hover{
					background: #f5f5f5 !important; color: inherit !important; @include border-radius(0);
				}
			}
		}
	}
}
#sns_searchresult_wrap{
	background: #FFF; padding: 10px 15px; border: 1px solid $base-border-color; border-top: none; z-index: 99999; display: none;
	body.header-style4 & {
		ul{
			@media (min-width: $screen-md-min){
				li{width: 33.33%;}
			}
			

		}
	}
	@media (min-width: $screen-md-max){
		body.header-style3 & {
			ul{
				li{width: 50%;}
			}
		}
	}
	@include clearfix();
	ul{
		padding: 0 0; list-style: none; @include ulclear();
		li{
			display: block; padding: 5px 0; float: left; width: 100%;
			.thumbnail{
				width: 70px; float: left; border: none; padding: 0 0; @include border-radius(0);
				margin: 0 10px 0 0;
				a{ position: relative; display: inline-block;
					&:before{
						position: absolute; content: ""; width: 100%; height: 100%; background: rgba(0,0,0,0); @include transition(all 0.25s ease-out); left: 0px; top: 0px;
					}
				}
			}
			.meta{
				.title{
					display: block; margin: -5px 0 0;
					.hightlight{color: $color1}
				}
				.price{
					display: block;
				}
			}
			&:hover{
				a{
					&:before{ background: rgba(0,0,0,0.15); }
				}
			}
		}
	}
	.viewall-result{
		display: block; float: left; width: 100%;
		margin: 15px 0 0; padding: 10px 0 0; border-top: 1px solid $base-border-color;
	}
}