/***************************************************
	scss file: /assets/scss/theme/_main.scss
		+ #sns_slideshow, sns_breadcrumbs
		+ Content 
			- #sns_content
		+ Footer
			- #sns_footer
****************************************************/
#sns_slideshow{
	.hephaistos.tparrows.tp-rightarrow::before{
		content: "\e825"
	}
	.hephaistos.tparrows.tp-leftarrow::before{
		content: "\e824"
	}
	.rev-btn{
		@include transition(all 0.25s ease-out);
	}
	.sns-vertical-menu{
		width: calc(25% - 15px); padding-left: 15px; float: left;
	}
	.sns-slide-show{ width: calc(75% + 15px); padding-right: 15px; float: left;
		@media(max-width: $screen-lg){
			width: 100%; padding: 0 15px;
		}
	}
	@media(max-width: $screen-xs-max){ .tparrows{ display: none !important;} }
	@media(min-width: $screen-md-min){
		body.header-style5 &{
			margin-top: -25px;
		}
	}
}

#sns_breadcrumbs{ 
	position: relative; padding:0px;margin: 15px 0 0;
	.container{
		position: relative;
	}
	.breadcrumbs {
		color: $color1;
		> * {
			display: inline-block;
		}
		.navigation-pipe {
			margin: 0px 11px; color: $color;
		}
		a{
			color: $color;
			&:hover{
				color: $color1;
			}
		}
	}
}
// Content
#sns_content{
	position: relative; overflow: hidden; margin: 40px 0 0;
	body.error404 & {
		margin-top: 0;
	}
	.sns-right,
	.sns-left{
		margin-bottom: 60px;
	}
	.sns-right-sidebar,
	.sns-left-sidebar{
		margin-bottom: 60px;
		> .vc_column-inner > .wpb_wrapper{
			> * { margin-bottom: 55px;
				&:last-child{ margin-bottom: 0px;}
				.wpb_heading{ font-weight: bold; font-size: 1.7142em; text-transform: none;}
				ul.vertical-style{
					border-top: 1px solid $base-border-color;
				}
			}
		}
	}
}

// Footer
#sns_footer{
	.wpb_content_element{
		margin-bottom: 0px;
	}
	.widgettitle{
		text-transform: uppercase; font-size: 1.2307em; margin-bottom: 20px; margin-top: 20px;
	}
	.widget{
		border: none; padding: 0 0; margin: 0px;
		&.widget_nav_menu{
			.menu{
				li{
					padding: 4px 0;
					&:first-child{ padding-top: 0;
						a{
							&:before{ top: 0px;}
						}
					}
					a{
						color: $text-color; position: relative;
						&:before{@include font-awesome('f061', 16px); @include opacity(0); left: -15px; top: 5px; position: absolute; color: $color1; @include transition(all 0.25s ease-out);}
						&:hover{
							color: $color1; padding-left: 18px;
							&:before{  @include opacity(1); left: 0px}
						}
					}
				}
			}
		}
	}
	.inline-menu{
		.widget{
			&.widget_nav_menu{
				li{ display: inline-block; position: relative; padding: 0 20px; 
					a{ text-transform: uppercase; font-weight: bold; color: $link-color;
						&:before{ display: none; }
						&:hover{ color: $color1; padding: 0 0;}
					}
					&:before{
						content: ""; position: absolute; left: -1px; top: 50%; margin-top: -6px; width: 2px; height: 12px; background: $base-border-color;
					}
					&:first-child{
						&:before{ display: none;}
					}
					@media (max-width: $screen-phone){
						padding: 0 10px;
						&:before{ left: -2px; }
					}
				}
			}
		}
	}
	.copyright{
		text-align: center; border-top: 1px solid $base-border-color; padding: 25px 0;
	}
	&.style_1{
		background-color: #f5f5f5;
	}
	&.style_2{
		background-color: transparent; text-align: center;
		.wpcf7-form{
			text-align: center;
			.widgettitle{
				font-size: 2em;
			}
			.sns-newsletter{
				max-width: 570px; margin: 0 auto;
				.inner{
					.wpcf7-text{ padding: 0 25px; line-height: 50px;}
					.wpcf7-submit{ height: 52px; line-height: 52px;}
				}
			}
		}
		.sns-info-inline{ float: none; margin: 0 15px;
			.vc_icon_element-icon{ font-size: 16px; }
		}
		.copyright{ float: none; display: block; border: none; padding-top: 20px;}
	}
	&.style_3{
		background-color: #f5f5f5;
		.wpcf7-form{
			text-align: center;
			.widgettitle{
				font-size: 2em;
			}
			.sns-newsletter{
				max-width: 570px; margin: 0 auto;
				.inner{
					.wpcf7-text{ border-color: $color1; @include border-radius(40px); padding: 0 20px; line-height: 38px;}
					.wpcf7-submit{
						background-color: $color1; color: #FFF; @include border-radius(0 40px 40px 0);
						&:hover{
							color: $color;
						}
					}
				}
			}
		}
		.float-right.wpb_column{
			.sns-info-inline{
				a{ margin: 0 0 0 10px;}
			}
		}
	}
	&.style_4{
		.sns-info-inline{ float: none; margin: 0 15px;
			.vc_icon_element-icon{ font-size: 16px; }
		}
	}
	&.style_5{
		color: #FFF;
		.widget.widget_nav_menu{ text-align: center;
			.widgettitle{ color: #FFF; margin-bottom: 25px; padding-bottom: 30px; position: relative;
				&:before{ position: absolute; content: ""; width: 50px; height: 2px; bottom: 0px; left: 50%; margin-left: -25px; background: $color1; }
			}
			.menu li a{
				color: #FFF;
				&:hover{ color: $color1; }
			}
		}
		.row-socials-middle-line{
			position: relative; @include clearfix();
			&:before{ position: absolute; content: ""; height: 1px; width: calc(50% - 120px); left: 0px; top: 50%; background: rgba(255,255,255,0.2); }
			.wpb_column {
				&:before{ position: absolute; content: ""; height: 1px; width: calc(50% - 120px); right: 0px; top: 50%; background: rgba(255,255,255,0.2); }
			}
			text-align: center;
			.sns-info-inline{ display: inline-block;
				a{ float: none; display: inline-block; background: transparent; border: 1px solid $base-border-color; color: #FFF; margin: 0 5px;
					&:hover{
						border-color: #FFF; background: #FFF; color: $link-color; 
					}
				}
			}
		}
	}
}	

// Not found
#sns_content.is-notfound{
	background-color: $color1; height: 100vh; position: relative;
	.copyright{ border-top: none;}
}
.sns-notfound-page{
	@include translate(-50%, -50%); position: absolute;top: 50%; left: 50%; padding-bottom: 25px;
	.sns-notfound-content{
		text-align: center; margin: 0;
		h1{
			display: block;color: #FFF;margin: 0;font-weight: normal; text-transform: uppercase; font-size: 6em; position: relative; padding: 0 0 45px; margin: 0 0 60px;
			&:before{
				position: absolute; content: ""; height: 1px; width: 100%; left: 0px; bottom: 0px; background-color: rgba(255,255,255,0.35);
			}
		}
		p{ color: #FFF;
			a{ color: inherit; border-bottom: 1px solid rgba(255,255,255,0.6);
				&:hover{
					border-color: rgba(255,255,255,1);
				}
			}
			&.or{
				text-transform: uppercase; font-size: 1.5em; margin: 25px 0;
			}
		}
	}
	#searchform{
		position: relative;padding: 0; border: 1px solid rgba(255,255,255,0.6); @include border-radius(5px); @include transition(all 0.25s ease-out);
		width: 500px; margin: 0 auto;
		&:before{
			position: absolute; @include font-awesome('f002', 24px); font-size: 16px; @include transition(all 0.25s ease-out); right: 14px; top: 11px; margin: 0 0; color: #FFF;
		}
		label.screen-reader-text{display: none;}
		input#s{
			border: none; font-size: 1em; width: 100%;height: 44px; line-height: 44px; box-shadow: unset;
			@include border-radius(0px);@include transition(all 0.25s ease-out); padding: 10px 20px; background: transparent; color: #FFF;
			&:focus{
				border-color: #cdcdcd;
			}
			@include placeholder(#FFF);
		}
		input#searchsubmit{
			position: absolute; @include square(16px); top: 50%; right: 16px; padding: 0 0; margin: -6px 0 0; border: none; 
			text-indent: -99em; overflow:hidden; @include border-radius(0px);@include transition(all 0.25s ease-out); color: $text-color;
			background: transparent;
			&:hover,&:focus, &:visited{

			}
		}
		&:hover{
			border-color: rgba(255,255,255,1);
		}
	}
}
// admin-bar
.admin-bar{
	#sns_wrapper{
		@media screen and (max-width: 600px){
			top: 46px;
		}
	}

}