/***************************************************
	scss file: /assets/scss/theme/_post.scss
		+ Style for post
			- Post in blog page
			- Post in signle page
****************************************************/
article.type-post{
	// Blog posts header
	h3.post-title{
		margin: 0 0 10px; position: relative; font-size: 2em; line-height: 1.1; border:none; text-transform: uppercase;
		@media(max-width: $screen-sm-max){
			font-size: 1.2em;
		}
	}
	.page-links{  margin-bottom: 15px;
		a{display: inline-block; padding: 0 3px; margin: 0 0 3px;}
	}
	.more-link{
		margin:15px 0 0; display: inline-block; color: $color; border: none;  background: none;
	    @include border-radius(0px); text-transform: none; @include transition(all 0.25s ease);
	    position: relative; padding: 0 0 0 18px;
	    &:before{
	    	position: absolute; left: -2px; top: 5px; @include font-awesome('f178', 14px); @include transition(all 0.25s ease);
	    }
	    &:hover{
	    	background: none;color: $color1;
	    	&:before{
		    	left: 0px;
		    }
	    }
		.meta-nav{
			display: none;
		}
	}
	.post-meta{
		color: #888; display: block; margin: 0 0 15px;
		> span{
			margin-left: 18px; position: relative;
			&:first-child{
				margin-left: 0px;
			}
		}
		a{
			color: inherit;
			&:hover{
				color: $color1;
			}
		}
		a.author-link{ position: relative; padding-left: 3px;
			&:before{ @include font-awesome('f007', 13px);  text-indent: -6px;}
		}
		span.entry-date{
			a{ position: relative; padding-left: 3px;
				&:before{ @include font-awesome('f272', 13px);  text-indent: -6px;}
			}
		}
		span.edit-post{
			a{ position: relative; padding-left: 3px;
				&:before{ @include font-awesome('f044', 13px);  text-indent: -6px;}
			}
		}
		.post-comment-count{
			a{ position: relative; padding-left: 3px;
				&:before{ @include font-awesome('f0e6', 13px);  text-indent: -6px;}
			}
		}
	}
	.post-excerpt{

	}
	.post-foot{
		border-top: 1px solid $base-border-color; padding-top: 10px; margin-top: 25px; color: #888; @include clearfix();
		a{
			color: inherit;
			&:hover{
				color: $color1;
			}
		}
		.tags-links{ float: right; position: relative; padding-left: 3px; max-width: 50%;
			@media(max-width: $screen-phone){
				float: left;
			}
			&:before{
				@include font-awesome('f02c', 13px);  text-indent: -6px;
			}
			a{
				position: relative; padding-left: 9px;
				&:after{
			    	content: '#';position: absolute;left: 0px;bottom: -3px;
			    }
			}
		}
		.cat-links{ text-align: left; float: left; max-width: 50%;
			padding-left: 18px; position: relative;
			&:before{
				@include font-awesome('f07b', 13px); position: absolute; left: 0px; top: 4px;
			}
			span{ float: left; padding: 0 8px 0 0;}
			ul{ list-style: none; margin: 0 0; padding: 0 0; float: left;
				li{ float: left; display: inline-block; margin: 0 5px 0 0; padding: 0 0 0; 
					&:after{ content: ","}
					&:last-child{
						&:after{ display: none; }
					}
				}
			}
		}
	}
	.post-content{
		@include clearfix();
	}
	.gallery-thumb,
	.video-thumb,
	.audio-thumb,
	.post-thumb,
	.quote-info,
	.link-info{
		margin-bottom: 25px; position: relative;
	}
	.gallery-thumb{
		position: relative;	overflow: hidden; margin-bottom: 30px;
		@include navslider2();
	}
	.link-info{
		padding: 30px 40px; background: url(#{$base-url}/global.png) no-repeat left 35%; border: 2px solid $text-color;
		a{
			display: block; text-align:left; font-size: 1.1428em; font-weight: bold; @include transition(all 0.25s ease-out);
		}
	}
	.quote-info{
		padding: 25px 30px; background: #333; color: #FFF;
		.quote-content{
			display: block; font-style: italic; margin-bottom: 10px; font-size: 1.1428em; position: relative;
			i{ 
				position: relative;
				&.fa-quote-left{ top: -1px;}
				&.fa-quote-right{ bottom: -4px;}
			}
		}
		.quote-author{
			display: block; margin: 0px; padding: 0; position: relative; @include transition(all 0.25s ease-out);
			font-weight: bold; font-size: 1.1428em; text-align: right;
		}
	}
	.post-thumb{
		position: relative; overflow: hidden;
		a{ display: inline-block; position: relative;
			&:before{position: absolute;content: ""; height: 100%; width: 100%; left: 0px; top: 0px;
				background: rgba(0,0,0,0.1); @include opacity(0); @include transition(all 0.25s ease-out);
			}
			&:hover{
				&:before{@include opacity(1);}
			}
		}
	}
	.video-responsive{
		position: relative; padding-bottom: 56%;overflow: hidden; padding-top: 3px;height: 0;
		embed,
		iframe,
		object,
		video{
			width: 100%; height: 100%;position: absolute; left: 0px; top: 0px;
		}
	}
	.audio-responsive{
		position: relative;padding-bottom: 54.5%;padding-top: 8px;height: 0;
		embed,
		iframe,
		object,
		audio{
			width: 100%; height: 100%;position: absolute; left: 0px; top: 0px;
		}
	}
}
// Blog standard
.blog-standard{
	> article{
		margin-bottom: 60px;
		&.sticky{
			padding: 30px; border: 1px solid $base-border-color;
		}
	}
}
// Blog layout 2
.blog-layout2.posts{
	article{
		margin-bottom: 60px;
		h3.post-title{
			margin: 0 0 25px;font-size: 1.5714em;
		}
		.gallery-thumb,
		.video-thumb,
		.audio-thumb,
		.post-thumb,
		.quote-info,
		.link-info{
			@media(min-width: $screen-lg){
				margin-bottom: 0px;
			}
		}
	}
}
// Blog Masonry
.sns-grid-masonry{
	margin: 0 -15px 30px;
	article{
		margin-bottom: 60px;
		h3.post-title{
			margin: 0 0 25px;font-size: 1.2857em;
		}
	}
	.sns-grid-item{
		width: 33.33%;
		padding-right: 15px;
		padding-left: 15px;
		overflow: hidden;
		@media(max-width: 768px){
			width: 50%;
		}
		@media(max-width: 480px){
			width: 100%;
		}
	}
	&+.navigation{
		margin-top: 10px;
	}
}
// Single post
.single{
	article.post{
		h1.post-title{
			margin: 0 0 10px; font-size: 2em; line-height: 1.1; text-transform: uppercase;
			@media(max-width: $screen-sm-max){
				font-size: 1.2em;
			}
		}
		.post-meta{ margin-bottom: 25px;
			.cat-links{ float: left;
				padding-left: 18px; position: relative;
				&:before{
					@include font-awesome('f07b', 13px); position: absolute; left: 0px; top: 4px;
				}
				span{ float: left; padding: 0 8px 0 0;}
				ul{ list-style: none; margin: 0 0; padding: 0 0; float: left;
					li{ float: left; display: inline-block; margin: 0 5px 0 0; padding: 0 0 0; 
						&:after{ content: ","}
						&:last-child{
							&:after{ display: none; }
						}
					}
				}
			}
		}
		.post-content{
			margin-bottom: 35px;
		}
		.post-foot{ margin-top: 10px;}
		.author-info{
			padding: 8px; margin: 50px 0 0; @include clearfix(); background-color: #f5f5f5;
			h4{
				margin: 20px 0 12px; font-size: 1.2307em;text-transform:none; color: $link-color;
			}
			p.author-bio{ margin-bottom: 0;}
			.author-avatar{
				float: left; margin: 0 20px 0 0; @include border-radius(5px); overflow: hidden;
				@media(max-width: $screen-xs-max){
					margin-right: 15px;
				}
			}
			.author-desc{
				display: block;
			}
		}
		.post-related{
			position: relative;margin: 70px 0 0;
			@include owl-nav1();
			h2.related-title{
				padding: 0 0; margin: 0 0 15px; font-size: 2em;text-transform: uppercase;
			    display: block; font-weight: bold;
			}
			.related-content{ margin: 0 -15px;}		
			.item{ padding: 0 15px;
				.image{
					display: block; max-width: 100%; position: relative;margin-bottom: 15px;
					&:before{
						content: ""; position: absolute; background: rgba(0, 0, 0, 0.1);width: 100%; height: 100%; z-index: 1;
						@include opacity(0); @include transition(0.25s ease-out);
					}
				}
				.title{
					margin: 0px; font-size: 1em;
				}
				&:hover{
					.image{
						&:before{
							@include opacity(1);
						}
					}
				}
			}
		}
		
		.post-navigation{
			@include clearfix(); margin: 50px 0; width: 100%; //position: relative;
			h2{ display: none;}
			.nav-next,
			.nav-previous{
				float: left; text-align: right; padding: 0 30px 0 0; width: 50%; position: relative;
				&:before{
					position: absolute; content: ""; height: 100%; width: 1px; top: 0px; right: -0.5px; background-color: $base-border-color;
				}
				.nav-post-link{
					position: relative;padding: 0 0 0 16px; margin: 0 0 10px; color: inherit;display: inline-block;
					a{ color: $color1; }
					&:before{
						@include font-awesome('f100', 13px); font-size: 13px;position: absolute; top: 4px; left: 0px; color: inherit; @include transition(all 0.25s ease-out); color: $color1;
					}
					.screen-reader-text{ text-transform: uppercase;}
					@media(max-width: $screen-sm-max){
						.post-title{
							display: none;
						}
					}
				}
				.nav-post-title{ text-transform: uppercase; font-weight: bold; }
				
			}
			.nav-next{
				float: right; text-align: left; padding: 0 0 0 30px;
				&:before{
					right: auto; left: -0.5px;
				}
				.nav-post-link{
					padding: 0 16px 0 0;
					&:before{
						@include font-awesome('f101', 13px);
						right: 0px; left: auto
					}
				}
			}
		}
	}
}
.archive,
.blog{
	.format-status,
	.format-aside{
		.post-title{ display: none;}
	}
}
article.type-attachment{
	h1.post-title{
		margin: 0 0 10px; font-size: 2em; line-height: 1.1; text-transform: uppercase;
		@media(max-width: $screen-sm-max){
			font-size: 1.2em;
		}
	}
	.more-link{
		margin:15px 0 0; display: inline-block; color: $color; border: none;  background: none;
	    @include border-radius(0px); text-transform: none; @include transition(all 0.25s ease);
	    position: relative; padding: 0 0 0 18px;
	    &:before{
	    	position: absolute; left: -2px; top: 5px; @include font-awesome('f178', 14px); @include transition(all 0.25s ease);
	    }
	    &:hover{
	    	background: none;color: $color1;
	    	&:before{
		    	left: 0px;
		    }
	    }
		.meta-nav{
			display: none;
		}
	}
	.post-meta{
		color: #888; display: block; margin: 0 0 15px;
		> span{
			margin-left: 18px; position: relative;
			&:first-child{
				margin-left: 0px;
			}
		}
		a{
			color: inherit;
			&:hover{
				color: $color1;
			}
		}
		a.author-link{ position: relative; padding-left: 3px;
			&:before{ @include font-awesome('f007', 13px);  text-indent: -6px;}
		}
		span.entry-date{
			a{ position: relative; padding-left: 3px;
				&:before{ @include font-awesome('f272', 13px);  text-indent: -6px;}
			}
		}
		span.edit-post{
			a{ position: relative; padding-left: 3px;
				&:before{ @include font-awesome('f044', 13px);  text-indent: -6px;}
			}
		}
		.post-comment-count{
			a{ position: relative; padding-left: 3px;
				&:before{ @include font-awesome('f0e6', 13px);  text-indent: -6px;}
			}
		}
	}
	.entry-caption{
		margin: 10px 0 15px;
	}
	.image-navigation{
		@include clearfix(); margin: 50px 0; width: 100%; //position: relative;
		h2{ display: none;}
		.nav-next,
		.nav-previous{
			float: left; text-align: right; padding: 0 30px 0 0; width: 50%; position: relative;
			&:before{
				position: absolute; content: ""; height: 100%; width: 1px; top: 0px; right: -0.5px; background-color: $base-border-color;
			}
			.nav-post-link{
				position: relative;padding: 0 0 0 16px; margin: 0 0 10px; color: inherit;display: inline-block;
				a{ color: $color1; }
				&:before{
					@include font-awesome('f100', 13px); font-size: 13px;position: absolute; top: 4px; left: 0px; color: inherit; @include transition(all 0.25s ease-out); color: $color1;
				}
				.screen-reader-text{ text-transform: uppercase;}
				@media(max-width: $screen-sm-max){
					.post-title{
						display: none;
					}
				}
			}
			.nav-post-title{ text-transform: uppercase; font-weight: bold; }
			
		}
		.nav-next{
			float: right; text-align: left; padding: 0 0 0 30px;
			&:before{
				right: auto; left: -0.5px;
			}
			.nav-post-link{
				padding: 0 16px 0 0;
				&:before{
					@include font-awesome('f101', 13px);
					right: 0px; left: auto
				}
			}
		}
	}
}
