/***************************************************
	scss file: assets/scss/theme/_product_list.scss
		+ Style for product in listing page
			- Style product in grid
			- Style product in list
****************************************************/
#sns_woo_list{
	margin-bottom: 30px;
	&.yith-wcan-loading{
		background: none; position: relative; height: auto; @include opacity(0.4); min-height: 300px; padding-bottom: 50px;
		&:before{
			position: absolute; left: 50%; top: 50%; margin: -20px 0 0 -20px; @include font-awesome('f1ce', 40px); font-size: 40px; color: #000;
			z-index: 2;
		    -webkit-animation: spin 1s ease-in-out infinite;
		    -moz-animation: spin 1s ease-in-out infinite;
		    -o-animation: spin 1s ease-in-out infinite;
		    animation: spin 1s ease-in-out infinite;
		}
	}
}
.sns-woocommerce-page{
	.woo-page-title-wrap{
		padding: 0 15px;
		.page-title{
			margin-bottom: 23px;
			text-transform: capitalize;
			display: inline-block;
			font-size: 2.3em;
			font-weight: bold;
		}
		.count_products{
			color: $color1;
		}
	}
}
.listing-product-wrap{
	.page-title{
		text-transform: uppercase; line-height: 1.1;
	}
	.prdlist-content{ margin-top: 30px; }
}

.cat-slideshow{
	margin-bottom: 30px;
}
.sub-cats{
	padding: 0 0; margin: 0 -15px 20px; list-style: none; @include clearfix();
	li.product-category{
		padding: 0 15px; width: 33.33%; float: left;
		@media (max-width: $screen-lg) and (min-width: $screen-xs-max) {
			&:nth-child(3n+1){
				clear: left;
			}
		}
		@media (max-width: $screen-xs-max) { 
			clear: none; width: 50%;
			&:nth-child(2n+1){
				clear: left;
			}
		}
		.woocommerce-loop-category__title{
			font-size: 1em; margin: 10px 0 30px; color: inherit;
			mark{ background: none; color: inherit; }
		}
	}
}
.term-description{
	margin-bottom: 30px;
}
.cate-img{
	text-align: center;
	margin-bottom: 30px;
}
.sns-productlist-grid {
	.block-product {
		padding: 1px 15px;
		.block-product-inner {
			@include product-block-grid();
		}
	}
}
.product_list.grid {
	margin-left: 0px; margin-right: 0px;
    .listing-product-main & {
		margin: 0 -15px;
	}
	.block-product-inner {
		@include product-block-grid();
		&.style3{
			border: 1px solid $base-border-color;
			.item-box-hover{ border: 1px solid $base-border-color; border-top: none; width: calc(100% + 2px); left: -1px;}
			&:hover{
				border-color: transparent;
				.item-box-hover{ border-color: transparent; }
			}
		}
	}
	> div.clearfix{
		padding: 0; margin: 0 0; position: static; float: none; min-height: 0px !important;
	}
	
}
/** Product list Styles **/
.product_list {
	list-style: none;
	padding: 0;
	.ajax_block_product {
		position: relative;
	}
	.availability {
		span {
			display: inline-block;color: $light-text-color;font-weight: bold;padding: 3px 8px 4px 8px;margin-bottom: 20px;
			&.available-now {
				background: #55c65e;border: 1px solid #36943e;
			}
			&.out-of-stock{
				background: #fe9126;border: 1px solid #e4752b;
			}
		}
	}
	.color-list-container {
		margin-bottom: 12px;
		ul {
			li {
				display: inline-block;border: 1px solid $base-border-color;width: 26px;height: 26px;
				a {
					display: block;width: 22px;height: 22px;margin: 1px;
					img {
						display: block;width: 22px;height: 22px;
					}
				}	
			}
		}
	}
	.comments_note {
		text-align: left;overflow: hidden;
		.star_content {
			float: left;
		}
		.nb-comments {
			overflow: hidden;font-style: italic;
		}
	}
	> div {
		&.clear {
			width: 100% !important;padding: 0 !important;margin: 0 !important;
		}
	}
	&.grid {
		/** Product list(Grid) Styles **/
		.woo_grid_spacing &{
			border: none;
		}
		.list-view { 
			@include opacity(0);@include scale(0.5);visibility: hidden;@include transition(all 0.2s ease);position: absolute;top: 0;
		}
		.grid-view {
			@include opacity(1);@include scale(1);visibility: visible;@include transition(all 0.5s ease);
		}
		.owl-item{
			> div {
				float: none;
			}
		}
		@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
			> .col-sm-4:nth-of-type(3n+1){ clear: left; }
			> .col-sm-3:nth-of-type(4n+1){ clear: left; }
		}
		@media (min-width: $screen-md-min) and (max-width: $screen-md-max) { 
			> .col-md-4:nth-of-type(3n+1){ clear: left; }
			> .col-md-3:nth-of-type(4n+1){ clear: left; }
			> .col-md-2.4{ width: 20%; }
			> .col-md-2.4:nth-of-type(5n+1){ clear: left; }
		}
		.col-lg-2.4{ width: 20%; }
		@media (min-width: $screen-md-lg){ 
			> .col-lg-2.4:nth-of-type(5n+1){ clear: left; }
		}
		@media (max-width: $screen-phone) { 
			> .col-phone-6:nth-of-type(2n+1){ clear: left; }
		}
		> div.product {
			padding:0px 15px; float: left;position: relative;margin-bottom: 20px;
			.item-product{
				background: #ffffff;border: 1px solid $base-border-color;border-left: 0px;border-top: 0px;
				.woo_grid_spacing &{
					border: 1px solid $base-border-color;
				}
			}
			@include effect-product-image-hide();
			&:hover{
				@include effect-product-image-show();
				.grid-view{
					z-index:2; 
				}
			}
			@media (min-width: $screen-xs) and (max-width: $screen-xs-max) { // min 480px max 767px
				width: 50%; float: left; clear: none;
				&:nth-of-type(2n+1){ clear: left; }
			}
			
			// @media (min-width: $screen-md) { // min 991px
			// 	&.first-in-line {
			// 		clear: left;
			// 	}
			// }
			// @media (min-width: $screen-xs) and (max-width: $screen-sm-max) { // min 480px max 991px
			// 	&.first-item-of-tablet-line {
			// 		clear: left;
			// 	}
			// }
		}
		li.hovered{
			h5{
				min-height: 30px;
			}
		}
		@media (min-width: $screen-lg) {
			> li { clear: none; }
			> .col-lg-2:nth-of-type(6n+1){ clear: left; }
			> .column2lg4:nth-of-type(5n+1){ clear: left; }
			> .col-lg-3:nth-of-type(4n+1){ clear: left; }
			> .col-lg-4:nth-of-type(3n+1){ clear: left; }
		}
		@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
			> li { clear: none; }
			> .col-md-2:nth-of-type(2n+1){ clear: left; }
			> .col-md-3:nth-of-type(4n+1){ clear: left; }
			> .col-md-4:nth-of-type(3n+1){ clear: left; }
		}
		@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) { 
			> li { clear: none; }
			> .col-sm-3:nth-of-type(4n+1){ clear: left; }
			> .col-sm-4:nth-of-type(3n+1){ clear: left; }
			> .col-sm-6:nth-of-type(2n+1){ clear: left; }
		}
	}
	&.list {
		/** Product list(List) Styles **/
		.list-view { 
			@include opacity(1);@include scale(1);visibility: visible;@include transition(all 0.5s ease);
		}
		.grid-view { 
			@include opacity(0);@include scale(0.5);visibility: hidden;@include transition(all 0.2s ease);position: absolute;top: 0;
		}
		margin: 0px 0 15px;background: #ffffff;
		> div.product {
			width: 100%; margin-bottom: 40px; padding: 0 0 40px; border-bottom: 1px solid $base-border-color;
			.item-img {
				display: table-cell;vertical-align: top;float: left;margin: 0 30px 0 0; max-width: 270px;position: relative;overflow: hidden;
				img {
					@include transition(all 0.25s ease);

				}
				@media(max-width: $screen-phone){
					width: 100%; max-width: inherit; margin: 0 0 15px; text-align: center;
					img{
						height: auto;
					}
				}
				&:hover {
					@include transition(all 0.25s ease);border-color: #f3f3f3;
					img {
						@include transform(scale(1.15) rotate(-5deg));
					}
				}
				@include product-block-badges();
				.ico-product {
					bottom: auto;top: 10px;
				}
				&:hover {
					.ico-product {
						@include opacity(0);@include scale(0);
					}
				}
				@include product-block-badges();
			}
			.product-shop {
				display: table-cell;vertical-align: top;
				.cat-links{ margin: 0 0 5px; color: $color1;
					a{ font-size: 0.7692em; text-transform: uppercase; color: $color1; }
				}
				.item-title {
					font-size: 1.3846em;text-transform: none;padding: 0 0;margin: 0 0 10px;font-weight: normal; line-height: 1.1;
				}
				.price {
					display: block; margin: 0 0 10px; position: relative;
				}
				.star-rating{
					margin: 0 0 10px;
				}
				.item-rating {
					margin-bottom: 10px;
					.nb-comments {margin-left: 10px;}
				}
				.woocommerce-product-details__short-description{
					padding-bottom: 2px; 
					p{ margin-bottom: 10px; }
					ul{ margin-bottom: 10px; padding-left: 15px; }
				}
				.prd-buttons{
					@include clearfix();
					@include product-action-buttons();
					margin-top: 15px;
					.cart-wrap,
					.yith-wcwl-add-to-wishlist,
					.compare,
					.yith-wcqv-button
					{
						display: inline-block; float: left; margin-right: 10px;
					}
					@media(max-width: $screen-md-min){
						.yith-wcqv-button{
							display: none;
						}
					}
				}
				@media(max-width: $screen-phone){
					float: left; width: 100%;
				}
			}
		}
	}
}
.horizontal-filter{
	@include clearfix(); border: 1px solid $base-border-color; border-top: none; padding: 30px 15px 0;
	display: none;
	.widget{
		border: none; padding: 0 15px; margin-bottom: 25px;
	}
}