/***************************************************
	scss file: /assets/scss/theme/_product.scss
		+ Style for product in product page
****************************************************/
.woocommerce{
	.second_block{
		margin-bottom: 30px;
	}
	.entry-img { padding-bottom: 15px;
		@media(max-width: $screen-xs-max){ padding-bottom: 30px; }
		.images{ position: relative;
			.img{
				@include border-radius(0px); padding: 0 0;
			}
			.popup-image{
				position: absolute; height: 50px; width: 50px; left: 20px; bottom: 20px; z-index: 1; cursor: pointer;
				background: #FFF; border: 3px solid $base-border-color; @include border-radius(50px); @include transition(all 0.25s ease-out);
				&:before{
					@include font-awesome('f0b2', 44px); position: absolute; font-size: 20px;
					@include transition(all 0.25s ease-out);
				}
				&:hover{
					background: $color1; border-color: $color1;
					&:before{ color: #FFF; }
				}
			}
			.popup-video{
				position: absolute; height: 50px; width: 50px; left: 80px; bottom: 20px; z-index: 1; cursor: pointer;
				background: #FFF; border: 3px solid $base-border-color; @include border-radius(50px); @include transition(all 0.25s ease-out);
				&:before{
					@include font-awesome('f03d', 44px); position: absolute; font-size: 20px;
					@include transition(all 0.25s ease-out);
				}
				&:hover{
					background: $color1; border-color: $color1;
					&:before{ color: #FFF; }
				}
			}
		}
		.thumbnails{
			margin: 15px -4px 0;
			.img{
				position: relative; cursor: pointer; @include border-radius(0px); padding: 0 0; border: 1px solid transparent;
				margin: 0 4px;
				img{
					max-width: 100%; padding: 3px 0;
				}
			}
			.selected{
				.img{
					border-color: $base-border-color;
				}
			}
			.owl-nav{
				.owl-next,
				.owl-prev{
					position: absolute; overflow: hidden; font-size: 0px;
					text-align: center; height: 40px; width: 40px; background:#FFF; border: 3px solid $base-border-color; @include border-radius(100%);
					left: 10px; top: 50%; margin: -20px 0 0; text-align: left; visibility: hidden; @include opacity(0);
					@include transition(all 0.25s ease-out 0s);
					&:before{
						position: absolute; left: 0px; top: 0px; font-size: 13px; color: $color;
					}
					&:hover{
						background: $color1; border-color: $color1;
						&:before{
							color: #FFF;
						}
					}
				}
				.owl-next{
					left: auto; right: 10px; text-align: right;
					&:before{ @include font-awesome('f054', 34px);}
				}
				.owl-prev{
					&:before{ @include font-awesome('f053', 34px);}
				}
			}
			&:hover{
				.owl-nav{
					.owl-next,
					.owl-prev{
						visibility: visible; @include opacity(1);
					}
				}
			}
		}
	}
	
	.product.type-product.product-type-grouped,
	.product.type-product.product-type-variable{
		.entry-summary{
			.compare,
			.yith-wcwl-add-to-wishlist{ @include opacity(0); }
			form.cart{ width: 100%; margin-right: 0px; float: none;
				.compare,
				.yith-wcwl-add-to-wishlist{
					@include opacity(1); margin: 0 0 0 10px;
				}
			}
			.stock{
				margin: 5px 0 10px;
			}
		}
	}
	.product.type-product.product-type-grouped{
		.woocommerce-product-details__short-description{ border: none; margin: 0 0; padding: 0 0 10px }
		form.cart table{ margin-bottom: 25px;}
		.entry-summary{
			.stock{
				margin: 0 0; font-size: 0.7692em !important;
			}
		}
	}
	.variations-product-wrap{
		margin: 5px 0 0;
		.variable-item{
			display: inline-block;
			.option{
				display: inline-block; cursor: pointer; float: left; //vertical-align: top;
			    &:first-child{
			    	margin-left: 0;
			    }
			    span{
				    display: block;				   
			    }
				&.color{
					margin: 0 1px; padding: 3px; border: 1px solid transparent; float: left; //height: 20px; width: 20px; 
					span{
					    width: 12px; height: 12px;
					}
					&:hover,&.active{
				    	border: 1px solid #6a6a6a;
				    }
				}
			    &:hover,&.active{
			    	border-color: #6a6a6a;
			    }
			}
		}
	}
	// Star ratings
	.woocommerce-product-rating{
		.woocommerce-review-link{
			color: #999;
			&:hover{
				color: $color1;
			}
		}

	}
	.second_block.gallery_type_h:not(.three-cols){
		@media(min-width: $screen-md-max){
			.entry-img{ width: 57%; }
			.entry-summary{ width: 43%; }
		}
	}
	.entry-img{
		position: relative;
		.onsale{
			position: absolute; top: 10px; color: #fff; text-transform: uppercase; text-align: center; line-height: 25px; height: 50px;
		    width: 50px; z-index: 2; background: $color1; left: 35px; @include border-radius(50%); line-height: 52px;
		}			
	}
	.entry-summary{ padding-bottom: 15px;
		.product_title{
			font-size: 2em; margin-bottom: 10px; color: $color; line-height: 1.1;
		}
		.woocommerce-product-rating{ margin: 0 0 10px;
			.star-rating{
				margin: 0 5px 0 0; position: relative !important; float: none !important; left: 0;
			}
		}
		// Price
		.price{
			margin: 0 0 15px; padding: 0 0 15px; border-bottom: 1px solid $base-border-color; display: block;
		}
		.woocommerce-product-details__short-description{
			border-bottom: 1px solid $base-border-color; padding-bottom: 7px; margin-bottom: 25px;
			p{ margin-bottom: 10px; }
			ul{ margin-bottom: 10px; padding-left: 12px; }
		}
		// time count down
		.time-count-down{
			margin: 20px 0 20px;
			.clock-digi{ overflow: hidden; display: inline-block;
				> div { display: inline-block; float: left; padding: 0; width: 54px; height: 54px; margin: 0 8px 0 0; text-align: center;
					text-transform: uppercase; font-size: 10px; @include border-radius(5px); border: 2px solid $color;// background: rgba(0,0,0,0.4); color: #FFF;
					> div { display: block; padding: 6px 0 0; font-weight: bold; font-size: 18px; line-height: 22px; text-transform: none;}
				}
			}
		}
		.stock{
			font-size: 1em !important; margin-bottom: 20px;
		}
		// Form cart
		.cart{
			margin: 0 10px 0 0; padding: 0; float: left;
			@include  product-action-buttons();
			.reset_variations{
				margin: 0 0 0 15px;
			}
			label{
				float: left; margin: 0 10px 0 0; color: $text-color; line-height: 42px;
				a{
					 font-size: 1em;
						 width: 100%;
				}
			}
			.quantity{
				@include quantity(); margin-right: 10px;
				@media(max-width: $screen-xs-max){
					margin-bottom: 10px;
				}
			}
			.single_add_to_cart_button{
				position: relative; border: none; width: auto; background: $color1; color: #FFF;
			    padding: 0px 15px 0 35px; line-height: 40px; font-size: 1em; text-align: center; display: inline-block; text-transform: uppercase;
				&:before{
					@include font-awesome('f07a', 15px); position: absolute; left: 15px; top: 50%; margin-top: -8px; font-size: 13px; color: #FFF; background: transparent;
				}
				&:hover{
					background-color: $color1;
				}
			}
			.show{display: inline-block !important}
			//.clear{display: none !important}
			.single_variation_wrap{
				.single_variation{
					margin: 0 0 15px;
					.price{ padding: 0 0; margin: 0 0; border:none; line-height: 1; }
				}
			}
		}
		// Compare
		.compare{
			display: inline-block; font-size: 0px; padding: 0; width: 40px !important; height: 40px !important; border: 2px solid $color; @include border-radius(5px); position: relative; vertical-align: top;
			&:before{ @include font-awesome('f074', 38px); position: absolute; left: 0px; top: 0px; font-size: 16px; color: $link-color; background-color: transparent;
				@include transition(all 0.25s ease-out);
			}
			.blockUI.blockOverlay{
				opacity: 1 !important; background: transparent !important;
				&:before{ width: 20px; height: 20px; line-height: 20px; left: 8px; top: 50%; margin-top: -10px; background: #FFF; color: $link-color;
					position: absolute; text-align: center; font-size: 16px; @include transition(all 0.25s ease);
				}
			}
			&:focus,
			&:visited,
			&:hover{
				border-color: $color1;background-color: $color1;color: #FFF;
		    	a{ color: #FFF; }
				&:before{color: #FFF; }
				.blockUI.blockOverlay{
					&:before{ background: $color1 !important; color: #FFF; }
				}
			}

		}
		// Wishlist
		.yith-wcwl-add-to-wishlist{
			display: inline-block; margin: 0 10px 0 0; position: relative; float: left; height: 40px;
			@media (max-width: $screen-xs-max) {
				margin-bottom: 10px;
			}
			.yith-wcwl-add-button{height: 40px;}
			.feedback{display:none !important}
			.ajax-loading{
				background: #FFF; opacity: 1; cursor: wait; @include transition(all 0.25s ease); width: 40px !important; height: 40px !important; border: 2px solid $color; @include border-radius(5px);
				position: absolute; left: 0px; top: 0px; margin: 0 0;
				&:before{
					position: absolute; left: 0px; top: 0px; font-size: 16px; background: transparent; @include transition(all 0.25s ease);
					@include font-awesome('f1ce', 36px); z-index:1; color: $link-color;
				    -webkit-animation: spin 1s ease-in-out infinite;
				    -moz-animation: spin 1s ease-in-out infinite;
				    -o-animation: spin 1s ease-in-out infinite;
				    animation: spin 1s ease-in-out infinite;
				}
			}
			a{
				display: inline-block; font-size: 0px; padding: 0; width: 40px !important; height: 40px !important; border: 2px solid $color; @include border-radius(5px); position: relative; vertical-align: top;
				&:before{ @include font-awesome('f004', 38px); position: absolute; left: 0px; top: 0px; font-size: 16px; color: $link-color; background-color: transparent;
					@include transition(all 0.25s ease-out);
				}
			}
			&:hover{
				.ajax-loading{ background: $color1; border-color: $color1;
					&:before{ color: #FFF;}
				}
				a{
					border-color: $color1;background-color: $color1;color: #FFF;
			    	a{ color: #FFF; }
					&:before{color: #FFF; }
				}
			}
			.yith-wcwl-wishlistaddedbrowse,
			.yith-wcwl-wishlistexistsbrowse{
				a{
					&:before{ @include font-awesome('f00c', 36px); }
				}
			}
			// + .clear{display: none !important}
		}
		.show{display: inline-block !important;}
		//Meta
		.product_meta{
			@include clearfix();
			 padding: 20px 0 0;
			.sku_wrapper,
			.tagged_as,
			.posted_in{
				@include clearfix(); color: $link-color;
				> *{font-weight: normal; color: $color}
				a{
					&:hover{
						color: $color1;
					}
				}
			}
		}
		// Sharing buttons
		.post-share-block{
			margin-top: 15px;
			.label-shareblock{ color: $color;}
		}
		// Product sidebar
		.widget{
			.widget-title {
				font-size: 180%;
			}
		}
	}
	// Quick View
	#cboxOverlay{
		background: rgba(0,0,0,0.4) !important;
	}
	#yith-quick-view-modal .yith-wcqv-main{
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.3);
		#yith-quick-view-close{
			top: 10px; right: 10px;
			display: block;@include square(20px); line-height: 18px; text-align: center;@include transition(all 0.25s ease); position: absolute; border: 1px solid $color; color: $color;
			overflow: hidden; background-color: #FFF; padding: 0 0; @include opacity(1);
			&:hover{ color: $color1; border-color: $color1; }
			&:before{ @include font-awesome('f00d', 18px); height: 100%; width: 100%; }
		}
	}
	#yith-quick-view-modal .yith-quick-view-overlay{
		background: rgba( 0, 0, 0, 0.4);
	}
	#yith-quick-view-modal .yith-wcqv-wrapper{
		 padding: 0 0; max-height: 535px;
	}
	#yith-quick-view-content{
		.entry-img{
			width: 40%; float: left; padding: 15px;
			.onsale{ top: 20px; right: 20px; left: auto; }
			div.images{
				width: 100%; float: none;
			}
		}
		.summary{
			width: 60%; padding: 15px;
			.product_title{font-size:2em;}
			.addthis_toolbox{display: none;}
			form.cart{ float: none; }
		}
		.gallery_type_v{
			.entry-img{ width: 60%; 
				.thumbnails{ width: 98px; margin:-5px 10px 0 0; float: left;}
				.images{ width: calc(100% - 108px); float: right; }
			}
			.summary{  width: 40%; }
		}
	}
	@media (max-width: $screen-xs-max) {
		.yith-wcqv-button {
			display: none !important;
		}
	}
	.gallery_type_v{
		.entry-img{
			@include clearfix();
			@media (max-width: $screen-md-max) {
				width: 60%;
			}
			@media (max-width: $screen-sm-max) {
				width: 55%;
			}
			@media (max-width: $screen-phone) {
				width: 100%;
			}
		}
		.summary{ 
			@media (max-width: $screen-md-max) {
				width: 40%;
			}
			@media (max-width: $screen-sm-max) {
				width: 45%;
			}
			@media (max-width: $screen-phone) {
				width: 100%;
			}
		}
		.images{ width: calc(100% - 108px); float: right;
			@media (max-width: $screen-md-max) {
				width: calc(100% - 90px);
			}
			@media (max-width: $screen-sm-max) {
				width: calc(100% - 70px);
			}
			@media (max-width: $screen-xs-max) {
				width: calc(100% - 50px);
			}
			.product-images{ visibility: hidden; @include opacity(0);
				&.slick-slider{ visibility: visible; @include opacity(1); }
			}
			.img{ position: relative;}
		}
		.thumbnails{ width: 98px; margin:-5px 10px 0 0; float: left;
			@media (max-width: $screen-md-max) {
				width: 80px;
			}
			@media (max-width: $screen-sm-max) {
				width: 60px;
			}
			@media (max-width: $screen-xs-max) {
				width: 40px;
			}
			.product-thumbs{ visibility: hidden; @include opacity(0);
				&.slick-slider{ visibility: visible; @include opacity(1); }
			}
			.img{ margin: 5px 0; border: 1px solid $base-border-color;
				&.slick-current{
					border-color: $color;
				}
			}

			.slick-prev,
			.slick-next{
				position: absolute; overflow: hidden; font-size: 0px;
				text-align: center; height: 40px; width: 40px; padding: 0 0; @include border-radius(40px); background: #FFF; border: 3px solid $base-border-color;
				left: 50%; margin: 0 0 0 -20px; top: 15px; text-align: left; visibility: hidden; @include opacity(0);
				@include transition(all 0.25s ease-out 0s); z-index: 1;
				&:before{
					position: absolute; left: 0px; top: 0px; font-size: 13px; color: $color;
				}
				&:hover{
					background: $color1;  border-color: $color1;
					&:before{ color: #FFF; }
				}
				&.slick-disabled{
					cursor: not-allowed;
				}
				@media (max-width: $screen-xs-max) {
					display: none !important;
				}
			}
			.slick-next{
				top: auto; bottom: 15px;
				&:before{ @include font-awesome('f078', 34px); }
			}
			.slick-prev{
				&:before{ @include font-awesome('f077', 34px); ;}
			}
			&:hover{
				.slick-prev,
				.slick-next{ visibility: visible; @include opacity(1); }
			}
		}
	}

	.gallery_type_none{
		.entry-img{
			padding-bottom: 0px;
			.images{
				.img{ position: relative; margin-bottom: 15px;
					&:last-child{
						margin-bottom: 0px;
					}
				}
			}
		}
		.entry-summary{
			@media (max-width: $screen-phone) {
				margin-top: 30px;
				.sticky-content{
					position: static !important; height: auto !important;
					.inner{ position: static !important; width: auto !important; @include transform(none !important);
					}
				}
			}
		}
	}
}
body.zoom-type-inner .gallery_type_none .images {
	.zoomContainer .zoomWindow,
	.zoomContainer{
		&:before{ position: absolute; content: ""; height: 100%; width: 100%; left: 0px; top: 0px; background: rgba(0,0,0,0.05); @include transition(all 0.25s ease-out); }
	}
}
body.zoom-type-lens .gallery_type_none .images {
	.zoomContainer .zoomLens{
		overflow: hidden;
		&:before{ position: absolute; content: ""; height: 100%; width: 100%; left: 0px; top: 0px; background: rgba(0,0,0,0.05); @include transition(all 0.25s ease-out); }
	}
	.zoomContainer{
		&:before{ position: absolute; content: ""; height: 100%; width: 100%; left: 0px; top: 0px; background: rgba(0,0,0,0.05); @include transition(all 0.25s ease-out); }
	}
}
// product tab
#sns_tab_informations {
	margin: 0 0 40px;
	.tab-heading{
		@include clearfix(); border-bottom: 1px solid $base-border-color; 
	}
	ul.nav-tabs {
		@include clearfix(); @include ulclear(); position: relative;  z-index: 1;border-bottom:none;
		> li {
			display: block; margin: 0; float: left;
			&:first-child, &.tabdrop + li {
				> a {
					margin-left: 0;
				}
			}
			&.active, &:hover{
				> a {
					color: $color1;
					&:before{
						background-color: $color1;
					}
				}
			}
			&.tabdrop {
				> a {
					i{
						padding-left: 10px;
					}
				}
			}
			> a {
				text-transform: uppercase;font-weight: bold;@include transition(all 0.25s ease-out);position: relative; font-size: 1.2307em;
				line-height: 24px;background: none;border: none;@include inline-block();position: relative; padding: 15px 0;
				border-width: 1px;margin: 0 ;border-radius: 0; margin-left: 44px; color: #ccc;
				&:before{ position: absolute; content: ""; height: 3px; width: 100%; left: 0px; bottom: -2px; background-color: transparent; @include transition(all 0.25s ease-out);}
			}
		}
		.dropdown{
			cursor: pointer;
			a{
				cursor: pointer;
			}
			&:not(.active){
				a{margin: 0 0;}
			}
			ul.dropdown-menu{
				padding: 0 0;
			}
		}
	}
	.tab-content {
	    padding: 25px 0 10px; position: relative; margin: 0; overflow: hidden;
	    #comments,
	    > div{
			> h2, > h3, > h4, > h5, > h6 {
				text-transform: none;margin-top: 0;font-weight: bold; color: $link-color; margin-bottom: 15px; text-transform: uppercase;
			}
			> h2{
				font-size: 1.1428em;
			}
			> h3 {
				font-size: 1.0714em;
			}
			> h4, > h5, > h6 {
				font-size: 1em;
			}
		}
		#tab-description{
			p{
				margin-bottom: 15px;
				&:last-child{
					margin: 0;
				}
			}
			> ul{
				padding-left: 12px; margin: 15px 0;
			}
		}
		#reviews{
			h2:first-child{
				margin-bottom: 20px;
			}
			h3:first-child{
				margin-bottom: 10px;
			}
		}
	}
	#tab-sns_prod_custom_tab{
		.widget-title{
			padding:0;
			&:after,&:before{
				display:none;
			}
		}
	}
	
}

.upsells,
.cross-sells,
.related {
	position: relative; @include clearfix(); margin: 0 0;
	@include owl-nav1();
	> h2{
		margin: 0 0 20px;font-size: 2em;font-weight: bold;text-transform: uppercase; text-align: center; color: $link-color; overflow: hidden; line-height: 1.1;
		span{
			position: relative;
			&:before,
			&:after{ position: absolute; content: ""; height: 1px; min-width: 500px; left: -530px; top: 50%; background: $base-border-color; }
			&:after{ left: auto; right: -530px; }
		}
	}
	.prdlist-content{
	 	margin: 0 -8px;
		.product_list{
			margin: 0 0; opacity: 0;
			&.owl-loaded{ opacity: 1;}
			.product{padding: 8px 8px 53px; float: left}
			.owl-item{ float: left;
				.product{
					float: none;
				}
			}
		}
	}
	.owl-nav{
		@include transition(all 0.25s ease-out); visibility: none; @include opacity(0);
		.owl-next{
			left: auto; right: 8px;
		}
		.owl-prev{
			left: 8px;
		}
	}
	&:hover{
		.owl-nav{ @include opacity(1); visibility: visible;
			.owl-prev{
				left: 28px;
			}
			.owl-next{ 
				left: auto; right: 28px;
			}
		}
	}
}

.upsells-list{
	h2{
		font-size: 1.2307em; color: $link-color; text-transform: uppercase; font-weight: bold; display: block; padding: 0 0; margin: 0 0 20px; line-height: 1.1;
		> span{
			display: inline-block; position: relative;
		}
	}
	.product{
		padding: 15px 0 0; margin-top: 15px; border-top: 1px solid $base-border-color;
		&:first-child{margin-top: 0px; padding-top: 0px; border: none;}
	}
	.list-view{
		@include product-block-liststyle();
	}
}
.yith-wcwl-share{
	margin: 0 0 10px;
}

.item-animate {
    @include opacity(0);
    position: relative;
}
.play {
    .item-animate {
        @include opacity(1);
        @include animation-play-state(running);
    }
}
.fadeIn.play .item-animate { @include animation(fadeIn 300ms ease both); }
.fadeInDown.play .item-animate { @include animation(fadeInDown 300ms ease both); }
.fadeInUp.play .item-animate { @include animation(fadeInUp 300ms ease both); }
.fadeInRight.play .item-animate { @include animation(fadeInRight 300ms ease both); }

.zoomIn.play .item-animate { @include animation(zoomIn 300ms ease both); }
.zoomOut.play .item-animate { @include animation(zoomOut 300ms ease both); }

.bounceIn.play .item-animate { @include animation(bounceIn 300ms ease both); }
.bounceInRight.play .item-animate { @include animation(bounceInRight 300ms ease both); }

.pageRight.play .item-animate { @include animation(pageRight 300ms ease both); }
.pageLeft.play .item-animate { @include animation(pageLeft 300ms ease both); }
.pageTop.play .item-animate { @include animation(pageTop 300ms ease both); }
.pageBottom.play .item-animate { @include animation(pageBottom 300ms ease both); }

.woocommerce{
	.type-product.product-type-variable{
		form.cart.variations_form{
			div.variations{
				margin: 0 0 20px; padding: 0 0;
				div.label{
					padding: 0 0;
					label{
						font-weight: bold; margin: 0 0 6px; text-transform: uppercase; float: none; line-height: normal;
					}
				}
				div.value{
					padding: 0 0; margin-bottom: 5px; border: none;
					select{
						margin-bottom: 10px;
					}
					.sellect-wrap{
						display: inline-block;
					}
					.option{
						margin-right: 5px; border: 1px solid $base-border-color; cursor: pointer; display: inline-block;
						span{
							display: block; text-align: center; height: 25px;
						}
						&.text{ 
							span{
								margin: 0; padding: 0 10px; background: #FFF; line-height: 23px; height: 23px;
							}
							&:hover,
							&.selected{
								border-color: $link-color; 
							}
						}
						&.color{
							border-color: transparent; margin-right: 0px; float: left;
							span{
								margin: 5px; width: 13px; height: 13px;
							}
						}
						&.image{
							border-color: $base-border-color; 
							span{
								margin: 0px; width: 60px; height: 70px; background-size: cover;
							}
						}
						&.selected{
							border-color: $link-color; 
						}
					}
					a.reset_variations{
						margin: 0 0 0 10px; // position: relative; top: -5px;
					}
				}
			}
		}
	}
}
