/***************************************************
	scss file: assets/scss/theme/_shortcodes.scss
		+ Override style for some default shortcodes
		+ Style for our shortcodes - with prefix sns
****************************************************/
.page-header{
	margin: 0 0 30px; padding: 0 0; border: none; font-size: 2em;font-weight: bold;text-transform: uppercase; text-align: center; color: $link-color; overflow: hidden;
	span{
		position: relative;
		&:before,
		&:after{ position: absolute; content: ""; height: 1px; min-width: 500px; left: -530px; top: 50%; background: $base-border-color; }
		&:after{ left: auto; right: -530px; }
	}
}
// Heading or tile shortcode
.page-header,
h2.wpb_heading,
h3.wpb_heading{
	margin: 0 0 30px;font-size: 2em;font-weight: bold;text-transform: uppercase; text-align: center; color: $link-color; overflow: hidden; line-height: 1.1;
	span{
		position: relative;
		&:before,
		&:after{ position: absolute; content: ""; height: 1px; min-width: 500px; left: -530px; top: 50%; background: $base-border-color; }
		&:after{ left: auto; right: -530px; }
	}
}
h2.widgettitle,
h3.widgettitle{
	margin: 0 0 30px;font-size:1.1428em;font-weight: bold;text-transform: uppercase; line-height: 1.1;
}
.vc_custom_heading{ line-height: 1.1;
	&[class*="fa-"]{
		&:before{ font-family: FontAwesome; }
		span{ margin-left: 12px; }
		&.want-span-line{
			span{
				&:before{ left: -565px; /*  */}
			}
		}
	}
	&.want-span-line{
		margin: 0 0 30px; font-size: 2em;font-weight: bold;text-transform: uppercase; text-align: center; color: $link-color; overflow: hidden;
		span{
			position: relative;
			&:before,
			&:after{ position: absolute; content: ""; height: 1px; min-width: 500px; left: -530px; top: 50%; background: $base-border-color; }
			&:after{ left: auto; right: -530px; }
		}
	}
	&.uppercase{
		text-transform: uppercase;
	}
}

.vc_custom_heading.have-line-border{
	padding: 0 0 15px; margin: 0 0 30px; border-bottom: 1px solid $base-border-color; text-transform: uppercase;
}
.wpb_text_column{
	&.white{
		color: #FFF;
	}
	&.sns-intro-cat{
		h2{ font-size: 3em; margin: 0 0 25px; line-height: 1.1;
			@media (max-width: $screen-md-min) {
				font-size: 2em; margin-bottom: 15px;
			}
			@media (max-width: $screen-xs-max) {
				font-size: 1.5384em;
			}
		}
		p{ margin: 0 0 20px;
			@media (max-width: $screen-md-min) {
				margin-bottom: 15px;
			}
		}
		a{ position: relative; padding-right: 15px; font-weight: bold;
			&:before{ @include font-awesome('f101', 13px); right: 0px; top: 50%; margin-top: -7px; position: absolute; }
		}
	}
}
// vc_progress_bar
body {
	.vc_progress_bar{
		.vc_single_bar{
			box-shadow: none;-moz-box-shadow: none;-webkit-box-shadow: none;-o-box-shadow: none;-ms-box-shadow: none;margin-top: 35px;
			.vc_label{
				top: -20px; font-size: 100%; color: inherit !important; padding: 0 0 !important;text-shadow:none !important; 
				.vc_label_units{
					position: absolute; right: 0px;
				}
			}
		}
	}
	
}
// Single Image
.wpb_wrapper{
	.wpb_single_image{
		margin-bottom: 30px;	
	}
}
.wpb_single_image{
	&.banner1{ @include banner1(); }
	&.banner2{ @include banner2(); }
	&.banner3{ @include banner3(); }
	&.banner4{ @include banner4(); }
	&.banner5{ @include banner5(); }
	&.banner6{ @include banner6(); }
	&.banner7{ @include banner7(); }
	&.banner8{ @include banner8(); }
	&.banner9{ @include banner9(); }
	&.banner10{ @include banner10(); }
	&.banner11{ @include banner11(); }
	&.banner12{ @include banner12(); }
	&.banner13{ @include banner13(); }
}
// SNS Tags
.sns-tags{
	@include clearfix();
	.wpb_heading{
		padding-bottom: 10px; margin: 0 0 10px;
	}
	.tags-content{
		margin: 0 -13px;
		a{
			padding: 0 13px; display: inline-block; position: relative; float: left; color: $color; margin: 0 0 8px;
			&:hover{ color: $color1; }
			&:before{
				position: absolute; content: ""; height: 10px; width: 1px; background: #d0d0d0; top: 8px; right: 0px;
			}
			&:last-child{
				&:before{ display: none;}
			}
		}
		
	}
	&.title-inline{
		margin: 0 0 9px;
		.wpb_heading{ display: inline; float: left; padding: 0 0; margin: 0 5px 0 0; font-size: 1em; text-transform: uppercase; line-height: inherit;}
		.tags-content{ margin: 0 0;
			a{ padding: 0 7px; color: $color; margin: 0 0;
				&:hover{
					color: $color1;
				}
				&:before{
					position: absolute; content: "/"; height: 10px; width: 0px; color: #ccc; top: 1px; right: 3px;
				}
				&:first-child{padding-left: 0px;}
			}
		}
	}
}
// wpb_row & wpb_column
.wpb_row{
	.wpb_column{
		&.inline-inner-block{
			> .vc_column-inner{ padding-top: 0px;
				> .wpb_wrapper{
					> * { display: inline; float: left;}
				}
			}
		}
		&.float-right{ float: right;
			> .vc_column-inner{
				> .wpb_wrapper{
					float: right;
					@media (max-width: $screen-xs-max){ float: none;}
				}
			}
			@media (max-width: $screen-xs-max){
				float: none;
				> .vc_column-inner{ padding-left: 0px; margin-left: -10px}
			}
		}
	}
	&.row-grid-banner{
		.wpb_single_image{ margin-bottom: 10px;}
		@media (max-width: $screen-xs-max){ margin-bottom: 15px !important;}
	}
	@media (max-width: $screen-xs-max){
		&.row-no-margin{
			.vc_column-inner{
				padding-left: 0px !important; padding-right: 0px !important;
			}
		}
	}
	&.equal-col{
		margin: 0 ;
		> .wpb_column{
			border-left: 1px solid $base-border-color;
			@media (max-width: $screen-xs-max){ border: none;}
			> .vc_column-inner{ padding-left: 30px; padding-right: 30px; padding-bottom: 45px;}
			@media (max-width: $screen-xs-max){
				&:first-child{
					> .vc_column-inner{
						padding-top: 30px !important;
					}
				}
			}
		}
		.wpb_column{
			> .vc_column-inner{
				@media (max-width: $screen-xs-max){
					padding-right: 0px; padding-left: 0px; padding-top: 0px !important;
				}
			}
			&:first-child{ border-left: none;
				> .vc_column-inner{ padding-left: 0;}
			}
			&:last-child{
				> .vc_column-inner{ padding-right: 0;}
				@media (max-width: $screen-md-max){
					border-left: none;
					> .vc_column-inner{ padding-left: 0;}
				}
			}
		}
		.vc_row{ margin: 0 0; }
	}
	&.h5-row-newsletter .wpb_column{
		background: #FFF;
		@media (max-width: $screen-phone){
			.vc_column-inner{
				padding-left: 20px !important; padding-right: 20px !important;
			}
			&:first-child{
				.vc_column-inner{
					padding-bottom: 0px !important;
				}
			}
			&:last-child{
				.vc_column-inner{ padding-top: 10px !important; }
			}
		}
		.newsletter{
			@include clearfix();
			.tnp-field-email{
				float: left; margin-right: 20px; display: block; width: calc(100% - 165px);
				@media (max-width: $screen-phone){
					 width: 100%; margin-right: 0px; margin-bottom: 15px;
				}
				label{ display: none; }
				input.tnp-email{ border: none; border-bottom:2px solid $color1; padding: 9px 15px; width: 100%; box-shadow: none !important;
					&:focus,
					&:hover{ border-color: $color; }
				}
			}
			br{ height: 0px; line-height: 0px; display: none; }
			.tnp-field-button{ float: left; }
		}
	}

}
.wpb_column{
	&.col-special-carousel{
		.vc_column-inner{
			.sns-products{
				padding-left: 160px !important; padding-right: 160px !important;
			}
			.vc_custom_heading{ margin-top: 30px; }
			@media (max-width: $screen-md-max){
				padding-bottom: 0px !important;
				.sns-products{
					padding-left: 85px !important; padding-right: 85px !important;
				}
			}
			@media (max-width: $screen-md-min){
				.sns-products{
					padding-left: 30px !important; padding-right: 30px !important;
				}
			}
			.vc_custom_heading{ font-size: 2em !important; }
		}
	}
}
// SNS Cat Info
.sns-cat-info{
	&.style-1{
		position: relative;
		.cat-img{
			position: relative; display: block; text-align: center; background-color: #f2f2f2;
			&:before{
				content: ""; position: absolute; height: 100%; width: 100%; left: 0px; background: rgba(0,0,0,0.08); @include opacity(0); @include transition(all 0.15s ease-out);
			}
		}
		.cat-info{ position: absolute; width: calc(100% - 24px); display: block; padding: 12px 15px; left: 12px; bottom: 12px; background: rgba(255,255,255,0.9); text-align: center; @include transition(all 0.15s ease-out);
			.cat-title{ text-transform: uppercase; font-size: 1em; line-height: 1.1; font-weight: bold; margin: 0 0;
				a{ @include transition(all 0.15s ease-out); }
			}
			.cat-prd-num{ color: $color1; @include transition(all 0.15s ease-out); }
		}
		&:hover{
			.cat-img{
				&:before{ @include opacity(1); }
			}
			.cat-info{
				background: $color1;
				.cat-title a, .cat-prd-num{ color: #FFF; }
			}
		}
	}
	&.style-2{
		.cat-img{
			position: relative; display: block; text-align: center; background-color: #f4f4f4;
			&:before{
				content: ""; position: absolute; height: 100%; width: 100%; left: 0px; background: rgba(0,0,0,0.08); @include opacity(0); @include transition(all 0.15s ease-out);
			}
		}
		.cat-info{ display: block; text-align: center; @include transition(all 0.15s ease-out);
			.cat-title{ text-transform: uppercase; font-size: 1.2307em; line-height: 1.1; font-weight: bold; margin: 18px 0 3px;
				a{ @include transition(all 0.15s ease-out); }
			}
			.cat-prd-num{ color: $color1;}
		}
		&:hover{
			.cat-img{
				&:before{ @include opacity(1); }
			}
		}
		@media (max-width: $screen-xs-max){
			margin-bottom: 25px;
		}
	}
	&.style-3{
		position: relative; display: block; text-align: center; background-color: #f4f4f6; margin-bottom: 10px; border: 1px solid transparent; @include transition(all 0.15s ease-out);
		.cat-img{
			position: relative; display: block;
			&:before{
				content: ""; position: absolute; height: 100%; width: 100%; left: 0px; background: rgba(0,0,0,0.08); @include opacity(0); @include transition(all 0.15s ease-out);
			}
		}
		.cat-info{
			.cat-title{ text-transform: uppercase; font-size: 1em; line-height: 1.1; font-weight: bold; margin: 0 0; text-align: center; position: absolute; bottom: 20px; display: block; width: 100%;
				a{ background: #FFF; padding: 14px 22px; display: inline-block; 
					&:hover{
						color: $link-color; 
					}
				}
			}
		}
		&:hover{
			border-color: $color1;
			.cat-img{
				&:before{ @include opacity(1); }
			}
			.cat-info{
				.cat-title a{ background: $color1;}
			}
		}
	}
	&.style-4{
		position: relative; display: block; text-align: center; margin-bottom: 10px; @include transition(all 0.15s ease-out);
		.cat-img{
			display: block;position: relative;overflow:hidden;
			&:before {
				position: absolute;top: 0;left: -75%;z-index: 2;display: block;content: '';width: 50%;height: 100%;
				background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.4) 100%);
				background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,0.4) 100%);
				-ms-transform: skewX(-25deg);
				-o-transform: skewX(-25deg);
				-webkit-transform: skewX(-25deg);
				transform: skewX(-25deg);
			}
			&:hover{
				&:before {
					-webkit-animation: shinex 1s;
					-ms-animation: shinex 1s;
					-o-animation: shinex 1s;
					animation: shinex 1s;
				}
			}
		}
		.cat-info{
			.cat-title{ text-transform: uppercase; font-size: 1em; line-height: 1.1; font-weight: bold; margin: 0 0; text-align: center; position: absolute; bottom: 20px; display: block; width: 100%;
				a{ background: #FFF; padding: 12px 25px; display: inline-block; }
			}
		}
		&:hover{
			.cat-img{
				&:before{ @include opacity(1); }
			}
			.cat-info{
				.cat-title a{ background: $color1; color: #FFF;}
			}
		}
	}
}
// SNS Cat Info
.sns-advance-cat-info{
	@include clearfix(); position: relative; margin: 0 0 120px;
	@media (max-width: $screen-md-min){ margin: 0 0 60px}
	&:before{ position: absolute; content: ""; width: 100%; height: 220px; top: 110px; left: 0px; background: #fdf8f5; z-index: -1; }
	&.image-left{
		.cat-img{ float: left; }
		.cat-info{ padding-right: 35px; right: 0px;}
	}
	&.image-right{
		.cat-img{ float: right;}
		.cat-info{ padding-left: 35px; left: 0px;}
	}
	.cat-img{
		text-align: center; min-width: 50%; position: relative; z-index: 1;
	}
	.cat-info{
		-webkit-transform: translateY(150px);
		-ms-transform: translateY(150px);
		-o-transform: translateY(150px);
		transform: translateY(150px); @include transition(all 0.25s ease-out);
		position: absolute; width: 50%; z-index: 1;
		@media (max-width: $screen-phone){ display: none; }
		.cat-title{ font-size: 3em; font-weight: bold; margin: 0 0 15px;}
		.cat-desc{ @include transition(all 0.15s ease-out); @include opacity(0);
			.more-link{ margin: 15px 0 0;
				a{ position: relative; padding-right: 15px; text-transform: uppercase; @include transition(none);
					&:before{ @include font-awesome('f101', 13px); right: 0px; top: 50%; margin-top: -7px; position: absolute; }
				}
			}
		}
	}
	&:hover{
		.cat-img{
		}
		.cat-info{
			-webkit-transform: translateY(50px);
			-ms-transform: translateY(50px);
			-o-transform: translateY(50px);
			transform: translateY(50px);
			.cat-desc{ @include opacity(1); @include transition(all 0.45s ease-out);
				a{ @include transition(none); }
			}
		}
	}
}
// Info inline
.sns-info-inline{
	.vc_icon_element-icon{ margin-right: 5px;}
	&.social{
		margin-right: 17px; 
		.vc_icon_element-icon{ margin: 0;}
	}
	&.social_rounded{
		a{ height: 40px; width: 40px; line-height: 40px; text-align: center; @include border-radius(100%); background-color: #FFF; margin-right: 10px; float: left; font-size: 1.2307em;
			.vc_icon_element-icon{ margin: 0 0; }
			&:hover{
				background-color: $color1; color: #FFF;
			}
		}
	}
	&.have-left-border{
		padding-left: 20px; margin-left: 5px; position: relative;
		&:before{ position: absolute; content: ''; height: 12px; margin-top: -6px; width: 1px; left: 0px; top: 50%; background-color: #888;}
	}
	&.have-right-border{
		padding-right: 18px; margin-right: 5px; margin-left: 12px; position: relative;
		&:before{ position: absolute; content: ''; height: 12px; margin-top: -6px; width: 1px; right: 0px; top: 50%; background-color: #888;}
	}
}
// Promo Bar
.sns-promobar{
	position: relative; z-index: 2;
	.content{ display: none; }
	.wpb_text_column:last-child{ margin-bottom: 0; }
	.btn-tongle{ position: absolute; height: 20px; width: 20px; bottom: -20px; margin-bottom: 0px; right: 0px; cursor: pointer; @include opacity(1); @include transition(all 0.25s ease-out); background-color: $color1; @include border-radius(0 0 3px 3px);
		&:before{ @include font-awesome('f063', 20px); font-size: 11px; color: #FFF; }
	}
	&.active{
		.content{ display: block; }
		.btn-tongle{ margin-bottom: -10px; bottom: 50%; @include opacity(0); background-color: transparent; @include border-radius(0);
			&:before{ @include font-awesome('f00d', 20px); font-size: 14px; }
		}
		&:hover{
			.btn-tongle{ @include opacity(1); }
		}
	}
}
#sb_instagram{
	#sbi_images{ padding: 0 !important; margin: 0 -5px;
		.sbi_item{ padding: 5px !important;}
	}
}
.instagram-no-padding{
	#sb_instagram{
		#sbi_images{ padding: 0 !important; margin: 0;
			.sbi_item{ padding: 0 !important;}
		}
		
	}
}
// SNS Carousel
.sns-carousel{
	@include owl-nav1();
	.owl-nav{
		@include opacity(0); @include transition(all 0.25s ease-out);
		@media (min-width: $screen-md-max){
			.owl-prev {
				left: -50px;
			}
			.owl-next {
				right: -50px; left: auto;
			}
		}
	}
	&:hover{
		.owl-nav{ @include opacity(1); }
	}
	.owl-dots {
		text-align: center; margin: 5px 0 0;
		.owl-dot {
			@include inline-block();
			margin: 0 5px;
			> span {
				@include square(15px);border: 3px solid rgba(255,255,255,0.4); @include border-radius(100%); background: transparent; display: block; @include transition(all 0.25s ease-out);
			}
			&:hover, &.active {
				> span {
					background: #FFF; border-color: #FFF;
				}
			}
			&.active {
				> span {
					cursor: text;
				}
			}
		}
	}
	&.show-dotimg{
		.owl-carousel{ padding: 130px 0 0;
			@media (max-width: $screen-phone){ padding: 90px 0 0;}
			@media (max-width: $screen-xs-max){
				.owl-nav{ display: none; }
			}
		}
		.owl-dots{ position: absolute; top: 0px; width: 100%;
			text-align: center; margin: 5px 0 0;
			.owl-dot {
				margin: 0 5px; display: inline-block; @include square(100px); @include border-radius(100%); overflow: hidden; @include transition(all 0.25s ease-out); position: relative;
				border: 1px solid rgba(255,255,255,0.7);
				@media (max-width: $screen-phone){ @include square(60px); }
				&:before{
					position: absolute; left: 0px; top: 0px; z-index: 1; content: ""; background: rgba(255,255,255,0.7);
					@include transition(all 0.25s ease-out); width: 100%; height: 100%;
				}
				&:hover, &.active { border-color: $color1;
					&:before{ background: transparent; }
				}
				&.active {
					cursor: text;
				}
			}
		}
	}
	margin: 0 -15px;
	.wpb_single_image{ margin: 0 15px 0 15px;}

	&.testimonial-have-border{
		margin: 0 0; border: 1px solid $base-border-color; padding: 90px 30px 50px; position: relative;
		.owl-nav{
			@include opacity(1);
			.owl-prev {
				left: 0px;
			}
			.owl-next {
				right: 0px; left: auto;
			}
		}
		.box-avarta{ position: absolute; width: 100px; height: 100px; left: 50%; top: 0px; margin: -50px 0 0 -50px; border: 1px solid $base-border-color; @include border-radius(100%); overflow: hidden; }
	}

}
// SNS Vertical Menu
.sns-vertical-menu{
	.wpb_heading{
		color: $link-color;
		display: block; padding: 0 0 10px; margin: 0;
		> span{
			display: inline-block; position: relative;
			&:before{
				position: absolute; content: ""; width: 100%; height: 1px; background: $color1; left: 0px; bottom: -11px;
			}
		}
	}
}
// SNS Single Testimonial
.sns-single-testimonial{
	&.style1{  color: #FFF; margin: 0 15px;
		.avatar{ @include border-radius(100%); max-width: 100px; display: inline-block; overflow: hidden; float: left; margin: 0 30px 0 0;

		}
		.rating{ display: block; margin: 0 0 15px; width: 100%; height: 15px;
			.star-rating {
				float: left;display: inline-block;overflow: hidden;position: relative;height: 15px;line-height: 15px;font-size: 14px; width: 90px;
				letter-spacing: 4px; font-family: 'star';
				&:before {
					content: "\53\53\53\53\53";color: #cacaca;float: left;top: 0;left: 0;position: absolute;
				}
				span {
					overflow: hidden;float: left;top: 0;left: 0;position: absolute; padding-top: 24px; height: 24px;
				}
				span:before {
					content: "\53\53\53\53\53";color: #edcc18;top: 0;position: absolute;left: 0;
				}
			}
		}
		.content{ padding: 0 0 10px 130px; font-size: 1.2307em; font-style: italic;
			@media (max-width: $screen-phone){ padding-left: 0px; }
			.icon{ font-style: normal;}
		}
		.info{
			padding: 0 0 50px 130px; @include clearfix();
			@media (max-width: $screen-phone){ padding-left: 0px; }
			.name{ font-size: 1.2307em; color: $color1; display: inline-block; float: left;
			}
			.position { display: inline-block; float: left; position: relative; margin: 3px 0 0 5px; padding: 0 0 0 10px; font-style: italic;
				&:before{ position: absolute; content: ""; background-color: #FFF; left: 0px; top: 50%; margin-top: -1px; height: 1px; width: 5px; }
			}
		}
	}
	&.style2{ padding: 0 140px; text-align: center;
		@media (max-width: $screen-xs-max){ padding: 0 0px;}
		.content{ padding: 0 0 20px 0; font-size: 1.2307em; font-style: italic;
			.icon{ font-style: normal;}
		}
		.info{
			padding: 0 0; @include clearfix();
			.name{ font-size: 1.2307em; color: $color1; display: inline-block; 
			}
			.position { display: inline-block; position: relative; margin: 3px 0 0 5px; padding: 0 0 0 10px; font-style: italic;
				&:before{ position: absolute; content: ""; background-color: $color; left: 0px; top: 50%; margin-top: -1px; height: 1px; width: 5px; }
			}
		}
	}
	&.style3{  padding: 0 140px; text-align: center;
		@media (max-width: $screen-xs-max){ padding: 0 0px;}
		.avatar{ 
			@include border-radius(100%); display: inline-block; overflow: hidden;
		}
		.content{ padding: 0 0 20px 0; font-size: 1.2307em; font-style: italic;
			.icon{ font-style: normal;}
		}
		.info{
			padding: 0 0; @include clearfix();
			.name{ font-size: 1.2307em; color: $color1; display: inline-block; 
			}
			.position { display: inline-block; position: relative; margin: 3px 0 0 5px; padding: 0 0 0 10px; font-style: italic;
				&:before{ position: absolute; content: ""; background-color: $color; left: 0px; top: 50%; margin-top: -1px; height: 1px; width: 5px; }
			}
		}
	}
}

// SNS List Product
.sns-list-posts{
	&.style1{
		.item-row{
			.item-post{ @include clearfix(); margin-top: 30px;
				&:first-child{ margin-top: 0; }
				@media (max-width: $screen-xs-max) {
					margin-bottom: 30px;
					&:last-child{ margin-bottom: 0px; }
				}
				.post-img{ float: left; position: relative; margin: 0 30px 0 0; min-height: 50px; min-width: 40px;
					a{
						display: block;position: relative;overflow:hidden;
						&:before{
						 	content: "";display: block;height: 100%;width: 100%;position: absolute;	@include transition(all 0.25s ease-out);background: rgba(0, 0, 0, 0.15);@include opacity(0);
						}
					}
					.date-blog{ position: absolute; height: 50px; width: 40px; top: 0; right: -10px; background: $color1; color: #FFF; text-align: center; line-height: 1;
						.day{ font-size: 2em; display: block; margin: 3px 0; }
						.month{ display: block; }
					}
				}
				.post-title{ text-transform: uppercase; font-weight: bold; margin: 0 0 10px;
					@media (min-width: $screen-md-min) {
						line-height: 1.1;
					}
				}
				.post-excerpt{ margin: 0 0 14px;}
				.post-mlink{ 
					a{ text-transform: uppercase; color: $color1; position: relative;
						&:before{ @include font-awesome('f0a9', 13px); left: -16px; top: 1px; position: absolute; font-size: 1em; @include transition(all 0.25s ease-out);
							 @include opacity(0);
						}
						&:hover{
							padding-left: 16px;
							&:before{ left: 0px; @include opacity(1); }
						}
					} 
				}
				&:hover{
					.post-img{
						a{
							&:before{
								@include opacity(1);
							}
						}
					}
				}
			}
		}
	}
	&.style2{
		.item-post{ @include clearfix();
			@media (max-width: $screen-xs-max) {
				margin-bottom: 15px
			}
			.post-img{ @include clearfix();
				a{
					display: block;position: relative;overflow:hidden;
					&:before{
					 	content: "";display: block;height: 100%;width: 100%;position: absolute;	@include transition(all 0.25s ease-out);background: rgba(0, 0, 0, 0.15);@include opacity(0);
					}
				}
			}
			.post-content{
				padding: 25px 30px; min-height: 125px; background: $link-color; color: #FFF;
				.post-title{ margin: 0 0 8px;
					a{ color: #FFF; text-transform: uppercase; font-weight: bold;
						&:hover{
							color: $color1;
						}
					}
				}
				.post-meta{ @include clearfix();
					.post-author{
						display: inline-block; margin: 0 20px 0 0;
						a{ position: relative; padding-left: 18px; color: #FFF;
							&:before{ position: absolute; left: 0px; top: 1px; @include font-awesome('f007', 13px); }
							&:hover{
								color: $color1;
							}
						}
					}
					.post-date{ display: inline-block; margin: 0 20px 0 0;
						span{ position: relative; padding-left: 18px;
							&:before{ position: absolute; left: 0px; top: 1px; @include font-awesome('f272', 13px); }
						}
					}
				}
			}
			&:hover{
				.post-img{
					a{
						&:before{
							@include opacity(1);
						}
					}
				}
			}
		}
	}
	&.style3{
		.item-post{ @include clearfix(); margin-top: 30px;
			&:first-child{ margin-top: 0; }
			.post-img{ float: left; position: relative; margin: 0 15px 0 0;
				a{
					display: block;position: relative;overflow:hidden;
					&:before{
					 	content: "";display: block;height: 100%;width: 100%;position: absolute;	@include transition(all 0.25s ease-out);background: rgba(0, 0, 0, 0.15);@include opacity(0);
					}
				}
			}
			.post-title{ margin: 0 0 5px; line-height: 1; overflow: hidden;text-overflow: ellipsis; white-space: nowrap;}
			.post-author{ color: #888;
				a{ position: relative; padding-left: 18px; color: #888;
					&:before{ position: absolute; left: 0px; top: 2px; @include font-awesome('f007', 13px); }
					&:hover{
						color: $color1;
					}
				}
			}
			.post-date{ color: #888;
				span{ position: relative; padding-left: 18px;
					&:before{ position: absolute; left: 0px; top: 1px; @include font-awesome('f272', 13px); }
				}
			}
			&:hover{
				.post-img{
					a{
						&:before{
							@include opacity(1);
						}
					}
				}
			}
		}
	}
	&.style4{
		.item-post{ @include clearfix();
			.post-img{ margin: 0 0 30px; display: block;
				a{
					display: block;position: relative;overflow:hidden;
					&:before{
					 	content: "";display: block;height: 100%;width: 100%;position: absolute;	@include transition(all 0.25s ease-out);background: rgba(0, 0, 0, 0.15);@include opacity(0);
					}
				}
			}
			.post-content{
				padding-left: 55px; padding-bottom: 30px; position: relative;
				.date-blog{ position: absolute; height: 50px; width: 40px; top: 0; left: 0px; background: $color1; color: #FFF; text-align: center; line-height: 1;
					.day{ font-size: 2em; display: block; margin: 3px 0; }
					.month{ display: block; }
				}
				.post-title{ text-transform: uppercase; font-weight: bold; margin: 0 0 10px; font-size: 1.2307em;
					@media (min-width: $screen-md-min) {
						line-height: 1.1;
					}
				}
				.post-excerpt{ margin: 0 0 14px;}
				.post-mlink{ 
					a{ text-transform: uppercase; color: $color1; position: relative;
						&:before{ @include font-awesome('f0a9', 13px); left: -16px; top: 1px; position: absolute; font-size: 1em; @include transition(all 0.25s ease-out);
							 @include opacity(0);
						}
						&:hover{
							padding-left: 16px;
							&:before{ left: 0px; @include opacity(1); }
						}
					} 
				}
			}
			&:hover{
				.post-img{
					a{
						&:before{
							@include opacity(1);
						}
					}
				}
			}
		}
	}
}

// Contact form 7
div.wpcf7-response-output{
	margin: 0 0 25px; border: none;
}
div.wpcf7-mail-sent-ng{
	border: none;
}
div.wpcf7-validation-errors {
	border: none; background:#f2dede; color: #b94a48; padding: 6px 15px;
}
div.wpcf7-mail-sent-ok{
	@include alert-styles($alert-success-bg);
	@include alert-variant($alert-success-bg, $alert-success-border, $alert-success-text);
	background-image: none;
}
div.wpcf7-validation-errors {
	color: #a94442; background-color: #f2dede; border-color: #ebccd1;
}
span.wpcf7-not-valid-tip{
	margin: -10px 0 10px;
}
.wpcf7-form{
	.wpcf7-text{
		max-width: 100%; width: 100%; margin-bottom: 20px;
	}
	.wpcf7-textarea{
		max-width: 100%; width: 100%; margin-bottom: 30px; max-height: 120px;
	}
	br{
		display: none;
	}
	.sns-newsletter{
		position: relative;
		label{ margin: 0 0;}
		p{ margin: 0 0 20px;}
		.inner{
			position: relative; margin-bottom: 20px;
			.wpcf7-text{
				border:none; @include border-radius(5px); padding: 0 10px; line-height: 38px; position: relative; border: 1px solid $color; background-color: transparent; margin-bottom: 10px;
			}
			.wpcf7-submit{
				position: absolute; top: 0px; right: 0px; background: $color; color: #FFF; @include border-radius(0 5px 5px 0); border: none;
				padding: 0 20px; height: 40px; line-height: 40px; z-index: 2;
				&:focus,
				&:hover{
					background: $color; color: $color1;
				}
			}
		}
		.ajax-loader{
			position: absolute; top: 15px; right: 45px;
		}
		span.wpcf7-not-valid-tip{
			margin:0 0 0;
		}
	}
}
.newsletter-prefix{
	p{
		text-transform: uppercase; color: #FFF; font-size: 1.2857em; position: relative; padding: 0 0 0 65px; margin-top: 10px;
		&:before{
			position: absolute; @include font-awesome('f1d9', 36px); font-size: 36px; left: 0px; top: 0px;
		}
	}
}

.wpb_text_column.text-store-address{ padding-right: 100px; margin-bottom: 25px;
	h5{ text-transform: uppercase; padding-left: 18px; position: relative;
		&:before{
			position: absolute; left: 0px; top: 50%; margin-top: -7px; @include font-awesome('f041', 13px); font-size: 15px;
		}
	}
}
.wpb_gmaps_widget.wpb_content_element .wpb_wrapper{ padding: 0 0;}

// Accordion
.vc_tta-accordion{
	&.sns-transparent{
		.vc_tta-panel{
			.vc_tta-panel-heading{
				background-color: transparent !important;
			}
			.vc_tta-panel-title{
				font-size: 1em !important; font-weight: normal; 
				> a{
					padding: 10px 10px 10px 20px !important; color: color !important;
					.vc_tta-controls-icon{ left: 0px !important;
						&.vc_tta-controls-icon-chevron{
							&:before{
								border-width: 0 1px 1px 0 !important; top: 3px !important; bottom: 3px !important; left: 3px !important; right: 3px !important; border-color: inherit !important;
							}
						}
					}
					&:hover{
						color: $color1 !important;
					}
				}
			}
			.vc_tta-panel-body{ border: 1px solid $base-border-color; padding: 20px !important; margin: 10px 0;
				.wpb_text_column{ margin-bottom: 0px !important;
					ol,ul{
						padding-left: 25px;
					}
				}
			}
			&.vc_active {
				.vc_tta-panel-title{
					> a{
						color: $link-color !important;
						&:hover{
							color: $link-color !important;
						}
					}
				}
			}
		}
	}
}

// Row
section.full-width .vc_container.section-content {
	width: 100%;
	padding: 0 15px;
}

// Info box
.sns-info-box{
	position: relative; @include transition(all 0.25s ease-out); margin-bottom: 20px;
	&.have-border{
		border: 1px solid $base-border-color; padding: 20px 20px;
	}
	@media (max-width: $screen-xs-max) {
		margin-bottom: 30px;
	}
	@media (min-width: $screen-xs-max) {
		&.have-border-left{
			padding-left: 15px;
			&:before{
				position: absolute; content: ""; width: 1px; left: -15px; background-color: $base-border-color;
				height: 100%; top: 0;//height: 60px; margin-top: -30px; top: 50%;
			}
			&.center{
				&:before{ left: -7px; }
			}
		}
	}
	@media (max-width: $screen-md-max) {
		&.not-border-ipadl{
			padding-left: 0px;
			&:before{display: none;}
		}
	}
	@media (max-width: $screen-md-min) {
		&.not-border-ipadp{
			padding-left: 0px;
			&:before{display: none;}
		}
	}
	&:hover{
		border-color: #b1b1b1;
		.info-box-wrapper{
			.icon{
				span.vc_icon_element-icon,
				img{
					@include animation(SNSLucLac 600ms ease both);
				}
			}
		}
	}
	.info-box-wrapper{
		@include clearfix();
		width: 100%;
		position: relative;		
		&.right{
			text-align: right; margin-bottom: 12px; margin-top: 12px;
		}
		&.left{
			text-align: left;
		}
		&.center{
			text-align: center;
		}
		.icon{
			position: relative; display: inline-block; text-align: center; float: left; margin: 0 20px 0 0;
			@include transition(all 0.25s ease-out);
			span{
				@include transition(all 0.25s ease-out);
			}
			img{
				@include transition(all 0.25s ease-out);
			}
		}
		.vc_icon_element-icon{
			display: inline-block;vertical-align: top;overflow: hidden;@include transition(all 0.25s ease-out);
			background: transparent; font-size: 25px;
		}
		.content-info-box{
			vertical-align: middle; padding: 0 0;
			h2.sc_heading{
				font-size: 1.2857em; margin: 0 0 5px;color: $link-color;text-transform: uppercase; line-height: 1.1;
				a{
					position: relative;@include transition(all 0.25s ease-out); color: inherit;
				}
				&:hover{
					color: $color1
				}
			}
			p{
				margin: 0 0;
			}
		}
	}
	&.center{
		text-align: center;
		.info-box-wrapper{
			.icon{
				float: none; margin: 0 auto 25px; @include transition(all 0.25s ease-out);
				.vc_icon_element-icon{ @include transition(all 0.25s ease-out); }
			}
			.content-info-box{
				h2.sc_heading{ margin: 0 0 20px; }
			}
		}
		&:hover{
			.info-box-wrapper{
				.icon{
					border-color: $color1;
					.vc_icon_element-icon{ color: $color1; }
				}
			}
		}
	}
	&.icon-border-rounded{
		.info-box-wrapper{
			.icon{
				width: 80px; height: 80px; border: 2px solid $color; @include border-radius(100%); line-height: 76px !important;
				.vc_icon_element-icon{ line-height: 76px !important; }
			}
		}
		&:hover{
			.info-box-wrapper{
				.icon{
					border-color: $color1;
					.vc_icon_element-icon{ color: $color1; }
				}
			}
		}
	}
}

// contact form 1
.contact_form{
	h3{
		font-size: 1.857em;
		color: #333;
		font-weight: bold;
		margin-bottom: 15px;
	}
	input{
		margin-bottom: 10px !important;
	}
	textarea{
		height: 135px;
	}
}
// 
.sns-sale-count-down{
	background: #FFF;
	.product{
		margin: 0; @include clearfix();
		.item-img{ padding: 0 50px 0 0; width: 50%; float: left; 
			@media(max-width: $screen-phone){
				width: 100%; padding: 0 15px;
			}
		}
		.item-info{ padding: 50px 20px 0 0; width: 50%; float: left;
			@media(max-width: $screen-phone){
				width: 100%; padding: 15px 15px 0 15px;
			}
			.cat-links{ margin: 0 0 5px; color: $color1;
				a{ font-size: 0.7692em; text-transform: uppercase; color: $color1; }
			}
			.item-title{ font-size: 3em; line-height: 1.1; }
			
			.star-rating{
				display: inline-block;float: none; height: 16px; line-height: 16px; margin: 0 0 5px;
			}
			.price{
				display: block; margin-bottom: 10px;
				.amount{ font-size: 1.8em; }
				del::before{
					margin-top: -5px;
				}
			}
			.woocommerce-product-details__short-description{ margin-bottom: 20px; }
			.sold-bar{
				@include clearfix(); margin-bottom: 35px;
				.num-sold{ float: left; text-transform: uppercase; color: $link-color; }
				.num-stock{ float: right; text-transform: uppercase; color: $link-color;  }
				.the-bar{ height: 10px; width: 100%; background: $base-border-color; @include border-radius(10px); @include clearfix(); float: left; margin-top: 5px; position: relative;
					span{ height: 10px; background: $color1; position: absolute; left: 0px; top: 0px; @include border-radius(10px); }
				}
			}
			.count-down-heading{ text-transform: uppercase; font-weight: normal; color: $link-color; font-size: 1em; margin-bottom: 15px; }
			.time-count-down{
				margin-bottom: 30px;
				.clock-digi{ overflow: hidden; display: inline-block;
					> div { display: inline-block; float: left; padding: 0; width: 54px; height: 54px; margin: 0 8px 0 0; text-align: center;
						text-transform: uppercase; font-size: 10px; @include border-radius(5px); border: 2px solid $color1;
						> div { display: block; padding: 6px 0 0; font-size: 16px; line-height: 22px; text-transform: none; color: $link-color; }
					}
				}
			}
		}
	}
}
// SNS Products
.sns-products{
	&.list-mode{
		.wpb_heading{
			font-size: 1.2307em; text-align: left; margin: 0 0 25px;
			span{
				&:before,&:after{ display: none; }
			}
		}
		.prdlist-content{
			.product_list{
				.item-row{
					div.product{
						padding: 15px 0 0; margin-top: 15px; border-top: 1px solid $base-border-color;
						&:first-child{ margin-top: 0px; padding-top: 0px; border: none; }
						.item-img.thumb-7080{ max-width: 70px; }
					}
				}
			}
		}
	}
	&.gird-mode{
		.wpb_heading{ margin: 0 0 15px}
		.prdlist-content{
			.product_list{
				div.product{ padding-top: 8px; padding-bottom: 53px; /* 65+8 */ }
				.item-row{
					div.product{ padding-bottom: 22px;
						&:last-child{ padding-bottom: 53px; }
					}
				}
			}
		}
		&.style3{
			.prdlist-content{ margin: 0 -15px;
				.product_list{
					div.product{
						padding-left: 15px; padding-right: 15px;
					}
					.item-row{
						padding-left: 15px; padding-right: 15px;
						div.product{
							padding-left: 0; padding-right: 0px;
						}
					}
				}
			}
			.owl-nav{
				.owl-prev,
				.owl-next{ margin-top: -46px; }
			}
		}
	}
	.prdlist-content{
	 	margin: 0 -8px;
		.product_list{
			margin: 0 0;
			div.product{
				padding: 0 8px;
			}
			.item-row{
				padding: 0 8px;
				div.product{
					z-index: 0; padding-left: 0; padding-right: 0px;
					&:hover{ z-index: 1;}
				}
			}
			&.grid{
				.product{ }
			}
			&.list{
				.list-view{
					@include product-block-liststyle();
				}
			}
		}
	}
	@include owl-nav1();
	.owl-nav{ @include transition(all 0.25s ease-out); visibility: none; @include opacity(0);
		@media(min-width: $screen-md-max){
			.owl-prev{ left: -50px; }
			.owl-next{ left: auto; right: -50px; }
		}
	}
	&:hover{
		.owl-nav{ @include opacity(1); visibility: visible;}
	}
	&.title-style2{
		.wpb_heading{
			font-size: 3em; text-transform: none; margin-bottom: 30px; padding-bottom: 30px; background: url(#{$base-url}/lip-bg-title.png) no-repeat center bottom;
			span{
				&:before,
				&:after{ display: none; }
			}
		}
	}
	&.special-carousel{
		.product_list.grid .block-product-inner{ border: none; }
	}
}
// Products Ajax Tab
.sns-products-ajaxtab{
	&.tab-header-style2{
		.header-tab{
			text-align: center; margin: 0 0 20px;
			@media(max-width: $screen-md-min){ margin: -30px 0 0; }
			ul.nav-tabs {
				&:before,
				&:after{ display: none; }
				> li {
					display: inline-block; margin: 0 5px; padding: 0 0; float: none; position: relative;
					&:before{ display: none; }
					&.active, &:hover{
						> a {
							color: #FFF; background: $color1;
						}
					}
					> a {
						@include transition(all 0.25s ease-out);font-size: 16px; text-transform: uppercase; font-weight: bold; background: none; border: none;
						display: inline-block; position: relative; padding: 7px 20px; margin: 0 0; @include border-radius(5px); line-height: inherit;
					}
				}
			}
		}
		.content-tab{
			.prdlist-content{
				.product_list{
					.item-row{
						> div.product{
							padding-bottom: 40px;
							&:last-child{ padding-bottom: 53px; }
						}
					}
				}
			}
		}
	}
	.header-tab{ text-align: center; margin-top: -50px;
		@media(min-width: $screen-md-min){ overflow: hidden; margin-top: 0px; }
		ul.nav-tabs {
			@include ulclear(); position: relative; z-index: 1; border-bottom:none; padding: 0 0; margin: 0 0 10px; text-align: center; display: inline-block;
			@media(max-width: $screen-md-min){ display: none; }
			&:before,
			&:after{ position: absolute; content: ""; height: 1px; min-width: 500px; left: -508px; top: 50%; background: $base-border-color; }
			&:after{ left: auto; right: -508px; }
			> li {
				display: inline-block; margin: 0 22px; padding: 0 0; float: none; position: relative;
				&:before{
					height: 5px; width: 5px; position: absolute; content: ""; background: $base-border-color; left: -25px; top: 50%; margin-top: -3px;
				}
				&:first-child{
					&:before{ display: none; }
				}
				&.active, &:hover{
					> a {
						color: $color1;
					}
				}
				> a {
					@include transition(all 0.25s ease-out);font-size: 2em; text-transform: uppercase; font-weight: bold; background: none; border: none;
					display: inline-block; position: relative; margin: 0 0; line-height: inherit;
				}
			}
		}
		ul{
			@include clearfix(); @include ulclear();
			li.dropdown{
				.dropdown-toggle{
					display: inline-block; font-size: 20px; height: 20px; width: 20px;
				}
				ul.dropdown-menu{
					padding: 0 0;
					li{ @include transition(all 0.25s ease-out);
						a{ padding: 5px 10px 5px 18px; margin-left: 10px; position: relative;}
						&:hover{
							background-color: #efefef;
							a{ background-color: #efefef; }
						}
						&.active{
							background-color: $color1;
							a{ color: #FFF; background-color: $color1; }
						}
					}
				}
			}
		}
	}
	.content-tab{ @include clearfix();
		.prdlist-content{
			margin: 0 -8px;
			.product_list{
				&.simple-effect{
					opacity: 0.4; @include transition(all 0.2s ease-in 0s);
				}
				div.product{ padding: 8px 8px 53px;}
				.item-row{
					padding: 0 8px;
					> div.product{ padding-left: 0px; padding-right: 0px; z-index: 0;
						&:hover{ z-index: 1;}
					}
					&.row-type-1{
					}
				}
				@include owl-nav1();
				.owl-nav{ @include transition(all 0.25s ease-out); visibility: none; @include opacity(0);
					@media(min-width: $screen-md-max){
						.owl-prev{ left: -50px; }
						.owl-next{ left: auto; right: -50px; }
					}
				}
				&:hover{
					.owl-nav{ @include opacity(1); visibility: visible;}
				}
			}
			&.active{
				.product_list.simple-effect{
					opacity: 1;
				}
			}
		}
		.content-tab-inner{
			position: relative;
			&.tab-loading{ min-height: 40px;
				> div { @include opacity(0.4); }
				&:after{
					position: absolute;top: 50%;left: 50%;line-height: normal; margin-top:-20px; text-align: center;
				    color: rgba(0, 0, 0, 0.75); z-index: 2; @include font-awesome('f1ce', 40px); font-size: 40px;
				    -webkit-animation: spin 1s ease-in-out infinite;
				    -moz-animation: spin 1s ease-in-out infinite;
				    -o-animation: spin 1s ease-in-out infinite;
				    animation: spin 1s ease-in-out infinite;
				}
			}
		}
	}
}