/***************************************************
	scss file: /assets/scss/theme/_snsmenu.scss
		+ Style for main menu
		+ Style for Vertical Menu
****************************************************/
#sns_mainmenu {
	display: inline-block;
	&:hover {
		overflow: visible; position: static;
	}
	> p.main_navigation_alert{
		color: $color; line-height: 50px; margin: 0 0;
	}
	li:hover {z-index: 999;}
	ul#main_navigation {
		@include clearfix();
		@include ulclear(); text-align: center; float: none;
		li.menu-item{ list-style:none;
			.megamenu-title{
				text-transform: uppercase;
				i{margin-right: 10px;}
				img.sns-megamenu-icon-img{
					display: inline-block;height: auto;vertical-align: middle;margin-right: 10px;
				}
			}
			a{
				i{margin-right: 10px;}
				img.sns-megamenu-icon-img{
					display: inline-block;height: auto;vertical-align: middle;margin-right: 10px;
				}
				&:focus{background: none}
			}
			
		}
		// Level 1
		> li.menu-item { 
			border: none;position: relative; display: inline-block;text-align: left; float: none; padding: 0 20px;
			&.enable-mega {
				position: static;
				.sub-content{
					display: none; position: absolute; @include effect-block-hide(); z-index: 999; box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2); width: 100%;
					@include mega-cols(); left: 0; background: #fff;
					@media (min-width: $screen-lg-desktop) and (max-width: 1500px) {
						width: 100%;
					}
					li.menu-item{
					 	position: relative; 
						a{	
							padding: 4px 0px; display: block; color: $color;
						}
						&.have-icon{
							> a{
								i{margin-right: 8px;}
							}
						}
						ul.sub-menu{
							padding: 0px 15px 30px 15px;
						}
						// ul of level n, n >=2
						ul.sub-menu:not(.enable-megamenu) {
							display: none;position: absolute; padding: 10px 0; @include effect-block-hide(); border: 1px solid #eaeaea; z-index: 999; width: 220px; left:208px; 
						}
						&:hover{
							> ul.sub-menu:not(.enable-megamenu){@include effect-block-show(); top: 2px; z-index: 999}
							> a{
								color: $color1;
								i{color: $color1;}
								&:before {color: $color1;}
							}
						}
						&.current-menu-item{
							> a{
								color: $color1;
								i{color: $color1;}
								&:before {color: $color1;}
							}

						}
					}
					> ul.columns {
						@include mega-cols(); left: 0; position: relative; z-index: 999; margin: 0; padding: 0 20px;
						> li.menu-item{
							&:before{
								content: "";width: 1px;height: 100%;position: absolute;left: 0;top: 0;
							}
							&:first-child:before{
								display: none;
							}
						}
						li.menu-item{
							position: relative;
							.megamenu-title{
							    display: block; margin: 35px 15px 10px 15px; padding: 0 0; font-size: 1.2307em; text-transform: uppercase;
							    a{
							    	color: $link-color;padding: 0 0 0; position: relative; display: inline-block;
							    }
							    img:hover{
									@include opacity(0.8);
							    }
							}
							> ul.sub-menu{
								li.menu-item-has-children{
									&:before{ position: absolute; top: 50%; right: 0px; margin-top: -10px; @include font-awesome('f125', 20px); font-size: 10px;}
									&:hover{
										ul.sub-menu{
											display: block; @include effect-block-show(); top: 2px; z-index: 999;
										}
									}
								}
								li.current-menu-ancestor{
									>a{
										color: $color1;
									}	
								}
								ul.sub-menu{
									display: none;position: absolute; background: #fff; padding: 15px 20px;@include effect-block-hide(); box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);z-index: 999;
									width: 220px; left:100%; 
									li.menu-item a:hover{
										color: $color1;
									}

								}
							}
						}
						> li.menu-item{
							float: left;
						}
						&.col-1{
							> li.menu-item{
								width: 100%;
							}
						}
						&.col-2{
							> li.menu-item{
								width: 50%;
							}
						}
						&.col-3{
							> li.menu-item{
								width: 33.33%;
							}
						}
						&.col-4{
							> li.menu-item{
								width: 25%;
							}
						}
						&.col-5{
							> li.menu-item{
								width: 20%;
							}
						}
						&.col-6{
							> li.menu-item{
								width: 16.66%;
							}
						}
					}
					> ul.columns {
						width: 100%;
					}
					&.has-left-content{ @include clearfix();
						> ul.columns {
							width: 65%; float: left;
						}
						.menu-left-sidebar{
							padding: 35px 20px 10px; width: 35%; float: left;
						}
					}
					&.has-right-content{ @include clearfix();
						> ul.columns {
							width: 65%; float: left;
						}
						.menu-right-sidebar{
							padding: 35px 20px 10px; width: 35%; float: left;
						}
					}
					.menu-bottom-sidebar{
						padding: 15px 20px 10px; float: left;
					}
				}

				&:hover { // hover on Level 1 megamenu
					.sub-content{
						display: block;@include effect-block-show();
					}
				}
			}
			&:first-child {
				// > a { margin-left: 0;}
			}
			ul.sub-menu{
				padding: 0 0;
			}
			// ul of level 2
			> ul.sub-menu{
				display: none; position: absolute; left: -10px; background: #fff; @include effect-block-hide(); z-index: 999;
				min-width: 280px; padding: 20px 0; box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
				li.menu-item{ 
					position: relative; margin:0px;
					&:last-child{
						border:none;
					}
					a{
						padding: 4px 30px; display: block;color: $text-color;font-size: 1em;
					}
					&.have-icon{
						> a{
							i{margin-right: 10px;}
						}
					}
					&.menu-item-has-children{
						&:before{ position: absolute; top: 50%; right: 20px; margin-top: -8px; @include font-awesome('f105', 16px); font-size: 16px;}
					}
					// ul of level n, n >=2
					ul.sub-menu:not(.enable-megamenu) {
					    position: absolute; padding: 20px 0; min-width: 280px; background: #fff; top: 0%; left: calc(100% + 20px); box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2); z-index: 999; @include effect-block-hide-child();
					}
					&:hover{
						> ul.sub-menu:not(.enable-megamenu){
							@include effect-block-show-child(); left: 100%;
						}
						> a{
							color: $color1;
							i{color: $color1;}
						}
						&:before{
							color: $color1;
						}
					}
					&.current-menu-item,
					&.current-menu-parent{
						> a{
							color: $color1;
							i{color: $color1;}
							&:before {color: $color1;}
						}
					}
				}
			}
			&.menu-item-has-children{
				> a { padding-right: 18px;
					&:before{ position: absolute; top: 50%; right: 0px; margin-top: -7px; @include font-awesome('f0d7', 13px); font-size: 13px; color: #ccc; @include transition(all 0.2s ease-out); }
					&:after{
	    				position: absolute;	content: ""; width: calc(100% - 18px); height: 3px; background-color: $color1; left: 0px; bottom: 0px; @include opacity(0);
	    			}
				}
			}
			> a { // link level 1
				display:block; padding: 15px 0px; font-size: 1em; font-weight: bold; text-transform: uppercase; position: relative; z-index: 9;
    			margin: 0; @include transition(all 0.2s ease-out);
				&:hover{
					background:none;
				}
			}
			&.current-menu-ancestor,
			&.current-menu-item{
				> a{
					color: $color1;
					&:before{ color: $color1; }
				}
			}
			&:hover { // hover on Level 1
				> a{
					color: $color1;
					&:before{ color: $color1; }
				}
				> ul.sub-menu {
					display: block;@include effect-block-show(); z-index: 999; top: 100%;
				}
				&.menu-item-has-children{
					> a{
						&:before,&:after{
							opacity: 1;
							visibility: visible;
							@include transition(all 0.4s ease);
						}
					}
				}
			}
		}
	}
}

// Responsive Menu
#sns_content_rsm {
	@media (max-width: $screen-md-min){
		position: fixed;top: 0; @include transition(all 0.3s ease-out); left: -290px; height: 100%; overflow: auto; width: 290px; background: #f5f5f5;
		padding: 35px 20px; z-index: 99999; text-align: left;
		&.active {
			left: 0;@include opacity(1);
		}
		.sns-searchwrap{ margin-bottom: 15px;}
	}
	
	// Accordion 
	#sns_resmenu{
		line-height: 48px;
		ul {
			@include ulclear();
		}
		.resp-nav {
			.accr_content {
				padding-left: 15px;
			}
			a{
				color: $link-color; text-transform: uppercase; font-weight: bold;
				&:hover,
				&.active {color: $color1;}
			}
			.accr_header {
				border-bottom: 1px solid $base-border-color; padding: 0; position: relative;
				.btn_accor{
					position: absolute; top: 50%; right: 0px; cursor: pointer; margin-top: -7px;
					.ac-tongle{
						display: block; @include square(14px); text-align: center; @include transition(all 0.25s ease); font-size: 0px; position: relative; 
						&:before {
							@include font-awesome('f0d8', 14px); font-size: 14px; position: absolute; left: 0px; top: 0px;
						}
						&:hover {
							&:before{
								color: $color;
							}
						}
						&.open{
							&:before { @include font-awesome('f0d7', 14px); color: #cdcdcd; }
						}
						&.close{ @include opacity(1);
							&:before { @include font-awesome('f0d8', 14px); color: $color; }
						}
					}
				}
			}
		}
	}
}
// Icon
.sns-icon-nav{
	margin: 0px 0px;
	ul { @include ulclear(); }
	> [class*="btn"] {
		@include inline-block(); width: 26px; height: 26px;line-height: 26px;margin-right: 10px; padding: 0;border: 0; cursor: pointer; position: relative; color: $link-color;
		&:hover{
			color: $color1;
		}
		&.offcanvas,
		&.leftsidebar,
		&.rightsidebar {
			&:before{ position: absolute; font-size: 26px; }
			.overlay{
				&:before{
					@include font-awesome('f00d', 26px); font-size: 26px; color: #FFF; position: absolute; left: 298px; top: 45px; @include transition(none);
				}
			}
		}
		&.offcanvas { 
			&:before{@include font-awesome('f0c9', 26px);}
		}
		&.leftsidebar {
			&:before{ @include font-awesome('f051', 26px);}
		}
		&.rightsidebar {
			&:before{ @include font-awesome('f048', 26px);}
			.overlay{
				&:before{
					left: auto; right: 298px;
				}
			}
		}
		&.leftsidebar,
		&.rightsidebar { display: none; }
	}
	.overlay {
		content: "";display: none;position: fixed; @include square(100%);top: 0; left: 0; right: 0; bottom: 0; z-index: 999;background: $black;
		@include opacity(0.9); @include transition(none); cursor: pointer;
	}
	
}

// Sidebar
@media(max-width: $screen-md-min){
	body.single-product .inner-sidebar,
	#sns_content .sns-right-sidebar,
	.sns-right {
		position: fixed;top: 0;right: -290px;width: 290px;padding: 35px 20px;height: 100%;bottom: 0;overflow: auto;
		background: $white;z-index: 1000;overflow: auto;height: 100%;@include transition(all 0.3s ease-out);
		&.active {
			right: 0;@include opacity(1);
		}
		.sns-col-inner {
			padding: 0px 0 50px;
		}
	}
	#sns_content .sns-left-sidebar,
	.sns-left {
		position: fixed;top: 0;left: -290px;width: 290px;padding: 35px 20px;height: 100%;bottom: 0;overflow: auto;
		background: $white;z-index: 1000;overflow: auto;height: 100%;@include transition(all 0.3s ease-out);
		&.active {
			left: 0;@include opacity(1);
		}
		.sns-col-inner {
			padding: 30px 0 50px;
		}
	}
	#sns_content .sns-left-sidebar,
	#sns_content .sns-right-sidebar{
		padding: 0 0 30px;
	}
}
// Vertical Menu
.sns-vertical-menu{
	> p.main_navigation_alert{
		color: $color; line-height: 50px; margin: 0 20px;
	}
}
ul.vertical-style{
	@include ulclear(); border: 1px solid $base-border-color; border-top: none;
	li.menu-item{	// Level 1
		position: relative;display: block; color: $color; border-top: 1px solid $base-border-color;
		&:first-child{
			border-top: none;
		}
		> a{
			display: block; position: relative; padding: 15px 20px 15px 20px;
			i{
				display: inline-block; margin-right: 8px; font-size: 16px; line-height: 1em; vertical-align: middle;
			}
			img.sns-megamenu-icon-img{
				display: inline-block;height: auto;vertical-align: middle;margin-right: 8px; line-height: 1em;
			}
		}
		&:hover{
			> a{ background-color: #f8f8f8;}
		}
		&.menu-item-has-children{
			position: relative;
			&:after{
				position: absolute;right: 8px;top: 50%; @include font-awesome('f125', 20px); margin-top: -10px;font-size: 10px;
			}
			.sns-products{
				@include scale(0);
			}
			&:hover{
				.sub-content,
				> ul.sub-menu:not(.enable-megamenu){
					@include effect-block-show-child();left: 100%; top:-1px; z-index: 9999;
				}
				.sns-products{
					@include scale(1);
				}
			}
		}
		// Level 2 - List style
		> ul.sub-menu:not(.enable-megamenu){
			@include ulclear();@include effect-block-hide-child();position: absolute; left: calc(100% + 20px);top: 10px;background: #fff;
			border: 1px solid $base-border-color; padding: 0; min-width: 240px; box-shadow: 2px 1px 3px rgba(0, 0, 0, 0.2); // box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
		}
		// Megamenu
		.sub-content{
			background: #fff;@include effect-block-hide-child();position: absolute;top: 10px;left: calc(100% + 20px);width: 900px; border: 1px solid $base-border-color; padding: 0 20px 25px;
			box-shadow: 2px 1px 3px rgba(0, 0, 0, 0.2);
			// Columns style
			ul.columns{
				@include ulclear();display: inline-block;float: left;vertical-align: top;
				.menu-item{
					&:after{ display: none;}
					position: relative; border: none;
					.megamenu-title{
					    display: block; margin: 35px 20px 10px 20px; padding: 0 0 10px; font-size: 1.2307em; color: $link-color; text-transform: uppercase;
					    a{
					    	color: $text-color;padding: 0 0 0; position: relative; display: inline-block;
					    	&:before{ position: absolute; content: ""; height: 1px; width: 100%; left: 0px; bottom: -11px; background-color: $color1;}
					    }
					}
					.sub-menu{ padding: 10px 20px 0;
						li.menu-item{
							a{ padding: 4px 0; color: $color; }
							&:hover{
								a{ background-color: transparent; color: $link-color; }
							}
						}
					}
				}
				> li.menu-item{
					float: left;
				}
				&.col-1{
					> li.menu-item{
						width: 100%;
					}
				}
				&.col-2{
					> li.menu-item{
						width: 50%;
					}
				}
				&.col-3{
					> li.menu-item{
						width: 33.33%;
					}
				}
				&.col-4{
					> li.menu-item{
						width: 25%;
					}
				}
				&.col-5{
					> li.menu-item{
						width: 20%;
					}
				}
				&.col-6{
					> li.menu-item{
						width: 16.66%;
					}
				}
			}
			> ul.columns {
				width: 100%;
			}
			&.has-left-content{ @include clearfix();
				> ul.columns {
					width: 65%; float: left;
				}
				.menu-left-sidebar{
					padding: 35px 20px 10px; width: 35%; float: left;
				}
			}
			&.has-right-content{ @include clearfix();
				> ul.columns {
					width: 65%; float: left;
				}
				.menu-right-sidebar{
					padding: 35px 20px 10px; width: 35%; float: left;
				}
			}
			.menu-bottom-sidebar{
				padding: 15px 20px 10px; float: left;
			}
		}
	}
	> li.menu-item{
		> a{ padding: 15px 20px 15px 30px;
			i{
				margin-right: 15px;
			}
			img.sns-megamenu-icon-img{
				margin-right: 15px;
			}
			&:before{ position: absolute; content: ''; height: 100%; width: 2px; top: 0px; left: -1px; @include opacity(0); background-color: $color1; @include transition(all 0.25s ease-out);
				body.vertical-menu-hover &{
					left: 0px;
				}
			}
			&:hover{
				&:before{ @include opacity(1); }
			}
		}
		&.menu-item-has-children{
			&:after{
				right: 16px;
			}
		}
	}
}