/***************************************************
	scss file: assets/scss/theme/_toolbar_list.scss
		+ Style for toolbar on listing page of WooCommerce
****************************************************/
.woocommerce-pagination {
	margin: 0;
	> span{
		height: 22px;min-width: 22px; line-height:22px;vertical-align: top;//display: none;
	}
	.page-numbers {
		margin: 0px; list-style:none; padding: 0; display:inline-block;
		li { display: inline-block; float: left;
			> span, > a {
				text-align: center; margin: 0 5px; padding: 0 0; display: inline-block; font-weight: bold; width: 40px; height: 40px; line-height: 36px; border: 2px solid $color; @include border-radius(5px);
				&.next,
				&.prev{
					position: relative; overflow: hidden; font-size: 0px; text-align: center;
					&:before{
						font-size: 16px;
					}
				}
				&.next{
					&:before{ @include font-awesome('f0da', 16px); line-height: inherit;}
				}
				&.prev{
					&:before{ @include font-awesome('f0d9', 16px); line-height: inherit;}
				}
				&:hover,
				&.current{
					background-color: $color1 !important;  border-color: $color1; color: #FFF;
				}
			}
		}
	}
}

.toolbar {
	padding: 0; @include clearfix();
	&.toolbar-top{
		height:50px; padding: 0;margin: 25px 0 0; border: 1px solid $base-border-color;
	}
	& + .woocommerce-result-count{
		@media(max-width: $screen-xs-max){
				display: none;
			}
	}
	&.toolbar-bottom{
		margin: 0 0 50px; padding-top: 10px; text-align: center;
		.woocommerce-result-count{
			position:absolute; top: 20px;left: 120px;
		}
		
	}
	.mode-view {
		display: block;float: left; padding: 0 0;margin-bottom: 0px;
		li {
			@include inline-block;
			&.display-title {
				display: none;
			}
			float: left;position: relative;
			a {
				display: block; width: 50px; height: 48px; padding: 10px 0; text-align: center; line-height: 30px; border-right: 1px solid $base-border-color;
				&:before{
					display: inline-block; width: 30px; height: 30px;text-align: center; font-size: 26px; color: #ccc;
				}
				&.active, &:hover{
					&:before{
						color: $color1;
					}	
				}
				&.grid{
					&:before{
						@include font-awesome('f00a', 30px);
					}
				}
				&.list{
					&:before{
						@include font-awesome('f00b', 30px);
					}
				}
				span{ display: none; }	
			}
		}
	}
	// .nbrItemPage,
	.woocommerce-ordering {
		display: block;float: right; padding: 9px 10px 9px 10px;text-align: left; margin: 0 0;
		@media (max-width: $screen-xs-max) {
			& {
				display: none;
			}
		}
		label{margin: 0 5px 0 0;}
		.orderby-wrap{
			position: relative;
			margin:0; padding: 0px;
			@include transition(all 0.2 ease-in);
			display: inline-block; line-height: 28px;
			select.orderby{
				border: none;
				appearance: none;
				-o-appearance: none;
				-webkit-appearance: none;
				-moz-appearance: none;
				padding: 0px 10px;
				background:#FFF;
				min-width: 170px;
				border: 1px solid #ebebeb;
				 height:44px; line-height: 44px;
			}
			&:hover,
			&:focus{
				border-color: #CCC;
			}
			&:before{
				position: absolute; content: ''; height: 5px; width: 9px; right: 10px; top: 12px;
				background: url(../img/ico-drop.png) no-repeat left top;
			}
		}
		select{
			height: 30px;line-height: 30px;background: #fff; width: 150px; //visibility: hidden;
		}
	}
	.nbrItemPage {
		.select, .selector1 {
			select {
				width: 65px;
			}
		}
	}
	.woocommerce-result-count{
		display: inline-block; margin:0; float: left; padding:13px 0 13px 13px;
		@media(max-width: $screen-sm-max){
			display: none;
		}
	}
	.woocommerce-pagination {
		margin: 0;
	}
	.product-count {
		display: none !important;
	}
	.showall {
		display: none;
	}
	.filter-hoz{ float: right; position: relative; padding: 13px 25px 13px 0; margin: 0 20px 0 10px; cursor: pointer;
		&:before{ position: absolute; @include font-awesome('f1de', 20px); font-size: 16px; right: 0px; }
		&:hover{
			&:before{ color: $color1; }
		}
		&.active{
			&:before{ @include font-awesome('f00d', 20px); color: $color1; }
		}
	}
}

.select2-container{
	.select2-dropdown{
		border: 1px solid $base-border-color; //width: 200px !important;
		.select2-search__field{
			border: 1px solid $base-border-color; padding: 2px 5px;
		}
		.select2-results{
			.select2-results__option{
				padding: 2px 10px;
			}
		}
	}
}