/***************************************************
	scss file: assets/scss/theme/_widgets.scss
		+ All style about widget
****************************************************/
.sns-left,
.sns-right,
.inner-sidebar{
	> .widget:last-child{
		margin-bottom: 0; border: none;
	}
	.postwcode-widget .wpb_wrapper > div:not(.wpb_content_element),
	.widget{
		margin-bottom: 45px; padding-bottom: 45px; border-bottom: 1px solid $base-border-color; position: relative; @include clearfix();
		.widgettitle,
		.widget-title{
			font-size: 1.2307em; color: $link-color; text-transform: uppercase; font-weight: bold; display: block; padding: 0 0; margin: 0 0 20px; line-height: 1.1;
			> span{
				display: inline-block; position: relative;
			}
		}
		.wpb_heading{
			font-size: 1.2307em; color: $link-color; text-transform: uppercase; font-weight: bold; display: block; padding: 0 0; margin: 0 0 20px; text-align: left;
			> span{
				&:before, &:after { display: none; }
			}
		}
	}
	.postwcode-widget .wpb_wrapper > div.no-padding-border{
		border:none; padding-bottom: 0px;
	}
	.postwcode-widget .wpb_wrapper > div.no-space-separator,
	.postwcode-widget .wpb_wrapper > div.wpb_content_element{
		border:none; padding-bottom: 0px; margin-bottom: 0px;
	}
	//.postwcode-widget{ margin-bottom: 45px; padding-bottom: 45px; border-bottom: 1px solid $base-border-color; }
}
.widget{
	position: relative; @include clearfix();
	.widget-title{
		font-size: 1.2307em; color: $link-color; text-transform: uppercase; font-weight: bold;
		display: block; padding: 0 0; margin: 0 0 20px; line-height: 1.1;
		> span{
			display: inline-block; position: relative;
		}
		& + ul,
		& + div,
		& + label,
		& + form{
			padding: 0;
		}
	}
	ul{
		@include ulclear();
		@include accor-widget();
		li{
			a{
				display: inline; padding: 5px 0; color: $link-color;
				&:hover{
					color: $color1;
				}
			}
			&:first-child{
				a{
					padding-top:0;
				}
			}
			&:last-child{
				a{
					padding-bottom:0;
				}
			}
			ul{
				padding-left: 20px;
			}
		}
	}
	a{
		&.button{
			&:hover{
				color: #FFF;background: $color1;
			}
		}
	}
	a .product-title,
	.title,
	.post-title{
		 font-size: 1em;
		a{
			color: $link-color;
			&:hover{
				color: $color1;
			}
		}
	}
	&.yith-woo-ajax-reset-navigation{
		&:before,
		&:after{
			display: inline;
		}
		a.button{
			display: block; text-align: center; font-weight: bold; color: #fff; @include transition(all 0.25s ease-out 0s); background-color: $color;
			&:focus,
			&:hover{
				color: #FFF; background: $color1; border-color: $color1;
			}
		}
	}
	&.widget_recent_entries{
		ul{
			li{
				padding: 4px 0;
				&:first-child{padding-top: 0px;}
				a{display: block; position: relative; padding: 0 0 0 20px;
					&:before{ position: absolute; left: 0px; top: 4px; @include font-awesome('f0f6', 13px); }
				}
				.post-date{
					font-size: 90%; padding: 0 0 0 20px;
				}
			}
		}
	}
	&.widget_archive{
		.widget-title + label{
			display: none;
		}
		ul{
			li{
				margin-top: 12px; padding-top: 12px; border-top: 1px solid $line-border-color;
				&:first-child{margin-top:0px; padding-top: 0px; border-top: none;}
				a{ position: relative; padding: 0 0 0 20px;
					&:before{
						position: absolute; @include font-awesome('f133', 12px); left: 0px; top: 0px; line-height:18px;
					}
				}
			}
		}
	}
	&.widget_categories{
		.widget-title + label{
			display: none;
		}
		> ul{
	    	counter-reset: li-counter;padding-right: 0;list-style: none; padding-left: 0px;
	    	.children{
	    		padding-top: 7px; position: relative;
	    		&:before{
	    			width: 1px; height: calc(100% - 30px) !important;background: $line-border-color;position: absolute;left: 0;top: 18px;content: "";
	    		}
	    	}
			li{
				position: relative;padding: 4px 0px; margin: 0; text-align: right; clear: both;
				&:first-child{
					.btn_accor{ top: 2px;}
				}
			    &:last-child{
			    	border-bottom: none;
			    }
			    > a,
			    .accr_header{
			    	display: inline-block; padding: 0 0; float: left;
			    }
			    .btn_accor{ height: 16px; width: 16px; top: 8px; right: 25px;
			    	.ac-tongle { height: 100%; width: 100%; line-height: 16px; }
			    }
			}
			> li{
				&:first-child{ padding-top: 0px;}
				&:last-child{ padding-bottom: 0px;}
			}
		}
		
	}
	&.widget_pages{
		ul{
	    	list-style: none;
	    	li{
				position: relative;
			    padding: 8px 0 0 0;
			    margin: 0;
			    ul{
			    	margin: 8px 0 0 10px;
			    }
			    &:first-child{
			    	padding-top: 0px;
			    }
			}
		}
	}
	&.widget_meta{
		ul{
	    	list-style: none;
	    	li{
				position: relative;
			    padding: 8px 0 0 0;
			    margin: 0;
			    ul{
			    	margin: 8px 0 0 10px;
			    }
			    &:first-child{
			    	padding-top: 0px;
			    }
			}
		}
	}
	&.widget_nav_menu{
		ul{
	    	list-style: none;
	    	li{
				position: relative;
			    padding: 8px 0 0 0;
			    margin: 0;
			    ul{
			    	margin: 0 0;
			    }
			    &:first-child{
			    	padding-top: 0px;
			    }
			}
		}
	}
	&.widget_tag_cloud{
		background: none !important;
		.tagcloud{
			@include clearfix();
			> a{
				color: $color; border: 1px solid $base-border-color; @include border-radius(5px); display: inline-block; float: left; font-size: 100% !important; margin: 0 10px 10px 0;
			    padding: 4px 14px; @include transition(all 0.25s ease-out 0s); position:relative;
			    &:hover{
			    	color: #FFF; border-color: $color1; background-color: $color1;
			    }
			}

			.view-more-tag{
				display: inline-block; position: relative; width: 100%; margin-top:10px;
				a{
					text-decoration: underline;
					&:hover{
						text-decoration: underline;
					}
				}
			}
		}
	}
	&.widget_recent_comments{
		ul{
			li{
				margin-top: 14px; padding: 14px 0 0 25px; border-top: 1px solid $line-border-color; position: relative;
				&:first-child{
					margin-top:0px; padding-top: 0px; border-top: none;
					&:before{
						top: 4px;
					}
				}
				&:before{
					position: absolute; @include font-awesome('f0e6', 12px); font-size: 18px;  left: 0px; top: 16px; line-height:18px;
				}
				.comment-author-link{
					color: $color1;
				}
				a{}
			}
		}
	}
	&.widget_top_rated_products{
		li{
			.amount{
				display: none;
			}

		}
	}
	&.widget_search{
		#searchform{
			position: relative;padding: 0;
			&:before{
				position: absolute; @include font-awesome('f002', 24px); font-size: 16px; @include transition(all 0.25s ease-out); right: 16px; top: 13px; margin: 0 0; color: $link-color;
			}
			label.screen-reader-text{display: none;}
			input#s{
				width: 100%; height: 50px; border: 1px solid $base-border-color; @include border-radius(5px); padding-left: 20px;
				@include placeholder($color); box-shadow: unset; background: transparent;
			}
			input#searchsubmit{
				font-size: 0px; padding: 0 0; border: none; height: 24px; width: 24px;position: absolute; right: 16px; top: 13px; margin: 0 0; background: transparent;
			}
			&:hover{
				&:before{
					color: $color1;
				}
			}
		}
	}

	/* RSS widget */
	&.widget_rss{
		.rsswidget{
			img {
				margin-top: -0.375em;
			}
		}
		.rss-date,
		cite{
			color: #999;
			display: block;
			font-style: normal;
			line-height: 1.615384615;
			margin-bottom: 0.538461538em;
		}

		.rssSummary{
			&:last-child {
				margin-bottom: 2.1538461538em;
			}
		}

		li{
			.rsswidget{
				color: $color1;
				&:hover{
					color: #686868;
				}
			}
			&:last-child :last-child {
				margin-bottom: 0;
			}
		}

	}
		
	&.widget_calendar{
		#calendar_wrap{
			border: none;
		}
		#wp-calendar,
		table {
			background: white;
			border-color: $base-border-color;
			border-width: 1px;
			border-style: solid;
			width: 100%;
			margin-bottom: 20px;
			caption{
				padding: 0 0 5px;
			}
			td.label{
				display: table-cell;
				label{margin: 0 0;}
			}
			margin-bottom: 30px;
			> thead > tr > th,
			> tbody > tr > th,
			> tfoot > tr > th{
				border-color: $base-border-color; border-width: 1px 1px 0 0; border-style: solid; color: $color; vertical-align: middle;
			}
			> thead > tr > th{
				background: #f9f9f9; 
			}
			> thead > tr > td,
			> tbody > tr > td,
			> tfoot > tr > td{
				border-color: $base-border-color; border-width: 1px 1px 0 0; border-style: solid;
			}
			td {
				a.color-myaccount {
					text-decoration: underline;
					&:hover {
						text-decoration: none;
					}
				}
				&#today{
					color: $color1;
				}
			}
			tfoot {
				tr {
					//background: $base-border-color;
				}
			}
		}
		#wp-calendar{
			margin-bottom: 0px;
		}
		#wp-calendar tbody td a{
			@include inline-block();
			padding: 0;
			background: none;
			color: $link-color;
			cursor: pointer;
			white-space: normal;
			font-size: 100%;
			border: none;
			@include border-radius(100%);
			@include transition(all 0.25s linear);
			vertical-align: top;
			font-weight: normal; text-decoration: underline;
			&:focus,
			&:hover{color: $color1; background: #FFF; }
		}
		#wp-calendar tfoot #prev,
		#wp-calendar tfoot #next{
			text-align: center;
			a,
			a:focus{
				font-size: 100%; background: none; border-color: $base-border-color; color: inherit;
				padding: 3px 15px; @include box-shadow(none);
			}
			a:hover{
				color: #FFF; background: $color1; border-color: $color1;
			}
		}
	}
	&.widget_sp_image{
		padding: 0;border:none; position: relative; overflow: hidden;
		.widget-title{
			display: none;
		}
		a{
			img{
				margin: 0;
			}
		}
		a{
			position: relative; display: inline-block; max-width: 100%; overflow: hidden; vertical-align: top;
		    @include transition(all 0.25s ease 0s);
		    &:before{
			    content: " "; top:0; left: 0; opacity: 0; position: absolute; width: 100%; height: 100%; display: block; opacity: 0;
			    visibility: hidden; background-color: rgba(0,0,0, 0.2); @include transition(0.25s ease-out);
		    }
		    &:hover{
				&:before{
					opacity: 1; visibility: visible;
				}
		    }
		}
	}
}

ul.side-navigation{
	@include ulclear();
	margin-bottom: 0px;
	padding: 25px 20px;
	//border: 1px solid $base-border-color;
	li{
		padding: 8px 0;
		&:first-child{ padding-top: 0px; border-top: none;}
		&:last-child{ padding-bottom: 0px;}
		&.current_page_item{
			a{color: $color1;}
		}
		a{ position: relative; padding: 0 0 0 20px; color: inherit;
			&:hover{
				color: $color1;
			}
			&:before{
				position: absolute; @include font-awesome('f121', 12px); left: 0px;// f105
				top: 50%;
			    line-height: 1;
			    @include translate(0,-50%);
			    margin-top: -2px;
			}
		}
		ul{
			border-top: 1px solid $base-border-color; margin-top: 8px;
			padding: 8px 0 0 15px;
		}

	}
}

//SNSVICKY_Widget_Recent_Post
.widget-posts{
	@include ulclear();
	.post-item{
		margin-bottom: 30px; @include clearfix();
		&:last-child{
			margin-bottom: 0;
			.post-img{
				margin-bottom: 0;
			}
		}
		.post-img{
	   		a{
				display: block;position: relative; float: left; max-width: 70px; margin-right: 15px; padding: 0 0;
				&:before{
					content: ""; position: absolute; background: rgba(0, 0, 0, 0.2); width: 100%; height: 100%; z-index: 1;
					@include opacity(0); @include transition(0.2s ease-out);
					@include transform(scale(0.6));
				}
			}
		}
		.post-title{
			margin: -6px 0 5px;
		    a{
		    	padding: 0 0; max-height: 48px; display: block; overflow: hidden;
				&:hover{
					color: $color1;
				}
		    }
		}
		.post-date{color: #ccc;}
		&:hover{
			.post-img{
				a{
					&:before{
						@include opacity(1); @include transform(scale(1));
					}
				}
			}
		}
	}
}
