.price {
	white-space: nowrap;
	.amount{
		font-size: 1.2307em; color: $color; font-weight: bold;
	}
	del {
		text-decoration: none; position: relative; padding: 0 3px;
		.amount{
			font-size: 1.2307em; color: inherit; font-weight: normal;
			@media(max-width: $screen-md-max){ font-size: 1em;}
		}
		&:before {
			content: '';display: block;width: 100%;height: 1px; background: $color;
			@media(min-width: $screen-md-max){margin-top: -1px;}
			position: absolute;top: 50%;left: 0;@include rotate(0deg);
		}
	}
	ins {
		margin: 0 0 0 5px;text-decoration: none;
		.amount{
			font-size: 1.2307em;
			@media(max-width: $screen-md-max){ font-size: 1em;}
		}
	}
	.from {
		font-size: 1em; margin: -2px 0 0 0;text-transform: uppercase;
	}
	@media(min-width: $screen-md-max){
		.woocommerce-Price-amount{
			margin: 0 0 0 3px;
			&:first-child{
				margin: 0 3px 0 0;
			}
		}
	}
}
.product-type-variable{
	.price {
		.amount{
			@media(max-width: $screen-md-max){ font-size: 1em;}
		}
	}
}