/*--------------------------------------------------
	[scss file: assets/scss/woo/woocommerce.scss]
	This file scss from plugin WooCommerce
		+ Governs the general look and feel of WooCommerce sections of stores using themes that do not
		+ Integrate with WooCommerce specifically.
---------------------------------------------------*/

// Imports
//@import "bourbon";
@import "mixins";
@import "variables";
@import "animation";
@import "fonts";
@import "prices";

//Global styles

p.demo_store {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	margin: 0;
	width: 100%;
	font-size: 1em;
	padding: 1em 0;
	text-align: center;
	background-color: $primary;
	color: $primarytext;
	z-index: 99998;
	box-shadow: 0 1px 1em rgba(0,0,0,0.2);
}

.admin-bar {
	p.demo_store {
		top: 32px;
	}
}

// Utility classes
.clear {
	clear: both;
}

// Main WooCommerce styles
 a.remove {
	display: block;@include square(20px); line-height: 18px; text-align: center;@include transition(all 0.25s ease); position: relative; border: 1px solid $color; color: $color;
	overflow: hidden; background-color: #FFF; padding: 0 0; 
	&:hover{ color: $color1; border-color: $color1; }
	&:before{ @include font-awesome('f00d', 18px); height: 100%; width: 100%; }
}
.blockUI.blockOverlay {
	position: relative;
	@include loader();
}
.loader {
	@include loader();
}
.woocommerce {
	.woocommerce-message,
	.woocommerce-error,
	.woocommerce-info {
		padding: 11px 10px 6px 40px;
		margin: 0 0 20px;
		position: relative;
		list-style: none !important;
		@include clearfix();
		width: auto;
		&:before {
			font-family: "WooCommerce";
			content: "\e028";
			display: inline-block;
			position: absolute;
			top: 9px;
			left: 16px;
		}
		.button {
			float: right; background: $color1; color: #fff; font-size: 100%; padding: 5px 15px; margin-top: -5px; border: none;
		}
		li {
			list-style: none;
			padding-left: 0;
			margin-left: 0;
		}
	}

	.woocommerce-message {
		background:#dff0d8;
		color: #8fae1b;
		&:before {
			content: "\e015";
			color: #8fae1b;
		}
	}
	.woocommerce-info {
		background: #d9edf7;
		color: #1e85be;
		&:before {
			color: #1e85be;
		}
	}
	.woocommerce-error {
		background:#f2dede;
		color: #b94a48;
		&:before {
			content: "\e016";
			color: #b94a48;
		}
	}

	small.note {
		display: block;
		color: $subtext;
		font-size: .857em;
		margin-top: 10px;
	}

	.woocommerce-breadcrumb{
		@include clearfix();
		margin: 0 0 1em;
		padding: 0;
		font-size: 0.92em;
		color: $subtext;

		a {
			color: $subtext;
		}
	}

	.quantity {
		.qty {
			width: 3.631em;
			text-align: center;
			color: $color;
		}
	}

	// Product Page
	div.type-product,
	div.product {
		margin-bottom: 0;
		position: relative;
		.product_title {
			clear: none;
			padding: 0;
			margin-bottom: 10px;
			//font-size: 1.5em;
			text-transform: none;
			font-weight: bold;
		}

		p.stock {
			font-size: 0.92em;
		}

		.stock {
			color: #38e534;
		}

		.out-of-stock {
			color: red;
		}
		// p.price{
		// 	margin-bottom: 8px;
		// }
		.woocommerce-product-rating{
			margin-bottom: 8px;
			position: relative;
			.woocommerce-review-link{
				position: absolute; top: 1px;
			}
		}
		div.social {
			text-align: right;
			margin: 0 0 1em;

			span {
				margin: 0 0 0 2px;

				span {
					margin: 0;
				}

				.stButton .chicklets {
					padding-left: 16px;
					width: 0;
				}
			}

			iframe {
				float: left;
				margin-top: 3px;
			}
		}

		.woocommerce-tabs {
			ul.tabs {
				list-style: none;
				padding: 0 0 0 1em;
				margin: 0 0 1.618em;
				overflow: hidden;
				position: relative;

				li {
					border: 1px solid darken( $secondary, 10% );
					background-color: $secondary;
					display: inline-block;
					position: relative;
					z-index: 0;
					border-radius: 4px 4px 0 0;
					margin: 0 -5px;
					padding: 0 1em;

					a {
						display: inline-block;
						padding: .5em 0;
						font-weight: 700;
						color: $secondarytext;
						text-decoration: none;

						&:hover {
							text-decoration: none;
							color: lighten( $secondarytext, 10% );
						}
					}

					&.active {
						background: $contentbg;
						z-index: 2;
						border-bottom-color: $contentbg;

						a {
							color: inherit;
							text-shadow: inherit;
						}

						&:before {
							box-shadow: 2px 2px 0 $contentbg;
						}

						&:after {
							box-shadow: -2px 2px 0 $contentbg;
						}
					}

					&:before,
					&:after {
						border: 1px solid darken( $secondary, 10% );
						position: absolute;
						bottom: -1px;
						width: 5px;
						height: 5px;
						content: " ";
					}

					&:before {
						left: -6px;
						-webkit-border-bottom-right-radius: 4px;
						-moz-border-bottom-right-radius: 4px;
						border-bottom-right-radius: 4px;
						border-width: 0 1px 1px 0;
						box-shadow: 2px 2px 0 $secondary;
					}

					&:after {
						right: -6px;
						-webkit-border-bottom-left-radius: 4px;
						-moz-border-bottom-left-radius: 4px;
						border-bottom-left-radius: 4px;
						border-width: 0 0 1px 1px;
						box-shadow: -2px 2px 0 $secondary;
					}
				}

				&:before {
					position: absolute;
					content: " ";
					width: 100%;
					bottom: 0;
					left: 0;
					border-bottom: 1px solid darken( $secondary, 10% );
					z-index: 1;
				}
			}

			.panel {
				margin: 0 0 2em;
				padding: 0;
			}
		}

		p.cart {
			//margin-bottom: 2em;
			@include clearfix();
		}

		form.cart {
			//margin-bottom: 2em;
			@include clearfix();
			table {
				margin: 0 0 15px;
				border-bottom: 1px solid #e9e9e9;
				border-left: 1px solid #e9e9e9;
				td{
					border-right: 1px solid #e9e9e9; border-top: 1px solid #e9e9e9; vertical-align: middle;
					display: table-cell; padding: 0 5px;
					label{margin: 0 5px 5px 0px !important; float: none; line-height: inherit !important;}
					.quantity{text-align: center; margin: 10px !important; height: 32px !important;
						.qty{ line-height: 30px !important;}
					}
					&.price{ 
						text-align: center; padding: 0 5px;
						.amount{ font-size: 115%; //1.2307em;
						}
						del{ margin-left: 10px;}
						ins{
							float: none; margin-right: 10px;
						}
					}
					&.label{text-align: center; padding: 0 10px;}
				}
				small.stock {
					display: block;
					float: none;
				}
				&.group_table{
					td{
						&:first-child{
							width: 80px; padding: 0 0;
						}
						label{margin: 0 !important; }
						&.label{text-align: left;}
					}
				}
			}
			.single_variation_wrap{
				.single_variation{
					margin: 10px 0; @include clearfix();
				}
			}

			.variations {
			}

			.button {
				vertical-align: middle;
				float: left;
			}

			.group_table {
				
			}
		}
	}

	// Product loops
	ul.products {
		padding: 0;
		list-style: none;
		clear: both;
		@include clearfix();

		li {
			list-style: none;
		}
	}
	.woocommerce-result-count {
		margin: 0 0 1em;
	}

	.woocommerce-ordering {
		margin: 0 0 1em;

		select {
			vertical-align: top;
			border: 1px solid $base-border-color;
		}
	}

	// Buttons
	a.button,
	button.button,
	input.button,
	#respond input#submit {
		
		&.alt {
			-webkit-font-smoothing: antialiased;
		}

		&:disabled,
		&.disabled,
		&:disabled[disabled] {
			color: inherit;
			cursor: not-allowed;
			opacity: 0.5;
		}
	}

	.cart .button,
	.cart input.button {
		float: none;
	}

	// Reviews
	#reviews {
		h2 small {
			float: right;
			color: $subtext;
			font-size: 15px;
			margin: 10px 0 0 0;

			a {
				text-decoration: none;
				color: $subtext;
			}
		}

		h3 {
			margin: 0;
		}
		p.woocommerce-noreviews{
			margin-bottom: 20px;
		}
		#respond {
			margin: 0;
			border: 0;
			padding: 0;
		}

		#comment {
			height: 120px;
		}

		#comments {
			.add_review {
				@include clearfix();
			}

			h2 {
				clear: none;
			}

			ol.commentlist {
				@include clearfix();
				@include ulclear();
				margin: 0;
				width: 100%;
				background: none;
				list-style: none;
				li.review,
				li.comment {
					padding: 0;
					margin: 0 0 20px;
					border: 0;
					position: relative;
					background: 0;
					border: 0;

					.meta {
						color: #686868;
					}

					img.avatar {
						float: left;
						position: absolute;
						top: 0;
						left: 0;
						padding: 0px;
						width: 50px;
						height: auto;
						background: $secondary;
						border: 1px solid #eee;
						margin: 0;
						box-shadow: none;
					}

					.comment-text {
						margin: 0 0 0 65px;
						border: 1px solid #eee;
						border-radius: 0px;
						padding: 1em 1em 0;
						@include clearfix();

						p {
							margin: 0 0 1em;
						}
					}
				}
				ol,
				ul{
					padding: 0 0 0 25px; margin: 0 0 25px;
					ol,
					ul{ margin: 0 0; padding: 0 0 0 30px; }
				}
				ul.children {
					list-style: none outside;
					margin: 20px 0 0 50px;

					.star-rating {
						display: none;
					}
				}

				#respond {
					border: 1px solid darken( $secondary, 3% );
					border-radius: 4px;
					padding: 1em 1em 0;
					margin: 20px 0 0 50px;
				}
			}

			.commentlist > li:before {
				content: "";
			}
		}
	}
	//price
	.price{
		display: inline-block;
	}
	
	// Star ratings
	.star-rating {
		float: right;
		display: inline-block;
		overflow: hidden;
		position: relative;
		height: 24px;
		line-height: 24px;
		font-size: 11px;
		width: 66px;
		letter-spacing: 2px;
		font-family: 'star';
		
		&:before {
			content: "\53\53\53\53\53";
			color: #cccccc;
			float: left;
			top: 0;
			left: 0;
			position: absolute;
		}

		span {
			overflow: hidden;float: left;top: 0;left: 0;position: absolute; padding-top: 24px; height: 24px;
		}

		span:before {
			content: "\53\53\53\53\53";
			color: #edcc18;
			top: 0;
			position: absolute;
			left: 0;
		}
	}

	.woocommerce-product-rating {
		@include clearfix();
		line-height: 24px; height: 24px;
		display: block;
		.star-rating {
			margin: .5em 4px 0 0;
			float: left;
		}
	}

	.products {
		.grid-view{
			.star-rating {
				// display: none;
				// margin: 0 auto;
				// float: none;
			}
		}
		.list-view{
			.star-rating {
				display: block;
				margin: 5px 0;
				float: none;
				position: relative;
				left: 0;
			}
		}
	}

	.hreview-aggregate {
		.star-rating {
			margin: 10px 0 0 0;
		}
	}

	#review_form {
		#respond {
			@include clearfix();
			position: static;
			margin: 0;
			width: auto;
			padding: 0 0 0;
			background: transparent none;
			border: 0;
			p {
				margin: 0 0 15px;
				&.comment-form-email{
					margin-bottom: 25px;
				}
				label{ display: block; }
				&.comment-form-cookies-consent{
					label{ display: inline; }
				}
			}

			.form-submit {
				input {
					left: auto;
				}
			}

			textarea {
				@include box-sizing(border-box);
				width: 100%;
			}
			.comment-form-rating{
				label{ margin-bottom: 5px;}
			}
		}
	}

	p.stars {
		position: relative; font-size: 12px;
		a {
			display: inline-block; margin-right: 1em; text-indent: -9999px; position: relative; border-bottom: 0 !important;
			outline: 0; line-height:12px;
			&:last-child {
				border-right: 0;
			}
			&.star-1,
			&.star-2,
			&.star-3,
			&.star-4,
			&.star-5 {
				font-family: 'star'; margin-right: 20px; display: inline-block;
				letter-spacing: 2px; position: relative; height: 16px; line-height: 16px;
				&:after {
					text-indent: 0;position: absolute;top: 0;left: 0;content: "\53";color: #ccc; @include transition(all 0.25s ease-out); 
				}
				&:before{
					position: absolute; content: ""; height: 16px; width: 1px; background: #ccc; right: -10px; top: 1px;
				}
				&:hover, &.active{
					&:after{
						color: #edcc18;
					}
				}

			}

			&.star-1 {
				width: 14.5px;
				&:after {
					content: "\53";
				}
			}
			&.star-2 {
				width: 29px;
				&:after {
					content: "\53\53";
				}
			}
			&.star-3 {
				width: 43.5px;
				&:after {
					content: "\53\53\53";
				}
			}
			&.star-4 {
				width: 58px;
				&:after {
					content: "\53\53\53\53";
				}
			}

			&.star-5 {
				width: 72.5px;
				&:after {
					content: "\53\53\53\53\53";
				}
				&:before{
					display: none;
				}
			}
		}
	}

	// Tables
	table.shop_attributes {
		border: 1px solid #eee; border-right: none;
		margin-bottom: 1.618em;
		width: 100%;

		th {
			width: 150px;
			font-weight: 700;
			padding: 8px;
			border-top: 1px solid #eee;
			border-right: 1px solid #eee;
			margin: 0;
			line-height: 1.5;
		}

		td {
			font-style: italic;
			padding: 8px;
			border-top: 1px solid #eee;
			border-right: 1px solid #eee;
			margin: 0;
			line-height: 1.5;

			p {
				margin: 0;
			}
		}

		.alt td,
		.alt th {
			background: #f9f9f9;
		}
	}

	table.shop_table {
		border: 1px solid #eee; border-right: none;
		margin: 0px 0px 40px 0px;
		text-align: left;
		width: 100%;
		border-collapse: separate;
		//border-radius: 5px;
		 overflow: hidden;

		th {
			padding: 12px 12px; text-align: center;
			border-bottom: none;
		}

		td {
			border-top: 1px solid rgba(0,0,0,0.1);
			padding: 12px;
			vertical-align: middle;

			small {
				font-weight: normal;
			}
			&.product-remove{
				border-right: 1px solid rgba(0,0,0,0.1);
				.remove{margin: auto;}
                width: 60px;
			}
            &.product-thumbnail{
                width: 110px; text-align: center;
            }
            &.product-price,
            &.product-subtotal,
            &.product-quantity{
                text-align: center;
                label{
                	float: left;
                	line-height: 45px;
                }
            }
		}

		tbody:first-child {
			tr:first-child {
				th,
				td {
					border-top: 0;
				}
			}
		}

		tfoot td,
		tfoot th,
		tbody th {
			font-weight: 700;
			border-top: 1px solid rgba(0,0,0,0.1);
		}
	}

	table.my_account_orders {

		th,
		td {
			padding: 10px 10px;
			vertical-align: middle;
		}

		.button {
			white-space: nowrap;
		}

		.order-actions {
			text-align: right;

			.button {
				margin: .125em 0 .125em .25em;
			}
		}
	}

	td.product-name {
		dl.variation {
			margin: 0.7em 0 0.25em 0;
			@include clearfix();

			dt,
			dd {
				display: inline-block;
				float: left;
				//margin-bottom: 1em;
			}

			dt {
				font-weight: 700;
				padding: 0 0 .25em 0;
				margin: 0 4px 0 0;
				clear: left;
			}

			dd {
				padding: 0 0 .25em 0;

				p:last-child {
					margin-bottom: 0;
				}
			}
		}

		p.backorder_notification {
			font-size: 0.83em;
		}
	}
	//
	.woocommerce-customer-details{ margin-bottom: 60px;}
	form.track_order{
		@media(min-width: $screen-sm-min){
			.form-row-first,
			.form-row-last{
				width: 50%; float: left; padding: 5px 15px 0 0; 
			}
			.form-row-last{ padding: 5px 0 0 15px;}
		}
	}
	//
	.woocomerce-form.woocommerce-form-login{
		.button{ display: block; margin: 0 0 10px;}
	}
	form.lost_reset_password{ margin: 0 0 60px;}

	// Cart sidebar
	ul.cart_list,
	ul.product_list_widget {
		list-style: none outside; padding: 0 20px 10px; margin: 0; max-height: 413px; overflow: auto; font-size: 1em;
		li {
			padding: 10px 0 0;margin: 0;@include clearfix();list-style: none;
			&:first-child{
				padding-top: 0px;
				.remove{
					top: 0px;
				}
			}
			a {
				margin-bottom: 5px;
				&:hover{
					color: $color1;
				}
			}
			.product-image{
				position: relative; display: inline-block; float: left; float: left; padding: 0 0; margin-right: 15px; width: 70px;height: auto;
				&:before{
					position: absolute; content: ""; width: 100%; height: 100%; background: rgba(0,0,0,0); @include transition(all 0.25s ease-out); left: 0px; top: 0px;
				}
			}
			.title{
				font-size: 1em; padding: 0 0; margin: -5px 0 5px; display: block;
				&:hover{
					color: $color1;
				}			
			}
			.quantity{
				display: block;
				.amount{ color: #fe5d5d; }
			}
			img {
				box-shadow: none;border: 1px solid transparent;
			}
			dl {
				margin: 0;padding-left: 1em;border: none;display: inline-block;vertical-align: top;@include clearfix();
				dt,
				dd {
					display: inline-block;float: left;margin-bottom: 0;
				}
				dt {
					font-weight: 700;padding: 0 0 .25em 0;margin: 0 4px 0 0;clear: left;
				}
				dd {
					padding: 0 0 .25em 0;
					p:last-child {
						margin-bottom: 0;
					}
				}
			}
			.star-rating {
				float: none;
			}
			&:hover{
				.product-image{
					&:before{ background: rgba(0,0,0,0.15);}
				}
			}
		}
	}
	
	&.widget_shopping_cart,
	.widget_shopping_cart {
		.total {
			height: 40px; line-height: 40px; padding: 0 20px; margin: 0 0 20px 0; font-size: 1em; color: $link-color;
			position: relative; text-transform: uppercase;
			&:before{
				content: "";position: absolute; top:0; height: 1px;width: calc(100% - 40px) !important;left: 20px;background: $base-border-color;
			}
			&:after{
				content: "";position: absolute; bottom:0; height: 1px;width: calc(100% - 40px) !important;left: 20px;background: $base-border-color;
			}
			strong {
				display: inline-block; float: left;
			}
			.amount{ float: right; color: #fe5d5d; }
		}
		.buttons {
			margin: 20px 0 10px!important; padding: 0 20px;
			@include clearfix(); text-align: center;
			.button {
    			margin: 0 5px 10px; display: block; float: left; width: calc(50% - 10px);
			}
		}
		.remove{
			position: absolute; overflow: hidden; left: 0px; top: 10px; z-index: 1; padding: 0 0; margin: 0 0;
			&:hover{
				border-color: $color1; color: $color1;
			}
		}
	}

	// Forms
	form {
		.form-row {
			padding: 3px 0;
			margin: 0 0 6px;

			[placeholder]:focus::-webkit-input-placeholder {
				-webkit-transition: opacity 0.5s 0.5s ease;
				-moz-transition: opacity 0.5s 0.5s ease;
				transition: opacity 0.5s 0.5s ease;
				opacity: 0;
			}
			.select2-container .select2-choice{
				padding: 4px 0 4px 8px; border-color: #e9e9e9;
				@include border-radius(0);
			}
			label {
				line-height: 2;
			}

			label.hidden {
				visibility: hidden;
			}

			label.inline {
				display: inline;
			}

			select {
				cursor: pointer;
				margin: 0;
			}

			.required {
				color: red;
				font-weight: 700;
				border: 0;
			}
			label.checkbox{
				padding-left: 20px; line-height: normal;
				.input-checkbox {
					display: inline;
					margin: 3px 0 0 -20px;
					text-align: center;
					vertical-align: middle;
				}
			}
			

			input.input-text,
			textarea {
				@include box-sizing(border-box);
				width: 100%;
				margin: 0;
				outline: 0;
			}

			textarea {
				height: 117px;
				line-height: 1.5;
				display: block;
				-moz-box-shadow: none;
				-webkit-box-shadow: none;
				box-shadow: none;
			}

			.select2-container {
				width: 100%;
				line-height: 2em;
			}

			&.woocommerce-invalid {
				.select2-container,
				input.input-text,
				select {
					border-color: $red;
				}
			}

			&.woocommerce-validated {
				.select2-container,
				input.input-text,
				select {
					border-color: $green - #111;
				}
			}

			::-webkit-input-placeholder {
				line-height: normal;
			}

			:-moz-placeholder {
				line-height: normal;
			}

			:-ms-input-placeholder {
				line-height: normal;
			}
		}
	}

	form.login,
	form.checkout_coupon,
	form.register {
		border: 1px solid $base-border-color;
		padding: 20px 30px;
		margin: 2em 0 2em 0px;
		text-align: left;
		label.woocommerce-form__label {
		    display: block;
		    margin: 0 0 10px;
		}
	}

	ul#shipping_method {
		list-style: none outside;
		margin: 0;
		padding: 0;

		li {
			margin: 0;
			padding: .25em 0 .25em 22px;
			text-indent: -22px;
			list-style: none outside;
		}

		.amount {
			font-weight: 700;
		}
	}

	p.woocommerce-shipping-contents {
		margin: 0;
	}

	// Order page
	.order_details {
		@include clearfix();
		margin: 0 0 1.5em;
		list-style: none;

		li {
			float: left;
			margin-right: 2em;
			text-transform: uppercase;
			font-size: 0.715em;
			line-height: 1;
			border-right: 1px dashed darken( $secondary, 10% );
			padding-right: 2em;
			margin-left: 0;
			padding-left: 0;

			strong {
				display: block;
				font-size: 1.4em;
				text-transform: none;
				line-height: 1.5;
			}

			&:last-of-type {
				border: none;
			}
		}
	}

	// Layered nav widget
	.widget_layered_nav {
		// type list
		ul {
			margin: 0;margin-left: 20px;padding: 0;border: 0;@include ulclear();
			li {
				padding: 8px 0;
				a{
					position: relative; padding: 0 0 0 22px; background: transparent; line-height: 1; display: block; color: $color;
					&:before{
						width: 12px; height: 12px; border: 1px solid #eaeaea; @include border-radius(3px); position: absolute; content: ""; top: 0; left: 0;
					}
				}
				.count{
					position: absolute; top: 3px; right: 0px; margin-left: 1px;padding: 0 5px; color: #888; font-size: 100%;
				}
				&.chosen,
				&:hover{
					a{
						color: $link-color;
						&:before{
							border-color: $color; // background-color: $color;
						}
					}
					.count{ color: $link-color; }
				}
				&:first-child{
					padding-top: 0px;
					.count{
						top: -5px;
					}
				}
			}
			//
			&.yith-wcan-color{
				@include ulclear();
				li{
					padding: 10px 0px 10px 5px; display: block; float: none;
					&:last-child{
						margin-bottom: 0px;
					}
					&:before{ display: none;}
					a{
						display: block; overflow: visible; position: relative; margin: 0 0; border:none !important;
						width: 20px;height: 20px; @include border-radius(20px); text-indent: 35px; line-height: 20px;
					    &:before{
					    	content: "";width: 30px;height: 30px; border:1px solid #eaeaea; @include border-radius(30px); position: absolute;top: -5px;left: -5px;
					    }
					}
					.count{ top: 9px;}
					&.chosen,
					&:hover{
						a{
							color: $link-color; @include border-radius(20px);
							&:before{
							    border-color: $color;
							}
						}
					}
					&:first-child{
						padding-top: 0px;
						a{ padding-top: 0px; }
						.count{ top: -1px;}
					}
				}
			}
		}

		// type dropdown
		.dropdown_layered_nav_color{
			width: 100%;
		    border-radius: 0;
		    background: transparent;

		}
		 .yith-wcan-select-wrapper ul.yith-wcan-select.yith-wcan{
			margin-left: 15px;
			 li{
				padding: 0;
			}
		}
		// type label
		.yith-wcan-label li{
			margin-bottom: 0px;
			&:before{
				display: none;
			}
			&:hover:before{
				display: none;
			}
			a{
				padding: 4px 8px !important;
			}
			a:hover,&.chosen a{
				background: $color1 !important;
				border-color: $color1 !important;
				
			}
		}

	}

	.widget_layered_nav_filters {
		ul {
			margin: 0;
			padding: 0;
			border: 0;
			list-style: none outside;
			overflow: hidden;
			zoom: 1;

			li {
				float: left;
				padding: 0 10px 1px 0;
				list-style: none;

				a {
					text-decoration: none;
					color: inherit;
					&:hover{
						color: $color1;
					}
					&:before {
						@include iconbefore( "\e013" ); top: 1px; position: relative;
					}
				}
			}
		}
	}

	// Price filter widget
	.widget_price_filter {
		form, .widget-title + form{
			padding: 0px 0px 0px 0px;
		}
		.price_slider_wrapper{
			position: relative; padding-top: 6px;
		}
		.price_slider {
			margin-bottom: 28px;margin-top: 10px;
		}
		.price_slider_amount { margin-top: 20px;
			.button {
				display: block;float: right; font-weight: normal;text-transform: uppercase;margin-right:0px; padding: 4px 15px;
			}
			.price_label{
				line-height: normal;margin-right: 110px;line-height: 35px; text-transform: uppercase;
				 span{
				 	width: calc(50% - 5px);
				 }
				 .from{
					left: 0;
				 }
				 .to{
				 	right: 0;
				 }
			}
		}
		.ui-slider {
			position: relative;text-align: left;
		}
		.ui-slider .ui-slider-handle {
			position: absolute; z-index: 2; width: 20px; height: 20px; @include border-radius(100%);
			background: $color1;cursor: ew-resize; outline: none; top: -8px; margin: 0 0 0 -10px;
		}

		.ui-slider .ui-slider-range {
			position: absolute;z-index: 1;display: block;border: 0;background-color: $color1;
		}
		.price_slider_wrapper .ui-widget-content {
			border: 0;
		}
		.ui-slider-horizontal {
			height: 6px; background-color: #eaeaea; margin: 0 6px;
		}
		.ui-slider-horizontal .ui-slider-range {
			top: 0;height: 100%;
		}
		.ui-slider-horizontal .ui-slider-range-min {
			left: -1px;
		}
		.ui-slider-horizontal .ui-slider-range-max {
			right: -1px;
		}
	}
	p.cart-empty{ margin: 25px 0 40px 15px; }
	p.return-to-shop{ margin-bottom: 60px;}
	@media(min-width: $screen-sm-max){
		.woocommerce-MyAccount-navigation{
			width: 25%; float: left; padding-right: 15px;
			> ul{
		    	counter-reset: li-counter;list-style: none;padding: 15px 30px; border: 1px solid $base-border-color;
				li{
					position: relative; padding: 12px 0px;margin: 0;border-bottom: 1px solid $line-border-color;
				    &:last-child{
				    	border-bottom: none;
				    }
				    &.is-active{
				    	a{ color: $color1; }
				    }
				}
			}
		}
		.woocommerce-MyAccount-content{
			width: 75%; float: left; padding-left: 15px;
			fieldset{ margin: 25px 0 10px; }
		}
	}
	@media(max-width: $screen-sm-max){
		.woocommerce-MyAccount-navigation{
			margin-bottom: 30px;
			> ul{
				li{
					padding: 3px 0px;
				    &.is-active{
				    	a{ color: $color1; }
				    }
				}
			}
		}
	}
}

// Account page
.woocommerce-account {
	.addresses {
		.title {
			@include clearfix();

			h3 {
				float: left;
			}

			.edit {
				float: right;
			}
		}
	}

	ol.commentlist.notes {
		li.note {

			p.meta {
				font-weight: 700;
				margin-bottom: 0;
			}

			.description {
				p:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
	ul.digital-downloads {
		margin-left: 0;
		padding-left: 0;

		li {
			list-style: none;
			margin-left: 0;
			padding-left: 0;

			&:before {
				@include iconbefore( "\e00a" );
			}

			.count {
				float: right;
			}
		}
	}
}

// Cart page
.woocommerce-cart {
	table.cart {
		overflow: hidden;
		.quantity{
			@include quantity();display: inline-block;float: none;margin: 0;
		}
		.product-thumbnail {
			// min-width: 80px;
		}
		img {
			width: 80px; box-shadow: none;
		}
		th{
			text-transform: uppercase;background: #fff;font-weight: bold; color: #333; 
		}
		th,
		td {
			vertical-align: middle;
		}
		td.actions {
			padding: 20px 20px;
			.coupon {
				float: left; padding: 0 0;
				label{ display: none; float: left;}
				.input-text {
					float: left;
					margin: 0 10px 0 0; min-width: 200px;
					+ .button{
						@media(max-width: $screen-xs-max){
							float: left; margin-top: 10px; clear: left;
						}
					}
				}
			}
			> .button{
				float: right;
				@media(max-width: $screen-xs-max){
					float: left; margin-top: 20px; clear: left;
				}
			}
		}
		input {
			margin: 0;vertical-align: middle;
			&.button{
				margin: 0;
			}
		}
		a.remove{
			font-size: 20px;line-height: 20px;border: none;background: transparent;color: #333333;font-weight: bold;
			&:hover{
				color: $color1;
			}
			&:before, &:after{
				display: none;
			}
			@media(max-width: $screen-xs-max){
				background: #333;font-size: 18px;@include border-radius(20px);color: #fff; margin: 5px !important;
				&:hover{
					background: $color1;color: #fff;
				}
			}
		}
		@media(max-width: $screen-xs-max){
			border-collapse: collapse;
			thead{
				 display:none;
			}
			tr.cart_item{
				border-right: 1px solid rgba(0, 0, 0, 0.1);border-bottom: 1px solid rgba(0, 0, 0, 0.1);
				td{
					border: medium none;float: right;text-align: left;width: 70%;padding: 4px 8px 4px 0;
					&.product-thumbnail{
						padding: 12px;
					}
					&.product-name{
						padding-top: 8px;
					}
					&.product-subtotal{
						padding-bottom: 15px;
					}
				    
				}
				.product-remove{
					padding: 0;position: absolute;width: 20px;
				}
				.product-thumbnail{
					float: left; width: 30%;
				}

				.product-subtotal{
					&:before{
				    	content: 'Subtotal: ';
				    }
				}
			}
		}
	}
	.wc-proceed-to-checkout {
		@include clearfix;padding: 1em 0;
		a.checkout-button {
			text-align: center;
		}
	}
	.cart-collaterals {
        margin-top: 20px; @include clearfix();
		.shipping_calculator {
			.button {
				width: 100%;float: none;display: block;
			}
			.shipping-calculator-button {
				&:after {
					@include iconafter( "\e019" );
				}
			}
		}
		.cross-sells{
			width: 73%; float: left; padding: 0 30px 0 0;
			@media(max-width: $screen-md-min){ width: 60%;}
			@media(max-width: $screen-xs-max){ width: 100%;}
		}
		.cart_totals {
            margin: 8px 0 60px; padding: 20px; border: 1px solid $base-border-color; background: #fff;
            width: 27%; float: right;
            @media(max-width: $screen-md-min){ width: 40%;}
            @media(max-width: $screen-xs-max){ width: 100%;}
            h2{
                font-size: 1.7142em; margin: 10px 0 15px; color: #333; font-weight: bold; display: inline-block; padding: 0 0; text-transform: uppercase;
            }
            .wc-proceed-to-checkout{
            	a{
            		&.checkout-button{
            		}
            	}
            }
			p {
				small {
					color: $subtext; font-size: 0.83em;
				}
			}
			table {
				border-collapse: separate; margin: 0 0 15px;padding: 0;border: none;
				tr:first-child {
					th,
					td {
						border-top: 0;
					}
				}
				td,
				th {
					vertical-align: top;border-left: 0;border-right: 0; padding: 15px 0;
				}
				th {
					width: 25%; text-align: right; padding-right: 15px;
				}
				small {
					color: $subtext;
				}
				select {
					width: 100%;
				}
			}
			.woocommerce-shipping-calculator{margin-top: 5px;}
			.discount td {
				color: $highlight;
			}

			tr td,
			tr th {
				border-top: 1px solid $secondary;
			}
			#shipping_method{
				input[type="radio"]{
					margin: 0 5px 0 0;
				}
				label{
					display: inline;
				}
			}
		}

		.cross-sells {
			margin-bottom:20px;
			.sns_products_heading{
				margin-bottom: 60px;
			}
			ul.products {
				li.product {
					margin-top: 0;
					.block-product-inner{
						.item-info{
							.info-inner{
								padding-bottom:0;
							}
							.item-content{
								@include clearfix();
							}
						}
					}
				}
			}
		}
	}
}

// Checkout
.woocommerce-checkout {
	margin-bottom: 5px;
	.checkout {
		h3{
			color: #333333;
			font-size: 150%;
			text-transform: uppercase;
		}
		label{
			color: #686868;
		}
		.col-1,
		.col-2{ margin-bottom: 30px; }
		#customer_details { @include clearfix();
			h3#ship-to-different-address {
				float: left;
				clear: none;
				label{
					float: left; margin: 0 8px 0 0; font-weight: inherit; color: inherit;
				}
			}

			.notes {
				clear: left;
			}

			.form-row-first {
				clear: left;
			}
			&.col2-set{
				.col-1{
					width: 50%; padding-right: 15px; float: left;
					@media(max-width: $screen-phone){ width: 100%; padding: 0; float: left; }
				}
				.col-2{
					width: 50%; padding-left: 15px; float: left;
					@media(max-width: $screen-phone){ width: 100%; padding: 0; float: left; }
				}
			}
		}

		.create-account small {
			font-size: 11px;
			color: $subtext;
			font-weight: normal;
		}

		div.shipping-address {
			padding: 0;
			clear: left;
			width: 100%;
		}

		.shipping_address {
			clear: both;
		}
		h3#order_review_heading{
			margin-top: 20px;
		}
		#order_review{
			.shop_table{
				th{text-align: left;}
			}
		}
	}

	#payment {
		background: #FFF; border: 1px solid #e9e9e9;
		border-radius: 5px;

		ul.payment_methods {
			@include clearfix();
			text-align: left;
			padding: 1em;
			border-bottom: 1px solid darken( $secondary, 10% );
			margin: 0;
			list-style: none outside;

			li {
				line-height: 2;
				text-align: left;
				margin: 0;
				font-weight: normal;

				input {
					margin: 0 1em 0 0;
				}

				img {
					vertical-align: middle;
					margin: -2px 8px 0 8px;
					padding: 0;
					position: relative;
					box-shadow: none;
				}

				img + img {
					margin-left: 2px;
				}
			}
		}

		div.form-row {
			padding: 1em;
		}

		div.payment_box {
			position: relative;
			width: 96%;
			padding: 1em 2%;
			margin: 1em 0 1em 0;
			font-size: 0.92em;
			border-radius: 2px;
			line-height: 1.5;
			background-color: darken( $secondary, 5% );
			color: $secondarytext;

			input.input-text, textarea {
				border-color: darken( $secondary, 15% );
				border-top-color: darken( $secondary, 20% );
			}

			::-webkit-input-placeholder {
				color: darken( $secondary, 20% );
			}

			:-moz-placeholder {
				color: darken( $secondary, 20% );
			}

			:-ms-input-placeholder {
				color: darken( $secondary, 20% );
			}

			.wc-credit-card-form-card-number,
			.wc-credit-card-form-card-expiry,
			.wc-credit-card-form-card-cvc {
				font-size: 1.5em;
				padding: 8px;
				background-repeat: no-repeat;
				background-position: right;

				&.visa {
					background-image: url(../img/woo/icons/credit-cards/visa.png);
				}

				&.mastercard {
					background-image: url(../img/woo/icons/credit-cards/mastercard.png);
				}

				&.laser {
					background-image: url(../img/woo/icons/credit-cards/laser.png);
				}

				&.dinersclub {
					background-image: url(../img/woo/icons/credit-cards/diners.png);
				}

				&.maestro {
					background-image: url(../img/woo/icons/credit-cards/maestro.png);
				}

				&.jcb {
					background-image: url(../img/woo/icons/credit-cards/jcb.png);
				}

				&.amex {
					background-image: url(../img/woo/icons/credit-cards/amex.png);
				}
				&.discover {
					background-image: url(../img/woo/icons/credit-cards/discover.png);
				}
			}

			span.help {
				font-size: .857em;
				color: $subtext;
				font-weight: normal;
			}

			.form-row {
				margin: 0 0 1em;
			}

			p:last-child {
				margin-bottom: 0;
			}

			&:after {
				content: "";
				display: block;
				border: 8px solid darken( $secondary, 5% ); // arrow size / color
				border-right-color: transparent;
				border-left-color: transparent;
				border-top-color: transparent;
				position: absolute;
				top: -3px;
				left: 0;
				margin: -1em 0 0 2em;
			}
		}

		.payment_method_paypal {
			> input {
				margin-top: 27px !important; float: left;
			}
			.about_paypal {
				float: right;
				line-height: 70px;
				font-size: 0.83em;
			}

			img {
				max-height: 70px;
				vertical-align: middle;
			}
		}
		#place_order{
			color: #333333;
			font-weight: bold;
			&:hover{
				color: #fff;
			}
		}
	}
}
#yith-wcwl-popup-message{line-height: normal; border-color: #999; color:#999;
	left: auto; right: 10px; top:10px; @include border-radius(4px); background: #FFF;
	&:before{
		position: absolute; content:""; border-top: 8px solid #999;border-left: 8px solid rgba(0,0,0,0);
		border-right: 0px solid rgba(0,0,0,0);
		right: 8px; bottom:-8px;
	}
	&:after{
		position: absolute; content:""; border-top: 5px solid #FFF ;border-left: 5px solid rgba(0,0,0,0);
		border-right: 0px solid rgba(0,0,0,0);
		right: 9px; bottom:-5px;
	}
}

.wishlist_table tr td.product-stock-status span.wishlist-in-stock{
	color: #38e534;
}

.woocommerce table.wishlist_table{
	.add_to_cart.button,
	.button{
		@include inline-block(); padding: 8px 20px; border: 2px solid $color; color: $color; background: transparent;text-transform: uppercase;cursor: pointer;
		font-size: 1em; vertical-align: top;white-space: normal;@include transition(all 0.25s ease-out); @include border-radius(5px);
		font-weight: normal; width: auto; margin: 0 0 0 10px; line-height: inherit;
		&:hover,
		&:focus{
			background-color: $color1; border-color: $color1; color: #FFF;
		}
	}
	.add_to_cart.button{ margin: 0 0;}
}
.yith-woocompare-widget{
	ul.products-list{
		padding: 0 0 15px; @include clearfix();
		li{
			padding: 2px 0; float: left; width: 100%;
			.title{float: left; font-size: 108.3%; max-width: 90%;}
			.remove{
				background: none;
				font-size: 0px;
				width: 20px; height: 20px;
				@include border-radius(0);
				display: inline-block;
				line-height: normal;
				float: right;
				&:hover{
					background:none;
				}
			}
		}
	}
	.compare.button{ margin: 0 0 0 8px; }
}

.widget_product_search{
	label{
		display: block; font-weight:bold;
	}
	input[type="search"]{
		float: left; margin: 0 5px 0 0;
	}
}
.widget_product_tag_cloud{
	.tagcloud{
		padding: 0px !important;
		a{
			background: #FFF; border: 1px solid #eaeaea; padding: 4px 15px; @include border-radius(5px);
			display: inline-block; font-size: 100% !important;
			color: inherit; @include transition(all 0.2s ease-out 0s);
			margin: 0 10px 10px 0; float: left;
			&:hover{
				color: #FFF; border-color: $color1; background-color: $color1;
			}
		}
	}
}
.widget.widget_product_categories{
	.widget-title + .product-categories{
		padding: 0;
	}
	> ul{
    	counter-reset: li-counter;padding-right: 0;list-style: none; padding-left: 0px;
    	.children{
    		padding-top: 7px; position: relative;
    		&:before{
    			width: 1px; height: calc(100% - 30px) !important;background: $line-border-color;position: absolute;left: 0;top: 18px;content: "";
    		}
    	}
		li{
			position: relative; padding: 4px 0px; margin: 0; text-align: right; @include clearfix();
		    &:last-child{
		    	border-bottom: none;
		    }
		    .accr_header{ float: right; padding: 0 0;}
		    > a,
		    .accr_header:first-child{
		    	display: inline-block; float: left; padding: 0 0;
		    }
		    .count{ color: #888; }
		}
		> li{
			.accr_header a,
			> a{
	    		padding: 0 0 0 22px;
	    		&:before{
					border: 1px solid $base-border-color;border-radius: 3px;content: "";height: 12px;left: 0;position: absolute;top: 2px; width: 12px;
				}
	    	}
		    &:hover{
				a{
					&:before{
						border-color: $color;
					}
				}
				.count{ color: $link-color; }
			}
			&:first-child{ padding-top: 0px;}
			&:last-child{ padding-bottom: 0px;}
		}
		.accr_header { position: relative;
			.btn_accor{
				top: 2px; right: -20px;
			}
		}
	}
	.accr_content{width: 100%; float: left;}
}
.widget_products{
	ins{margin: 0 0 0 5px;}
}
.products-list{
	a.title{
		font-size: 108.3%;
	}
}

.woocommerce{
	table.wishlist_table{
		font-size: 100%; opacity:1 !important;
		margin-bottom: 0px;
		//@include border-radius(0);
		> thead > tr > th{
			background: #fff;
		}
	}
	.wishlist-title{
		h2{
			padding: 0;
			vertical-align: middle;
		    text-transform: none;
		    font-weight: bold;
		    margin-bottom: 20px;
		}
	}
	table.wishlist_table{
		a.remove{margin-left: auto; margin-right: auto;}
	}
}

body .select2-drop-active{
	border-color: #e9e9e9;
}

@media (min-width: 768px){
	.woocommerce ul.products li.first, .woocommerce-page ul.products li.first{
		clear: none;
	}
}