//---------------------------------
// logo
.scroll-hidden{
  overflow:hidden;
}
fieldset{
  clear: both;
  overflow:hidden;
}
.woocommerce input.button{
  background:$brand-success;
  color:#fff;
  padding:15px 20px;
  border:none;
  &:hover,&:active{
    color:#fff;
    background:darken($brand-success, 10%);
  }
}
.site-logo{
  display:inline-block;
  line-height:1;
  font-size:33px;
  font-weight:500;
  margin:0;
  padding:0;
  a{
    display:inline-block;
    color:#000 !important;
    line-height:1;
  }
}
.logo-theme{
  img{
    max-width:145px;
  }
}
.post-password-form{
  input{
    height: 43px;
    padding: 5px 10px;
    &[type="submit"]{
      background: $theme-color;
      color: #fff;
      border:none;
      padding: 5px 25px;
      &:hover,&:active{
        color: #fff;
        background: darken($theme-color,10%);
      }
    }
  }
}
.btn-search-top{
  cursor:pointer;
  display:inline-block;
}
.input-group{
  .btn{
    border-width:1px;
  }
}
a:focus,.btn:focus{
  outline: none !important;
}
.list,
.list-no{
  list-style: none;
  padding:0;
  margin:0;
}
.media-body {
    width: 10000px;
}
.btn,button{
  outline: none !important;
}
@include selection($white,$theme-color);
.pswp__item{
  cursor:move;
}
.no-border{
  border:none !important;
  &:before{
    display: none !important;
  }
}
.wpb_widgetised_column{
  margin: 0;
}
.topmenu-menu-line{
    list-style:none;
    padding:0;
    margin:0;
    li{
        display:inline-block;
        vertical-align:middle;
        .space{
            margin:0 3px;
        }
    }
}
// top menu mobile
.top-menu-mobile{
  .title{
    font-size:20px;
    padding:0 15px;
    margin:0 0 15px;
  }
  .navbar-nav > li > a{
    padding:2px 15px;
  }
}
// quick view
.apus-mfp-zoom-in{
  .mfp-content{
    @include scale(1.4);
    @include opacity(0);
    @include transition(all 0.4s ease-in-out 0s);
  }
  &.mfp-ready{
    .mfp-content{
      @include scale(1);
      @include opacity(1);
    }
  }
}

.apus-quickview .mfp-inline-holder .mfp-content{
  position: relative;
  max-width: 100%;
  width: 90%;
  margin: 0 auto;
  background: #fff;
  @media(min-width:1200px){
    width: 1200px;
    min-height: 400px;
  }
  .details-product{
    overflow: hidden;
    margin:0 !important;
    padding:15px;
    background:#fff;
    @media(min-width:1200px){
      padding:40px;
    }
  }
  .wrapper-img-main{
    
  }
  .information{
    
  }
  .apus-woocommerce-product-gallery-thumbs {
    margin-left:-5px;
    margin-right:-5px;
    .slick-slide{
      padding-left:5px;
      padding-right:5px;
      .thumbs-inner{
        width:70px;
        @media(min-width:1200px){
          width:100px;
        }
        border:3px solid #fff;
      }
      &.slick-current {
        .thumbs-inner{
          border-color:#000;
        }
      }
    }
  }
  .wrapper-thumbs {
    max-width:320px;
    margin-left:auto;
    margin-right:auto;
  }
  .wrapper-img-main{
    position:relative;
    .wrapper-thumbs{
      position:absolute;
      left:50%;
      @include translateX(-50%);
      bottom:20px;
      @media(min-width:1200px){
        bottom:40px;
      }
    }
  }
  // button close
  .mfp-close{
    color: $link-color;
    font-size:40px;
    background:transparent !important;
    border:none;
    @include transition(all 0.2s ease-in-out 0s);
    &:hover,&:active{
      color: $brand-danger;
      @include rotate(180deg);
    }
  }
  .details-product{
    .information {
      text-align: center;
      .woocommerce-product-details__short-description{
          margin:20px 0;
      }
      form.cart{
          width:auto;
          float:none;
          display:inline-block;
          margin: 0 !important;
          vertical-align: bottom;
          table.variations{
              max-width:none;
              width:calc(100% + 100px);
              td,th{
                  text-align:center;
              }
          }
      }
      .cart.grouped_form{
          width:100%;
          margin:0 0 10px !important;
          .button{
              float:none;
          }
      }
      .yith-wcwl-add-to-wishlist{
          display:inline-block;
          float:none;
          vertical-align: bottom
      }
    }
  }
}
.action {
  .caret{
    @include size(8px,8px);
    position: relative;
  }
  &[aria-expanded="true"]{
    b{
      &:before{
        font-family: FontAwesome;
        content: "\f00d";
        position: absolute;
        top:0;
        left: 0;
        font-size: 12px;
      }
      border:none;
    }
  }
}
ins{
  text-decoration: none;
}
img{
    border: 0;
    vertical-align: top;
    max-width: 100%;
    height: auto;
}
.video-responsive {
    height: 0;
    padding-top: 0;
    padding-bottom: 56.25%;
    margin-bottom : 10px;
    position: relative;
    overflow: hidden;
	embed,iframe,object,video{
		top: 0;
		left: 0;
		position: absolute;
        @include square(percentage(1));
	}
}
.audio-responsive{
	iframe{
		@include size(percentage(1), 126px);
	}
}
ul.list-square {
   padding: 0;
   margin: 0;
   list-style: none;
   > li{
    line-height: 35px;
    font-size: 14px;
    margin: 0;
    &.active,
    &:hover{
      > a{
        color: $theme-color;
        &:before{
          background: $theme-color;
        }
      }
    }
    >a{
      display: block;
      @include rtl-padding-left(21px);
      position: relative;
      &:before{
        content: '';
        background: $link-color;
        @include size(8px,8px);
        @include rtl-left(0);
        position: absolute;
        top: 50%;
        @include translateY(-50%);
      }
    }
   }
}
// breadcrumb
.breadcrumb{
  > li {
    + a:before,
    + li:before {
      display:inline-block;
      content: "\f101";
      font-family: 'FontAwesome';
      padding:0 18px;
      color: $text-color !important;
    }
  }
}
.apus-breadscrumb{
    background-color:#f1f1f1;
    margin:0 0 30px;
    @media(min-width:1200px){
      margin-bottom:80px;
      &.woo-breadcrumb{
        margin-bottom:100px;
      }
    }
    i{
      @include rtl-margin-right(8px);
      color:$link-color;
    }
    .wrapper-breads-inner{
      overflow:hidden;
      clear:both;
    }
    .breadcrumb{
      background: transparent;
      margin: 0;
      padding: 0;
      color: $text-color;
      @media(min-width:992px){
        margin-top:7px;
      }
      .active{
        color: $text-color;
      }
      a{
        color: $theme-color;
        &:hover,
        &:active{
          color: $theme-color;
        }
      }
    }
    .wrapper-breads{
       position: relative;
       padding:20px 0;
       @media(min-width:1200px){
        padding:45px 0;
       }
    }
    &.no-title{
      .wrapper-breads{
        @media(min-width:1200px){
          padding:30px 0;
        }
      }
    }
    &.st_center{
      text-align:center;
      .wrapper-breads{
        @media(min-width:1200px){
          padding:80px 0;
        }
      }
      .wrapper-breads-inner{
        > *{
          width:100%;
        }
      }
      .bread-title{
        font-weight:500;
      }
    }
    &.st_stretch{
      .bread-title{
        @include rtl-float-left();
      }
      .breadcrumb{
        @include rtl-float-right();
      }
    }
    &.text-white{
      background:#222222;
      .breadcrumb{
        color: #bababa;
        > li {
          + a:before,
          + li:before {
            color: #bababa !important;
          }
        }
      }
      i,
      .bread-title{
        color:#fff;
      }
      a{
        color: #fff;
        &:hover,
        &:active{
          color: $theme-color;
        }
      }
    }
    &.has_bg{
      .wrapper-breads{
        @media(min-width:1200px){
          padding:75px 0 120px;
        }
      }
    }
    .bread-title{
      text-transform: capitalize;
      font-size: 18px;
      font-weight: 600;
      margin:0;
      @media(min-width:992px){
        font-size:32px;
      }
    }
}
// saerch
.search-form{
  input,
  .btn{
    background: #ebedee;
    border-color: #ebedee;
    color: $link-color;
  }
  .btn{
    padding: $padding-base-vertical 15px;
  }
}
.ui-autocomplete.ui-widget-content{
    padding: 15px;
    margin: 0;
    list-style: none;
    width: 293px !important;
    background: #fff;
    li{
        padding-bottom: 15px;
        margin-bottom: 15px;
        border-bottom: 1px solid $border-color;
        &:last-child{
            border: none;
            margin: 0;
            padding: 0;
        }
        img{
            width: 60px;
        }
    }
}
.main-content {
    display: block;
    padding-bottom: 20px;
}
@media(min-width:992px){
  .main-content {
    display: block;
    padding-bottom: 40px;
  }
}
.bg-dark{
    background: #272727;
    color: #fff;
}
.text-purple {
    color: #6c58bd !important;
}

.text-red {
    color: #c32322 !important;
}
.text-red-1{
  color: #ff0000!important;
}
.text-orange {
    color: #f66000 !important;
}

.text-yellow {
    color: #e2d951 !important;
}
.text-black {
  color:#000 !important;
}
.text-white, .text-light{
    color:#fff !important;
}
.text-darker {
    color:#333!important;
}
.text-uppercase{
text-transform: uppercase;
}
/*Radius
------------------------------------*/
.radius-0 {
    border-radius: 0 !important;
}
.radius-x {
    border-radius: 50% !important;
}
.radius-1x {
    border-radius: 10px !important;
}
.radius-2x {
    border-radius: 20px !important;
}
.radius-3x {
    border-radius: 30px !important;
}
.radius-4x {
    border-radius: 40px !important;
}
.radius-5x {
    border-radius: 5px !important;
}
.radius-6x {
    border-radius: 3px !important;
}
.owl-carousel-play{
    position:relative;
    .owl-item{
        & > div{
        }
        &:last-child .product-wrapper{
            border:none
        }
    }
}
.carousel-md {
    @include size($bo-carousel-md-width, $bo-carousel-md-height);
     line-height: $bo-carousel-md-height;
}
.carousel-sm {
    @include size($bo-carousel-sm-width, $bo-carousel-sm-height);
     line-height: $bo-carousel-sm-height;
     font-size: 14px;
}
.carousel-xs {
    @include size($bo-carousel-xs-width, $bo-carousel-xs-height);
     line-height: $bo-carousel-xs-height;
     font-size: 14px;
}
//back to top
.add-fix-top{
    @include transition(all 0.2s ease-in-out 0s);
    position: fixed;
    z-index: 99;
    bottom: 50px;
    right:0;
    @include translateX(100%);
    display: inline-block;
    color: #fff !important;
    @include opacity(0);
    @include size(45px,45px);
    line-height: 40px;
    @include border-radius(2px);
    text-align: center;
    background: $theme-color;
    i{
      font-size: 25px;
      line-height: 1;
      display: inline-block;
      vertical-align: middle;
    }
    &.active{
        @include translateX(0);
        @include opacity(0.7);
    }
    &:focus,
    &:active,
    &:hover{
        color:#fff !important;
        background:darken($theme-color,5%);
        @include opacity(1);
    }
}
.back-top{
  @include size(104px,104px);
  line-height:100px;
  text-align: center;
  padding:7px;
  @include border-radius(50%);
  background:#fff;
  display: inline-block;
  .back-inner{
    @include border-radius(50%);
    @include size(90px,90px);
    @include gradient-horizontal($theme-color-second,$theme-color);
    position:relative;
    &:before{
      @include border-radius(50%);
      @include transition(all 0.3s ease-in-out 0s);
      content: '';
      @include size(100%,100%);
      @include gradient-horizontal($theme-color,$theme-color-second);
      z-index: 1;
      position:absolute;
      top: 0;
      left: 0;
      @include opacity(0);
    }
    > i{
      position:relative;
      color: #fff;
      font-size: 50px;
      z-index: 9;
    }
  }
  &:hover,&:active{
    .back-inner:before{
      @include opacity(1);
    }
  }
}
.menu{
    padding:0;
    margin:0;
    li{
        list-style: none;
        margin-bottom: 5px;
        a{
          color:$text-color;
          &:before{
            display:inline-block;
            content: "\f0da";
            font-family: 'FontAwesome';
            color:$link-color;
            @include rtl-margin-right(6px);
          }
          &:hover,&:active{
            color:$theme-color;
            &:before{
              color:$theme-color;
            }
          }
        }
        &:last-child{
          margin-bottom:0;
        }
    }
    ul{
      @include rtl-padding-left(20px);
      margin: 0;
    }
}
// loading
.apus-body-loading {
  overflow: hidden;
}
@keyframes spin {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

@keyframes -webkit-spin {
  0% {
      -webkit-transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(360deg);
  }
}
.apus-page-loading {
  top: 0;
  left: 0;
    position: fixed;
    @include size(100%,100%);
    background: #fff;
    z-index: 9999;
}
.apus-loader-inner {
    margin: 0 auto;
    @include size(60px,50px);
    text-align: center;
    font-size: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
    > div{
      @include size(8px,100%);
      display: inline-block;
      float: left;
      margin-left: 2px;
      -webkit-animation: delay 0.8s infinite ease-in-out;
      animation: delay 0.8s infinite ease-in-out;
    }
    .loader1{
      background-color: #e39505;
    }
    .loader2{
      background-color: #ff5395;
      -webkit-animation-delay: -0.7s;
      animation-delay: -0.7s;
    }
    .loader3{
      background-color: #84b813;
      -webkit-animation-delay: -0.6s;
      animation-delay: -0.6s;
    }
    .loader4{
      background-color: #f38ca3;
      -webkit-animation-delay: -0.5s;
      animation-delay: -0.5s;
    }
    .loader5{
      background-color: #da5800;
      -webkit-animation-delay: -0.4s;
      animation-delay: -0.4s;
    }
}
@-webkit-keyframes delay {
    0%, 40%, 100% {
        -webkit-transform: scaleY(0.05);
        transform: scaleY(0.05);
    }
    20% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
}
@keyframes delay {
    0%, 40%, 100% {
        transform: scaleY(0.05);
        -webkit-transform: scaleY(0.05);
    }
    20% {
        transform: scaleY(1);
        -webkit-transform: scaleY(1);
    }
}
// tab version
.tab-v1{
  .tabs-list{
    border:none;
    text-align: center;
    padding:30px 0 50px;
    li{
      padding: 0 22px;
      margin: 0;
      display: inline-block;
       float: none;
      a{
        padding:5px 0;
        color: #777777;
        border-width:0 0 1px !important;
        border-color:  #cccccc;
        border-style: dashed;
        font-size: 16px;
        font-weight: 300;
        text-transform: uppercase;
        background: transparent;
      }
      &.active,
      &:hover{
        > a:active,
        > a:focus,
        > a{
          border-color: transparent;
          color: $theme-color;
          background: transparent;
        }
      }
    }
  }
  &.style1{
    .tabs-list{
      padding: 10px 0 70px;
      @include rtl-text-align-right();
      li{
        &.active,
        &:hover{
          @include box-shadow(0 5px 5px 0 rgba(0, 0, 0, 0.1));
          > a:active,
          > a:focus,
          > a{
            color: $link-color;
          }
        }
      }
    }
  }
  @media(min-width:992px){
    &.style1{
      padding:0 70px;
    }
  }
}
.tab-product-center{
  .nav-tabs{
    border:none;
    margin: 0 0 30px;
    text-align: center;
    > li{
      display: inline-block;
      float: none;
      margin:0 !important;
      > a{
        border:none !important;
        margin:0;
        font-size: 16px;
        font-weight: 500;
        padding:0 30px;
        color: $link-color;
        outline: none !important;
      }
      &:hover,
      &.active{
        a{
          color: $theme-color;
        }
      }
    }
  }
  .tab-content{
    position:relative;
    &.loading:before{
      content: '';
      position:absolute;
      top: 0;
      left: 0;
      z-index: 99;
      @include size(100%,100%);
      background:rgba(255,255,255,0.9) url(#{$image-theme-path}loading-quick.gif) no-repeat scroll center 100px / 50px auto;
    }
  }
}
// pagination
.page-links{
  overflow: hidden;
  margin:0 0 30px;
  .page-links-title{
    font-weight: 700;
    color: $headings-color;
  }
  > span:not(.page-links-title),
  > a{
    display: inline-block;
    line-height: 1;
    margin: 0 2px;
    padding: 9px 15px;
    border:1px solid $border-color;
    color: $link-color ;
    &:hover,&:active{
      color: #fff;
      background: $theme-color;
      border-color: $theme-color;
    }
  }
  > span:not(.page-links-title){
    color: #fff;
    background: $theme-color;
    border-color: $theme-color;
  }
}
option {
    padding: 5px;
}
@media(min-width:992px){
  .space-padding-left-30{
    padding-left: 30px !important;
  }
}
// account
.woocommerce-MyAccount-navigation{
  > ul{
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 35px;
  }
}
// overide of compare
.yith_woocompare_colorbox #cboxWrapper{
    #cboxMiddleLeft,
    #cboxMiddleRight,
    #cboxTopLeft,
    #cboxTopCenter,
    #cboxTopRight,
    #cboxBottomLeft,
    #cboxBottomCenter,
    #cboxBottomRight{
    }
    #cboxContent{
      position: relative;
      #cboxClose{
        position: absolute;
        top:0;
        @include rtl-right(0);
        padding: 5px;
        color: #fff;
        background: $brand-danger;
        text-transform: capitalize;
        font-size: 14px;
        @include size(80px,32px);
        text-indent:0;
        @include transition(all 0.2s ease-in-out 0s);
        &:hover,&:active{
          background: darken($brand-danger,5%);
        }
      }
    }
}
// loading imgaes
.image-lazy-loading .image-wrapper{
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=\"http://www.w3.org/2000/svg\" width=\"38\" height=\"38\" viewBox=\"0 0 38 38\" stroke=\"rgba(102,102,102,0.25)\"%3E%3Cg fill=\"none\" fill-rule=\"evenodd\"%3E%3Cg transform=\"translate(1 1)\" stroke-width=\"2\"%3E%3Ccircle stroke-opacity=\".55\" cx=\"18\" cy=\"18\" r=\"18\"/%3E%3Cpath d=\"M36 18c0-9.94-8.06-18-18-18\"%3E%3CanimateTransform attributeName=\"transform\" type=\"rotate\" from=\"0 18 18\" to=\"360 18 18\" dur=\"1s\" repeatCount=\"indefinite\"/%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
 max-height: 100%;
 img{
  @include opacity(0);
  @include transition(all 0.3s ease-in-out 0s);
 }
 &.image-loaded{
    background: none;
    img{
      @include opacity(1);
    }
 }
}
.scrollbar{
  @include size(102px,102px);
  @include border-radius(50%);
  overflow: hidden;
  line-height:90px;
  text-align: center;
  color: #fff;
  @include gradient-horizontal($theme-color-second,$theme-color);
  font-size: 50px;
  display: inline-block;
  border:6px solid #ffffff;
  @include translateY(55px);
  position:relative;
  z-index: 9;
  &:hover,&:active{
    color: #fff;
    @include gradient-horizontal($theme-color,$theme-color-second);
  }
}
.rtl{
  .navbar-nav{
    float: right;
  }
  .apus-topcart{
    .dropdown-menu-right{
      right: auto;
      left: 0;
    }
  }
  .dropdown-menu{
    text-align:right;
  }
  .site-header-mainmenu.right{
    .navbar-nav.megamenu > li > .dropdown-menu{
      right:inherit;
      left:calc(100% - 40px);
      @include transform-origin(0,100%);
    }
  }
  .site-header-mainmenu.left{
    .navbar-nav.megamenu > li > .dropdown-menu{
      left:inherit;
      right:calc(100% - 40px);
      @include transform-origin(100%,0);
    }
    .navbar-nav.megamenu > li b{
      @include rotate(90deg);
      margin-left:5px;
    }
  }

  .header-left-inner{
    @include translateX(200px);
    &.active{
      @include translateX(0);
    }
  }
  .menu li a::before {
    content: "\f0d9";
  }
  .header-v11 .site-header-mainmenu .nav > li > .dropdown-menu, .header-v9 .site-header-mainmenu .nav > li > .dropdown-menu{
    @include transform-origin(100%,0);
  }
  .header-v11 .site-header-mainmenu .nav > li b, .header-v9 .site-header-mainmenu .nav > li b{
    @include rotate(90deg);
  }
  .header-left-9 .header-right .header_customer_login, .header-left-9 .header-right .inner-top-menu{
    right:100%;
    left:inherit;
    @include transform-origin(100%,0);
  }
  .cart-horizontal.st_right .header_customer_login, .cart-horizontal.st_right .inner-top-menu{
    @include transform-origin(0,100%);
  }
  .cart-horizontal.st_left .header_customer_login, .cart-horizontal.st_left .inner-top-menu{
    @include transform-origin(100%,0);
  }
  .header-v12 .main-menu .navbar-nav > li > .dropdown-menu{
    @include transform-origin(100%,0);
  }
  &.woocommerce .percent-sale,
  &.woocommerce span.onsale{
    left:inherit;
    right:10px;
  }
  .slick-carousel .slick-prev i{
    &:before{
      content: "\e90a";
    }
  }
  .slick-carousel .slick-next i{
    &:before{
      content: "\e909";
    }
  }
  .breadcrumb > li + a::before, .breadcrumb > li + li::before {
    content: "\f100";
  }
}
// wpml
.show-search{
  cursor:pointer;
  line-height:1;
  font-size:16px;
  &:hover,&:active,&:focus{
    color:$theme-color;
  }
}
// style for language
.apus-header{
    .wpml-ls-legacy-dropdown a.wpml-ls-item-toggle{
        border:none !important;
        padding:4px 25px 6px 0;
        background:transparent !important;
        color:$topbar-link-color !important;
    }
    .wpml-ls-legacy-dropdown .wpml-ls-sub-menu{
        background:#fff;
        border:none;
        border:1px solid $border-color;
        min-width:114px;
        li{
          border-bottom:1px solid $border-color;
          padding:9px 10px;
          a{
            border:none !important;
            background:transparent !important;
            padding:0;
            color:$link-color;
            &:hover,&:focus{
              color:$link-hover-color;
            }
          }
          &:last-child{
            border:none;
          }
        }
    }
    .wpml-ls-legacy-dropdown{
      width: auto;
    }
    .woo-multi-currency.shortcode.plain-vertical .wmc-currency-wrapper span.wmc-current-currency, 
    .woo-multi-currency.shortcode.plain-vertical .wmc-currency-wrapper .wmc-sub-currency .wmc-currency{
      padding:0;
      border:none;
      background:transparent;
    }
    .woo-multi-currency.shortcode.plain-vertical .wmc-currency-wrapper .wmc-sub-currency .wmc-currency{
      padding:5px 10px;
      border-bottom:1px solid $border-color;
      &:last-child{
        border:none;
      }
    }
    .woo-multi-currency.shortcode.plain-vertical .wmc-currency-wrapper span.wmc-current-currency{
      font-weight:400;
      color:$topbar-link-color;
    }
    .woo-multi-currency.shortcode.plain-vertical .wmc-currency-wrapper .wmc-sub-currency .wmc-currency a:hover, .woo-multi-currency.shortcode.plain-vertical .wmc-currency-wrapper .wmc-sub-currency .wmc-currency.active a{
      font-weight:400;
      color:$theme-color;
    }
    .woo-multi-currency.shortcode.plain-vertical .wmc-currency-wrapper .wmc-sub-currency{
      min-width:80px;
      text-align:inherit;
      z-index:99;
    }
    .woo-multi-currency.shortcode.plain-vertical .wmc-currency-wrapper span.wmc-current-currency::after{
      font-size:11px;
    }
    .apus-topbar{
      .wpml-ls-legacy-dropdown .wpml-ls-sub-menu{
        min-width:155px;
      }
    }
}
.search-header {
  position:fixed;
  z-index:10;
  @include opacity(0);
  visibility:hidden;
  top:0;
  left:0;
  @include size(100%,100%);
  @include scale(0,1);
  background:rgba(0,0,0,0.95);
  @include transition(all 0.2s ease-in-out 0s);
  &.active{
    @include opacity(1);
    @include scale(1);
    visibility:visible;
  }
}
.apus-search-form.search-fix{
  padding:80px 0;
  margin:0 !important;
  .inner-search{
    max-width:770px;
    margin:auto;
  }
}
.btn-main-menu-left,
.btn-main-menu,
.btn-main-menu-header,
.btn-main-menu-right{
  position:relative;
  z-index:10;
  font-weight:600;
  cursor:pointer;
  display:inline-block;
  .text{
    @include rtl-margin-left(10px);
  }
  i{
    @include rtl-margin-right(10px);
    font-size:24px;
    vertical-align:middle;
  }
  &:hover{
    .icon-show-menu > span{
      background:$theme-color;
    }
  }
}
.icon-show-menu{
  vertical-align:middle;
  display:inline-block;
  @include size(26px,22px);
  line-height:0;
  > span{
    @include transition(all 0.2s ease-in-out 0s);
    display:inline-block;
    @include size(26px,2px);
    background:$link-color;
    line-height:2px;
    vertical-align:top;
    margin-bottom:8px;
    &:last-child{
      margin-bottom:0;
    }
  }
  &:hover,&:active{
    span{
      background:$theme-color;
    }
  }
  &.active{
    span{
      background:$theme-color;
      width:28px;
    }
    .line2{
      @include opacity(0);
    }
    .line1{
      @include rotate(45deg);
      @include transform-origin(0,100%)
    }
    .line3{
      @include rotate(-45deg);
      @include transform-origin(0,0)
    }
  }
}
// style for header cart
.cart-horizontal{
  position:relative;
  .apus-topcart{
    position:static;
    .dropdown-menu{
      position:fixed;
      background:#f7f7f7;
      height:100%;
      top:0;
      right:inherit;
      @include opacity(0);
      visibility: hidden;
      @include translateY(0);
      display: -webkit-flex; /* Safari */
      display: flex;
      align-items:center;
      @include scale(0);
      -webkit-align-items:center;
    }
    .open{
      .dropdown-menu{
        @include scale(1);
        @include opacity(1);
        visibility:visible;
      }
    }
    .cart_list{
      max-height:100%;
    }
  }
  &.st_left{
    .dropdown-menu{
      @include rtl-left(210px);
    }
  }
  &.st_right{
    .dropdown-menu{
      @include rtl-right(210px);
    }
  }
  // menu account
  .top-wrapper-menu{
    position:static;
    .header_customer_login,
    .inner-top-menu{
      display: -webkit-flex !important; /* Safari */
      display: flex !important;
      -webkit-flex-direction: column;
      flex-direction: column;
      justify-content: center;
      -webkit-justify-content: center; /* Safari 6.1+ */
      height:100%;
      top:0;
      width:200px;
      @include scale(0,1);
      padding:30px;
      background:#f3f3f3;
      @include box-shadow(none);
      @include transform-origin(100%,0);
      li{
        margin-bottom:15px;
        &:last-child{
          margin-bottom:0;
        }
      }
    }
    .header_customer_login{
      width:350px;
      height:auto;
    }
    &:hover{
      .header_customer_login,
      .inner-top-menu{
        @include scale(1);
      }
    }
  }
  &.st_right{
    .header_customer_login,
    .inner-top-menu{
      @include transform-origin(100%,0);
      @include rtl-right(100%);
      text-align:right;
    }
  }
  &.st_left{
    .header_customer_login,
    .inner-top-menu{
      @include transform-origin(0,0);
      @include rtl-left(100%);
      text-align:left;
    }
  }

}
.header-v11{
  .cart-horizontal{
    &.st_left{
      .apus-topcart .dropdown-menu{
        @include rtl-left(150px);
      }
    }
    &.st_right{
      .apus-topcart .dropdown-menu{
        @include rtl-right(150px);
      }
    }
  }
}
.header-v12{
  .cart-horizontal{
    &.st_left{
      .apus-topcart .dropdown-menu{
        @include rtl-left(340px);
      }
    }
    &.st_right{
      .apus-topcart .dropdown-menu{
        @include rtl-right(340px);
      }
    }
  }
}
.site-header-mainmenu{
  position:fixed;
  width:370px;
  height:100vh;
  top:0;
  background:#fff;
  display: -webkit-flex !important; /* Safari */
  display: flex !important;
  align-items:center;
  -webkit-align-items:center;
  -webkit-flex-direction: column;
  flex-direction: column;
  z-index:9;
  padding:35px;
  @include opacity(0);
  visibility: hidden;
  @include transition(all 0.2s ease-in-out 0s);
  @media(min-width:1200px){
    padding:65px 40px;
  }
  .main-menu{
    width:100%;
  }
  .navbar-nav.megamenu > li{
    position:static;
    @include opacity(0);
    @include transition(all 0.2s cubic-bezier(0.13,1.07,0.60,0.98) 0s);
    margin-top:5px !important;
    b{
      margin:3px 0 0;
      @include rtl-float-right();
      @include rotate(-90deg);
      @include rtl-margin-right(10px);
    }
    > .dropdown-menu{
      @include rotateX(0);
      @include box-shadow(none);
      display: -webkit-flex !important; /* Safari */
      display: flex !important;
      -webkit-flex-direction: column;
      flex-direction: column;
      left:100%;
      height:100%;
      top:0;
      width:200px;
      @include scale(0,1);
      padding:30px;
      background:#f3f3f3;
      @media(min-width:1200px){
        padding:60px;
        width:320px;
      }
      li{
        margin-bottom:15px;
        &:last-child{
          margin-bottom:0;
        }
      }
    }
    &:hover{
      .dropdown-menu{
        @include scale(1);
      }
    }
  }
  .navbar-nav.megamenu{
    @include loop-delay('> li');
  }
  &.right{
    .navbar-nav.megamenu > li > .dropdown-menu{
      right:calc(100% - 35px);
      @media(min-width:1200px){
        right:calc(100% - 40px);
      }
      left:inherit;
      @include transform-origin(100%,0);
    }
    @include rtl-right(0);
    @include box-shadow(0 0 8px 0 rgba(0,0,0,0.1));
  }
  &.left{
    .navbar-nav.megamenu > li > .dropdown-menu{
      left:calc(100% - 35px);
      @media(min-width:1200px){
        left:calc(100% - 40px);
      }
      right:inherit;
      @include transform-origin(0,0);
    }
    @include rtl-left(0);
    @include box-shadow(0 2px 8px 0 rgba(0,0,0,0.1));
  }
  &.show{
    @include opacity(1);
    visibility: visible;
    .navbar-nav.megamenu > li{
      @include opacity(1);
      margin-top:0px !important;
    }
  }
  &.st-white{
    // menu
    .navbar-nav.megamenu {
      float:none;
      width:100%;
      > li{
        display:block;
        margin:0 0 30px;
        text-align:center;
        > a{
          font-size:14px;
          font-weight:700;
          b{
            display:none;
          }
        }
      }
    }
  }
  &.st-brown{
    background:#f8f8f8;
    padding:0;
    @include box-shadow(0 10px 15px -5px rgba(0, 0, 0, 0.15));
    @include scale(0);
    &.show{
      @include scale(1);
    }
    justify-content: center;
    -webkit-justify-content: center; /* Safari 6.1+ */
    // menu
    .main-menu{
      width:100%;
    }
    .navbar-nav.megamenu {
      float:none;
      width:100%;
      > li{
        display:block;
        margin:0 !important;
        > a{
          padding:18px 60px;
          font-size:16px;
          font-weight:500;
          width:100%;
          text-transform:capitalize;
        }
        &:hover,&.active{
          > a{
            background:#eeeeee;
          }
        }
      }
    }
  }
  // social
  .socials-wrapper{
      position:absolute;
      bottom:0;
      left:0;
      width:100%;
      text-align:center;
      border-top:1px solid $border-color;
      padding:30px 0;
      @media(min-width:1200px){
        padding:60px 0;
      }
      margin:0;
      padding:0;
      list-style:none;
      li{
          display:inline-block;
          margin:0 15px;
      }
      a{
          color:$text-color;
          &:hover,&:active{
              color:$theme-color;
          }
      }
  }
  &.st-dark{
    border:20px solid #f2f2f2;
    background:#222222;
    .socials-wrapper{
      border-color:#2e2e2e;
      padding:20px 0;
      @media(min-width:1200px){
        padding:40px 0;
      }
      a{
          color:#bababa;
          &:hover,&:active{
              color:#fff;
          }
      }
    }
    // menu
    .navbar-nav.megamenu {
      float:none;
      width:100%;
      > li{
        display:block;
        margin:0 0 30px;
        > a{
          font-size:16px;
          font-weight:500;
          color:#bababa;
          width:100%;
          text-transform: capitalize;
        }
        &:hover,&.active{
          > a{
            color:#fff;
          }
        }
      }
    }
  }
}
.header-v11,
.header-v9{
  .site-header-mainmenu{
    position:fixed;
    @include rtl-left(215px);
    @include translateX(0px !important);
    // menu
    .nav > li{
      position:static;
      b{
        margin:3px 0 0;
        @include rtl-float-right();
        @include rotate(-90deg);
      }
      > .dropdown-menu{
        @include rotateX(0);
        @include box-shadow(none);
        display: -webkit-flex !important; /* Safari */
        display: flex !important;
        -webkit-flex-direction: column;
        flex-direction: column;
        justify-content: center;
        -webkit-justify-content: center; /* Safari 6.1+ */
        @include rtl-left(100%);
        height:100%;
        top:0;
        width:200px;
        @include scale(0,1);
        padding:30px;
        background:#f3f3f3;
        @media(min-width:1200px){
          padding:60px;
          width:320px;
        }
        li{
          margin-bottom:15px;
          &:last-child{
            margin-bottom:0;
          }
        }
      }
      &:hover{
        .dropdown-menu{
          @include scale(1);
        }
      }
    }
  }
}
.header-v11{
  .site-header-mainmenu{
    @include rtl-left(150px);
  }
}