.wpb_revslider_element.wpb_content_element{
  margin-bottom: 0;
}
.tp-caption.rev-btn{
  .text-theme{
    @include transition(all 0.25s ease-in-out 0s);
  }
  &:hover,&:active{
    .text-theme{
      color:#fff !important;
    }
  }
}
.vc_row.container{

}
// title heading
.widget-text-heading{
  margin:0; 
  .title{
    font-size: 22px;
    font-weight: 700;
    margin:0;
    @media(min-width:1200px){
      font-size: 32px;
    }
  }
  .des{
    font-size: 16px;
  }
  &.center{
    text-align:center;
  }
}
.banner-countdown-widget{
  .sub-title{
    font-size:10px;
    text-transform:uppercase;
    letter-spacing:2px;
    font-weight:600;
  }
  .price{
    font-weight:600;
    line-height:1.1;
    .sub{
      font-size:16px;
    }
    font-size:28px;
    p:last-child{
      margin-bottom:0;
    }
    @media(min-width:1200px){
      font-size:38px;
      .sub{
        font-size:26px;
      }
    }
  }
  .des{
    margin-top:15px;
    @media(min-width:1200px){
      margin-top:30px;
    }
  }
  .widget-title{
    font-size: 30px;
    font-weight: 600;
    margin: 0 0 20px;
    @media(min-width:1200px){
      font-size: 48px;
    }
  }
  .times{
    margin-top: 55px;
    @media(min-width:1200px){
      margin-top: 30px;
    }
    > div{
      text-align:center;
      font-size: 14px;
      display: inline-block;
      text-transform: capitalize;
      @include rtl-margin-right(10px);
      position:relative;
      padding:12px 28px;
      background:#fff;
      font-weight:500;
      &:last-child{
        margin:0;
      }
      span{
        font-family:$font-family-three;
        font-weight:400;
        color:#000;
        font-weight: 400;
        font-size: 30px;
        margin-bottom:3px;
        @media(min-width:992px){
          font-size:46px;
        }
        display: block;
        line-height: 1.2;
      }
    }
  }
  .more{
    margin-top:20px;
    @media(min-width:1200px){
      margin-top:50px;
    }
  }
}
.sidebar-service{
  .left-inner{
    @include rtl-float-left();
    @include rtl-padding-right(12px);
    i{
      font-size: 21px;
      display:inline-block;
      @include size(46px,46px);
      line-height: 46px;
      background:#f8f8f8;
      @include border-radius(50%);
      text-align: center;
    }
  }
  .right-inner{
    overflow:hidden;
    padding:4px 0 0;
    font-size: 10px;
    font-weight: 500;
    color: #8f8f8f;
    .num_phone{
      line-height: 1.1;
      font-size: 18px;
      font-weight: 600;
      color: #000;
    }
  }
}
// topbar address
.top-address{
  > *{
    display:inline-block;
    vertical-align:middle;
    @include rtl-padding-right(22px);
    @include rtl-margin-right(22px);
    @include rtl-border-right(1px solid $border-color);
    &:last-child{
      border:none;
      margin:0;
      padding:0;
    }
  }
}
//contact-info-widget
.contact-info-widget{
  .media-left, .media-right, .media-body{
    vertical-align: middle;
  }
  .media-body{
    width: auto;
  }
  .icon{
    border:2px dashed #3d464d;
    display: inline-block;
    line-height: 64px;
    text-align: center;
    @include transition(all 0.2s ease-in-out 0s);
    img{
      max-width: 80%;
      vertical-align: middle;
    }
    @include size(70px,70px);
    @include border-radius(50px);
  }
  .media-left{
    @include rtl-padding-right(24px);
  }
  font-size: 14px;
  color: #fff;
  .media{
    margin-top: 0;
    &:last-child{
      margin: 0;
    }
    @media(min-width:1200px){
      @include rtl-margin-left(40px)
    }
    &:hover{
      .icon{
        border-color:#fff;
      }
    }
  }
}
.widget-introduction{
  .subtitle{
    font-size:12px;
    text-transform: uppercase;
    color: $text-color;
  }
  .title{
    font-size: 30px;
    font-weight: 800;
    color: $theme-color;
    line-height: 1.2;
    margin: 0 0 25px;
  }
  .description{
    font-size: 24px;
    font-style: italic;
    font-family: $font-family-second;
    color: #616161;
  }
  .name{
    color: $theme-color;
    margin:0; 
    font-size: 18px;
    font-weight: 800;
  }
  .job{
    color: #222222;
    font-weight: 400;
    font-size: 11px;
    text-transform: uppercase;
  }
  .image-icon{
    margin:22px 0; 
  }
}
// widget call to action
.widget-action{
  .title{
    font-family:$font-family-second;
    font-size: 30px;
    font-weight: 400;
    margin:0 0 30px;
    position:relative;
    line-height:1.05;
    @media(min-width:992px){
      font-size: 60px;
    }
    p:last-child{
      margin:0;
    }
    strong{
      color:$theme-color;
      font-weight:400;
    }
  }
  .sub_title{
    color:$headings-color;
    font-size:24px;
    letter-spacing:1px;
    text-transform:uppercase;
  }
  .btn{
    letter-spacing:1px;
    i{
      @include transition(all 0.2s ease-in-out 0s);
      color:$theme-color;
      @include rtl-margin-left(10px);
    }
    &:hover,&:active{
      i{
        color:#fff;
      }
    }
  }
}
// widget counter
.counters{
  text-align: center;
  .counter-wrap{
    font-family: $font-family-second;
    font-size: 60px;
    line-height: 1.2;
  }
  .title{
    font-weight: 400;
    margin:0;
    font-size:25px; 
  }
}
// widget location
.location{
  .inner{
    overflow: hidden;
    margin: 0 0 10px;
    .inner-left{
      @include rtl-float-left();
      font-size:16px;
      @include rtl-margin-right(12px);
    }
    .inner-right{
      overflow: hidden;
    }
  }
  &.style-white{
    i{
      @include opacity(0.5);
    }
  }
}
//widget banner
.widget-banner-item{
  position:relative;
  overflow:hidden;
  .link-img{
    display:block;
    img{
      @include transition(all 0.6s ease-in-out 0s);
    }
  }
  &:hover{
    .link-img img{
      @include scale(1.1);
    } 
    .title{
      color:$theme-color;
    }
  }
  .title{
    @include transition(all 0.3s ease-in-out 0s);
    font-weight: 700;
    line-height: 1.25;
    color:$headings-color;
    p:last-child{
      margin-bottom:0;
    }
  }
  .p_right,
  .p_left{
    position:absolute;
    top:50%;
    @include translateY(-50%);
    padding:0 10px;
    @media(min-width:1200px){
      padding:0 20px;
    }
    &.p_bottom{
      @include translateY(0);
      bottom:0;
      top:inherit;
      padding:20px !important;
      @media(min-width:1200px){
        padding:40px !important;
      }
    }
  }
  .p_right {
    right:0;
  }
  .p_left{
    left:0;
  }
  .f_big {
    @media(min-width:1200px){
      &.p_right {
        @media(min-width:1200px){
          padding:0 40px;
        }
      }
    }
    .subtitle{
      color:$link-color;
      font-size:22px;
      font-weight:300;
      line-height:1;
      @media(min-width:1200px){
        font-size:42px;
      }
    }
    .title{
      font-size:40px;
      font-weight:600;
      margin:0;
      line-height:1.1;
      @media(min-width:1200px){
        font-size:80px;
      }
    } 
    .des{
      font-size:16px;
      @media(min-width:1200px){
        margin-top:3px;
      }
    }
    .more{
      margin-top:20px;
      @media(min-width:1200px){
        margin-top:40px;
      }
    }
    &.f_thin{
      .title{
        text-transform:uppercase;
        font-size:30px;
        font-weight:400;
        letter-spacing:-1px;
        line-height:0.9;
        @media(min-width:1200px){
          font-size:40px;
        }
      } 
    }
  }
  .f_normal{
    .subtitle{
      color:$link-color;
      font-size:18px;
      font-weight:300;
      @media(min-width:1200px){
        font-size:24px;
      }
    }
    .title{
      margin:0;
      font-size:30px;
      @media(min-width:1200px){
        font-size:54px;
      }
      .sub{
        font-weight:300;
        font-size:14px;
        vertical-align:top;
        @media(min-width:1200px){
          font-size:24px;
        }
      }
    }
    .des{
      font-size:13px;
      @media(min-width:920px){
        font-size:16px;
      }
    }
    .more{
      margin-top:10px;
    }
  }
  .f_small{
    .subtitle{
      color:$link-color;
      font-size:18px;
      font-weight:300;
      line-height:1;
      @media(min-width:1200px){
        font-size:24px;
      }
    }
    .title{
      margin:0;
      font-size:25px;
      line-height:1;
      @media(min-width:1200px){
        font-size:36px;
      }
      .sub{
        font-weight:300;
        font-size:14px;
        vertical-align:top;
        @media(min-width:1200px){
          font-size:24px;
        }
      }
    }
    .des{
      font-size:13px;
      margin-top:10px;
      @media(min-width:920px){
        font-size:16px;
      }
    }
    .more{
      margin-top:10px;
    }
  }
  .f_large{
    .subtitle{
      font-size:16px;
    }
    .title{
      margin:0;
      line-height:1.1;
      font-size:35px;
      font-weight:700;
      @media(min-width:1200px){
        font-size:60px;
      }
    }
    .more{
      margin-top:10px;
      @media(min-width:1200px){
        margin-top:35px;
      }
    }
  }
  .a_left{
    text-align:left;
  }
  .a_right{
    text-align:right;
  }
  .a_center{
    text-align:center;
    width:65%;
    .des{
      margin:0;
      font-size:22px;
      font-weight:300;
      color:$link-color;
      @media(min-width:1200px){
        font-size:32px;
      }
    }
  }
}
// single image
a.vc_single_image-wrapper{
  position:relative;
  &:before,&:after{
    content: '';
    @include size(100%,100%);
    background:rgba(255,255,255,0.3);
    position: absolute;
    top:0;
    left: 0;
    z-index: 5;
    @include transition(transform 0.5s, opacity 0.2s ease-in-out 0s);
    @include opacity(0);
  }
  &:hover{
    &:before{
      @include scale(0,1);
      @include opacity(1);
    }
    &:after{
      @include scale(1,0);
      @include opacity(1);
    }
  }
}
// widget signle image
.single-image{
  a{
    display: block;
    position:relative;
    &:before,&:after{
      content: '';
      @include size(100%,100%);
      background:rgba(255,255,255,0.3);
      position: absolute;
      top:0;
      left: 0;
      z-index: 5;
      @include transition(transform 0.5s, opacity 0.2s ease-in-out 0s);
      @include opacity(0);
    }
    &:hover{
      &:before{
        @include scale(0,1);
        @include opacity(1);
      }
      &:after{
        @include scale(1,0);
        @include opacity(1);
      }
    }
  }
}
// widget vertical menu
.vertical-wrapper{
  .title-vertical{
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    text-transform:uppercase;
    padding:8px 20px;
    cursor: pointer;
    i{
      font-size: 16px;
      @include rtl-margin-right(15px);
    }
    .show-down{
      margin:5px 0 0;
      @include rtl-float-right();
    }
  }
  .content-vertical{
    padding:0;
    display:none;
  }
}
.apus-vertical-menu{
  padding: 14px 0;
  background: #fff;
  margin:0;
  list-style:none;
  border-width:0 1px 1px;
  border-style:solid;
  border-color:$border-color;
  > li{
    display: block;
    width: 100%;
    > a{
      font-size: 14px;
      padding: 0 20px;
      line-height: 40px;
      background:transparent !important;
      > i,
      > img{
        @include rtl-margin-right(16px);
        width: 18px;
      }
      .caret{
        @include rtl-float-right();
        margin: 18px 0 0;
        @include rotate(0deg);
        @include transition(all 0.2s ease-in-out 0s);
      }
    }
    .apus-container{
      padding: 10px 35px;
    }
    &.active{
      > a{
        color: $theme-color;
      }
    }
  }
  li:hover{
    > .dropdown-menu{
      @include opacity(1);
      visibility: visible;
    }
  }
  .dropdown-menu{
    visibility: hidden;
    padding:30px;
    font-size:14px;
    @include border-radius(0);
    display: block;
    @include opacity(0);
    @include transition(all 0.2s ease-in-out 0s);
    border:none;
    @include box-shadow(0 0 5px 0 rgba(0,0,0,0.15));
    > li{
      > a{
        color: $link-color;
        background:transparent !important;
        padding:0;
      }
      &:hover,&.active,&:active{
        > a{
          color: $theme-color;
        }
      }
    }
    .wpb_button, .wpb_content_element, ul.wpb_thumbnails-fluid > li,
    .widget{
      margin:0;
    }
    .widget .widget-title, .widget .widgettitle, .widget .widget-heading{
      margin:0 0 0;
      border:none;
      font-size: 16px;
      &:before{
        display:none;
      }
    }
  }
  .aligned-left{
    > a{
      &:hover{
        .caret{
          @include rotate(-90deg);
        }
      }
    }
    > .dropdown-menu{
      top: 0;
      left: 100%;
    }
  }
  .aligned-right{
    > a{
      &:hover{
        .caret{
          @include rotate(90deg);
        }
      }
    }
    > .dropdown-menu{
      top: 0;
      right: 100%;
      left: inherit;
    }
  }
}
// apus_custom_menu
.apus_custom_menu{
  .widget{
    margin-bottom:0;
  }
  &.center{
    text-align: center;
    li{
      display:inline-block;
      margin:0 15px;
    }
  }
  &.left{
    text-align: left;
  }
  &.right{
    text-align: right;
  }
  &.inline{
    li{
      display:inline-block;
      vertical-align:middle;
      margin-bottom:0;
      @include rtl-margin-right(10px);
      @media(min-width:1200px){
        @include rtl-margin-right(25px);
      }
      a:before{
        display:none;
      }
      &:last-child{
        margin:0;
      }
    }
  }
}
// widget contact
.widget-contact{
  text-align: center;
  padding:35px;
  .widget-title{
    color: #fff;
    font-size: 30px;
    font-weight: 800;
    margin:0 0 22px; 
  }
  .social{
    margin:0 0 25px; 
    a{
      color: #555;
      font-size:18px;
      margin:0 18px; 
      &:hover,&:active{
        color: $theme-color;
      }
    }
  }
  .info{
    > span{
      margin: 0 30px;
      color: $theme-color;
      font-size: 16px;
      i{
        @include rtl-margin-right(8px);
        vertical-align:middle;
        color: #555;
        font-size: 24px;
      }
    }
  }
}
// tab lists
.tabs-v1{
  .tab-content{
    padding:30px 0;
    @media(min-width:1200px){
      padding:45px 0 35px;
    }
  }
  #commentform{
    margin:0;
    .form-control{
      @include border-radius(0);
    }
  }
  #tabs-list-seller{
    .list-unstyled{
      .seller-rating{
        display: inline-block;
        @include rtl-margin-right(5px);
        vertical-align: middle;
      }
    }
  }
  .nav-tabs{
    padding:0;
    border:none;
    width:100%;
    border-bottom:2px solid $border-color;
    li{
      float: none;
      margin-bottom:-2px;
      @include rtl-margin-right(30px);
      @media(min-width:1200px){
        @include rtl-margin-right(50px);
      }
      padding:0;
      display:inline-block;
      border:none !important;
      > a{
        @include transition(all 0.2s ease-in-out 0s);
        border-width:0 0 2px !important;
        border-style:solid;
        border-color:transparent;
        font-size: 16px;
        font-weight: 500;
        color: $text-color !important;
        margin: 0;
        padding:0 0 15px;
        background:transparent !important;
        @include transition(all 0.3s ease 0s);
        display: block;
        @include border-radius(0);
        text-transform:capitalize;
        position:relative;
      }
      &:focus,
      &:hover,
      &.active{
        border-bottom: none;
        > a:focus,
        > a:hover,
        > a{
          border-color:$theme-color;
          color: $link-color !important;
        }
      }
    }
  }
  .title{
    font-size: 30px;
    margin:0 0 10px;
  }
}
.tab-product.nav-tabs{
  border:none;
  margin:10px 0 0;
  @media(min-width:992px){
    margin:28px 0 0;
  }
  @media(max-width:767px){
    padding-bottom:10px;
  }
  > li{
    margin:0;
    @include rtl-margin-right(20px);
    @media(min-width:1200px){
      @include rtl-margin-right(50px);
    }
    &:last-child{
      margin:0;
    }
    float:none;
    display:inline-block;
    > a{
      margin:0;
      padding:0 0 5px;
      font-size: 16px;
      font-weight: 500;
      color: $text-color;
      background: transparent !important;
      border:none !important;
      position: relative;
      text-transform:capitalize;
      &:before{
        content:'';
        @include size(0px,2px);
        background: $theme-color;
        position: absolute;
        bottom:0;
        left: 0;
        z-index: 1;
        @include opacity(0.8);
        @include transition(all 0.2s ease-in-out 0s);
      }
    }
    &:hover{
      > a{
        color:$link-color; 
      }
    }
    &.active{
      > a{
        color:$link-color;
        &:before{
          width:100%;
        }
      }
    }
  }
}
.nav-tabs.hierarchy{
  border:none;
  > li{
    @include rtl-margin-right(25px);
    &:last-child{
      margin:0;
    }
    > a{
      margin:0;
      padding:10px 0;
      font-size: 16px;
      font-weight: 400;
      color: $text-color;
      background: transparent !important;
      border:none !important;
      position: relative;
    }
    &:hover{
      > a{
        color:#191919; 
      }
    }
    &.active{
      > a{
        color:#191919; 
        font-weight: 500;
      }
    }
  }
}
.nav-tabs.style_center{
  border:none;
  text-align: center;
  margin-bottom: 35px;
  > li{
    display: inline-block;
    vertical-align: middle;
    float: none;
    margin:0 26px;
    > a{
      margin:0;
      padding:10px 0;
      font-size: 14px;
      font-weight: 500;
      color: $text-color;
      text-transform:uppercase;
      background: transparent !important;
      border:none !important;
      position: relative;
    }
    &:hover{
      > a{
        color:$theme-color; 
      }
    }
    &.active{
      > a{
        color:$theme-color; 
      }
    }
  }
}
.nav.tabs-product1{
  text-align: center;
  padding: 20px 0;
  > li{
    display: inline-block;
    line-height: 1;
    float: none;
    @include rtl-border-right(1px solid $text-color);
    &:last-child{
      border:none;
    }
    > a{
      font-family: $headings-font-family;
      font-size: 12px;
      text-transform: uppercase;
      color: $text-color;
      padding: 0 10px;
      background: transparent;
    }
    &.active,
    &:hover{
      > a{
        color: $theme-color;
        background: transparent;
      }
    }
  }
}
.nav.tabs-product-light{
  > li{
    border-color: #fff;
    > a{
      color: #fff;
    }
    &.active,
    &:hover{
      > a{
        color:$theme-color-second;
        background: transparent;
      }
    }
  }
}
// slick
.slick-carousel{
  position:relative;
  margin-right: -($theme-margin / 2);
  margin-left: -($theme-margin / 2);
  .slick-arrow{
    background:transparent;
    padding:0;
    display: inline-block;
    text-align: center;
    font-size: 32px;
    color: #cfcfcf;
    @include transition(all 0.2s ease-in-out 0s);
    position:absolute;
    top: 50%;
    @include translateY(-50%);
    z-index: 3;
    border:none;
    @include box-shadow(none);
    @include opacity(0);
    @media(min-width:1200px){
      @include opacity(1);
    }
    .textnav{
      display: none;
    }
    &:hover,&:active,&:focus{
      color: $link-color;
    }
  }
  &:hover{
    .slick-arrow{
      @include opacity(1);
    }
  }
  .slick-prev{
    @include rtl-left(0);
    @media(min-width:1200px){
      @include rtl-left(-30px);
    }
  }
  .slick-next{
    @include rtl-right(0);
    @media(min-width:1200px){
      @include rtl-right(-30px);
    }
  }
  .slick-slide{
    outline: none !important;
    padding-left:$theme-margin / 2;
    padding-right:$theme-margin / 2;
  }
  &.show-text{
    .textnav{
      display: inline-block;
      margin: 0 2px;
    }
    .slick-arrow{
      @include size(auto,auto);
      background: transparent !important;
      font-weight:500;
      font-size: 12px;
      color: $link-color;
      &:hover,&:active,&:focus{
        color:$theme-color;
      }
    }
    .slick-prev{
      left: $theme-margin / 2;
      right: inherit;
    }
    .slick-next{
      right: $theme-margin / 2;
      left: inherit;
    }
  }
  &.p-bottom{
    .slick-list{
      padding-bottom:5px;
    }
    .slick-arrow{
      top: 100%;
      @include translateY(-100%);
    }
  }
  .slick-track{
    margin: inherit;
  }
  // dots
  .slick-dots{
    margin:0 !important;
    padding:15px 0;
    text-align: center;
    list-style: none;
    line-height:1;
    li{
      display: inline-block;
      margin:0 5px !important;
      button {
        border:none;
        display: block;
        text-indent: -9999em;
        @include size(8px,8px);
        padding:0;
        background: #e1e1e1;
        @include border-radius(50%);
        @include transition(all 0.2s ease-in-out 0s);
      }
      &.slick-active button{
        background: $theme-color;
      }
    }
  }
}
.slick-carousel-top{
  .slick-arrow{
    top: -62px;
    @include translate(0,0);
  }
  .slick-next{
    right: 15px;
  }
  .slick-prev{
    left: inherit;
    right: 43px;
  }
}
// carousel
/* 
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
  -webkit-animation-duration: 1000ms;
  animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.owl-carousel .owl-animated-in {
  z-index: 0;
}
.owl-carousel .owl-animated-out {
  z-index: 1;
}
.owl-carousel .fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

/* 
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height {
  -webkit-transition: height 500ms ease-in-out;
  -moz-transition: height 500ms ease-in-out;
  -ms-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out;
}
.owl-carousel-top .owl-carousel,
.owl-carousel-top.owl-carousel{
  .owl-controls .owl-nav .owl-next,
  .owl-controls .owl-nav .owl-prev{
    @include opacity(1);
    background: #aaaaaa;
    border:none;
    color: #fff;
    &:hover,&:active{
      background: #222222;
      color: #fff;
    }
  }
  .owl-controls{
    top:-70px;
    width: 108px;
    @include rtl-right(0);
    @include translateY(0px);
  }
}
/* 
 *  Core Owl Carousel CSS File
 */
.owl-carousel {
  display: none;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1;
  margin-right:-($theme-margin / 2);
  margin-left:-($theme-margin / 2);
  cursor: pointer;
  &:hover{
  	.owl-controls .owl-nav .owl-prev,
  	.owl-controls .owl-nav .owl-next{
  		@include opacity(1);
  	}
  }
}
.owl-controls{
  .owl-dots{
    text-align: center;
    .owl-dot{
      cursor: pointer;
      margin: 0 5px;
      @include size(11px,11px);
      @include border-radius(50%);
      display: inline-block;
      border:2px solid #646a7c;
      background: #646a7c;
      &.active{
        border-color:$theme-color;
        background:$theme-color;
      }
    }
  }
}
.nav-bottom.owl-carousel{
  padding-bottom:55px;
  .owl-controls{
    top: 100%;
  }
}
.nav-white {
  .owl-controls .owl-dots .owl-dot{
    border-color:$theme-color;
    background:transparent;
    &:hover,
    &.active{
      background:#fff;
      border-color:$theme-color;
    }
  }
}
.nav-small{
  .owl-controls .owl-nav .owl-prev, .owl-controls .owl-nav .owl-next{
    @include size(30px,30px);
    line-height: 28px;
    border-width: 1px;
    font-size: 18px;
  }
}
.nav-white{
  .owl-controls .owl-nav .owl-prev, .owl-controls .owl-nav .owl-next{
    border-color:rgba(255,255,255,0.5);
    color: rgba(255,255,255,0.5);
    &:hover,&:active{
      border-color:$theme-color;
      background-color:$theme-color;
      color: #fff;
    }
  }
}
.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
}
.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  /* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-controls{
	position: absolute;
    top: 50%;
    width: 100%;
    @include translateY(-50%);
}
.owl-controls .owl-nav .owl-prev,
.owl-controls .owl-nav .owl-next{
  cursor: pointer;
  display: inline-block;
  @include opacity(0);
  text-align: center;
  @include transition(all 0.3s ease);
  position: absolute;
  @include translateY(-50%);
  border:2px solid $theme-color;
  top:50%;
  left:15px;
  z-index: 99;
  color: $theme-color;
  font-size: 30px;
  @include size(48px,48px);
  @include border-radius(50%);
  line-height: 42px;
  background:transparent;
  &:active,
  &:hover{
    background: $theme-color;
    color: #fff;
    border-color:$theme-color;
  }
}
.owl-carousel .owl-controls .owl-nav .owl-next{
  left:inherit;
  right: 15px;
}
.owl-carousel.owl-loaded {
  display: block;
}
.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}
.owl-carousel.owl-hidden {
  opacity: 0;
}
.owl-carousel .owl-refresh .owl-item {
  display: none;
}
.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding-right:$theme-padding / 2;
  padding-left:$theme-padding / 2;
}
.owl-carousel.owl-text-select-on .owl-item {
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
}
.owl-carousel .owl-grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor: -o-grab;
  cursor: -ms-grab;
  cursor: grab;
}
.owl-carousel.owl-rtl {
  direction: rtl;
}
.owl-carousel.owl-rtl .owl-item {
  float: right;
}
/* No Js */
.no-js .owl-carousel {
  display: block;
}
/* 
 * 	Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  -webkit-transition: opacity 400ms ease;
  -moz-transition: opacity 400ms ease;
  -ms-transition: opacity 400ms ease;
  -o-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}
/* 
 * 	Owl Carousel - Video Plugin
 */
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000;
}
.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -webkit-transition: scale 100ms ease;
  -moz-transition: scale 100ms ease;
  -ms-transition: scale 100ms ease;
  -o-transition: scale 100ms ease;
  transition: scale 100ms ease;
}
.owl-carousel .owl-video-play-icon:hover {
  -webkit-transition: scale(1.3, 1.3);
  -moz-transition: scale(1.3, 1.3);
  -ms-transition: scale(1.3, 1.3);
  -o-transition: scale(1.3, 1.3);
  transition: scale(1.3, 1.3);
}
.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none;
}
.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  -webkit-transition: opacity 400ms ease;
  -moz-transition: opacity 400ms ease;
  -ms-transition: opacity 400ms ease;
  -o-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}
.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
}
//wpb_gmaps_widget
.wpb_gmaps_widget.wpb_content_element{
  margin:0 ;
}
.widget-googlemap{
  position:relative;
  .widget-title{
    font-family: $font-family-second;
    color: #fff;
    font-size: 40px;
    margin:0 0 25px;
    position:relative;
    padding:0 0 20px;
    &:before{
      content: '';
      @include size(60px,4px);
      @include gradient-horizontal($theme-color-second,$theme-color);
      position:absolute;
      bottom:0;
      @include rtl-left(0);
    }
  }
  .apus-google-map{
    z-index: 1;
  }
  .map-content{
    position: absolute;
    top: 0;
    left: 0;
    @include size(100%,100%);
  }
  .content-info{
    position:relative;
    z-index: 9;
    background:rgba(#111111,0.8);
    padding:30px;
    @media(min-width:1024px){
      padding:65px 65px 40px;
    }
  }
  .description{
    margin:0 0 35px;
  }
  .info-wrapper{
    margin: 0 0 40px;
    &:nth-child(2n){
      font-weight: 700;
    }
    .icon{
      @include size(70px,70px);
      line-height: 76px;
      text-align:center;
      border:2px dashed #3f4143;
      @include border-radius(50%);
      @include rtl-float-left();
      @include rtl-margin-right(20px);
      i{
        font-size: 28px;
      }
    }
    .des{
      color: #fff;
      overflow: hidden;
      margin:6px 0 0;
    }
  }
  .info-top{
    border-bottom:2px dashed #414445;
    overflow: hidden;
  }
  .info-bottom{
    margin: 40px 0;
    a{
      display: inline-block;
      text-align: center;
      line-height: 42px;
      @include size(42px,42px);
      @include border-radius(50%);
      color: #101416;
      background:#3f4143;
      &:hover,&:active{
        @include gradient-horizontal($theme-color-second,$theme-color);
        color: #0e1113;
      }
      + a{
        @include rtl-margin-left(12px);
      }
    }
  }
}
// widget address
.widget-address{
  .item{
    margin-bottom: 5px;
  }
  .more{
    margin-top:30px;
  }
}
.widget-copyright{
  strong{
    font-weight: 500;
  }
}
// widget service
.widget-service {
  border:1px solid $border-color;
  .loop-item:last-child{
    .service-item{
      border:none;
    }
  }
  &.horizontal{
    border:0;
    margin:0;
    .service-item{
      border:none;
    }
    &.st-white{
      .service-item{
        color: #999591;
        .title{
          color: #eeeae2;
        }
      }
    }
  }
}

// gallery images
.wpb_image_grid{
  li{
    display: inline-block;
    @include rtl-margin-right(12px !important);
    &:last-child{
      margin: 0 !important;
    }
  }
  a{
    @include transition(all 0.2s ease-in-out 0s);
    &:hover,&:active{
      @include box-shadow(0 5px 12px -5px rgba(0,0,0,0.5));
    }
  }
}
// contact form 7
.form-contact1{
  .wrapper-submit{
    margin-bottom: 20px;
  }
  .form-control{
    margin-bottom: $theme-margin;
    color: #2b2e2f;
    border-width:0 0 1px;
    border-color:#000000;
    @include border-radius(0);
    padding:0 0 15px;
    @include transition(all 0.2s ease-in-out 0s);
    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: #2b2e2f;
    }
    ::-moz-placeholder { /* Firefox 19+ */
      color: #2b2e2f;
    }
    :-ms-input-placeholder { /* IE 10+ */
      color: #2b2e2f;
    }
    :-moz-placeholder { /* Firefox 18- */
      color: #2b2e2f;
    } 
    &:focus{
      border-color:$theme-color;
      color: $theme-color;
      ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: $theme-color;
      }
      ::-moz-placeholder { /* Firefox 19+ */
        color: $theme-color;
      }
      :-ms-input-placeholder { /* IE 10+ */
        color: $theme-color;
      }
      :-moz-placeholder { /* Firefox 18- */
        color: $theme-color;
      } 
    }
  }
  textarea.form-control{
    height: 80px;
    resize: none;
  }
}
.form-contact2{
  .wrapper-submit{
    margin-bottom: 20px;
  }
  .form-control{
    border-width:1px;
    margin-bottom: $theme-margin;
    @include border-radius(3px);
  }
  textarea.form-control{
    height: 200px;
    resize: none;
  }
}
// widget-social
.widget-social{
  .social{
    padding: 0;
    list-style: none;
    margin: 0;
    > li{
      display: inline-block;
      @include rtl-margin-right(25px);
      &:last-child{
        margin: 0;
      }
    }
    a{
      color:$text-color;
      &:hover,&:active{
        color:$theme-color;
      }
    }
  }
  &.left{
    @include rtl-text-align-left();
  }
  &.right{
    @include rtl-text-align-right();
  }
  &.center{
    text-align:center;
  }
  &.st_text{
    font-size:12px;
    font-weight:500;
    i{
      display:none;
    }
    > li{
      @media(min-width:992px){
        @include rtl-margin-right(45px);
        &:last-child{
          margin: 0;
        }
      }
    }
  }
}
// social-top
.social-top{
  list-style:none;
  margin:0;
  padding:0;
  li{
    display: inline-block;
    @include rtl-margin-right(25px);
    &:last-child{
      margin: 0;
    }
  }
}
// contact top
.contact-top{
  .item{
    display: inline-block;
    min-width: 230px;
    + .item{
      @include rtl-margin-left(35px);
    }
  }
  .item-icon{
    @include size(50px,50px);
    border:2px solid $border-color;
    line-height: 54px;
    display: inline-block;
    text-align: center;
    @include border-radius(50%);
    @include rtl-margin-right(12px);
    @include rtl-float-left();
    i{
      font-size: 24px;
    }
  }
  .item-body{
    overflow: hidden;
    font-size: 14px;
    span{
      display: block;
      font-size: 18px;
      font-family: $font-family-second;
      font-style: italic;
    }
  }
}
// contact top
.time-top{
  .item{
    display: inline-block;
    min-width: 230px;
    padding-top:15px;
    padding-bottom:15px;
    + .item{
      @include rtl-margin-left(30px);
      @include rtl-padding-left(30px);
      @include rtl-border-left(1px solid #252525);
    }
  }
  .item-icon{
    display: inline-block;
    @include rtl-margin-right(8px);
    @include rtl-float-left();
    color: $theme-color;
    margin-top:5px; 
    i{
      font-size: 24px;
    }
  }
  .item-body{
    color: #555555;
    overflow: hidden;
    font-size: 13px;
    span{
      display: block;
      font-weight: 700;
      color: $text-color;
    }
  }
}
//top-info
.top-info{
  > span{
    @include rtl-margin-right(30px);
    i{
      @include opacity(0.5);
      vertical-align: text-top;
      display: inline-block;
      @include rtl-margin-right(8px);
    }
  }
}
//social-link
.social-link{
  display: inline-block;
  margin: 0 5px;
  padding:0;
  li{
    display: inline-block;
    margin: 0 5px;
    a{
      background: #f4f4f4 none repeat scroll 0 0;
      border-radius: 100%;
      color: $text-color;
      display: inline-block;
      height: 40px;
      line-height: 38px;
      text-align: center;
      width: 40px;
      border:1px solid $border-color;
    }
  }
  &.lighten{
    li a{
      background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
      border: 1px solid #ffffff;
      color: #ffffff;
    }
  }
}
// ourteam-inner
.widget-ourteam{
  .widget-title{
    font-size: 48px;
    font-weight: 700;
    margin:0 0 25px; 
  }
  .item {
    margin-bottom:20px;
    @media(min-width:768px){
      margin-bottom: 60px;
    }
    &:last-child{
      margin:0;
    }
  }
}
.ourteam-inner{
    .name-team{
      margin: 0 0 12px;
      font-size: 24px;
      font-weight: 500;
    }
    .des{
      font-size: 15px;
    }
    .info{
      overflow: hidden;
    }
    .avarta{
      @include rtl-float-left();
      @include rtl-padding-right(10px);
      @media(min-width:768px){
        @include rtl-padding-right(40px);
      }
      img{
        width:170px;
      }
    }
    .social-team{
      list-style:none;
      margin:0;
      padding:0;
      font-size: 24px;
      a{
        color: #b2b2b2;
        &:hover,&:active{
          color: #000;
        }
      }
      li{
        display: inline-block;
        + li{
          @include rtl-margin-left(20px);
        }
      }
    }
}
// contact form 7
.wpcf7-form{
  .form-control{
    padding: 12px 0;
    margin: 0 0 30px;
    @include border-radius(0);
    font-size: 12px;
    color:$link-color;
    border-width: 0 0 1px;
    border-style:solid;
    border-color: #ededed;
    &:focus{
      border-color:$theme-color;
      color:$link-color;
    }
  }
  [type="submit"]{
    color: $link-color;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 0 0 3px;
    background: transparent;
    border-width: 0 0 2px;
    border-bottom-width: 2px;
    border-bottom: 2px solid $theme-color;
    &:hover,&:active{
      color:$theme-color;
    }
  }
  textarea{
    height: 80px;
    resize: none;
  }
  .title{
    font-size:18px;
    font-weight:600;
    margin:0 0 15px;
    @media(min-width:1200px){
      margin:0 0 35px;
      font-size:24px;
    }
  }
}
// head quarter
.headquarter{
  .title{
    text-transform:uppercase;
    font-size:14px;
    font-weight:600;
    font-size:20px;
    @media(min-width:1200px){
      margin:0 0 40px;
    }
  }
  .inner{
    margin-bottom:25px;
    &:last-child{
      margin-bottom:0;
    }
  }
  i{
    @include rtl-margin-right(4px);
  }
  .sub-title{
    font-size:18px;
    font-weight:600;
    margin:0 0 15px;
    @media(min-width:1200px){
      font-size:24px;
    }
  }
}
.item-store{
  margin-bottom:30px;
  @media(min-width:1200px){
    padding:0 20px;
  }
  .name-team{
    font-size:21px;
    font-weight:600;
    margin:0 0 15px;
  }
  .phone{
    font-size:16px;
    font-weight:600;
    color:$link-color;
    margin:8px 0;
  }
}
.title-accordion{
  font-size:16px;
  font-weight:600;
  margin:6px 0 20px;
  @media(min-width:1200px){
    margin:6px 0 30px;
  }
}
// .widget-gallery
.widget-gallery{
  .image{
    position:relative;
    &:before{
      @include transition(all 0.2s ease-in-out 0s);
      content: '';
      @include size(100%,100%);
      position:absolute;
      top: 0;
      left: 0;
      background:$theme-color;
      @include opacity(0);
      z-index: 2;
    }
    .content-cover{
      @include transition(all 0.2s ease-in-out 0s);
      @include opacity(0);
      position:absolute;
      text-align:center;
      width: 100%;
      top:50%;
      left: 50%;
      @include translate(-50%,-50%);
      z-index: 9;
    }
    &:hover{
      &:before{
        @include opacity(0.9);
      }
      .content-cover{
        @include opacity(1);
      }
    }
  }
  .popup-image-gallery{
    @include size(60px,60px);
    line-height: 60px;
    display: inline-block;
    text-align: center;
    background:#fff;
    font-size: 24px;
    color: $theme-color;
    @include border-radius(50%);
    @include transition(all 0.2s ease-in-out 0s);
    &:hover,&:active{
      color:$theme-color;
      background:darken(#fff,10%);
    }
  }
  .title{
    font-size: 24px;
    font-size: $font-family-second;
    margin:0;
    color: #fff;
  }
  .description{
    color: #e0dede;
    font-size: 12px;
    margin-bottom: 20px;
  }
  .gutter-default{
    margin-left: 0;
    margin-right: 0;
    > div{
      padding-right:0;
      padding-left:0;
    }
  }
  &.gutter30{
    .title{
      font-size: 18px;
      font-family: $font-family-second;
    }
    .image{
      margin-bottom: 30px;
    }
    .description{
      margin-bottom: 10px;
    }
    .gutter-default{
      margin-left: -15px;
      margin-right: -15px;
      > div{
        padding-right:15px;
        padding-left:15px;
      }
    }
  }
}
// widget testimonials
.testimonial-body{
  padding:80px 0 0;
  background:url(#{$image-theme-path}quote.jpg) no-repeat;
  .info{
    overflow: hidden; 
  }
  .name-client{
    font-size: 13px;
    margin:0;
    text-transform:uppercase;
    font-weight: 500;
  }
  .job{
    font-size: 12px;
  }
  .image{
    text-align:center;
    img{
      display:inline-block;
      margin:auto;
      @include size(90px,90px);
      @include border-radius(50%);
    }
  }
  .description{
    overflow: hidden;
    font-weight: 600;
    font-size: 21px;
    color:$link-color;
    margin:0 0 25px;
    p:last-child{
      margin-bottom:0;
    }
  }
}
.wrapper-testimonial{
  .nav-bottom.owl-carousel {
    padding-bottom: 25px;
    .owl-controls{
      top: 17px;
      left: 50%;
      @include translate(-50%, -50%);
      z-index: 99;
    }
    .owl-controls .owl-nav .owl-prev,
    .owl-controls .owl-nav .owl-next{
      @include opacity(1);
      @include size(85px,85px);
      @include border-radius(50%);
      background: transparent !important;
      overflow: hidden;
      border-color:transparent !important;
      @include translate(0,0);
      > span{
        position:absolute;
        top: 0;
        left: 0;
        @include size(100%,100%);
        font-size: 0;
      }
    }
    .owl-controls .owl-nav .owl-prev{
      left: -122px !important;
    }
    .owl-controls .owl-nav .owl-next{
      right: -122px !important;
    }
  }
  .owl-carousel-wrapper{
    max-width: 450px;
    margin:auto;
    overflow: hidden;
    position:relative;
  }
  .owl-carousel{
    margin: auto;
    width: 160px;
    .owl-item{
      padding-left:0;
      padding-right:0;
    }
    .owl-stage-outer{
      overflow:visible;
    }
  }
  .testimonial-content{
    font-size: 24px;
    font-family: $font-family-second;
    max-width: 760px;
    margin: auto;
    color: #fff;
    text-align: center;
  }
}
// section-contact
.section-contact{
  textarea ,
  input:not(.btn) {
    color: #3a3d3e;
    width: 100%;
    max-width: 100%;
    border:none;
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border-bottom:2px solid #cccccc;
    margin: 0 0 25px;
    padding: 6px 0;
  }
  label{
    font-size: 12px;
    font-style: italic;
    margin: 0 0 10px;
  }
  textarea{
    max-height: 170px;
  }
  .title{
     font-size: 35px;
     margin:0 0 40px;
     font-weight: 400;
     text-align: center;
     strong{
      font-weight: 400;
     }
  }
}
// apus video
.widget-video{
  position:relative;
  text-align:center;
  .widget-title{
    font-weight: 700;
    margin:12px 0 0;
    font-size:14px;
    color:#fff;
    text-transform:uppercase;
  }
  .info{
    position:absolute;
    top:50%;
    left:50%;
    @include translate(-50%,-50%);
    z-index:1;
    text-align:center;
  }
  .popup-video{
    line-height:1;
    font-size:45px;
    @include transition(all 0.2s ease-in-out 0s);
    display:inline-block;
    color:#fff;
    @include scale(1);
  }
  .video-wrapper-inner{
    display:inline-block;
    @include box-shadow(0 7px 43px 0 rgba(0,0,0,0.04));
    &:hover{
      .popup-video{
        @include scale(1.1);
      }
    }
  }
}
//element-address
.element-address{
  .title{
    font-weight: 500;
    font-size: 24px;
    margin:0 0 5px;
  }
  text-align: center;
  @include transition(all 0.2s ease-in-out 0s);
  @include opacity(0.7);
  &:hover{
    @include opacity(1);
  }
}
// widget feature
.feature-box-inner{
  .ourservice-heading{
    font-weight: 600;
    font-size: 18px;
    margin: 0 0 5px;
  }
  .fbox-content{
    overflow: hidden;
  }
  .fbox-icon{
    font-size: 25px;
    color: $theme-color;
    @include rtl-float-left();
    @include rtl-padding-right(20px);
    @media(min-width:1200px){
      min-width:85px;
    }
  }
}
// address
.address{
  font-size:15px;
  .phone{
    font-size:20px;
  }
}
// widget action box 
.widget-action-box {
  padding:20px 0;
  @include transition(all 0.2s ease-in-out 0s);
  @media(min-width:1870px){
    padding:64px 0;
    .action-inner{
      padding:25px;
    }
  }
  .action-inner{
    width: 50%;
    @include rtl-float-right();
  }
  .title{
    margin: 0 0 8px;
    font-size: 24px;
    font-family: $font-family-second;
  }
  .description{
    margin: 0 0 30px;
  }
  &:hover{
    @include box-shadow(0 15px 10px -10px rgba(0,0,0,0.15));
  }
  &.style2{
    &:hover{
      @include box-shadow(5px 5px 5px 0 rgba(0, 0, 0, 0.2));
    }
    padding:0;
    .box-img{
      text-align:center;
    }
    .action-v2{
      padding:15px 0 40px;
      display: table;
      width: 100%;
      > div{
        display: table-cell;
        vertical-align: middle;
        float: none;
      }
    }
  }
}

// instagram
.instagram-pics{
  margin-left: 0;
  margin-right: 0;
  > div{
    padding-left:0;
    padding-right:0;
    @include rtl-float-left();
  }
  .col-xs-cus-5{
    width:25%;
  }
  @media(min-width:768px){
    .col-xs-cus-5{
      width:20%;
    }
  }
}
.item-instagram{
  position:relative;
  .like-comments{
    position:absolute;
    z-index:9;
    top:50%;
    text-align:center;
    width:100%;
    @include translateY(-50%);
    color:#fff;
    font-size:16px;
    @include transition(all 0.2s ease-in-out 0s);
    @include opacity(0);
    i{
      @include rtl-margin-right(5px);
    }
    > span + span{
      @include rtl-margin-left(30px);
    }
  }
  a{
    display: block;
    position:relative;
    &:before{
      content: '';
      position:absolute;
      top: 0;
      left: 0;
      @include size(100%,100%);
      background:rgba(0,0,0,0.3);
      @include opacity(0);
      z-index: 9;
      @include transition(all 0.2s ease-in-out 0s);
    }
    &:active,
    &:hover{
      &:before{
        @include opacity(1);
      }
    }
  }
  &:hover{
    a:before{
      @include opacity(1);
    }
    .like-comments{
      @include opacity(1);
    }
  }
}
.widget-instagram{
  position:relative;
  .top-info{
    position:absolute;
    top:50%;
    z-index:9;
    left:50%;
    @include transform(translate(-50%,-50%) scale(1) );
    padding:15px 20px;
    background:#000;
    @include transition(all 0.2s ease-in-out 0s);
    .userinstagram,
    .widget-title{
      color:#fff;
    }
    .widget-title{
      font-size:12px;
      margin:0;
      font-weight:600;
      text-transform:uppercase;
    }
  }
  &:hover{
    .top-info{
      @include transform(translate(-50%,-50%) scale(0) );
    }
  }
  .widget-title{
    font-size:36px;
    font-weight:400;
    margin:0 0 10px;
  }
  .userinstagram{ 
    font-size:18px;
    font-weight:600;
    text-transform:capitalize;
    @media(min-width:1200px){
      font-size:24px;
    }
  }
  .slick-carousel{
    margin-left: 0;
    margin-right: 0;
    .slick-slide{
      padding-left:0;
      padding-right:0;
    }
  }
}
.widget-instagram.style_center{
  position:relative;
  .widget-title{
    display:inline-block;
    color:#fff;
    text-transform:uppercase;
    font-size:14px;
    font-weight:400;
    padding:5px 15px;
    background:#f43434;
    position:absolute;
    top:50%;
    left:50%;
    z-index:99;
    @include translate(-50%,-50%);
  }
  a{
    display:block;
    position:relative;
    margin:0;
    &:before{
      content:'';
      background:rgba(0,0,0,0.5);
      position:absolute;
      top:0;
      left:0;
      @include opacity(1);
      @include size(100%,100%);
      @include transition(all 0.2s ease-in-out 0s);
    }
    &:hover,&:active,&:focus{
      &:before{
        @include opacity(0);
      }
    }
  }
  .instagram-pics {
      margin-left: 0;
      margin-right: 0;
      > div{
        padding-left:0;
        padding-right:0;
      }
  }
}
.widget-instagram.style_large{
  .widget-title{
    text-align:center;
    font-size:32px;
  }
  @media(min-width:1200px){
    .instagram-pics {
        margin-left: -15px;
        margin-right: -15px;
        > div{
          padding-left:15px;
          padding-right:15px;
        }
    }
  }
}
.widget-instagram.style_small{
  .instagram-pics {
      margin-left: -4px;
      margin-right: -4px;
      > div{
        padding-left:4px;
        padding-right:4px;
      }
      a{
        margin-bottom:8px;
      }
  }
}
.contact-us{
  .form-control{
    @include transition(all 0.2s ease-in-out 0s);
    margin: 0 0 30px;
    height:48px;
    &:focus{
      border-color:darken($border-color, 15%);
    }
  }
  br{
    display: none;
  }
  label{
    font-weight:400;
    font-size: 14px;
    color: #666666;
    margin: 0 0 10px;
  }
  textarea.form-control{
    resize: none;
    height: 180px;
  }
  @media(min-width:1200px){
    .wrapper-submit{
      margin-top:40px;
    }
  }
}
.location-inner{
  text-align:center;
  padding:10px;
  .fbox-icon{
    margin-bottom:20px;
  }
  .title{
    font-weight:400;
    margin:0 0 5px;
    color:$link-color;
    font-size:18px;
  }
}
//language-wrapper
.language-wrapper{
  font-size:12px;
  display:inline-block;
  position:relative;
  &:before{
    content:'';
    position:absolute;
    top:100%;
    left:0;
    @include size(100%,5px);
  }
  .selected{
    text-transform:uppercase;
    letter-spacing:2px;
    .caret{
      @include rtl-margin-left(8px);
    }
  }
  .dropdown-menu-right{
    right:-15px;
  }
  .dropdown-menu{
    background:#fff;
    display:block;
    @include opacity(0);
    @include translateY(20px);
    font-size:12px;
    margin-top:5px;
    @include border-radius(0);
    padding:13px 18px;
    min-width:126px;
    @include box-shadow(none);
    border:1px solid $border-color;
    @include transition(all 0.3s ease-in-out 0s);
    visibility:hidden;
  }
  &:hover{
    .dropdown-menu{
      visibility:visible;
      @include translateY(0);
      @include opacity(1);
    }
  }
  .list-language{
    list-style:none;
    padding:0;
    margin:0;
    li{
      margin-bottom:10px;
      &:last-child{
        margin-bottom:0;
      }
    }
    img{
      @include rtl-margin-right(6px);
      margin-bottom:0;
    }
  }
}
// currency
body{
  > .woo-multi-currency{
    display:none;
  }
}
.woo-multi-currency.wmc-shortcode.plain-vertical .wmc-currency-wrapper{
  position:relative;
  &:before{
    content:'';
    position:absolute;
    top:100%;
    left:0;
    @include size(100%,5px);
  }
  span.wmc-current-currency{
    cursor:pointer;
    padding:0;
    font-size:12px;
    font-weight:400;
    text-transform:uppercase;
    letter-spacing: 2px;
    border:none;
    &:active,
    &:hover{
      color:$theme-color;
    }
    &:after{
      content:'';
      vertical-align: middle;
      display:inline-block;
      padding:0;
      border-top: 4px solid;
      border-right: 4px solid transparent;
      border-left: 4px solid transparent;
      @include rtl-margin-left(3px);
    }
  }
  .wmc-sub-currency{
    @include rtl-text-align-left();
    display:block;
    right:-15px;
    @include opacity(0);
    @include translateY(20px);
    font-size:12px;
    margin-top:5px;
    @include border-radius(0);
    padding:15px 21px;
    min-width:70px;
    @include box-shadow(none);
    border:1px solid $border-color;
    @include transition(all 0.3s ease-in-out 0s);
    visibility:hidden;
    .wmc-currency{
      padding:0;
    }
    a{
      font-weight:400 !important;
    }
  }
   &:hover{
    .wmc-sub-currency{
      @include translateY(0);
      visibility:visible;
      @include opacity(1);
    }
  }
}
// location
.location-map{
  padding:$theme-margin;
  @media(min-width:1024px){
    padding:35px 100px;
  }
  background:#f4f4f4;
  .item{
    overflow:hidden;
    margin-bottom:25px;
    &:last-child{
      margin:0;
    }
  }
  .icon{
    @include rtl-float-left();
    min-width:40px;
    font-size:18px;
  }
  .item-content{
    overflow:hidden;
  }
}
.get-touch{
  margin:0;
  font-size:14px;
  .widget-title{
      font-weight: 600;
      font-size: 16px;
      margin: 0 0 20px;
      @media(min-width:1200px){
        font-size:18px;
        margin: 0 0 30px;
      }
  }
  .item{
    margin-bottom:5px;
    &:last-child{
      margin-bottom:0;
    }
    .title{
      display: inline-block;
      color:$link-color;
      min-width:80px;
    }
  }
}
.widget-collections-item{
  position:relative;
  overflow:hidden;
  .content-inner{
    position:absolute;
    top:50%;
    left:0;
    width:100%;
    z-index:1;
    @include translateY(-50%);
    padding:30px;
    @media(min-width:1200px){
      padding:30px 50px;
    }
  }
  .title{
    font-size:21px;
    font-weight:500;
    margin:0;
  }
  &.s_large{
    .title{
      font-size:32px;
      font-weight:400;
    }
  }
  .link-img{
    &:before{
      position: absolute;
      top: 0;
      left: -95%;
      z-index: 2;
      display: block;
      content: '';
      width: 100%;
      height: 100%;
      background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
      background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
      -webkit-transform: skewX(-25deg);
      transform: skewX(-25deg);
    }
  }
  &:hover{
    .link-img:before{
      -webkit-animation: shine 0.8s;
      animation: shine 0.8s;
    }
  }
}
@-webkit-keyframes shine {
  100% {
    left: 125%;
  }
}
@keyframes shine {
  100% {
    left: 125%;
  }
}
.widget-banner-sale{
  background:#f1f1f1;
  text-align:center;
  .link-img{
    &:before{
      position: absolute;
      top: 0;
      left: -95%;
      z-index: 2;
      display: block;
      content: '';
      width: 100%;
      height: 100%;
      background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
      background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
      -webkit-transform: skewX(-25deg);
      transform: skewX(-25deg);
    }
    @media(max-width:767px){
      display:none;
    }
  }
  &:hover{
    .link-img:before{
      -webkit-animation: shine 0.8s;
      animation: shine 0.8s;
    }
  }
  .infor{
    padding-top:20px;
    padding-bottom:20px;
    @media(min-width:768px){
      width:50%;
      @include translateY(-50%);
      position:absolute;
      top:50%;
      right:0;
    }
  }
  .subtitle{
    text-transform:uppercase;
    font-size:24px;
    font-weight:400;
    color:$link-color;
  }
  .title{
    font-weight: $headings-font-weight;
    line-height:$headings-line-height;
    color: $headings-color;
    p:last-child{
      margin-bottom:0;
    }
    line-height:1.05;
    font-size:80px;
    @media(min-width:1200px){
      font-size:132px;
    }
    .sub{
      font-weight:300;
      font-size:40px;
      vertical-align:top;
      @media(min-width:1200px){
        font-size:75px;
      }
    }
    .text-theme{
      font-size:16px;
      display:block;
      font-weight:500;
    }
  }
  .des{
    margin-top:10px;
    @media(min-width:1200px){
      margin-top:20px;
    }
    font-weight:500;
  }
  .more{
    margin-top:20px;
    @media(min-width:1200px){
      margin-top:45px;
    }
  }
}
//widget-brands
.widget-brands{
  .widget-title{
    font-size: 35px;
    font-weight: 400;
    color: $link-color;
    margin: 0 0 60px;
    padding: 0;
    .subtitle{
      font-weight: 400;
    }
  }
  .item{
    text-align: center;
    a{
      display: inline-block;
      vertical-align: middle;
    }
    img{
      @include transition(all 0.2s ease-in-out 0s);
    }
  }
  &:hover{
    .item{
      img{
        @include opacity(0.6);
      }
      &:hover,&:active{
        img{
          @include opacity(1);
        }
      }
    }
  }
  .list-row{
    border-bottom:1px solid $border-color;
    .item{
      @include rtl-border-right(1px solid $border-color);
      padding-bottom:$theme-margin /2;
      padding-top:$theme-margin /2;
      &:last-child{
        border:none;
      }
    }
    &:last-child{
      border:none;
    }
  }
}
.widget-lookbook{
  text-align:center;
  .widget-title{
    font-weight:600;
    font-size:21px;
    margin:15px 0 0;
    @include transition(all 0.2s ease-in-out 0s);
  }
  .link-img{
    display:block;
    position:relative;
    &:before{
      content:'';
      position:absolute;
      top:0;
      left:0;
      @include size(100%,100%);
      background:rgba(255,255,255,0.5);
      @include transition(all 0.2s ease-in-out 0s);
      @include opacity(0);
    }
  }
  &:hover{
    .link-img:before{
      @include opacity(1);
    }
  }
  &.normal{
    &:hover{
      .widget-title{
        @include translateY(-55px);
        a{
          color:$theme-color;
        }
      }
    }
  }
  &.large{
    .widget-title{
      font-weight:400;
    }
    @media(min-width:1200px){
      .widget-title{
        font-size:32px;
      }
    }
  }
}
.contact-location{
  font-size:12px;
  font-weight:500;
  .inner{
    text-align:center;
    padding-top:15px;
    padding-bottom:15px;
    @media(min-width:992px){
      padding-top:25px;
      padding-bottom:25px;
    }
    border-width:1px 0;
    border-style:solid;
    border-color:$border-color;
  }
}
// widget service
.service-white,
.service-blue,
.service-red{
  text-align:center;
  padding:40px;
  border:1px solid $border-color;
  font-size:22px;
  color:#000000;
  background:#fff;
  @include transition(all 0.2s ease-in-out 0s);
  &:hover{
    background:darken(#fff, 10%);
  }
}
.service-blue{
  border-color:#5ec5e1;
  background:#5ec5e1;
  color:#fff;
  &:hover{
    background:darken(#5ec5e1, 10%);
  }
}
.service-red{
  border-color:#fd4545;
  background:#fd4545;
  color:#fff;
  &:hover{
    background:darken(#fd4545, 10%);
  }
}
// team
.widget-ourteam {
  .widget-title{
    font-size:22px;
    margin:0 0 15px;
    text-align:center;
    @media(min-width:1200px){
      margin-bottom:50px;
      font-size:32px;
    }
  }
}
.item-team{
  text-align:center;
  margin-bottom:15px;
  .avarta{
    position:relative;
    overflow:hidden;
    margin:0 0 18px;
    .social-team{
      @include transition(all 0.2s ease-in-out 0s);
      @include opacity(0);
      position:absolute;
      top:50%;
      left:0;
      width:100%;
      text-align:center;
      @include translateY(-70%);
      a{
        font-size:12px;
        margin:0 12px;
      }
    }
    &:before{
      content:'';
      position:absolute;
      top:12px;
      left:12px;
      right:12px;
      bottom:12px;
      background:#fff;
      @include opacity(0);
      @include transition(all 0.2s ease-in-out 0s);
    }
  }
  .name-team{
    font-weight:600;
    font-size:21px;
    margin:0 0 5px;
  }
  .job-team{  
    font-size:12px;
    font-weight:500;
    text-transform:uppercase;
  }
  &:hover{
    .avarta{
      &:before{
        @include opacity(1);
      }
      .social-team{
        @include opacity(1);
        @include translateY(-50%);
      }
    }
  }
}
// widget localtion
.widget-location{
  .media-heading{
    font-size: 17px;
    font-weight: 500;
    margin: 0 0 5px;
  }
  .media-left{
    font-size: 22px;
    min-width: 45px;
  }
  .media{
    font-size: 15px;
    margin: 0 0 25px;
  }
}
//feature-banner
.feature-banner-inner{
  text-align: center;
  overflow: hidden;
  color: #fff;
  .widget-title{
    color: #fff;
    font-size: 25px;
  }
  @media (min-width:480px){
    &.col-lg-cus-5{
      width: 20%;
      @include rtl-float-left();
    }
  }
  .banner-static{
    position: relative;
    .widget-title{
      position: absolute;
      top:50%;
      left: 0;
      width: 100%;
      @include translateY(-50%);
    }
  }
  .banner-body{
    background: #00a1f1 none repeat scroll 0 0;
    color: #ffffff;
    font-size: 15px;
    height: 100%;
    left: 0;
    @include opacity(0);
    position: absolute;
    text-align: center;
    top: 100%;
    @include transition(all 0.3s ease-in-out 0s);
    width: 100%;
    z-index: 1;
    .widget-title{
      margin: 0 0 45px;
      position: relative;
      &:before{
        background: #ffffff none repeat scroll 0 0;
        bottom: -22px;
        content: "";
        height: 2px;
        left: 0;
        margin: auto;
        position: absolute;
        right: 0;
        width: 52px;
      }
    }
    .description{
       margin: 0 0 35px;
    }
    a{
      color: #ffffff;
      font-size: 12px;
      font-weight: 500;
      text-transform: uppercase;
      .fa{
        @include rtl-margin-left(8px);
      }
    }
  }
  .content{
    left: 0;
    padding: 30px;
    position: absolute;
    top: 50%;
    @include translateY(-50%);
  }
  &:hover{
    .banner-body{
      @include opacity(1);
      top: 0;
    }
  }
}
// widget-contactform
.widget-contactform{
  .control{
    font-size: 13px;
    padding:10px 30px;
    max-width: 100%;
    width: 100%;
    margin:0 0 30px;
    border:1px solid $border-color;
  }
  textarea.control{
    margin:0 0 $theme-margin;
  }
  .des{
    max-width: 760px;
    margin: 0 auto;
  }
}
// faq box
.widget-faq-box{
  .content{
    @media(min-width:768px){
      @include rtl-float-left();
      width: 70%;
    }
  }
  .heading{
    @media(min-width:768px){
      @include rtl-float-left();
      width: 30%;
    }
    .widget-title{
      font-size: 32px;
      font-weight: 600;
      font-style: italic;
      font-family: $font-family-three;
    }
  }
  .ourservice-heading{
    font-size: 24px;
    margin: 0;
    font-weight: 400;
    @media(min-width:768px){
      @include rtl-float-left();
      width: 45%;
      @include rtl-padding-right($theme-margin);
    }
  }
  .description{
    font-size: 24px;
    color: #7f7f7f;
    @media(min-width:768px){
      @include rtl-float-left();
      width: 55%;
    }
  }
  .fbox-content {
    margin: 0 0 60px;
  }
}
// slogan contact
.slogan-contact {
  font-size: 32px;
  font-style:italic;
  font-family: $font-family-three;
  font-weight:600;
  color: #000;
}

.nav.tabs-big{
  text-align:center;
  margin-bottom: $theme-margin;
  border:none;
  > li{
    float: none;
    display:inline-block;
    margin: 0 ($theme-margin / 2);
    > a{
      background: #fff;
      min-width: 170px;
      @include border-radius(20px);
      line-height: 1.4;
      padding:18px;
      @include transition(all 0.2s ease-in-out 0s);
      border:2px dashed $border-color;
      &:before{
        @include transition(all 0.2s ease-in-out 0s);
        content: '';
        @include size(20px,20px);
        position: absolute;
        top:100%;
        left: 50%;
        @include translateX(-50%);
        border-width:10px;
        border-style:solid;
        border-color: transparent;
      }
      .date{
        font-weight: 700;
        display: block;
      }
      .day-week{
        color: $text-color;
      }
      &:focus,&:active,&:hover{
        border:2px dashed transparent;
        background:$theme-color;
        &:before{
          border-top-color:$theme-color;
        }
        > *{
          color: #fff !important;
        }
      }
    }
    &:active,&.active,&:hover{
      > a{
        border:2px dashed transparent;
        background:$theme-color;
        &:before{
          border-top-color:$theme-color;
        }
        > *{
          color: #fff !important;
        }
      }
    }
  }
}
// accordion
.wpb-js-composer .vc_tta-color-grey.vc_tta-style-classic .vc_active .vc_tta-panel-heading .vc_tta-controls-icon::after, .wpb-js-composer .vc_tta-color-grey.vc_tta-style-classic .vc_active .vc_tta-panel-heading .vc_tta-controls-icon::before, .wpb-js-composer .vc_tta-color-grey.vc_tta-style-classic .vc_tta-controls-icon::after, .wpb-js-composer .vc_tta-color-grey.vc_tta-style-classic .vc_tta-controls-icon::before{
  border-color:$theme-color !important;
}
.wpb-js-composer .vc_tta.vc_tta-accordion .vc_tta-controls-icon-position-left .vc_tta-controls-icon{
  left:8px !important;
}
.wpb-js-composer .vc_tta.vc_general.vc_tta-accordion {
  .vc_tta-panel-title > a{
    background: #fff;
    font-size:18px;
    font-weight: 400;
    color: #252525 !important;
    .vc_tta-controls-icon{
      outline: $border-color solid 1px;
      outline-offset: 8px;
    }
  }
  .vc_tta-panel-heading{
    border:0 !important;
    margin-bottom: -1px !important;
    @include border-radius(0 !important);
  }
  .vc_tta-panel{
    margin-bottom: 25px !important;
  }
  .vc_tta-panel-body{
    padding:20px 0 0;
    background: #fff !important;
    border:0 !important;
    color: $text-color;
  }
}
.wpb-js-composer .vc_tta.vc_general.vc_tta-accordion.style2 {
  .vc_tta-panel-title > a{
    padding-right:0 !important;
    padding-left:0!important;
  }
  .vc_tta-panel-heading{
    border-width:0 0 2px !important;
  }
  .vc_tta-panel{

  }
  .vc_tta-panel-body{
    padding-right:0 !important;
    padding-left:0!important;
    border-width:2px 0 !important;
  }
  .vc_tta-controls-icon-position-right .vc_tta-controls-icon{
    right:0;
  }
}
// .vc_progress_bar .vc_single_bar
.vc_progress_bar.wpb_content_element {
  .vc_single_bar{
    @include border-radius(0);
    @include box-shadow(none);
    margin-bottom: 25px;
    background:transparent;
    .vc_bar {
      @include border-radius(0);
    }
    .vc_label{
      overflow:hidden;
      font-size: 18px;
      color:#000;
      padding:0 0 10px 0;
      .vc_label_units{
        @include rtl-float-right();
      }
    }
  }
  &.vc_progress-bar-color-black{
    .vc_bar{
      background:#000;
    }
    .vc_label{
      color: #000 !important;
      @include text-shadow(none !important);
    }
  }
  .inner-bar{
    position:relative;
    @include size(100%,12px);
    background: #eeeeee;
  }
}
// tab
.wpb-js-composer .vc_tta.vc_tta-tabs {
  .vc_tta-tabs-container{
    @media(min-width:1200px){
      width:25%;
    }
  }
}
.wpb-js-composer .vc_tta-color-grey.vc_tta-style-classic .vc_tta-tab > a{
  background:transparent !important;
  font-size:14px;
  font-weight:500;
  text-transform:uppercase;
  color:$link-color !important;
  padding:5px 0 !important;
  border:none !important;
}
.wpb-js-composer .vc_tta-color-grey.vc_tta-style-classic .vc_tta-tab.vc_active > a{
  color:$theme-color !important;
}
.wpb-js-composer .vc_tta-color-grey.vc_tta-style-classic.vc_tta-tabs .vc_tta-panels{
  background:transparent !important;
  border:none !important;
  @include rtl-padding-left(8px);
}
.wpb-js-composer .vc_tta-color-grey.vc_tta-style-classic.vc_tta-tabs .vc_tta-panels .vc_tta-panel-body{
  padding:0;
}
.no-space{
  margin:0 !important;
  >.apus-container{
    > .vc_fluid{
      padding:0;
    }
  }
  .row{
    margin:0;
    > [class *= "col"]{
      padding: 0;
    }
  }
}
.space-45{
  margin-bottom:45px;
}
.no-margin{
  .widget{
    margin-bottom:0;
  }
}
@media(max-width:1199px){
  .bg-hidden-md{
    background-image:none !important;
  }
}
@media(max-width:991px){
  .bg-hidden-sm{
    background-image:none !important;
    > .vc_column-inner{
      background-image:none !important;
    }
  }
}
@media(min-width:767px){
  .top-sm-180{
    margin-top:-180px;
  }
  .top-sm-60{
    margin-top:-60px;
  }
  .top-sm-160{
    margin-top:-100px;
  }
}
@media(min-width:992px){
  .top-sm-160{
    margin-top:-160px;
  }
  .space-padding-lr-100{
    padding-left: 100px;
    padding-right: 100px;
  }
  .space-padding-lr-80{
    padding-left: 80px;
    padding-right: 80px;
  }
  .space-rl-50{
    padding-left: 50px;
    padding-right: 50px;
  }
  .space-l-65{
    padding-left: 65px;
  }
  .top-170{
    margin-top: -170px;
  }
  .left-100{
    margin-left:-100px;
  }
  .space-left-45{
    padding-left:45px;
  }
  .right-30{
    @include rtl-padding-right(30px);
  }
  .padding-lr-60{
    padding-left: 60px;
    padding-right: 60px;
  }
  .padding-lr-45{
    padding-left: 45px;
    padding-right: 45px;
  }
  .padding-lr-55{
    padding-left: 55px;
    padding-right: 55px;
  }
  .padding-lr-25{
    padding-left: 25px;
    padding-right: 25px;
  }
  .space-border{
    .row{
      margin:0;
      > [class *= "col"]{
        @include rtl-border-right(1px solid $border-color);
        &:last-child{
          border:none;
        }
      }
    }
  }
}
@media(min-width:1200px){
  .padding-lr-15{
    padding-left: 15px;
    padding-right: 15px;
  }
  .space-rl-45{
    padding-left: 45px;
    padding-right: 45px;
  }
}
.menu-title{
  font-size:14px;
  font-weight:500;
  text-align:center;
  color:$link-color;
  @media(min-width:1200px){
    font-size:16px;
  }
}
.flow-hidden{
  overflow: hidden !important;
}
.flow-visible{
  overflow: visible !important;
}
.index-2{
  z-index:2 !important;
}
.margin-left-20{
  @include rtl-margin-left(20px);
}
.margin-right-20{
  @include rtl-margin-right(20px);
}
.skew-light{
  position:relative;
  &:before{
    content: '';
    background:rgba(255,255,255,0.2);
    @include size(100%,100%);
    position: absolute;
    top: 0;
    left: 0;
    -ms-transform: skewX(20deg); /* IE 9 */
    -webkit-transform: skewX(20deg); /* Safari */
    transform: skewX(20deg); /* Standard syntax */
  }
}
.skew-theme-right{
  position:relative;
  background:$theme-color;
  > *{
    position: relative;
    z-index: 2;
  }
  &:before{
    content: '';
    background:$theme-color;
    @include size(100%,100%);
    position: absolute;
    top: 0;
    left: 60px;
    z-index: 1;
    -ms-transform: skewX(20deg); /* IE 9 */
    -webkit-transform: skewX(20deg); /* Safari */
    transform: skewX(20deg); /* Standard syntax */
  }
}
.skew-theme-left{
  position:relative;
  background:$theme-color;
  > *{
    position: relative;
    z-index: 2;
  }
  &:before{
    content: '';
    background:$theme-color;
    @include size(100%,100%);
    position: absolute;
    top: 0;
    right: 60px;
    z-index: 1;
    -ms-transform: skewX(-20deg); /* IE 9 */
    -webkit-transform: skewX(-20deg); /* Safari */
    transform: skewX(-20deg); /* Standard syntax */
  }
}
.flow-theme-top-bottom-right{
  &:before{
    height:calc(100% + 172px);
    top: -110px;
  }
  &:after{
    content: '';
    position: absolute;
    @include size(100%,100%);
    z-index: 1;
    background: $theme-color;
    right: 10%;
    top: -110px;
    height:calc(100% + 172px);
    width:500%;
  }
}
.style-white{
  color: #fff !important;
  .widget-title{
    color: #fff !important;
  }
}
.border-top-theme {
  border-top: 3px solid $theme-color;
}
.visible-inline{
  display:inline-block;
  vertical-align:middle;
}
.f-medium{
  font-weight:500;
}
.f-semibold{
  font-weight:600;
}
.f-12{
  font-size:12px;
}
.f-84{
  line-height:1;
  font-size:84px;
}
.f-16{
  font-size:16px;
}
.font-size-36{
  font-size: 36px !important;
}
.font-size-30{
  font-size: 30px !important;
}
.heading-contact{
  font-size:21px;
  font-weight:500;
  margin:0;
}
.heading-normal{
  color:$link-color;
  line-height:1.2;
  font-size: 18px !important;
  @media(min-width:992px){
    font-size: 32px !important;
  }
}
.heading-small{
  font-size:24px;
  font-weight:400;
  color:$link-color;
  line-height:1.2;
}
.space-left-8{
  @include rtl-margin-left(8px);
}
.text-upper{
  text-transform: uppercase !important;
}
.space-10{
  margin-bottom:10px !important;
}
.space-15{
  margin-bottom:15px !important;
}
.space-20{
  margin-bottom:20px !important;
}
.space-25{
  margin-bottom:25px !important;
}
.space-30{
  margin-bottom:30px !important;
}
.space-50{
  margin-bottom:50px !important;
}
.space-padding-35{
    padding:35px 0 !important;
}
.space-right-20{
  margin-right:20px !important;
}
.space-padding-tb-90{
  padding-top:90px !important;
  padding-bottom: 90px !important;
}
.space-padding-tb-55{
  padding-top:55px !important;
  padding-bottom: 55px !important;
}
.space-top-0{
  margin-top:0;
}
.p-relative{
  position: relative !important;
}
.p-absolute{
  position: absolute !important;
}
.p-static{
  position: static !important;
}
.hr{
  border-top:1px solid $border-color;
  min-height: 1px;
  width: 100%;
}
.no-float{
  float: none !important;
}
.no-padding-left{
  @include rtl-padding-left(0);
}
.no-padding-right{
  @include rtl-padding-right(0);
}
@media(min-width:1024px){
  .padding-lr-35{
    padding-left:35px;
    padding-right:35px;
  }
}
.gutter-16{
  margin-left: -8px;
  margin-right: -8px;
  .vc_column_container > .vc_column-inner{
    padding-left: 8px;
    padding-right: 8px;
  }
  .vc_row,
  .row{
    margin-left: -8px;
    margin-right: -8px;
  }
  .grid-banner-category{
    [class*="col-"]{
      padding-left: 8px;
      padding-right: 8px;
    }
  }
}
@media(min-width:1200px){
  .gutter-50{
    margin-left: -25px;
    margin-right: -25px;
    .vc_column_container > .vc_column-inner{
      padding-left: 25px;
      padding-right: 25px;
    }
    .vc_row,
    .row{
      margin-left: -25px;
      margin-right: -25px;
    }
  }
}
.text-theme{
  color: $theme-color !important;
}
.bg-theme{
  background: $theme-color;
}
.border-theme{
  border-color: $theme-color;
}
.radius-3x{
  @include border-radius(3px !important);
}
.radius-50x{
  @include border-radius(50px !important);
}
.vc_row.background-center{
  background-position:top center !important;
  @media(max-width:1024px){
    background-image:none !important;
  }
}
.deleted_wpb_single_image{
  position: relative;
  overflow: hidden;
  &:before{
    position: absolute;
    z-index: 2;
    @include transition(all 0.2s ease-in-out 0s);
    content: '';
    @include size(100%,100%);
    background: $theme-color;
    @include opacity(0);
    top: 0;
    left: 0;
  }
  &:after{
    position: absolute;
    @include transition(all 0.3s ease-in-out 0s);
    content: '';
    top: $theme-margin;
    left: $theme-margin;
    right: $theme-margin;
    bottom: $theme-margin;
    border:1px solid #fff;
    z-index: 3;
    @include scale(0);
  }
  &:hover{
    &:before{
      @include opacity(0.5);
    }
    &:after{
      @include scale(1);
    }
  }
}
.list-contact{
  list-style:none;
  padding:0;
  margin:17px 0 0 !important;
  li{
    margin:0 0 3px;
    i{
      @include rtl-margin-right(5px);
    }
  }
}
.gutter-medium-left{
  @media(min-width: 1200px){
    > .vc_column-inner{
      @include rtl-padding-left(5px);
    }
  }
  @media(min-width: 768px){
    .vc_row{
      margin-left: -10px;
      margin-right: -10px;
      .vc_column-inner{
        padding-left: 10px;
        padding-right: 10px;
      }
    }
  }
}
/// vertical menu
.widget_apus_vertical_menu{
  .widget-title{
    font-size: 16px;
    font-weight: 700;
    margin:0 0 10px;
    padding:15px $theme-margin 0;
  }
  @include rtl-border-left(4px solid #2e2d2d);
  .apus-vertical-menu{
    border:none;
    > li{
      @include rtl-margin-left(-4px);
      > a{
        @include rtl-border-left(4px solid transparent);
        font-size: 16px;
        padding:0 $theme-margin;
      }
      &.active,&:hover{
        > a{
          border-color:$theme-color;
        }
      }
    }
  }
  &.darken{
    .apus-vertical-menu{
      background:transparent;
      > li {
        > a{
          color: #eeeae2;
          padding:0 20px;
        }
        &.active,&:hover{
          > a{
            color: $theme-color;
          }
        }
      }
    }
    .widget-title{
      color: #eeeae2;
      border:none;
      margin:0;
      padding-right:20px;
      padding-left:20px;
      &:before{
        display:none;
      }
    }
  }
}
.flex-middle{
  display: -webkit-flex; /* Safari */
  display: flex;
  align-items:center;
  -webkit-align-items:center;
}
.flex-top{
  display: -webkit-flex; /* Safari */
  display: flex;
}
.cl-3,
.cl-2{
  @include rtl-float-left();
  > .row{
    margin:0;
  }
  .widget{
    padding-left:$theme-margin / 2;
    padding-right:$theme-margin / 2;
  }
}
.cl-3 {
  width: 58.3333%;
}
.cl-2 {
  width: 41.6667%;
}
.percent-top-100{
  overflow:visible !important;
  > div{
    position:absolute;
    bottom:0;
  }
}