@font-face {
  font-family: 'MellaNeue-Medium';
  src: url('../fonts/MellaNeue-Medium.eot?#iefix') format('embedded-opentype'),  
  url('../fonts/MellaNeue-Medium.woff') format('woff'), 
  url('../fonts/MellaNeue-Medium.ttf')  format('truetype'), 
  url('../fonts/MellaNeue-Medium.svg#MellaNeue-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'MellaNeue-Mono';
  src: url('../fonts/MellaNeue-Mono.eot?#iefix') format('embedded-opentype'),  
  url('../fonts/MellaNeue-Mono.woff') format('woff'), 
  url('../fonts/MellaNeue-Mono.ttf')  format('truetype'), 
  url('../fonts/MellaNeue-Mono.svg#MellaNeue-Mono') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Miller-Display';
  src: url('../fonts/Miller-Display.eot?#iefix') format('embedded-opentype'),  
  url('../fonts/Miller-Display.otf')  format('opentype'),
       url('../fonts/Miller-Display.woff') format('woff'), 
       url('../fonts/Miller-Display.ttf')  format('truetype'), 
       url('../fonts/Miller-Display.svg#Miller-Display') format('svg');
  font-weight: normal;
  font-style: normal;
}
