/*------------------------------------*\
    Topbar
\*------------------------------------*/
.group-button-header{
    > div{
        @include rtl-margin-right(20px);
        &:last-child{
            @include rtl-margin-right(0px);
        }
    }
}
.wrapper-container{
    position:relative;
    @include transition(all 0.2s ease-in-out 0s);
}
.wrapper-large{
    max-width:1770px;
    margin:auto;
    float:none;
}
.#{$app-prefix}-topbar{
    padding:$topbar-padding;
    margin: 0 !important;
    background: $topbar-bg;
    color: $topbar-color;
    @include font-size(font-size, $topbar-font-size);
    a{
        color: $topbar-link-color;
        &:active,
        &:hover{
            color: $topbar-link-hover-color;
        }
    }
    .dropdown-menu{
        a{
            color: $link-color;
            &:active,
            &:hover{
                color: $link-hover-color;
            }
        }
    }
    .topbar-left{
        .item{
            display:inline-block;
        }
        .item + .item{
            @include rtl-margin-left(40px);
        }
    }
    .topbar-right{
        margin-top: 5px;
        line-height: 1;
        > *{
            @include rtl-float-right();
            @include rtl-padding-left($theme-margin);
            @include rtl-margin-left(20px !important);
            @include rtl-border-left(1px solid #dcdcdc);
            &:last-child{
                border:none;
                padding:0;
                margin:0;
            }
        }
        .woocommerce-currency-switcher-form .dd-selected{
            padding:0 !important;
        }
    }
    .wrapper-account{
        @include rtl-margin-right(25px);
    }
    .drop-dow{
        font-size:16px;
        line-height:1;
        color:$link-color;
        &:hover,&:active{
            color:$theme-color;
        }
    }
}
/*------------------------------------*\
    apus-topbar
\*------------------------------------*/
.apus-topbar{
    .widget{
        margin: 0;
    }
}
.topbar-right-inner{
    > *{
        display: inline-block;
        vertical-align: middle;
    }
}
.mm-menu,
.topbar-right-inner{
    .wpml-ls-legacy-dropdown a{
        border:none !important;
        padding-top:0;
        padding-bottom:2px;
        background:transparent !important;
    }
    .wpml-ls-legacy-dropdown .wpml-ls-sub-menu{
        background:#fff;
        border:none;
        padding:5px 0;
        @include box-shadow(0px 2px 5px 0px rgba(0,0,0,0.1));
    }
    .wpml-ls-legacy-dropdown .wpml-ls-sub-menu a{
        padding:5px 10px;
    }
    .wpml-ls-legacy-dropdown{
        width: auto;
        .wpml-ls-sub-menu{
            min-width: 140px;
        }
    }
}
/*------------------------------------*\
    Header
\*------------------------------------*/
.logo {
    @include transition(all 0.2s ease-in-out 0s );
    img{
        vertical-align: middle;
    }
}
.header-full{
    padding:30px;
    @include transition(all 0.3s ease-in-out 0s);
    @media(min-width:1200px){
        padding:60px;
    }
}
.top-wrapper-menu{
    position:relative;
    .drop-dow{
        cursor:pointer;
    }
    &:before{
        content:'';
        position:absolute;
        @include size(100%,20px);
        top:100%;
        left:0;
    }
    .inner-top-menu{
        min-width: 140px;
        padding:25px 30px;
        position:absolute;
        top:calc(100% + 20px);
        @include rtl-right(0);
        @include opacity(0);
        visibility:hidden;
        @include transition(all 0.2s ease-in-out 0s);
        @include translateY(30px);
        background:#fff;
        z-index:9;
        @include box-shadow(0 0 27px 13px rgba(0,0,0,0.04));
    }
    &:hover{
        .inner-top-menu{
            visibility:visible;
            @include opacity(1);
            @include translateY(0px);
        }
    }
    .header_customer_login{
        z-index:8;
        position:absolute;
        top:calc(100% + 20px);
        @include rtl-right(0);
        background:#fff;
        @include opacity(0);
        visibility:hidden;
        @include transition(all 0.2s ease-in-out 0s);
        width:300px;
        @include box-shadow(0 0 27px 13px rgba(0,0,0,0.04));
        @include translateY(30px);
        form input.input-text{
            height:40px;
            font-size:12px;
            font-weight:500;
            border-width:1px;
            padding:10px 20px;
        }
        form label{
            font-size:14px;
            font-weight:500;
            color:$link-color;
        }
        .topmenu-menu{
            text-transform:uppercase;
        }
    }
    &:hover{
        .header_customer_login{
            visibility:visible;
            @include opacity(1);
            @include translateY(0px);
        }
    }
}
.header_customer_login{
    padding:25px $theme-margin;
}
.header-left{
    [class*="icon"]{
        font-size:16px;
    }
    .btn-search-top{
        margin-top:4px;
    }
    .icon-menu-top{
        [class*="icon"]{
            font-size:30px;
        }
    }
    > div{
        @include rtl-margin-right(22px);
        &:last-child{
           @include rtl-margin-right(0px);
        }
    }
}
.header-right{
    [class*="icon"]{
        font-size:24px;
    }
    > div{
        @include transition(all 0.2s ease-in-out 0s );
        @include rtl-margin-left(22px);
        &:last-child{
           @include rtl-margin-left(0px);
        }
    }
    @include loop-delay('> .clearfix');
}
// header mobile
.bottom-mobile{
    padding:5px 0;
    border-bottom:1px solid $border-color;
}
.header-mobile{
    padding:10px 0;
    background: #fff;
    .logo-theme{
        img{
            max-height:40px;
        }
    }
    .btn-showmenu{
        font-size: 18px;
        padding: 0;
    }
    > .btn-offcanvas {
        position:absolute;top: 3px;
        left: 3px;
        z-index: 1;
    }
    .btn.dropdown-toggle,
    .btn.offcanvas{
        border:none;
        padding: 0;
        font-size: 18px;
        color: #000;
        background: transparent;
        &:hover,&:active,&:focus{
            color: $theme-color;
            background: transparent;
        }
    }
    .apus-search-form{
        min-width: 300px;
        .select-category{
          display: none;
        }
        form{
            border:none;
            .form-control{
                border:1px solid $border-color;
            }
        }
    }
    .right-header-mobile{
        > div{
            @include rtl-margin-right(12px);
            &:first-child{
                @include rtl-margin-right(0);
            }
        }
        .top-wrapper-menu .drop-dow{
            font-size:16px;
            line-height:1;
        }
    }
    .total-minicart{
        display:none;
    }
    // search
    .search-mobile{
        padding: 10px 0;
    }
    .apus-search-form .tt-menu a.media{
        padding:12px;
    }
}
.table-visiable{
    display: table;
    width: 100%;
    > div{
        float: none;
        display: table-cell;
        vertical-align: middle;
    }
}
@media(min-width:992px){
    .table-visiable-dk{
        display: table;
        width: 100%;
        > div{
            float: none;
            display: table-cell;
            vertical-align: middle;
        }
    }
}
.main-sticky-header {
    @include transition(all 0.3s ease-in-out 0s);
}
.sticky-header{
    position: fixed !important;
    background:#fff;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    @include translateY(0);
    @include box-shadow(0 2px 5px 0 rgba(0, 0, 0, 0.1));
    &.sticky-header-hidden{
        @include translateY(-110%);
    }
    .header-full{
        padding-top:30px;
        padding-bottom:30px;
    }
}
.header_transparent{
    .apus-header{
        background:transparent;
        position:absolute;
        top:0;
        left:0;
        width:100%;
        z-index:8;
    }
}
.header-text-white{
    .navbar-nav.megamenu > li{
        > a{
            color:#fff;
        }
        &:hover,
        &.active{
            > a{
                color:$theme-color;
            }
        }
    }
    .header-right {
        .drop-dow,.wishlist-icon, .mini-cart{
            color:#fff;
        }
    }
}
.apus-header{
    z-index: 8;
    position: relative;
    font-size: 14px;
    // fix header
    .sticky-header{
        
    }
    .widget{
        margin: 0;
    }
    .show-main-menu{
        font-size:30px;
        line-height:1;
        color:$link-color;
        &:hover,
        &:focus,
        &.active{
            color:$theme-color;
        }
    }
}
.header-v1{
    .inner-header{
        padding:0 15px;
    }
    .navbar-nav.megamenu > li {
        > a{
            padding: 20px 2px;
            @media(min-width:1200px){
                padding: 45px 2px;
            }
        }
        > .dropdown-menu{
            top:100% !important;
        }
    }
    .main-menu{
        @include rtl-margin-right(35px);
    }
}
.header-v3{
    // menu
    .navbar-nav.megamenu > li {
        > a{
            padding: 30px 2px;
            @media(min-width:1200px){
                padding: 60px 2px;
            }
        }
        > .dropdown-menu{
            top:80% !important;
        }
    }
    .sticky-header{
        .navbar-nav.megamenu > li > a{
            padding-bottom:30px;
            padding-top:30px;
        }
    }
}
.header-v4{
    background:#f2f2f2;
    .inner-header{
        @media(min-width:1200px){
            padding-left:60px;
            padding-right:60px;
        }
    }
}
.header-left-inner{
    .show-header-left{
        cursor:pointer;
        background:#000;
        color:#fff;
        white-space: nowrap;
        @include transition(all 0.2s ease-in-out 0s);
        display:none;
        @include border-radius(2px);
        position:absolute;
        top:50%;
        @include rtl-left(100%);
        z-index:8;
        @include translateY(-50%);
        padding: 5px 11px;
        &:hover,&:active{
            color:#fff;
            background:$brand-danger;
        }
        @media(max-width:1500px){
            display:inline-block;
        }
    }
    @media(max-width:1500px){
        @include translateX(-200px);
        &.active{
            @include translateX(0px);
        }
    }
    @include transition(all 0.2s ease-in-out 0s);
    width:300px;
    height:100%;
    position:fixed;
    top:0;
    @include rtl-left(0);
    z-index:9;
    background:#fff;
    @include rtl-border-right(1px solid $border-color);
    text-align:center;
    padding:50px 30px;
    flex-direction: column; 
    -webkit-flex-direction: column; 
    .socials-wrapper{
        margin:0;
        padding:0;
        list-style:none;
        li{
            display:inline-block;
            margin:0 15px;
        }
        a{
            color:$text-color;
            &:hover,&:active{
                color:$theme-color;
            }
        }
    }
    // search
    .btn-search-top{
        font-size:12px;
        text-transform:uppercase;
        font-weight:600;
        i{
            vertical-align:bottom;
            font-size:24px;
            @include rtl-margin-right(15px);
        }
    }
    .logo-in-theme{
        position:absolute;
        top:50%;
        left:0;
        width:100%;    
        @include translateY(-50%);
    }
    .socials-wrapper{
        position:absolute;
        bottom:30px;
        left:0;
        width:100%;
        @media(min-width:1200px){
            bottom:50px;
        }
    }
}
.header-v5{
    .navbar-nav.megamenu > li {
        > a{
            padding: 20px 2px;
            @media(min-width:1200px){
                padding: 40px 2px;
            }
        }
        > .dropdown-menu{
            top:100% !important;
        }
    }
}
.header-v6{
    background:#f8f8f8;
    .inner-header{
        @include transition(all 0.2s ease-in-out 0s);
        padding: 20px 0;
        @media(min-width:1200px){
            padding: 40px 0;
        }
    } 
    .sticky-header{
        .inner-header{
            padding-top:20px;
            padding-bottom:20px;
        }
    }
    .navbar-nav.megamenu > li {
        > a{
            padding: 20px 2px;
        }
        > .dropdown-menu{
            top:100% !important;
        }
    }
    .main-menu{
        position:absolute;
        width:100%;
        @include rtl-left(0);
        top:50%;
        z-index:9;
        @include translateY(-50%);
        @include transition(all 0.2s ease-in-out 0s);
        visibility:hidden;
        @include opacity(0);
        .navbar-nav.megamenu{
            @include loop-delay('> li');
            > li{
                @include opacity(0);
                @include transition(all 0.2s cubic-bezier(.57,.21,.69,3.25) 0s);
            }
        }
        &.active{
            visibility:visible;
            @include opacity(1);
            .navbar-nav.megamenu{
                > li{
                    @include opacity(1);
                }
            }
        }
    }
    &.active{
        .logo,
        .header-right {
            @include opacity(0);
        }
    }
}   
.header-v7{
    .language-currency{
        > *{
            display:inline-block;
            vertical-align:middle;
            @include rtl-margin-right(25px);
        }
    }
    .inner-header{
        @include transition(all 0.2s ease-in-out 0s);
        padding:30px 0;
        @media(min-width:1200px){
            padding:60px 0;
        }
    }
    .sticky-header{
        .inner-header{
            padding-top:30px;
            padding-bottom:30px;
        }
    }
    .btn-main-menu-right{
        @media(min-width:1200px){
            @include rtl-margin-left(25px);
        }
    }
}
.header-v8{
    .language-currency{
        > *{
            display:inline-block;
            vertical-align:middle;
            @include rtl-margin-right(25px);
        }
    }
    .inner-header{
        @include transition(all 0.2s ease-in-out 0s);
        padding:30px 0;
        @media(min-width:1200px){
            padding:60px 0;
        }
    }
    .sticky-header{
        .inner-header{
            padding-top:30px;
            padding-bottom:30px;
        }
    }
}
.header-left-9{
    width:215px;
    height:100%;
    position:fixed;
    top:0;
    @include rtl-left(0);
    z-index:9;
    background:#fff;
    text-align:center;
    padding:30px;
    flex-direction: column; 
    -webkit-flex-direction: column; 
    @media(min-width:1200px){
        padding:60px 30px;
    }
    .show-main-menu{
        position:absolute;
        top:50%;
        left:0;
        width:100%;    
        @include translateY(-50%);
    }
    .header-right{
        position:absolute;
        bottom:30px;
        left:0;
        width:100%;
        > *{
            margin:0 0 25px;
            display:block;
            &:last-child{
                margin-bottom:0;
            }
        }
        .header_customer_login,
        .inner-top-menu{
            top:inherit;
            bottom:30px;
        }
    }
}
.header-v10{
    .inner-header{
        padding:30px 0;
        @include transition(all 0.2s ease-in-out 0s);
        @media(min-width:1200px){
            padding:60px 0;
        }
    }
    .sticky-header{
        .inner-header{
            padding-top:30px;
            padding-bottom:30px;
        }
    }
}
.header-v11{
    .inner-header{
        padding:30px 0;
        @include transition(all 0.2s ease-in-out 0s);
        @media(min-width:1200px){
            padding:60px 0;
        }
    }
    .sticky-header{
        .inner-header{
            padding-top:30px;
            padding-bottom:30px;
        }
    }
    .header-left{
        text-align:center;
        position:fixed;
        top:0;
        @include rtl-left(0);
        @include size(150px,100vh);
        background:#fff;
        z-index:9;
        .show-menu{
            position:absolute;
            top:50%;
            @include translateY(-50%);
            width:100%;
        }
    }
    .header-right-warpper{
        position:fixed;
        text-align:center;
        top:0;
        @include rtl-right(0);
        @include size(150px,100vh);
        background:#fff;
        z-index:9;
        display: -webkit-flex; /* Safari */
        display: flex;
        align-items:center;
        -webkit-align-items:center;
        .header-right{
            width:100%;
            > *{
                margin:0 0 25px;
                display:block;
                &:last-child{
                    margin-bottom:0;
                }
            }
        }
    }
    .top-wrapper-menu{
        .header_customer_login,
        .inner-top-menu{
            height:100%;
        }
    }
}
.header-v12{
    .top-wrapper-menu{
        .header_customer_login,
        .inner-top-menu{
            height:100%;
        }
    }
    .inner-header{
        width:200px;
        height:100%;
        position:fixed;
        top:0;
        @include rtl-left(0);
        z-index:9;
        background:#fff;
        text-align:center;
        padding:35px 0;
        background:#f2f2f2;
        border:20px solid #fff; 
        @media(min-width:1500px){
            width:340px;
            border:40px solid #fff;
        }
    }
    .socials-wrapper{
        margin:0;
        padding:0;
        list-style:none;
        li{
            display:inline-block;
            margin:0 15px;
        }
        a{
            color:$text-color;
            &:hover,&:active{
                color:$theme-color;
            }
        }
    }
    .logo-in-theme{
        margin-top:35px;
    }
    .header-right{
        > *{
            margin:0 0 25px !important;
            display:block;
            &:last-child{
                margin-bottom:0;
            }
        }
    }
    .socials-wrapper{
        position:absolute;
        bottom:20px;
        left:0;
        width:100%;
        @media(min-width:1200px){
            bottom:40px;
        }
    }

    .main-menu{
        margin:35px 0 0;
        visibility:hidden;
        @include opacity(0);
        @include transition(all 1s ease-in-out 0s);
        .navbar-nav{
            float:none;
            @include loop-delay('> li');
            > li{
                margin:0 0 30px;
                width:100%;
                @include opacity(0);
                @include transition(all 0.2s ease-in-out 0s);
                > a{
                    font-weight:700;
                    b{
                        display:none;
                    }
                }
                > .dropdown-menu{
                    @include rotateX(0);
                    @include box-shadow(none);
                    display: -webkit-flex !important; /* Safari */
                    display: flex !important;
                    -webkit-flex-direction: column;
                    flex-direction: column;
                    left:100%;
                    top:-60px;
                    @include size(320px,auto);
                    @include scale(0);
                    padding:60px;
                    background:#f3f3f3;
                    li{
                        margin-bottom:15px;
                        &:last-child{
                            margin-bottom:0;
                        }
                    }
                }
                &:hover{
                    > .dropdown-menu{
                        @include scale(1);
                    }   
                }
            }
        }
        &.active{
            visibility:visible;
            @include opacity(1);
            .navbar-nav > li{
                @include opacity(1);
            }
        }
    }
    &.active{
        .header-right > div {
            @include opacity(0);
        }
    }
}
.header-v13{
    .header-top{
        padding:35px 0;
    }
    .inner-header{
        background:#000;
        .navbar-nav.megamenu > li {
            > a{
                padding-top:20px;
                padding-bottom:20px;
                color: #fff;
            }
            &.active,&:hover{
                > a{
                    color: #fff;
                }
            }
            > .dropdown-menu{
                top:100%;
            }
        }
        .header-right [class*="icon"]{
            font-size: 21px;
        }
        .top-wrapper-menu .drop-dow,
        .wishlist-icon, .mini-cart{
            color: #fff;
        }
    }
}
.header-sidebar{
    position:fixed;
    width:100px;
    z-index:91;
    left:0;
    top:0;
    min-height:100vh;
    background:#000;
    color:#fff;
    a{
        color:#fff;
        &:hover,&:active{
            color:$theme-color;
        }
    }
    .show-main-menu{
        @include size(100px,100px);
        line-height:100px;
        border-width:0 0 1px;
        border-color:$border-color;
        color:#fff;
        background:#000000;
    }
    .apus-topcart{
        position:absolute;
        bottom:0;
        left:0;
        width:100%;
        padding:20px 0;
        border-top:1px solid #333333;
        .count{
            color:#fff;
            font-size:12px;
            text-transform:uppercase;
        }
        .dropdown-menu{
            bottom:0;
            top:inherit;
            left:100%;
        }
    }
    .service{
        color:#999999;
        white-space:nowrap;
        position:absolute;
        top:50%;
        z-index:9;
        text-transform:uppercase;
        letter-spacing:2px;
        font-size:14px;
        left:50px;
        @include rotate(-90deg);
        @include transform-origin(0 ,11px);
        > *{
            @include translateX(-50%);
        }
        p{
            margin:0;
        }
    }
}
//main-menu-top
.main-menu-top{
    @include transition(all 0.2s ease-in-out 0s);
    @include translateX(100%);
    padding:50px;
    background:#fff;
    position:fixed;
    top:0;
    right:0;
    z-index: 100;
    @include size(470px,100%);
    .navbar-nav.megamenu{
        > li{
            margin-bottom: 20px;
            display: block;
            > a{
                font-size: 32px;
                text-transform: capitalize;
                padding:0;
            }
        }
    }
    .top-header{
        margin-bottom: 70px;
    }
    .hidden-menu{
        font-size: 18px;
        color: $link-color;
        cursor: pointer;
        &:hover,&:active{
            color: $brand-danger;
        }
    }
    &.active{
        @include translateX(0);
    }
    .widget_apus_socials_widget{
        position:absolute;
        bottom: 30px;
        @include rtl-left(50px);
    }
    .social{

        > li{
            display: inline-block;
            font-size: 24px;
            @include rtl-margin-right(20px);
            a{
                color: #b2b2b2;
                &:hover,&:active{
                    color: #000;
                }
            }
        }
    }
}
.over-dark{
    cursor:not-allowed;
    display: none;
    position:fixed;
    top:0;
    @include rtl-right(0);
    z-index: 99;
    @include size(100%,100%);
    background: rgba(0,0,0,0.8);
    &.active{
        display: block;
    }
}
.full-search{
    padding:30px 0;
    background: transparent;
    position: fixed;
    top: 30%;
    left:0;
    z-index: 100;
    @include size(100%,auto);
    @include opacity(0);
    @include translateY(-100%);
    visibility: hidden;
    @include transition(all 0.2s ease-in-out 0s);
    &.active{
        @include opacity(1);
        @include translateY(0);
        visibility: visible;
    }
    .apus-search{
        background:transparent;
    }
}
// menu center
.menu-center{
    .navbar-nav.megamenu {
        float: none;
        text-align: center;
    }
}
/*------------------------------------*\
    Breadcrumb
\*------------------------------------*/
.#{$app-prefix}-breadcrumb{
    @include box-size($breadcrumb-layout-bg, $breadcrumb-padding-top, $breadcrumb-padding-bottom);
    @include border-radius(0);
    margin: $breadcrumb-margin;
    text-align: $breadcrumb-alignment;
    font-size: $breadcrumb-font-size ;
    .breadcrumb-title{
        color: $breadcrumb-color;
        margin: 0;
        font-weight: $breadcrumb-title-font-weight;
        @include font-size(font-size, $breadcrumb-title-font-size);
    }
    nav{
        @include rtl-text-align-left();
        line-height: $breadcrumb-line-height;
        a{
            color: $breadcrumb-link-color;
        } 
    }
}

/*------------------------------------*\
    Container
\*------------------------------------*/
.#{$app-prefix}-mainbody{
    @include box-size($container-bg, $container-padding-top, $container-padding-bottom);
}
/*------------------------------------*\
    Content
\*------------------------------------*/
.#{$app-prefix}-content{
    background: $content-bg;
    @include clearfix();
}
/*------------------------------------*\
    Pagination
\*------------------------------------*/
.navigation {
    display: block;
    clear: both;
}
.#{$app-prefix}-pagination{
    margin: 0;
    @media(min-width:1200px){
        margin:40px 0 60px;
    }
    font-size: 15px;
    font-weight: 500;
    text-align:center;
    font-family: $font-family-base;
    .apus-pagination-inner{
        display:inline-block;
        padding:0 40px;
        background:#fff;
        position:relative;
        z-index:8;
    }
    .page-numbers,
    .pagination{
        li{
            display: inline-block;
            vertical-align: middle;
            margin:0;
            > span, > a{
                font-weight:500;
                font-size: 14px;
                padding:0 10px;
                line-height:42px;
                background: transparent;
                display: inline-block;
                float: none;
                min-width:42px;
                color: $text-color;
                @include border-radius(50%);
                @include transition(all 0.2s ease-in-out 0s);
                margin:0 2px;
                &:hover,
                &.current{
                    color: #fff;
                    background: $theme-color;
                }
            }
        }
    }
    > span, > a{
        font-weight:500;
        font-size: 14px;
        padding:0 10px;
        line-height:42px;
        background: transparent;
        display: inline-block;
        float: none;
        min-width:42px;
        color: $text-color;
        @include border-radius(50%);
        @include transition(all 0.2s ease-in-out 0s);
        margin:0 2px;
        &:hover,
        &.current{
            color: #fff;
            background: $theme-color;
        }
    }
    ul.page-numbers{
        margin: 0;
        padding:0;
        list-style: none;
    }
}
/*------------------------------------*\
    Footer
\*------------------------------------*/
.apus-footer-mobile{
    display:none;
}
.#{$app-prefix}-footer{
    background: $footer-bg;
    position: relative;
    color: $footer-color;
    font-size: $footer-font-size;
    font-weight: 400;
    a{
        color: $footer-link-color;
        &:hover,
        &:focus,
        &:active{
            color: $footer-link-hover-color;
        }
    }
}
.footer-column-bgdark{
    > .wpb_column  > .vc_column-inner > .wpb_wrapper{
        background:#f1f1f1;
        padding:15px;
        display: flex;
        display: -webkit-flex; 
        -webkit-flex-direction: row; 
        flex-direction: row;;
        height: 100%;
        @media(min-width:992px){
            padding:30px 55px;
        }
    }
}
.footer-default{
    margin-top: $theme-margin;
}
.apus-footer.full-medium{
    margin-left:auto;
    margin-right:auto;
    max-width:1600px;
}
/*------------------------------------*\
    Copyright
\*------------------------------------*/
.#{$app-prefix}-copyright{
    color: $copyright-color;
    font-size: $copyright-font-size;
    font-weight: $copyright-font-weight;
    background:$copyright-bg;
    padding-top:30px;
    padding-bottom:30px;
    position: relative;
    a{
        &:hover,
        &:focus,
        &:active{
            color: $copyright-link-hover-color;
        }
        color: $copyright-link-color;
    }
    // social
    .widget-social {
        @include rtl-text-align-right();
        a{
          color: $copyright-color;
          &:hover{
            color: $theme-color;
          }  
        }
    }
}
/*------------------------------------*\
    Top bar
\*------------------------------------*/
.apus-offcanvas {
    .apus-offcanvas-body{
        position: relative;
    }
    visibility:hidden;
    @include opacity(0);
    @include translateX(-100%);
    @include transition(all 0.2s  ease-in-out 0s);
    position: fixed;
    top:0;
    left:0;
    z-index:1000;
    width:275px;
    background: #fff;
    height: 100%;
    overflow-x: auto;
    display: -webkit-flex; /* Safari */
    display: flex;
    flex-direction:column;
    -webkit-flex-direction:column;
    .offcanvas-bottom,
    .offcanvas-top{
        height:20%;
    }
    .offcanvas-middle{
        height:60%;
        padding:20px 0;
        overflow-x:hidden;
    }
    &.active{
        @include translateX(0);
        @include opacity(1);
        visibility:visible;
        @include box-shadow(2px 0 5px 0 rgba(0,0,0,0.15));
    }
    .offcanvas-head{
        background:$brand-danger;
        cursor:pointer;
        @include transition(all 0.2s ease-in-out 0s);
        &:hover,&:active{
            background:darken($brand-danger, 10%);
        }
        i{
            @include rtl-margin-right(5px);
        }
        a{
            color:#fff;
        }
    }
    .logo-in-theme{
        margin-bottom:30px;
    }
    .header-right > div{
        @include rtl-margin-left(30px);
        &:last-child{
            @include rtl-margin-left(0px);
        }
    }
    .top-address > *{
        display:block;
        border:none;
        padding:0;
        margin:0;
    }
    .wpb_content_element{
        margin-bottom:10px;
    }
}
@media(max-width:991px){
    .topbar-mobile  {
        padding: 10px;
        .btn{
            @include rtl-margin-right(10px);
            padding:6px 10px;
        }
        .top-cart .dropdown-menu{
            left: 0;
            right: inherit;
            &:after,
            &:before{
                display: none;
            }
        }
    }
}
// layout for sidebar
.open-text{
    font-size: 26px;
    color: #fff;
    cursor: pointer;
    padding:6px 8px;
    background:$brand-success;
    display: inline-block;
    line-height: 1;
    @include transition(all 0.2s ease-in-out 0s);
    &:hover,&:active{
        color: #fff;
        background:darken($brand-success, 5%);
    }
}
#mobile-offcanvas-sidebar{
    position: fixed;
    z-index: 999;
    top:0px;
    @include size(270px,100%);
    max-width: 80%;
    background:#fff;
    &.mobile-offcanvas-left{
        left:0;
        @include translateX(-100%);
        > .mobile-sidebar-btn{
            left: 100%;
        }
    }
    &.mobile-offcanvas-right{
        right:0;
        @include translateX(100%);
        > .mobile-sidebar-btn{
            right: 100%;
        }
    }
    .mobile-sidebar-wrapper{
        display: none;
        height: 100%;
        width:100%;
        padding:0 15px;
    }
    &.active{
        > .mobile-sidebar-wrapper{
            display: block;
        }
    }
    > .mobile-sidebar-btn{
        position: absolute;
        top: 100px;
    }
}
.mobile-sidebar-panel-overlay{
    position:fixed;
    top: 0;
    left: 0;
    z-index:-10;
    @include size(100%,100%);
    background:rgba(0,0,0,0.15);
    @include opacity(0);
    @include transition(all 0.2s ease-in-out 0s);
    &.active{
        @include opacity(1);
        z-index:998;
        cursor: not-allowed;
    }
}
// footer mobile
.apus-footer-mobile{
    position:fixed;
    z-index: 999;
    background:rgba(255,255,255,0.9);
    padding:10px 20px;
    bottom:0;
    left:0;
    width:100%;
    @include box-shadow(0 0 1px 0 rgba(0,0,0,0.2));
    .footer-search-mobile{
        position:absolute;
        z-index: 999;
        left: 0;
        top:-60px;
        width: 100%;
        @include opacity(0);
        visibility: hidden;
        @include transition(all 0.2s ease-in-out 0s);
        &.active{
            visibility: visible;
            @include opacity(1);
        }
    }
    > ul{
        padding:0;
        margin:0;
        list-style:none;
        text-align: center;
        > li{
            text-transform: uppercase;
            display: inline-block;
            padding:0 25px;
            text-align: center;
            position:relative;
            span{
                display: block;
                font-size: 10px;
                line-height: 1;
            }
            .wishlist-icon, .mini-cart{
                line-height:$line-height-base;
            }
            .wrapper-morelink{
                @include opacity(0);
                visibility: hidden;
                position:absolute;
                right:0;
                bottom:40px;
                padding:20px;
                background:#fff;
                @include box-shadow(0 0 4px 0 rgba(0,0,0,0.1));
                .footer-morelink{
                    list-style:none;
                    padding:0;
                    margin:0;
                    font-size: 10px;
                }
                li{
                    padding:3px 0;
                    white-space: nowrap;
                    display: block;
                    width: 100%;
                    @include rtl-text-align-left();
                }
                &.active{
                    visibility: visible;
                    @include opacity(1);
                }
            }
        }
    }
    .mini-cart i{
        font-size: 15px;
    }
    .mini-cart .count{
        top:2px;
    }
    .apus-search-form{
        min-width: 300px;
        padding: 10px 30px;
        background:rgba(255,255,255,0.9);
        .select-category{
          display: none;
        }
        form{
            border:none;
            margin:0;
            .form-control{
                border:1px solid $border-color;
            }
        }
    }
}
// fix sidebar
.close-sidebar-btn,
.mobile-sidebar-btn{
    cursor:pointer;
    font-weight:500;
    margin-bottom:10px;
    font-size:14px;
    display:inline-block;
    i{
        @include rtl-margin-right(5px);
        color:$brand-danger;
    }
}
.mobile-sidebar-btn{
    margin:15px 0;
}
.close-sidebar-btn{
    &:active,
    &:hover{
        color:$brand-danger;
    }
}
.close-sidebar-btn{
    padding-bottom:10px;
    margin-bottom:10px;
    border-bottom:1px solid $border-color;
    text-align:center;
}
@media(max-width:991px){
    .sidebar{
        @include transition(all 0.2s ease-in-out 0s);
        z-index: 999;
        top:0px;
        @include size(300px,100%);
        max-width: 80%;
        background:#fff;
        position:fixed;
        padding:10px;
        &.sidebar-left{
            left:0;
            @include translateX(-100%);
            &.active{
                @include translateX(0);
            }
        }
        &.sidebar-right{
            right:0;
            @include translateX(100%);
            &.active{
                @include translateX(0);
            }
        }
    }
    .body-footer-mobile {
        .widget.upsells, .widget.related{
            margin-bottom:0;
        }
        .sidebar{
            height:calc(100% - 60px);
        }
    }
}
// main-menu-top
.apus-header{
    .wrapper-topmenu{
        &:before{
            content:'';
            position:absolute;
            top:100%;
            left:0;
            @include size(100%,10px);
            background:transparent;
            z-index:9;
        }
        .dropdown-menu-right{
            top:calc(100% + 10px);
        }
    }
}
.apus-topbar{
    .wrapper-topmenu{
        &:hover{
            > a{
                color:#fff;
            }
        }
    }
}
// fix for add cart
.wrapper-top-cart{
    .overlay-dropdown-menu-right{
        position:fixed;
        @include transition(all 0.2s ease-in-out 0s);
        @include size(100%,100%);
        background:rgba(0,0,0,0.6);
        top:0;
        left:0;
        @include opacity(0);
        visibility:hidden;
        z-index:98;
        &.active{
            @include opacity(1);
            visibility:visible;
        }
    }
    > .dropdown-menu-right{
        max-width:70%;
        @include flexbox();
        flex-direction: column;
        -webkit-flex-direction: column;
        position:fixed;
        z-index:999;
        @include transition(all 0.2s ease-in-out 0s);
        top:0;
        right:0;
        background:#fff;
        @include size(420px,100%);
        padding:$theme-margin;
        @include translateX(100%);
        .widget_shopping_cart_heading{
            @include flexbox();
            flex:0 0 auto;
            -webkit-flex:0 0 auto;
            > h3{
                margin:0 0 20px;
                font-size:22px;
                padding:0 0 20px;
                border-bottom:1px solid $border-color;
                width:100%;
                cursor:pointer;
                color:$brand-danger;
            }
        }
        .widget_shopping_cart_content_wrapper{
            @include flexbox();
            flex:1 1 auto;
            -webkit-flex:1 1 auto;
            overflow-x: hidden;
            overflow-y: auto;
        }
        .shopping_cart_content{
            @include flexbox();
            flex-direction: column; 
            -webkit-flex-direction: column;
            height:100%;
            .cart_list{
                flex:1 1 auto;
                -webkit-flex:1 1 auto;
                @include flexbox();
                flex-direction: column; 
                -webkit-flex-direction: column; 
            }
            .cart-bottom{
                flex-direction: column; 
                -webkit-flex-direction: column; 
                flex:0 0 auto;
                -webkit-flex:0 0 auto;
                @include flexbox();
            }
        }
        &.active{
            @include translateX(0);
        }
    }
    .cart_list {
        .variation{
            margin:0;
            > *{
                display:inline-block;
                vertical-align:middle;
                p{
                    margin:0;
                }
            }
        }
    }
    .buttons{
        .btn-block{
            margin-bottom:10px;
        }
    }
}
.rtl{
    .wrapper-top-cart{
        > .dropdown-menu-right{
            right:inherit;
            left:0;
            @include translateX(-100%);
            &.active{
                @include translateX(0);
            }
        }
    }
}