.navbar.apus-megamenu{
	border:none;
	@include border-radius(0);
	min-height:0;
	margin:0;
}
.navbar-nav.megamenu{
	padding:0;
	.menu-item-description{
		font-size:12px; 
		text-transform: capitalize;
	}
	> li{
		display: inline-block;
		padding:0;
		margin: 0;
		vertical-align: top;
		float: none;
		@include rtl-margin-right(30px);
		&:last-child{
			@include rtl-margin-right(0px);
		}
		&:before{
			content:'';
			position:absolute;
			@include size(100%,35px);
			top:100%;
			left:0;
			display:none;
		}
		> a{
			display: inline-block;
			font-size: 12px;
    		font-weight:600;
		    padding:0 2px;
		    line-height:1.5;
		    text-transform: uppercase;
		    background: transparent;
		    color: $link-color;
		    @include transition(all 0.2s ease-in-out 0s);
		    position:relative;
		    .fa,img{
		    	max-width: 50px;
		    	@include rtl-margin-left(5px);
		    }
		    &:hover,
		    &:active,
		    &:focus{
		    	color: $link-hover-color;
		    	background: transparent;
		    }
		}
		&:hover,
		&.active{
			&:before{
				display:block;
			}
			> a{
				color: $link-hover-color;
		    	background: transparent;
			}
		}
		> .dropdown-menu{
			top: calc(100% + 35px);
			left: 0;
		}
		&.aligned-right{
			> .dropdown-menu{
				left: auto;
				right: 0;
			}
		}
	}
	.aligned-fullwidth{
		> .dropdown-menu{
			padding:30px;
		}
	}
	.dropdown-menu{
		max-width:100vw;
		display: block;
		visibility:hidden;
		@include opacity(0);
		@include transform-origin(0,0);
		@include transition(all 0.2s ease-in-out 0s);
		@include border-radius(0);
		@include box-shadow(0 0 27px 13px rgba(0,0,0,0.04));
		padding:15px 20px;
		border:none;
		margin:10px 0 0;
		position: absolute;
		left: 100%;
		top:0;
		background: #fff;
		min-width: 200px;
		.current-menu-item > a{
			color: #fff;
		}
		li{
			margin:0 0 5px;
			line-height: inherit;
			@include transition(all 0.2s cubic-bezier(0.40,0.28,0.31,1.28) 0s);
			@include opacity(0);
			visibility:hidden;
			@include translateY(5px);
			&:last-child{
				margin-bottom:0;
			}
			> a{
				background: transparent;
				position: relative;
				font-size: 14px;
				color: $text-color;
				font-weight:500;
				padding:0;
				width: 100%;
				display: inline-block;
				@include transition(all 0.2s ease-in-out 0s);
				&:before{
					display:none;
				}
				&:hover,
				&:active{
					color: $theme-color;
				}
				b{
					position:absolute;
					top:4px;
					@include rtl-right(5px);
				}
			}
			&.current-menu-item,
			&.open ,
			&.active{
				> a{
					color: $theme-color;
				}
			}
			.dropdown-menu{
				margin-top:-15px !important;
			}
		}
		@include loop-delay('li');
		.wpb_button, .wpb_content_element, ul.wpb_thumbnails-fluid > li,.widget{
			margin:0;
		}
		.widget-title,
		.widgettitle{
			font-weight: 600;
			margin: 0 0 15px;
			font-size: 18px;
			padding:0;
			@include rtl-text-align-left();
		}
		.wpb_single_image img{
			max-width:none;
		}
		// widget campaign list
		.posts-list{
			.give-btn,
			.total-goal,
			.time,
			.give-form-wrap,
			.entry-excerpt,
			.give-goal-progress{
				display: none;
			}
			.give-grid.give-list{
				padding: 0;
				margin: 0;
				.give-image{
					@include rtl-padding-right(15px);
				}
				.entry-title{
					font-size: 15px;
				}
				&:hover{
					@include box-shadow(none);
				}
			}
			.images{
				width: 85px;
			}
		}
		// widget video
		.video-wrapper-inner .video i{
			@include size(40px,40px);
			font-size: 40px;
			line-height: 40px;
		}
		// widget blogs
		.widget-blogs{
			.entry-title{
				font-size: 15px !important;
			}
			.meta,
			.btn-readmore,
			.description{
				display: none;
			}
			.post-list{
				margin: 0;
			}
			.list-inner{
				margin: 0;
				> div{
					padding: 0;
				}
				.image{
					width: 100px;
					@include rtl-padding-right(15px);
				}
				.info{
					width: calc(100% - 100px);
					overflow: hidden;
				}
			}
		}
		// single images
		.wpb_single_image{
			.vc_single_image-wrapper{
				img{
					max-width:auto;
				}
			}
			a.vc_single_image-wrapper{
				img{
					max-width:100%;
				}
				&:before,&:after{
					display:none;
				}
				@include transition(all 0.2s ease-in-out 0s);
				@include box-shadow(0 10px 28px -10px rgba(0, 0, 0, 0.3));
				&:hover{
					@include box-shadow(0 15px 28px -10px rgba(0, 0, 0, 0.35));
				}
			}
		}
		// widget product
		.shop-list-small .content-left{
			width:80px;
			@include rtl-padding-right(15px);
		}
		.shop-list-small .name{
			a{
				color:#fff !important;
			}
			.price{
				color:#999999 !important;
			}
		}
	}
	.apus-container{
		padding-right:$theme-margin / 2;
		padding-left:$theme-margin / 2;
		width: 100%;
	}
	li:hover{
		> .dropdown-menu{
		    visibility:visible;
	        @include opacity(1);
	        margin:0;
	        li{
	        	@include opacity(1);
				visibility:visible;
				@include translateY(0);
	        }
		}
	}
	li.aligned-fullwidth{
		position: static;
		> .dropdown-menu{
			width: 100%;
			left:50%;
			@include translateX(-50%);
		}
	}
	.text-label{
		font-size: 11px;
		padding: 0px 5px;
		background: $brand-info;
		color: #fff;
		position:absolute;
		@include rtl-right(-15px);
		top:-18px;
		line-height: 2;
		display: inline-block;
		text-transform: capitalize;
		@include border-radius(2px);
		&.label-hot{
			background: $brand-danger;
			&:before{
				border-color: $brand-danger transparent transparent $brand-danger;
			}
		}
		&.label-new{
			background: $brand-success;
			&:before{
				border-color: $brand-success transparent transparent $brand-success;
			}
		}
		&:before{
			content: '';
			position: absolute;
			z-index: 9;
			top: 100%;
			@include rtl-left(7px);
			border-width: 3px;
			border-style:solid;
			border-color: $brand-info transparent transparent $brand-info;
		}
	}
}
// ofcanvas menu
.navbar-offcanvas{
	.navbar-nav{
		padding:0;
		margin:0;
		width: 100%;
		float: none;
		li{
			position:relative;
			display: block;
			float: none;
			margin:0;
			> .icon-toggle{
				position: absolute;
				top:4px;
				@include rtl-right(0px);
				padding: 11px;
				z-index: 2;
				cursor: pointer;
				font-size:11px;
				color:$link-color;
			}
			> a{
				background: transparent !important;
				line-height: 28px;
				display: block;
			}
			&.open,
			&.active{
				> a{
					&,&:focus,&:hover{
						color: $theme-color;
						background: transparent;
					}
				}
				> .icon-toggle{
					color:$theme-color;
				}
			}
		}
	}
	.dropdown-menu {
		margin: 0;
		> li {
			a{
				background: transparent !important;
			}
			&.active > a,
			> a:hover,
			> a:focus{
				color: $link-color;
				text-decoration: underline;
			}
		}
		[class *="col-sm"]{
			width: 100%;
		}
		.dropdown-menu-inner{
			padding: 0 $theme-padding;
		}
		.widgettitle{
			font-weight: 500;
			margin: 0 0 10px;
		}
		.dropdown-menu{
			left: 100%;
			top:0;
		}
	}
	li:hover{
		.dropdown-menu{
			display: block;
		}
	}
	.aligned-fullwidth{
		> .dropdown-menu{
			width: 100%;
		}
	}
}
// mobile menu
.main-mobile-menu{
	.menu-title{
		margin-bottom:10px;
	}
	.wpb_single_image{
		margin:0 !important;
	}
	> li > a{
		padding-top: 7px;
		padding-bottom: 7px;
	}
	.menu li a::before {
		display:none;
	}
	.has-submenu{
		> .sub-menu{
			@include rtl-padding-left($theme-margin);
			list-style: none;
			display: none;
			li{
				> .icon-toggle{
					top:8px;
				}
				a{
					font-size:14px;
					padding:0;
				}
			}
		}
	}
	.widget .widget-title, .widget .widgettitle, .widget .widget-heading{
		margin:0 0 10px;
		font-size:16px;
		text-align:inherit;
		font-weight:500;
	}
	.vc_column_container{
		width:100%;
	}
	.sub-menu{
		max-width:100%;
	}
	.shop-list-small{
		margin-bottom:10px;
	}
}
#apus-mobile-menu{
	.btn-toggle-canvas{
		padding: 8px 15px;
		display:block;
		background:$brand-danger;
		color: #fff;
		text-align: center;
		@include transition(all 0.2s ease-in-out 0s);
		&:hover,&:active{
			background:darken($brand-danger,10%);
			color: #fff;
		}
	}
	.offcanvas-head{
		strong{
			margin: 0 5px;
		}
	}
}
.menu-setting-menu-container{
	.apus-menu-top {
		margin:0;
		padding:0;
		list-style: none;
		line-height: 2;
		li a{
			padding:0 15px;
			width:100%;
		}
		ul{
			@include rtl-padding-left($theme-margin / 2);
		}
	}
}
// top menu
.wrapper-topmenu{
	.dropdown-menu{
		@include border-radius(0);
	}
}
.topmenu-menu{
	width:100%;
    list-style:none;
    padding:0;
    margin:0;
    font-size:$font-size-base;
    font-weight:500;
    i{
        @include rtl-margin-right(7px);
        color:$link-color;
    }
	> li{
		float: none;
		margin-bottom:5px;
		white-space: nowrap;
		&:last-child{
			margin-bottom:0;
		}
		> a{
			background:transparent !important;
			padding:0;
			color:$text-color;
		}
		&:hover,
		&.active{
			> a{
				color:$theme-color;
			}
		}
	}
}
// overide css mobile menu
.mm-menu{
	background:#fff !important;
	.mm-listview .mm-next::before{
		border:none;
	}
	.mm-listview > li .mm-next{
		&:hover,&:active{
			&:after{
				border-color:#000;
			}
		}
	}
	.mm-listview > li > a, .mm-listview > li > span{
		color: #000;
		.text-label{
			font-size: 11px;
			padding: 0px 5px;
			background: $brand-info;
			color: #fff;
			position:absolute;
			@include rtl-right(50px);
			top:0;
			line-height: 2;
			display: inline-block;
			text-transform: capitalize;
			@include border-radius(2px);
			&.label-hot{
				background: $brand-danger;
				&:before{
					border-color: $brand-danger transparent transparent $brand-danger;
				}
			}
			&.label-new{
				background: $brand-success;
				&:before{
					border-color: $brand-success transparent transparent $brand-success;
				}
			}
			&:before{
				content: '';
				position: absolute;
				z-index: 9;
				top: 100%;
				@include rtl-left(7px);
				border-width: 3px;
				border-style:solid;
				border-color: $brand-info transparent transparent $brand-info;
			}
		}
	}
	.mm-listview{
		.menu-item-description{
			font-size: 10px;
		}
	}
	.mm-title{
		color: #000  !important;
		font-size: 18px;
	}
	// widget in menu
	.wpb_column{
		width: 100%;
	}
	.widget .widget-title, .widget .widgettitle, .widget .widget-heading{
		border:none;
		padding:0;
		margin-bottom:10px; 
		&:before{
			display:none;
		}
	}
}
html .mm-menu ~ .mm-slideout{
	&:before{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		@include size(100%,100%);
		background: rgba(0,0,0,0.25);
		z-index: -100;
		@include opacity(0);
		@include transition(all 0.2s ease-in-out 0s);
	}
}
html.mm-opening .mm-menu ~ .mm-slideout:before{
	z-index: 100;
	@include opacity(1);
	cursor:not-allowed;
}
html.mm-opened{
	position: static !important;
}
//top-menu
.top-menu{
	> li > a{
		padding:0 15px;
		text-transform: capitalize;
	}
}
.mm-menu.mm-offcanvas{
	z-index: 999 !important;
	// social
	.social-top{
		&:after{
			display: none;
		}
		a{
			display: inline-block;
			font-size: 16px;
			&:hover,&:active{
				color: $theme-color;
			}
		}
	}
	.widget{
		margin:0;
	}
	.topbar-right-wrapper{
		padding:10px;
		> *{
			margin-bottom: 15px;
			&:last-child{
				margin:0;
			}
		}
		&:after{
			display: none;
		}
	}
	.woocommerce-currency-switcher-form ul.dd-options{
		margin-top: 0;
	}
}
.mm-menu.mm-offcanvas{
	@include transition(all 0.4s ease 0s);
	@include translateX(-100%);
}
.mm-menu.mm-offcanvas.mm-opened{
	@include translateX(0);
}
// vertical menu
.header-mobile{
	.mobile-vertical-menu-title{
		font-size: 16px;
		cursor: pointer;
		margin:0;
		padding:10px 0;
		i{
			@include rtl-margin-left(8px);
		}
		&.active{
			color: $theme-color;
		}
	}
}
.mobile-vertical-menu{
	.navbar-offcanvas .navbar-nav li > a{
		font-weight: 400;
		i{
			@include rtl-margin-right(5px);
			min-width: 20px;
		}
	}
	.navbar-offcanvas .navbar-nav li{
		.fa-minus{
			color: $theme-color;
		}
		.sub-menu{
			max-width: 100%;
			display: none;
			padding:0 15px;
		}
		.widget .widgettitle,
		.widget .widget-title{
			padding:0;
			border:none;
			margin:0 0 10px;
			font-size: 16px;
			color: $theme-color;
			&:before,&:after{
				display: none;
			}
		}
		.dropdown-menu-inner{
			@include rtl-padding-left(24px);
		}
		.menu{
			li{
				a{
					padding:0;
					font-size: 14px;
					line-height: 20px;
				}
			}
		}
	}
}
.dark-menu-sidebar{
	background:#fff;
	color:$text-color;
	padding:40px;
	min-height:100vh;
	font-size:15px;
	@include box-shadow(0 5px 10px 0 rgba(#283436,0.2));
	a{
		color:$text-color;
		&:hover,&:focus{
			color:$theme-color;
		}
	}
	.top-wrapper-menu .inner-top-menu{
		a{
			color:$link-color;
			&:hover,&:focus{
				color:$theme-color;
			}
		}
	}
	.navbar-collapse{
		padding:0;
	}
	.navbar-offcanvas .navbar-nav > li > a{
		padding:12px 0;
	}
	.navbar-offcanvas .navbar-nav li {
		.icon-toggle{
			top:15px;
		}
		&:hover,&.active{
			> .icon-toggle,
			> a{
				color:$theme-color;
			}
		}
	}
	.sidebar-center{
		margin-top:60px;
	}
	.wishlist-sidebar > a,
	.login-topbar > a{
		font-size:14px;
		display:block;
		margin-bottom:10px;
	}
	.wishlist-sidebar > a,
	.wrapper-account{
		i{
			@include rtl-margin-right(15px);
		}
	}
	.wrapper-topmenu{
		margin-bottom:8px;
		.dropdown-menu{
			padding:10px;
			margin-top:0;
			a{
				color:#999999;
				&:hover,&:focus{
					color:$theme-color;
				}
			}
			.active{
				> a{
					color:$theme-color;
				}
			}
		}
		&:hover{
			.dropdown-menu{
				display: block;
			}
		}
	}
	.top-wrapper-menu .inner-top-menu,
    .top-wrapper-menu .header_customer_login{
        right:inherit;
        left:0;
    }
}