#wrapper-container{
	overflow:hidden;
}
@media(min-width:992px){
  body.v12{
    padding-left:185px;
    &.rtl{
      padding-left:0;
      padding-right:185px;
      #apus-main-content{
        padding:20px 0px 0px 0;
      }
    }
    #apus-main-content{
      padding:20px 0 0 0;
    }
  }
  body.v9{
    padding-left:215px;
    &.rtl{
      padding-left:0;
      padding-right:215px;
    }
  }
  body.v11{
    padding:0 150px;
  }
}
@media(min-width:992px) and (max-width:1500px){
  .header-v12 .main-menu .navbar-nav > li{
    margin-bottom:10px;
  }
}
// layout for woocommerce
@media(min-width:1500px){
    body.v12{
      padding-left:315px;
      &.rtl{
        padding-left:0;
        padding-right:315px;
        #apus-main-content{
          padding:40px 0px 0px 10px;
        }
      }
      #apus-main-content{
        padding:40px 10px 0px 0;
      }
    }
    .col-md-cl-5{
        width: 20%;
        &.first{
        	clear: both;
        }
    }
}
@media(min-width: 1200px) and (max-width:1500px){
	.col-md-cl-5{
        width: 25%;
        &.first:nth-child(4n + 1){
        	clear: both;
        }
    }
    div.product.col-md-cl-5:nth-child(4n + 1){
    	clear: both;
    }
}
.box-home{
  > .vc_column-inner {
    padding:0;
  }
  max-width:1290px;
  background:#fff;
  @include box-shadow(0 3px 68px 0 rgba(0,0,0,0.04));
  margin:auto;
  float:none;
  padding:10px;
  @media(min-width:1280px){
    padding:60px;
  }
}
.main-page {
	.page-links{
		clear: both;
		overflow: hidden;
		padding:$theme-padding 0;
		margin:0;
	}
	#respond .comment-reply-title{
		margin:0 !important;
	}
	#comments{
		margin-top:22px;
	}
}
//----------------------------------
// layout page
.wrapper-80{
	padding-left:50px;
	padding-right:50px;
}
@media(min-width:1200px){
	.wrapper-80{
		padding-left:80px;
		padding-right:80px;
	}
	.wrapper-50{
		padding-left:50px;
		padding-right:50px;
	}
}
div.wpcf7-validation-errors{
	margin: 0;
	padding: 15px;
}
.contact-form-content{
	padding: $theme-padding;
	background: $contact-bg;
	min-height: 260px;
	.rounded{
		@include rtl-margin-right(10px);
		color: $white;
		@include size(40px,40px);
		background: darken($body-bg, 20%);
		.fa,.icon{
			@include font-size(font-size,16px);
			margin: 13px;
		}
	}
	small{
		color: darken($text-color, 20%);
	}
}
.user{
	> div{
		display: none;
		&.active{
			display: block;
		}
	}
}
// Page Not Found
//----------------------------------
.page-404{
	background-repeat:no-repeat;
	background-color:#f4f5f6;
	@media(max-width:991px){
		background-image:none !important;
	}
   .not-found{
   	padding: 30px 0;
   	@media(min-width:768px){
   		padding: 50px 0;
   	}
   	@media(min-width:1200px){
   		padding: 190px 0;
   	}
   }
   .icon-error{
   		font-size:60px;
   }
   .return-home{
   		font-size:16px;
   		text-decoration: underline;
   }
   .description{
   	margin-bottom:$theme-padding;
   	@media(min-width:1200px){
   		margin-bottom:50px;
   	}
   }
   .title-big{
   	letter-spacing:2px;
   	font-size:18px;
   	font-weight:500;
   	margin:18px 0 25px;
   	text-transform:uppercase;
   }
   .widget-search{
   	max-width:370px;
   		form{
   			border:2px solid #d1d0d0;
   			.btn{
   				color:$theme-color;
   			}
   		}
   		.btn ,
   		.form-control {
   			height:46px;
   			font-weight:400;
   		}
   }
}
.radius-50{
	@include border-radius(50px);
}