/*
* General Post Style using for all with naming class entry
*/
.home-blog{
	padding-top:$theme-margin;
	@media(min-width:1200px){
		padding-top:50px;
	}
}
.apus-breadscrumb + .home-blog{
	padding-top:0;
}
.layout-blog{
	.type-post{
		@media(min-width:1200px){
			margin-bottom:50px;
		}
	}
	.post-list-item,
	.post-grid-v1 {
		@media(min-width:1200px){
			margin-bottom:60px;
		}
	}
}
.layout-posts-list{
	max-width:870px;
	margin:auto;
}
.post.no-results{
	text-align:center;
	.widget-search{
		margin-top: $theme-margin;
	}
}
.entry-title{
	font-weight:500;
   	font-size: 24px;
    margin: 5px 0 12px;
}
.entry-create{
	font-size: 13px;
	margin: 0 0 15px;
	> *{
		@include rtl-margin-right(2px);
	}
	.author{
		font-style: italic;
		text-transform: capitalize;
	}
}
.entry-link{
	margin-top: 20px;
	.readmore {
		color: $theme-color;
		text-transform: capitalize;
		font-weight: 500;
		font-size: $font-size-base - 2;
		&:hover{
			color: #000;
		}
	}
}
.entry-meta{
	margin:0; 
	.fa,.icon{
		@include rtl-margin-right(3px);
	}
}
blockquote{
	color:$link-color;
	font-size:18px;
	padding:65px 0 0;
	font-weight:600;
	max-width:970px;
	margin-left:auto;
	margin-right:auto;
	background:url(#{$image-theme-path}quote.jpg) no-repeat;
	border:none;
	margin-top:25px;
	@media(min-width:1200px){
		padding:80px 0 0;
		margin-bottom:45px;
		margin-top:45px;
		font-size:21px;
	}
	.text-theme{
		font-size:13px;
		font-weight:500;
		text-transform:uppercase;
		display:block;
		@media(min-width:1200px){
			margin-top:20px;
		}
	}
}
.entry-vote{
	z-index: 1;
	display: table;
	text-align: center;
	top: 20px;
	position: absolute;
	background: rgba($black,.5);
	@include square(44px);
	@include rtl-right(20px);
	.entry-vote-inner{
		color: $white;
		display: table-cell;
		vertical-align: middle;
		font-weight: $headings-font-weight;
	}
	&.vote-perfect{
		.entry-vote-inner{
			color: $red;
		}
	}
	&.vote-good{
		.entry-vote-inner{
			color: $yellow;
		}
	}
	&.vote-average{
		.entry-vote-inner{
			color: #91e536;
		}
	}
	&.vote-bad{
		.entry-vote-inner{
			color: $orange;
		}
	}
	&.vote-poor{
		.entry-vote-inner{
			color: $green;
		}
	}
}
.type-post{
	margin-bottom:$theme-margin;
	.post-sticky{
		background:$brand-info;
		display:inline-block;
		color:#fff;
		padding: 0 10px;
		margin-bottom:5px;
	}
}
.blog-title{
	margin-bottom: $theme-margin;
}
//commentform
#commentform{
	margin-bottom:$theme-margin;
	.form-control{
	    padding: 12px 0;
	    margin: 0 0 30px;
	    @include border-radius(0);
	    font-size:12px;
	    border-width:0 0 1px;
	    border-color:#ededed;
	    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	        color: $text-color;
	      }
	      &::-moz-placeholder { /* Firefox 19+ */
	        color: $text-color;
	      }
	      &:-ms-input-placeholder { /* IE 10+ */
	        color: $text-color;
	      }
	      &:-moz-placeholder { /* Firefox 18- */
	        color: $text-color;
	      }
	      &:focus{
	      	color:$link-color;
	      	border-color:$theme-color;
	      }
	}
	textarea.form-control {
		height: 115px ;
		resize: none;
		@include border-radius(0);
	}
	.form-group{
		margin: 0 0 30px;
	}
	.space-comment{
		margin: 0 0 30px;
		@media(min-width:1200px){
			margin-bottom:50px;
		}
	}
	#cancel-comment-reply-link{
		color: $brand-danger;
	}
	.btn-submit{
		color: $link-color;
		font-weight: 500;
		font-size: 14px;
		text-transform: uppercase;
		letter-spacing: 2px;
		padding: 0 0 5px;
		background:transparent;
		border-width:0 0 2px;
		border-bottom:2px solid $theme-color;
		&:hover,&:active{
			color:$theme-color;
		}
	}
}
/*
* using for new, magazine
*/
.post-specail{
	.entry-title{
		font-size: 16px;
	}
	.entry-date{
		font-style: italic;
	}
	.entry-create{
		margin: 0 0 18px;
	}
}
.post-title{
	@include font-size(font-size,$entry-title-font-size);
}
.post-thumb{
	position: relative;
}
.blog-meta{
	top: 0;
	position: absolute;
	@include rtl-right($entry-meta-position);
}
/** Post blog style **/
.blog{
	&.style1 .blog-date{
		top: 0;
		position: absolute;
		@include rtl-right(0);
	}
	&.style2 {
		border: 1px solid $border-color;
		.blog-date{
	  		@include rtl-float-left();
	  		@include rtl-margin(-1px,$theme-margin,0px,0px);
	  	}
	  	.entry-title{
	  		@include rtl-padding-left(65px);
	  		@include rtl-padding-right(20px);
		}
	  	.entry-description{
	  		@include rtl-padding-left(65px);
	  		@include rtl-padding-right(20px);
	  	}
		.entry-content{
			@include clearfix();
			border: 0px;
			margin-bottom: 20px;
		}
	}
	.blog-date{
		display: table;
		background: $blog-date-bg;
		text-align: $align-center;
		color: $blog-date-color;
		text-transform: $blog-date-transform;
		@include font-size(font-size,$blog-date-font-size);
		font-weight: $blog-date-font-weight;
		@include size($blog-date-size,$blog-date-size);
		line-height: normal;
		.blog-date-inner{
			display: table-cell;
			vertical-align: middle;
		}
		span{
			display: block;
			margin: 2px 0 3px 0;
			line-height:$blog-date-number-line-height;
			@include font-size(font-size,$blog-date-font-size-number);
			font-weight: $blog-date-font-weight-number;
		}
	}
	.blog-date--grids{
		position: absolute;
		top: 0;
		@include rtl-right(15px);
	}
	.entry-content--info{
		overflow: hidden;
		padding: $theme-margin 0;
	}
}
/// style posts
.post{
	.entry-description{
		margin: 0 0 30px;
		clear:both;
		overflow:hidden;
		p:last-child{
			margin:0;
		}
	}
	&.sticky{
		.entry-title a{
			color:$brand-danger;
		}
	}
}
/* Post type: half content */
.grid-half{
	// style for carousel
	&.owl-carousel .owl-controls{
		top:100%;
		@include translate(50px,-80px);
		@include rtl-left(50%);
		.owl-nav .owl-prev,
		.owl-nav .owl-next{
			@include opacity(1);
			position: static;
		}
		.owl-nav .owl-next{
			@include rtl-margin-left(5px);
		}
	}
	&.halfdark{
		&.owl-carousel .owl-controls{
			.owl-nav .owl-prev,
			.owl-nav .owl-next{
				background: #e1e4e6;
				border-color: #e1e4e6;
				color: $link-color;
				&:hover,&:active{
					background: $theme-color;
					border-color: $theme-color;
					color: #fff;
				}
			}
		}
	}
	// style image
	&.style_img.owl-carousel{
		.owl-controls{
			@include rtl-left(0);
			@include translate(0,0);
		}
	}
}
.layout-half{
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 0;
	background:$theme-color;
	color: #fff;
	.entry-content{
		max-width: 650px;
		padding-bottom: 120px;
		padding-top: 50px;
		&[class *='-6']{
			padding-left: 50px;
			padding-right: 50px;
		}
	}
	> div{
		padding-left: 0px;
		padding-right: 0px;
	}
	@media(max-width:1024px){
		.entry-content[class *='-6']{
			padding-left: $theme-margin;
			padding-right: $theme-margin;
			padding-top: $theme-margin;
			max-width: none;
		}
	}
	.entry-title{
		font-size: 50px;
		margin: 0 0 20px;
		line-height: 1.1;
		font-family: $font-family-base;
		a{
			color: #fff !important;
		}
	}
	.entry-description{
		margin:0 0 40px;
		font-size: 17px;
		font-weight: 400; 
	}
}
.layout-dark{
	background: #eff1f2 !important;
	color: $text-color;
	.meta{
		font-size: 20px;
		font-weight: 400;
		font-family: $font-family-second;
		position: relative;
		padding:0 0 10px; 
		margin: 0 0 35px;
		&:before{
			content: '';
			@include size(80px,2px);
			background: $link-color;
			position: absolute;
			bottom:0;
			@include rtl-left(0);
		}
	}
	.entry-title {
		margin: 0 0 10px;
		a{
			color: $link-color !important;
			font-size: 30px;
		}
	}
	.entry-description{
		font-size: 15px;
		font-weight: 300; 
	}
}
.layout-halfimg{
	position: relative;
	background: transparent;
	margin-bottom: 60px;
	.entry-content{
		padding: 40px 40px 80px;
		background:$theme-color;
		color: #fff;
		.entry-title{
			font-size: 35px;
			line-height: 1.1;
			margin: 0 0 10px;
			font-weight: 500;
			font-family: $font-family-base;
			a{
				color: #fff !important;
			}
		}
	}
	@media(min-width:768px){
		.half-img{
			width: 75%;
		}
		.entry-content{
			max-width: 500px;
			position: absolute;
			top: 50%;
			@include translateY(-50%);
			@include rtl-right(0);
		}
	}
}
/* Post type: List widget list*/
.posts-list{
	list-style: none;
	padding:0;
	margin:0;
	li{
		margin:0 0 20px;
		overflow: hidden;
		&:last-child{
			margin:0;
		}
	}
	.content-info{
		overflow: hidden;
	}
	.image{
		width: 90px;
		@include rtl-padding-right(20px);
	}
	.entry-title{
		font-size: 14px;
		text-transform: inherit;
		margin:0 0 10px;
		font-weight: 600;
	}
	.date{
		font-size: 12px;
		font-weight:500;
	}
}
// post-grid
.post-layout{
	.post-sticky{
		background:$brand-danger;
		color:#fff;
		display:inline-block;
		padding:0 15px;
		margin:5px 0;
		font-size:14px;
	}
	.top-info{
		margin-bottom:5px;
		a,&{
			color:#888888;
		}
		a:hover,a:focus{
			color:$theme-color;
		}
		> div{
			display:inline-block;
			font-size:12px;
			text-transform:uppercase;
		}
	}
	.entry-title{
		font-size:21px;
		font-weight:500;
	}
	.content{
		padding:22px 0;
	}
}
.post-grid{
	margin-bottom:30px;
	@media(min-width:1200px){
		margin-bottom:50px;
	}
	.space{
		margin:0 3px;
	}
	.entry-media,
	.entry-thumb{
		margin-bottom:25px;
	}
	.title{
		font-size:18px;
		font-weight:600;
		margin:0 0 10px;
	}
	.description{
		font-size:14px;
		margin-top:20px;
	}
	.bottom-info{
		font-family:$font-family-second;
		margin-bottom:12px;
		.author{
			text-transform:uppercase;
		}
		> div{
			display:inline-block;
			vertical-align:middle;
		}
		.categories a{
			color:$theme-color;
		}
	}
	.more{
		margin-top:20px;
		@media(min-width:1200px){
			margin-top:30px;
		}
	}
	.more-link{
		font-weight: 500;
		margin: 0 3px;
		@include transition(all 0.2s ease-in-out 0s);
		text-decoration:underline;
		&:hover{
			text-decoration: none;
		}
	}
}
.post-grid-v1{
	.title{
		font-size:24px;
		@media(min-width: 1200px){
			font-size:28px;
		}
	}
}
.list-small{
	overflow:hidden;
	.entry-title{
		font-size:14px;
		margin:0 0 5px;
		line-height: 20px;
		font-weight: 400;
	}
	.date{
		font-size: 12px;
	}
	.image{
		@include rtl-float-left();
		@include rtl-padding-right(15px);
		img{
			min-width: 62px;
		}
	}	
	.info{
		overflow: hidden;
	}
}
.post-list-item{
	text-align:center;
	.title{
		font-size:24px;
	}
	@media(min-width:1200px){
		.entry-thumb{
			margin-bottom:30px;
		}
	}
}
/* Post type: By Category */
.posts-grid-category{
	overflow: hidden;
}
.top-blog-info{
	padding:25px 0;
	margin-bottom:20px;
	border-bottom:1px solid $border-color;
	i{
		@include rtl-margin-right(10px);
	}
	.categories{
		@include rtl-margin-right(35px);
	}
	.author{
		a{
			color: $theme-color;
		}
	}
	a{
		color: $text-color;
		&:hover,&:active{
			color:$theme-color;
		}
	}
}
.list-default{
	margin-bottom:45px;
	.entry-title{
		font-weight: 500;
		font-size: 30px;
		margin:0 0 10px;
	}
	.description{
		margin:0 0 15px;
	}
}
.category-posts{
	position: relative;
	&::after{
		content: "";
		top: 20px;
		position: absolute;
		@include rtl-right(0);
		@include size(1px,1000px);
		background: $border-color;
	}
	.post{
		border-bottom: 1px solid $border-color;
	}
	.category-posts-label{
		padding: 1px 3px;
		@include border-radius(0);
		background: $theme-color;
		font-weight: $category-posts-label-font-weight;
		@include font-size(font-size,$category-posts-label-font-size);
		text-transform: $category-posts-label-transform;
		a{
			color: $category-posts-label-color;
		}
	}
	.entry-meta{
		&::after{
			display: none;
		}
	}
	.posts-more{
		.post{
			&:last-child{
				border: 0px;
			}
		}
		.entry-title{
			@include font-size(font-size,$category-posts-subtitle-font-size);
			a{
				color: $gray-light;
				&:hover{
					color: $theme-color;
				}
			}
		}
	}
}

/*------------------------------------*\
    Post detail
\*------------------------------------*/
.sharebox{
	margin-bottom: $post-share-margin;
	.sharebox-title{
		margin: $post-share-title-margin;
	}
}

.social-networks{
	li{
		padding-left: 10px;
		padding-right: 10px;
		&:last-child{
			a{
				margin-right: 0;
			}
		}
		a{
			font-size: 14px;
			&:hover{
				color: $theme-color;
			}
		}
	}
}
.tag-links, 
.post-share {
	margin-bottom: 10px;
	span i {
		@include rtl-margin-right(5px);
	}
}
/*------------------------------------*\
    Comment List
\*------------------------------------*/
#respond{
	.title{
		margin:0 0 5px;
	}
}
.comment-list{
	padding:0;
	margin: 0;
	list-style: none;
	+ .commentform{
		border-top:1px solid #ededed;
		padding-top:20px;
		@media(min-width:1200px){
			margin-top:20px;
			padding-top:60px;
		}
	}
	.comment-respond{
		padding-bottom:10px;
	}
	#cancel-comment-reply-link{
		color:$brand-danger;
	}
	.children{
		list-style: none;
		margin: 0;
		@include rtl-padding-left(110px);
	}
	.left-infor{
		@include rtl-float-left();
		@include rtl-padding-right(20px);
	}
	.avatar{
		img{
			margin:0 0 10px;
			@include border-radius(50%);
		}
	}
	.comment-edit-link{
		color:$brand-success;
		font-size:14px;
		@include rtl-margin-left(5px);
	}
	.date{
		font-size:12px;
		text-transform: uppercase;
		font-weight:500;
		i{
			color:$theme-color;
			@include rtl-margin-right(5px);
		}
	}
	.name-author {
		font-size: 16px;
		color:$headings-color;
		font-weight: 600;
		margin:0 0 5px;
	}
	.comment-reply-link{
		font-size:12px;
		color:$theme-color;
		@include transition(all 0.2s ease-in-out 0s);
		display:inline-block;
		@include size(36px,36px);
		border:2px solid $theme-color;
		@include border-radius(50%);
		line-height:32px;
		text-align:center;
		&:hover{
			color:#fff;
			background:$theme-color;
		}
	}
	.comment-box{
		overflow:hidden;
	}
	.comment-text{
		font-size:13px;
		margin: 18px 0 0;
		p{
			margin:0;
		}
	}
	img.avatar{
		@include size(90px,90px);
		overflow:hidden;
	}
	.the-comment{
		padding: 0 0 20px;
		@media(min-width:992px){
			padding: 0 0 40px;
		}
	}
}
.commentform {
	.title{
		margin: 0;
		font-weight:600;
		font-size: 24px;
	}
	.comment-notes{
		display: none;
	}
}
.comment-form{
	#submit{
		text-transform: uppercase;
	}
}
.post-navigation{
	a{
		color: $text-color;
		&:hover,&:active{
			color: $link-color;
		}
	}
	.navi{
		display: block;
		float: none;
		width: 100%;
		margin: 0; 
		font-family: $font-family-second;
		font-size: 14px;
		i{
			font-size: 12px;
			@include rtl-margin-right(5px);
		}
	}
	.post-title{
		font-size: 16px;
		font-weight: 600;
		margin:10px 0 0;
		display: block;
	}
	.nav-next{
		.navi i{
			@include rtl-margin-right(0);
			@include rtl-margin-left(5px);
		}
	}
}
/*------------------------------------*\
    Single post
\*------------------------------------*/
.detail-post{
	#comments{
		padding-top:30px;
		border-top:1px solid #ededed;
		@media(min-width:1200px){
			padding-top:80px;
		}
		#reply-title{
			margin: 0 !important;
		}
		.comments-title{
			font-size: 24px;
			font-weight: 600;
			margin: 0 0 25px;
		}
	}
}
//post-navigation
.post-navigation{
	position: relative;
	.screen-reader-text{
		display: none;
	}
	.nav-links{
		overflow: hidden;
		> *{
			width: 40%;
			@include rtl-float-left();
			&.nav-next{
				@include rtl-float-right();
				@include rtl-text-align-right();
			}
		}
		.meta-nav{
			display: none;
		}
	}
}
.author-info{
	padding:30px 0;
	@media(min-width:992px){
		padding:60px 0;
	}
	border-top:1px solid #ededed;
	.author-title{
		font-size: 18px;
		font-weight:600;
		margin:0;
	}
	.sub-author{
		font-weight:600;
		font-size:12px;
		margin:5px 0;
	}
	.avatar-img {
		@include rtl-padding-right(20px);
		@media(min-width:1200px){
			@include rtl-padding-right(30px);
		}
		.avatar {
			overflow: hidden;
			max-width: none;
			margin:0;
		}
	}
	.des{
		margin-top:15px;
	}
}
//related-posts
.related-posts{
	padding:30px 0 0;
	border-top:1px solid #ededed;
	@media(min-width:1200px){
		margin: 30px 0 0;
		padding-top:90px;
	}
	.widget-title{
		text-align:center;
		margin: 0 0 20px;
		font-size: 22px;
		@media(min-width:1200px){
			font-size: 32px;
			margin: 0 0 50px;
		}
	}
}
.blog-post-icon{
	display: table;
	color: $white;
	text-align: center;
	position: absolute;
	top: 0;
	z-index: 1;
	background: $theme-color;
	@include opacity(0.9);
	@include rtl-left(0);
	@include square(50px);
	.fa{
		display: table-cell;
		vertical-align: middle;
		font-size: 22px;
	}
}
/*------------------------------------*\
    Blog Masonry Page
\*------------------------------------*/
.blog-masonry{
	.entry-thumb{
		margin-bottom: 0;
	}
}
// post gallery
.gallery{
	margin-left: -($theme-margin / 2);
	margin-right: -($theme-margin / 2);
	overflow: hidden;
	.gallery-item{
		@include rtl-float-left();
		margin-bottom:($theme-margin / 2);
		padding-right: ($theme-margin / 2);
		padding-left: ($theme-margin / 2);
		position: relative;
		figcaption{
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			color: #fff;
			max-height: 50%;
			font-size: 12px;
			background: rgba(0,0,0,0.5);
			margin-left: ($theme-margin / 2);
			margin-right: ($theme-margin / 2);
			@include opacity(0);
			padding:8px ($theme-margin / 2);
		}
		&:hover{
			figcaption{
				@include opacity(1);
			}
		}
	}
	&.gallery-columns-9{
		.gallery-item{
			width: 11%;
		}
	}
	&.gallery-columns-8{
		.gallery-item{
			width: 12.5%;
		}
	}
	&.gallery-columns-7{
		.gallery-item{
			width: 14%;
		}
	}
	&.gallery-columns-6{
		.gallery-item{
			width: 16.5%;
		}
	}
	&.gallery-columns-5{
		.gallery-item{
			width: 20%;
		}
	}
	&.gallery-columns-4{
		.gallery-item{
			width: 25%;
		}
	}
	&.gallery-columns-3{
		.gallery-item{
			width: 33%;
		}
	}
	&.gallery-columns-1{
		.gallery-item{
			width: 100%;
		}
	}
	&.gallery-columns-2{
		.gallery-item{
			width: 50%;
		}
	}
}
// navigation
.comment-navigation{
  overflow: hidden;
  padding: 20px 0;
  .nav-links{
    > div{
      display: inline-block;
      + div{
        line-height: 1.1;
        @include rtl-margin-left($theme-margin / 2);
        @include rtl-padding-left($theme-margin / 2);
        @include rtl-border-left(2px solid $border-color);
      }
    }
  }
}
.list-check{
	list-style: none;
	padding:0;
	margin:0;
	li{
		margin-bottom: 10px;
	}
	i{
		color: $theme-color;
		@include rtl-margin-right(10px);
	}
}
.detail-post{
	iframe {
		max-width: 100%;
	}
	.top-info{
		position:relative;
		&.has-thumb{
			.apus-social-share{
				bottom:30px;
				left:0;
				width:100%;
				position:absolute;
			}
		}
		.entry-thumb {
			margin: 0 0 30px;
			@media(min-width:1200px){
				margin-bottom:60px;
			}
			&.no-thumb{
				margin:0;
			}
		}
	}
	.top-title{
		@media(min-width:1200px){
			margin-bottom:85px;
		}
		.title{
			font-size:32px;
		}
	}
	.entry-description{
		.character-first{
			color:$link-color;
			font-size:54px;
			font-weight:600;
			@include rtl-float-left();
			line-height:0.9;
			@include rtl-margin-right(10px);
		}
	}
	.font-second{
		font-family: $font-family-second;
		font-size: 24px;
		margin: 0 0 20px;
	}
	.bottom-info{
		font-family:$font-family-second;
		margin-bottom:20px;
		.suffix{
			font-style:italic;
		}
		.author{
			text-transform:uppercase;
		}
		> div{
			display:inline-block;
			vertical-align:middle;
		}
		a{
			color:$text-color;
			&:hover,&:active{
				color:$theme-color;
			}
		}
	}
	.apus-social-share{
		text-align:center;
		.title{
			@include rtl-margin-right(30px);
			display:none;
		}
		a{
			color:#fff !important;
			font-size:11px;
			font-weight:500;
			text-transform:uppercase;
			margin:0 5px;
			margin-bottom:10px;
			display:inline-block;
			.text-social{
				padding:12px 10px;
				position:relative;
				z-index:1;
				@media(min-width:1200px){
					padding:12px 30px;
				}
				&:after{
					content:'';
					z-index:-1;
					background:rgba(0,0,0,0.1);
					position:absolute;
					top:0;
					left:0;
					@include size(100%,100%);
					@include opacity(0);
					@include transition(all 0.2s ease-in-out 0s);
				}
			}
			i{
				display:inline-block;
				padding:12px 20px;
				font-size:16px;
				position:relative;
				vertical-align: middle;
				z-index:1;
				&:after{
					content:'';
					z-index:-1;
					background:rgba(0,0,0,0.1);
					position:absolute;
					top:0;
					left:0;
					@include size(100%,100%);
				}
			}
			&:hover{
				.text-social:after{
					@include opacity(1);
				}
			}
			&.bo-social-facebook{
				background:#3d5b96;
			}
			&.bo-social-twitter{
				background:#55acee;
			}
			&.bo-social-linkedin{
				background:#0077B5;
			}
			&.bo-social-tumblr{
				background:#34465d;
			}
			&.bo-social-google{
				background:#dd4b39;
			}
			&.bo-social-pinterest{
				background:#bd081c;
			}
		}
	}
	.tag-social{
		margin-bottom: 20px;
		@media(min-width:992px){
			margin-bottom: 40px;
		}
	}
	.entry-tags-list{
		strong{
			@include rtl-margin-right(10px);
			color: $link-color;
		}
		a{
			font-size: 12px;
			padding: 5px 20px;
			color: $text-color;
			font-weight: 400;
			display: inline-block;
			@include transition(all 0.2s ease-in-out 0s);
			@include rtl-margin-right(10px);
			margin-bottom:5px;
			@include border-radius(2px);
			background: darken(#fbfbfc, 2%);
			&:hover,&:active{
				color: #fff;
				border-color:$brand-primary;
				background:$brand-primary;
			}
		}
	}
	.post-navigation{
		margin: 0 0 55px;
		padding-top:20px;
	}
	.nav-links{
		.navi{
			font-family: $font-family-base;
			font-size: 24px;
			color: #000;
			&:hover,&:active{
				text-decoration:underline;
			}
			i{
				line-height: 1;
				vertical-align: middle;
				font-size: 42px;
			}
		}
	}
	.entry-content-detail{
		@media(min-width:1200px){
			margin-bottom:60px;
		}
	}
	.sub-title{
		font-size:21px;
	}
}
.author-post{
	.avatar {
		@include border-radius(50%);
	}
	.avatar-img{
		@include rtl-float-left();
		@include rtl-padding-right(8px);
	}
	.name-author{
		display:inline-block;
		margin-top:9px;
	}
}