/*
*  Responsive
*/
@media(max-width:1500px){
    .header-left-inner{
        width:200px;
        padding: 50px 10px;
    }
    .header-left-9{
        padding: 30px 10px;
        width:180px;
    }
}
@media(max-width:1300px){
    .details-product.layout-layout-image-bg .information{
        padding:20px;
        .woocommerce-product-details__short-description{
            display:none;
        }
    }
    .details-product.layout-layout-image-bg{
        .image-mains{
            .wrapper-thumbs{
                @include rtl-left(10px);
                width:80px;
            }
        }
    }
}
@media(min-width: 1200px){
    div.product.first{
        clear: both;
    }
}
@media (min-width: 992px){
    .md-clearfix {
        clear: both;
    }
}
@media (min-width: 1200px) and (max-width:1500px){
    body.v9{
        padding-left:180px;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .sm-clearfix{
        clear: both;
    }
}
@media (max-width: 1199px){
    .navbar-nav.megamenu > li{
        @include rtl-margin-right(10px);
        &:last-child{
            @include rtl-margin-right(0);
        }
    }
    .header-v5{
        .navbar-nav.megamenu > li{
            @include rtl-margin-right(7px);
            &:last-child{
                @include rtl-margin-right(0);
            }
        }
    }
    // fix for menu
    .apus-megamenu{
        .slick-carousel,
        .vc_row {
            margin-left: -10px;
            margin-right: -10px;
        } 
        .slick-carousel .slick-slide,
        .vc_column_container > .vc_column-inner{
            padding-left: 10px;
            padding-right: 10px
        }
    }
    .header-right [class*="icon"] {
        font-size: 20px;
    }
    // fix widget
    .banner-countdown-widget .times{
        margin-top: 25px;
        > div{
            padding: 10px 20px;
        }
    }
    .widget-collections-item.s_large .title{
        font-size:25px;
    }
    .error-404 {
        text-align:center;
        .widget-search{
            margin-left:auto;
            margin-right:auto;
        }
    }
    .details-product .shipping_info .item .title{
        font-size:15px;
    }
    .widget-category-slider{
        .link-action .title{
            font-size:15px !important;
        }
        .category-wrapper{
            margin-bottom:15px;
        }
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .vc_col-has-fill > .vc_column-inner, .vc_row-has-fill + .vc_row-full-width + .vc_row > .vc_column_container > .vc_column-inner, .vc_row-has-fill + .vc_row > .vc_column_container > .vc_column-inner, .vc_row-has-fill > .vc_column_container > .vc_column-inner{
        padding-top:$theme-padding;
    }
    .woocommerce .column-information form.cart .group_table{
        .quantity{
            width:100px !important;
            .minus,
            .plus{
                width:35px;
            }
        }
    }
}
@media (max-width: $screen-sm-max){
    // logo 991px
    .comment-list .children{
        @include rtl-padding-left(30px);
    }
    .comment-list img.avatar{
        @include size(60px,60px);
    }
    .comment-list .comment-reply-link{
        @include size(26px,26px);
        line-height:22px;
    }
    .comment-list .comment-box{
        padding-bottom:20px;
    }
    .comment-list .the-comment{
        margin-bottom:20px;
    }
    .apus-footer-mobile{
        display: block;
    }
    // fix for footer mobile
    body.body-footer-mobile{
        padding-bottom:60px;
    }
    .add-fix-top{
        @include size(35px,35px);
        line-height:30px;
        bottom:60px;
    }
    // widget
    .widget-lookbook .widget-title{
        font-size:18px;
    }
    .banner-countdown-widget .times > div {
        padding: 8px 12px;
    }
    .widget-instagram .userinstagram{
        font-size:15px;
    }
    .widget-banner-sale .title{
        font-size: 50px;
    }
    .grid-v1{
        .groups-button,
        .title-wrapper{
            padding: 15px;
        }
        .name{
            font-size:15px;
        }
    }
    .heading-small{
        font-size: 17px;
    }
    .testimonial-body .description{
        font-size:18px;
    }
    .testimonial-body{
        padding-top:60px;
    }
    // shop
    .product-block-list{
        .product-excerpt{
            font-size:13px;
            margin-top:5px;
        }
        .cart-left{
            margin-top:5px;
        }
    }
    .details-product .shipping_info .item.col-sm-6{
        &:nth-child(2n + 1){
            clear:both;
        }
    }
    .details-product .apus-woocommerce-product-gallery-wrapper .woocommerce-product-gallery__trigger{
        @include size(38px,38px);
        line-height:38px;
        font-size:12px;
    }
    .layout-layout-image-1-column{
        .apus-woocommerce-product-gallery{
            margin-left:-10px;
            margin-right:-10px;
            .woocommerce-product-gallery__image{
                width:50%;
                padding-left:10px;
                padding-right:10px;
                @include rtl-float-left();
                &:nth-child(2n + 1){
                    clear:both;
                }
            }
        }
    }
    .details-product.layout-layout-image-bg .information{
        margin-bottom:20px;
    }
}
@media (max-width:768px) {
    .hidden-768{
        display: none;
    }
}
@media (max-width:767px) {
    // fix gutter
    .vc_col-has-fill > .vc_column-inner, .vc_row-has-fill + .vc_row-full-width + .vc_row > .vc_column_container > .vc_column-inner, .vc_row-has-fill + .vc_row > .vc_column_container > .vc_column-inner, .vc_row-has-fill > .vc_column_container > .vc_column-inner{
        padding-top:20px;
    }
    @include make-grid-mobile-columns();
    .container,
    .container-fluid{
        @include container-mobile-fixed();
    }
    .row{
        @include make-mobile-row();
    }
    .vc_row{
        margin-left:-10px;
        margin-right:-10px;
    }
    // fix row vc_row-full-width
    .vc_row.container{
        margin-right: auto;
        margin-left: auto;
    }
    .vc_column_container > .vc_column-inner{
        padding-left:10px;
        padding-right:10px;
    }
    .slick-carousel{
        margin-left: -10px;
        margin-right: -10px;
        .slick-slide{
            padding-left: 10px;
            padding-right: 10px;
        }
    }
    .comment-list .children{
        @include rtl-padding-left(15px);
    }
    // tab for product
    .nav-tabs{
        overflow: auto;
        white-space: nowrap;
        li{
            float: none;
            display: inline-block;
            margin-bottom: 10px;
        }
    }
    .tabs-v1 .nav-tabs {
        border:none;
        li > a{
            padding:0 0 10px;
        }
    }
    // widget
    .widget-banner{
        margin-bottom:20px;
        img{
            min-width:100%;
        }
    }
    .widget-products-tabs .top-info{
        margin-bottom:10px;
        > div{
            float:none;
            width:100%;
        }
    }
    .wpb-js-composer .vc_tta.vc_general .vc_tta-panel{
        margin-bottom:10px !important;
        > .vc_tta-panel-heading{
            @include border-radius(0);
        }
    }
    .wpb-js-composer .vc_tta.vc_general .vc_tta-panel.vc_active {
        .vc_tta-panel-title{
            background:#000;
            > a{
                color:#fff !important;
            }
        }
        .vc_tta-panel-body{
            padding:10px;
        }
    }
    // fix for footer
    .apus-footer{
        .wpb_single_image.vc_align_right,
        .f-medium.f-12,
        .widget-social.right,
        .wpb_widgetised_column,
        .apus_custom_menu.right,
        .widget-newletter.style3{
            text-align:center !important;
        }
        .widget-newletter.style4 > div{
            width:100%;
            text-align:center;
        }
    }
    // breadcrumb
    .apus-breadscrumb .wrapper-breads-inner{
        > *{
            width:100%;
        }
        .bread-title{
            margin-bottom:5px;
        }
    }
    // blog
    .post-grid {
        .title{
            font-size: 16px;
        }
        .bottom-info{
            font-size:12px;
        }
    }
    .post-grid .description{
        display:none;
    }
    .detail-post .top-title .title{
        font-size: 22px;
    }
    blockquote{
        font-size:16px;
    }
    .detail-post .top-info.has-thumb .apus-social-share{
        bottom:0;
    }
    .detail-post .apus-social-share a i,
    .detail-post .apus-social-share a .text-social{
        padding: 5px;
    }
    .comment-list .the-comment{
        margin-bottom:0;
    }
    // woocommerce
    .wrapper-filter {
        display:block;
        > *{
            display:inline-block;
            width:50%;
            padding:0 5px;
            @include rtl-float-left();
            margin-bottom:5px;
            text-align:inherit !important;
            &:last-child{
                margin-bottom:0;
            }
        }
    }
    .grid-v1 .groups-button, .grid-v1 .title-wrapper{
        padding:8px;
    }
    .grid-v1 .name{
        margin:0;
    }
    .grid-v1 .title-wrapper{
        position: static;
    }
    .product-block-list{
        .product-excerpt{
            display:none;
        }
    }
    .details-product .information .woocommerce-product-details__short-description{
        margin: 20px 0;
    }
    .tabs-v1 .tab-content{
        padding: 10px 0;
    }
    .details-product.layout-default{
        .left-detail{
            margin-bottom:20px;
        }
    }
    .details-product.layout-layout-image-bg .information{
        margin-bottom:10px;
    }
    // whishlist
    .woocommerce table.wishlist_table{
        .name-price{
            min-width:200px;
        }
        .product-add-to-cart a{
            padding: 5px 15px !important;
            font-size:12px !important;
        }
        .price{
            min-width:150px;
            display:block;
        }
    }
    .woocommerce-cart-form{
        .cart_item{
            border:none;
            margin:0;
        }
        tr td{
            background:#fff !important;
            .coupon{
                margin-bottom:10px;
                .btn-code{
                    width:auto;
                }
                #coupon_code{
                    width:100%;
                }
            }
        }
    }
    .woocommerce table.shop_table_responsive tr:nth-child(2n) td, .woocommerce-page table.shop_table_responsive tr:nth-child(2n) td{
        background:transparent;
    }
    .cart-collaterals-totals{
        width:100%;
    }
    .woocommerce ul.order_details li{
        border:none;
        padding:0 0 20px;
        margin:0;
        width:100%;
    }
}
@media (max-width: $screen-phone) {
    .apus-footer-mobile > ul > li{
        padding:0 6px;
    }
    .details-product .shipping_info .left-content img{
        max-width:35px;
    }
    .breadcrumb > li + a::before, .breadcrumb > li + li::before {
        padding: 0 8px;
    }
    .apus-topcart .dropdown-menu{
        padding: 10px;
        width: 270px;
        .btn{
            padding: 5px 20px;
        }
    }
}
@media(max-width: 479px){
    .woocommerce form .woocommerce-billing-fields .woocommerce-billing-fields__field-wrapper > * > *,
    .woocommerce form .woocommerce-billing-fields .woocommerce-billing-fields__field-wrapper > * > .select2-container, .woocommerce form .woocommerce-billing-fields .woocommerce-billing-fields__field-wrapper > * > select, .woocommerce form .woocommerce-billing-fields .woocommerce-billing-fields__field-wrapper > * > input{
        width: 100% !important;
        margin: 0 0 5px !important;
    }
    .product-block .add-cart .added_to_cart, .product-block .add-cart .button{
        font-size:11px;
    }
}