/* block */
.#{$block-selector} {
    margin-bottom: $block-module-margin-bottom;
    position: relative;
    padding: $block-module-padding;
    background: transparent;
    .#{$block-heading-selector}{
        font-size: 22px;
        margin: 0 0 30px;
        font-weight: 700;
        position: relative;
        @media(min-width:1200px){
            font-size: 32px;
        }
    }
    &.widget-blogs{
        .#{$block-heading-selector}{
            @media(min-width:1200px){
                margin: 0 0 50px;
            }   
        }
    }
}
// Sidebar
.sidebar,
.#{$app-prefix}-sidebar {
    .widget_nav_menu{
        .menu li{
            a:before{
                display:none;
            }
        }
    }
    .widget{
        margin: 0 0 30px;
        overflow:hidden;
        @media(min-width:992px){
            margin: 0 0 50px;
        }
        .#{$block-heading-selector}{
            font-size: 18px;
            font-weight:600;
            margin:0 0 20px;
            @media(min-width:992px){
                margin: 0 0 30px;
                font-size: 20px;
            }
        }
    }
    // widget fillter
    .apus-woocommerce-widget-layered-nav{
        .widget-title{
            font-size:16px;
            font-weight:600;
            color:#8f8f8f;
            margin:0 0 10px;
        }
    }
    // widet porducts list
    .apus-products-list{
        border-style: solid;
        border-color: $border-color;
        border-width:0 1px 1px;
        .product-block{
            padding: 20px;
            margin: 0;
        }
    }
    // widget instagram
    .row.instagram-pics{
        margin-left: -6px;
        margin-right: -6px;
        > [class*="col-md"]{
            padding-left: 6px;
            padding-right: 6px;
            margin-bottom: 12px;
        }
    }
    // widget single images
    .widget_apus_single_image{
        margin-bottom: 30px;
    }
}
// top bar
#apus-topbar{
    // widget info
    .info-topbar{
        .textwidget{
            > span{
                @include rtl-padding-right(10px);
                @include rtl-margin-right(10px);
                @include rtl-float-left();
                @include rtl-border-right(1px solid $border-color);
                &:last-child{
                    border: 0;
                }
            }
        }
        .fa{
            @include rtl-margin-right(8px);
        }
    }
}
// footer 
.apus-footer{
    .#{$block-selector} {
        .#{$block-heading-selector}{
            font-weight: 600;
            font-size: 16px;
            margin: 0 0 20px;
            @media(min-width:1200px){
              font-size:18px;
              margin: 0 0 30px;
            }
        }
    }
    .wpb_button, .wpb_content_element, ul.wpb_thumbnails-fluid > li{
        margin-bottom:20px;
    }
    &.dark {
        .#{$block-heading-selector}{
            color:#fff;
        }
        background:#000000;
        color:#999999;
        a{
            color:#999999;
            &:hover,&:focus{
                color:#fff;
            }
        }
    }
    // widget language and currency
    .wpb_widgetised_column{
        @include rtl-text-align-right();
        aside{
            display:inline-block;
            vertical-align:middle;
            @include rtl-margin-right(30px);
            &:last-child{
                @include rtl-margin-right(0);
            }
        }
    }
}
// copyright
.apus-copyright{
    .wpb_content_element,
    .widget{
        margin-bottom: 0 !important;
    } 
    .menu li{
        display: inline-block;
        @include rtl-margin-right(10px);
        margin-bottom:0;
        &:last-child{
            margin:0;
        }
    } 
}