
// px2percent function
@function px2percent($size:13px, $origin:13px) {
	@return percentage($size/$origin);
}

//
@mixin animation-play-state($status){
	animation-play-state: $status;
	-moz-animation-play-state: $status;
	-webkit-animation-play-state: $status;
	-o-animation-play-state: $status;
	-ms-animation-play-state: $status;
}
// transition-timing
@mixin transition-timing($timing) {
	-webkit-transition-timing-function: $timing;
	transition-timing-function: $timing;
}
// Font awesome
@mixin font-awesome($code, $size){
	content: "\#{$code}";
	display: inline-block;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	@include square($size);
	text-align: center;
	line-height: $size;
}

@mixin ulclear() {
	margin: 0;padding: 0;list-style: none;
}
@mixin effect-block-show() {
	visibility: visible;
	@include opacity(1);
	top: 100%;
	@include transform(translate3d(0,0,0));
	@include transition(visibility 0.4s ease-in-out, opacity 0.4s ease-in-out, transform 0.4s ease);
}
@mixin effect-block-hide() {
	visibility: hidden;
	display: block;
	@include opacity(0);
	top: 120%;
	transition: visibility 0.2s ease-in-out, opacity 0.2s ease-in-out, transform 0.2s ease 0.25s;
    -webkit-transition: visibility 0.3s ease-in-out, opacity 0.3s ease-in-out, -webkit-transform 0s ease 0.3s;
    @include transform(translate3d(0,25px,0));
}
@mixin effect-block-show-child(){
	display: block;
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transition: all 0.25s ease-out 0.2s;
    -o-transition: all 0.25s ease-out 0.2s;
    transition: all 0.25s ease-out 0.2s;
    //@include transform(scale(1));
    -webkit-transform-origin: top left;
    -moz-transform-origin: top left;
    -ms-transform-origin: top left;
    transform-origin: top left;
    visibility: visible;
}
@mixin effect-block-hide-child(){
	display: block;
	opacity: 0;
    filter: alpha(opacity=0);
    visibility: hidden;
    @include transition(all 0.25s ease-out);
    //@include transform(scale(0.7));
    -webkit-transform-origin: top left;
    -moz-transform-origin: top left;
    -ms-transform-origin: top left;
    transform-origin: top left;
    
}
@mixin mega-cols{
	> li.menu-item{
		float: left;
	}
	&.col-1{
		> li.menu-item{
			width: 100%;
		}
	}
	&.col-2{
		> li.menu-item{
			width: 50%;
		}
	}
	&.col-3{
		> li.menu-item{
			width: 33.33%;
		}
	}
	&.col-4{
		> li.menu-item{
			width: 25%;
		}
	}
	&.col-5{
		> li.menu-item{
			width: 20%;
		}
	}
	&.col-6{
		> li.menu-item{
			width: 16.67%;
		}
	}
}

// Navslider	
@mixin owl-nav1(){
	.owl-nav{
		// position: absolute;display: inline-block;z-index: 2;background: transparent;margin: 0;
		// padding: 0;top: -57px;right: 15px;width: 45px; height: 14px;
		.owl-prev,
		.owl-next{
			@include square(45px); border: 1px solid $color; @include border-radius(100%); text-align: center; position: absolute; font-size: 0px;
			top: 50%; margin-top: -22px; cursor: pointer; @include transition(all 0.25s ease-out);
			&:before{ font-size: 24px; color: $color; @include transition(all 0.25s ease-out);}
			&:hover{ border-color: $color1;
				&:before{ color: $color1; }
			}
			&.disabled{ @include opacity(0.6);
				&:hover{cursor: not-allowed;}
			}
		}
		.owl-prev{
			left: 0px; 
			&:before{ @include font-awesome('f104', 43px);}
		}
		.owl-next{
			right: 0px; left: auto;
			&:before{ @include font-awesome('f105', 43px);}
		}
	}
}


@mixin navslider2(){
	.owl-nav{
		position: absolute;display: inline-block;z-index: 2;background: transparent;margin: 0;
		padding: 0;top: 50%;right: 0;margin-top: -30px;width: 100%; height: 60px;
		.owl-prev,
		.owl-next{
			@include square(60px);text-align: center; position: absolute; font-size: 0px; background: rgba(0,0,0,0.4); color: #FFF;
			&:before{ font-size: 30px; @include transition(all 0.25s ease-out);}
			&:hover{
				cursor: pointer; background: $color1;
			}
			&.disabled{ @include opacity(0.6);
				&:hover{cursor: not-allowed;}
			}
		}
		.owl-prev{
			left: 0px; 
			&:before{ @include font-awesome('f104', 60px);}
		}
		.owl-next{
			right: 0px; left: auto;
			&:before{ @include font-awesome('f105', 60px);}
		}
	}
}

@mixin effect-product-image-hide(){
	.product-image{
		position: relative;
		z-index: 0;
		display: block;
	    overflow: hidden;
	    text-align: center;
		.img-main{
			display: block;
			@include translateY(0);
			@include transition(all 0.4s ease-out);
		}
		.img-additional{
			text-align: center;
		    left: 0;
		    display: block;
		    position: absolute;
		    top: 0;
		    width: 100%;
		    max-width: 100%;
		    z-index: -1;
		    -webkit-transition: all 0.4s ease-out;
		    transition: all 0.4s ease-out;
			@include translateY(-120%);
			@include transition(all 0.4s ease-out);
		}
	}
}

@mixin effect-product-image-show(){
	.product-image{
		.img-main{
			@include translateY(120%);
		}
		.img-additional{
			@include translateY(0);
		}
	}
}

// Product's badges
@mixin product-block-badges() {
	.onsale{
		position: absolute;top: 10px; right: 10px;z-index: 1;color: #fff;font-size: 1em;width: 48px;height: 48px; line-height: 48px;border-radius: 100%;
	    background: $color1;text-transform: none;text-align: center;
	}
}

// Product action buttons Grid 
@mixin product-action-buttons(){
	.yith-wcwl-add-to-wishlist a, .added_to_cart,.compare , .button {
		font-size: 0px; padding: 0; width: 40px; height: 40px; background-color: transparent; border: 2px solid $color; @include border-radius(5px); display: block; vertical-align: top;
		overflow: hidden; @include transition(all 0.25s ease-out); position: relative;
		&:before{
			position: absolute; left: 0px; top: 0px; font-size: 16px; color: $link-color; background-color: transparent; @include transition(all 0.25s ease-out);
		}
		&:hover{ border-color: $color1; background: $color1; 
			&:before{
				color: #FFF;
			}
		}
		&.button.product_type_simple,
		&.button.product_type_grouped,
		&.product_type_external,
		&.add_to_cart_button{
			&:before{@include font-awesome('f07a', 36px);}
			&.loading{ background: $color1; border-color: $color1;
				&:before{
					position: absolute;background: transparent;
					@include font-awesome('f1ce', 36px); font-size: 16px; z-index:1; color: #FFF; cursor: wait;
				    -webkit-animation: spin 1s ease-in-out infinite;
				    -moz-animation: spin 1s ease-in-out infinite;
				    -o-animation: spin 1s ease-in-out infinite;
				    animation: spin 1s ease-in-out infinite;
				}
			}
			&.added{
				display: none;
			}
		}
		&.added_to_cart{
			i{
				display: none;
			}
			&:before{ @include font-awesome('f00c', 36px); }
			&:hover{
				background: $color1;
				&:before{
					color: #FFF;
				}
			}
		}
		&.compare{
			&:before{ @include font-awesome('f074', 36px); }
		}

		&.yith-wcqv-button{
			&:before{ @include font-awesome('f06e', 36px); }
		}
		.blockUI.blockOverlay{
			position: absolute; top: 0px !important; left: 0px !important;
			overflow: hidden; background: $color1 !important; color: #FFF; opacity: 1 !important;
			width: 36px !important; height: 36px !important; line-height: 36px !important; cursor: wait;
			&:before, &:after{
				color: #FFF; font-size:16px; cursor: wait;
			}
		}
	}

	.show{display: block !important}
	.clear{display: none !important}
	.yith-wcwl-add-to-wishlist { position: relative;
		margin: 0 0;
		.feedback{display:none !important}
		.ajax-loading{
			position: absolute; margin: 0 0; width: 40px !important; height: 40px !important; border: 2px solid $color1; @include border-radius(5px);
			left: 0px !important; top: 0px !important;overflow: hidden; background: $color1; opacity: 1; cursor: wait;
			&:before{
				position: absolute; left: 0px; top: 0px; font-size: 16px;
				background: transparent;
				@include font-awesome('f1ce', 36px); z-index:1; color: #FFF;
			    -webkit-animation: spin 1s ease-in-out infinite;
			    -moz-animation: spin 1s ease-in-out infinite;
			    -o-animation: spin 1s ease-in-out infinite;
			    animation: spin 1s ease-in-out infinite;
			}
		}
		a{
			&:before{ @include font-awesome('f004', 36px);}
		}
		.yith-wcwl-wishlistaddedbrowse,
		.yith-wcwl-wishlistexistsbrowse{
			a{
				&:before{ @include font-awesome('f00c', 36px); }
			}
		}
	}
}
// product list style
@mixin product-block-liststyle(){
	@include clearfix(); width: 100%;
	.item-img{ float: left; display: inline-block; margin: 0 15px 0 0; position: relative;
		.onsale{display: none;}
		.product-image{
			display: block; position: relative; overflow: hidden; position: relative;
			&:before{ position: absolute; content: ""; height: 100%; width: 100%; left: 0px; top: 0px; background-color: transparent; @include transition(all 0.25s ease-out); }
		}
		.yith-wcqv-button{
			font-size: 0px; padding: 0; width: 36px; height: 36px; background-color: rgba(255,255,255,0.7); border: 2px solid $color; @include border-radius(5px); display: block; vertical-align: top;
			overflow: hidden; @include transition(all 0.25s ease-out); position: absolute; left: 50%; top: 50%; margin: -18px 0 0 -18px; @include scale(0);
			&:before{
				position: absolute; left: 0px; top: 0px; @include font-awesome('f06e', 32px); font-size: 13px; color: $link-color; background-color: transparent; @include transition(all 0.25s ease-out);
			}
			&:hover{ background: $color1; border-color: $color1;
				&:before{
					color: #FFF;
				}
			}
			.blockUI.blockOverlay{
				position: absolute; top: 0px !important; left: 0px !important;
				overflow: hidden; background: $color1 !important; color: #FFF; opacity: 1 !important;
				width: 32px !important; height: 32px !important; line-height: 32px !important; cursor: wait;
				&:before, &:after{
					color: #FFF; font-size: 13px; cursor: wait;
				}
				&:before {
				    @include font-awesome('f1ce', 32px); z-index:1; color: #FFF;
				    -webkit-animation: spin 1s ease-in-out infinite;
				    -moz-animation: spin 1s ease-in-out infinite;
				    -o-animation: spin 1s ease-in-out infinite;
				    animation: spin 1s ease-in-out infinite;
				}
			}
		}
	}
	.item-info{
		.item-title{ font-size: 1em; line-height: 1.1; font-weight: normal; margin: 0 0 5px; overflow: hidden;text-overflow: ellipsis; white-space: nowrap;
			a{
				color: $color;
				&:hover{ color: $color1; }
			}
		}
		.star-rating{ float: none; display: block; margin: 0 0 0px}
	}
	&:hover{
		.item-img{
			.yith-wcqv-button{ @include scale(1); }
			.product-image{
				&:before{ background-color: rgba(255,255,255,0.7); }
			}
		}
	}
}
// Product grid
@mixin product-block-grid(){
	position: relative; text-align:center; padding-bottom: 20px;
	@include product-block-badges();
	.item-img{
		position: relative; padding: 10px 10px 0;
		.time-count-down{
			height: 30px; width: 175px; position: absolute; right: -5px; top: 15px; background-color: $color1; color: #FFF;
			.clock-digi{ overflow: hidden; display: inline-block;
				> div { display: inline-block; float: left; padding: 5px 0 0 12px; position: relative;
					> div { display: inline-block; padding-right: 3px; }
					&:before{
						content: ":"; top: 4px; left: 4px; position: absolute;
					}
					&:first-child{
						padding-left: 0px;
						&:before{ display: none; }
					}
				}
			}
			&:before{
				position: absolute; content: ""; top: -5px; right: 0px; width: 0px; height: 0px; border-style: solid;
				border-width: 0 5px 5px 0; border-color: transparent transparent #000 transparent;
			}
		}
		a.product-image{
			display: block;position: relative;
			img{ margin-left: auto; margin-right: auto;}
			&:before{
			 	content: "";display: block;height: 100%;width: 100%;position: absolute;	@include transition(all 0.25s ease-in 0s);background: rgba(0, 0, 0, 0.03);@include opacity(0);
			}
		}
	}
	.item-info{
		padding: 0 0; position: relative;
		.item-title{
			margin: 0 10px 10px; font-size: 1em;font-weight: normal;text-transform: none;overflow: hidden; text-overflow: ellipsis;
		}
		.item-content{ background: #FFF; padding: 11px 0 0; position: relative; z-index: 2; }
	}
	.item-box-hover{
		z-index: 1; width: 100%; @include transition(all 0.15s ease-out); box-shadow:0 0 8px rgba(0,0,0,0.3); background: #FFF; visibility: hidden; @include opacity(0);
		position: absolute; bottom: 0px; height: 65px; //height: 0px; transform: translateY(-60px);
		&:before{ position: absolute; left: 0px; top: -8px; content: ""; height: 8px; width: 100%; background: #FFF;}
		.item-box-hover-wrap{
			display: inline-block; border-collapse:separate; vertical-align: middle; border-spacing:10px; margin: 0 -10px;
		}
		@include product-action-buttons();
		.cart-wrap,
		.yith-wcwl-add-to-wishlist,
		.compare,
		.yith-wcqv-button{
			display: table-cell;
		}
		.cart-wrap{
			&:hover{
				a.added{
					background: $color1; color: #FFF;
					&:before{ background: $color1; color: #FFF; }
				}
			}
		}
		.yith-wcqv-button{
			@media(max-width: 991px){
				display: none;
			}
		}
		.yith-wcwl-add-to-wishlist{
			.yith-wcwl-add-button.show{
				display: block !important;
			}
		}
		&:after{
			display: table; content: '';clear: both;
		}
	}
	.item-content {
		@include opacity(1);visibility: visible;@include scale(1); @include transition(all 0.25s ease-out);
		.cat-links{ margin: 0 0 5px; color: $color1;
			a{ font-size: 0.7692em; text-transform: uppercase; color: $color1; }
		}
		.price{
			display: block;
		}
		.star-rating{
			display: inline-block;float: none; height: 16px; line-height: 16px; margin: 0 0;
		}
	}
	@include transition(all 0.15s ease-out);
	&:before{ position: absolute; left: 0px; bottom: -8px; content: ""; height: 8px; width: 100%; }
	&:hover {
		box-shadow:0 0 8px rgba(0,0,0,0.3);
		.item-img{
			a.product-image{
				&:before{
					@include opacity(1);
				}
			}
		}
		.item-info{
			background: #fff;
			.item-box-hover{ visibility: visible; @include opacity(1); bottom: -65px; }
		}
	}
} // End product grid

// quantity product add to cart
@mixin quantity(){
	margin: 0 20px 0 0; width: 50px; border: 1px solid $input-border-color; float: left !important;height: 40px;position: relative;
	label.screen-reader-text{ display: none; }
	&:after{
		position: absolute;content: '';display: table;clear: both;
	}
	.qty{
		float: left;padding: 0 5px; text-align: center; border: none !important;line-height: 38px; width: 100%; @include border-radius(0);
	}
	.qty-increase,.qty-decrease{
		border: none; @include border-radius(0px); height: 6px; width: 8px; text-align: center; line-height: 6px;  font-weight: bold;
	    float: left; padding: 0; position: absolute;right: 20px;
	    &:before{
	    	content: '';width: 8px;height: 6px;overflow: hidden;position: absolute;top: 0px;left: 0px;
	    }
	    &:hover,&:focus{
	    	background: none;
	    }
	}
	.qty-increase{
		top: 14px;
	}
	.qty-decrease{
		top: 23px;
	}
	
}
@mixin accor-widget{ 
	.accr_header {	 
		display: inline;
	    .btn_accor {
	        position: absolute; top: 12px; right: 0px; cursor: pointer;text-align: center;
	        .ac-tongle {   
                color: $text; display: block;	font-weight: normal;
	            &.close {
	            	background: #fff; @include opacity(1);
	            }
	        }
	    }
	    a {
	        position: relative;
	    }
	    &.open {
	    	.count{
	    		 color: $color1;
	    	}
	        > a {
	            color: $color1;
	        }
	    }

	}

	li {
		position: relative;
		
	    a {
	        position: relative; padding: 0 0 0 0px; color: inherit; color: #5f5f5f;
	        &:hover {
	            color: $color1;
	        }
	    }
	    ul {
	        margin: 0px;	    
	    }
	}
}
@mixin banner1{
	a{
		display: block;position: relative;overflow:hidden;
		&:before{
		 	content: "";display: block;height: 100%;width: 100%;position: absolute;	@include transition(all 0.25s ease-in 0s);background: rgba(0, 0, 0, 0.07);@include opacity(0);
		}
		&:hover{
			&:before{
				@include opacity(1);
			}
		}
	}
}
@mixin banner2{
	a{
		display: block;position: relative;overflow:hidden;
		img {
			@include transition(all 0.5s ease-in-out 0s);
		}
		&:before {
			bottom: 0;content: "";height: 0;left: 0; margin: auto; position: absolute;right: 0;top: 0;width: 0;z-index: 99;
		    background-color: rgba(255,255,255,0.3); @include transition(all 0.3s ease 0s);height: 100%;width: 100%; @include opacity(0);
		}
		&:hover{
			&:before {
				@include opacity(1);
			}
		}
	}
}
@mixin banner3{
	a{
		display: block;position: relative;overflow:hidden;
		img{
			@include transition( all 1s ease 0s);
		}
		&:after {
			background: url("../img/mlass.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);content: "";height: 100%;left: -100%;position: absolute;top: 0; @include transition( all 1s ease 0s);width: 100%;
		}
		&:hover{
			&:after {
				left: 100%;@include transition( all 1s ease 0s);
			}
			img{
				@include transform(scale(1.05));@include opacity(0.9);
			}
		}
	}
}
@mixin banner4{
	a{
		display: block;position: relative;overflow:hidden;
		img{
			@include transition(all 0.6s ease-in-out 0s);
		}
		&:before{
			content: '';position: absolute;top: 0; bottom: 0;right: 0;left: 0;@include transition(all 0.6s ease-in-out);	
		}
		&:after{
			content: '';position: absolute;top: 0;bottom: 0;right: 0;left: 0;@include transition(all 0.6s ease-in-out);
		}
		&:hover{
			&:before{right: 50%;left: 50%;background: rgba(255,255,255,0.4);}
			&:after {top: 50%;bottom: 50%;background: rgba(255,255,255,0.4);}
		}
	}
}
@mixin banner5{
	a{
		display: block;position: relative;overflow:hidden;
		img {
			@include transition(all 0.6s ease-in-out 0s);
		}
		&:before {
			border-bottom: 1px solid rgba(255, 255, 255, 0.85); border-top: 1px solid rgba(255, 255, 255, 0.85); bottom: 15px; content: ""; left: 15px; position: absolute;
		    right: 15px;top: 15px;transform: scale(0, 1); @include transition(all 0.4s ease-in-out);
		}

		&:after {
			border-left: 1px solid rgba(255, 255, 255, 0.85);border-right: 1px solid rgba(255, 255, 255, 0.85); bottom: 15px; content: "";left: 15px; position: absolute;
		    right: 15px;top: 15px;transform: scale(1, 0);@include transition(all 0.4s ease-in-out);	
		}
		&:hover{
			&:before, &:after {
				transform: scale(1); @include transition(all 0.3s ease-in-out);	
			}
		}
	}
}
@mixin banner6{
	a{
		display: block;position: relative;overflow:hidden;
		img {
			@include transition(all 0.5s ease-in-out 0s);
		}
		&:before {
			border: 0 solid rgba(255, 255, 255, 0);content: "";display: block;height: 100%;left: 0; position: absolute;top: 0; width: 100%;
		    transition: all 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s;
		    -moz-transition: all 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s;
		    -webkit-transition: all 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s;
		    -o-transition: all 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s;
		}
		&:hover{
			&:before {
				border: 10px solid rgba(0, 0, 0, 0.1);opacity: 1;
			}
		}
	}
}
@mixin banner7{
	a{
		display: block;position: relative;overflow:hidden;
		img {
			@include transition(all 0.5s ease-in-out 0s);
		}
		&:before {
			background: none repeat scroll 0 0 rgba(0, 0, 0, 0.1); content: ""; height: 100%; left: 50%;@include opacity(0);position: absolute;top: 0;@include transition(all 0.25s ease-in-out 0s);width: 0;
		}
		&:hover{
			&:before {
				height: 100%;left: 0;@include opacity(1);top: 0;@include transition(all 0.25s ease-in-out 0s);width: 100%
			}
		}
	}
}

@mixin banner8{
	a{
		display: block;position: relative;overflow:hidden;
		img {			
			opacity: 0.95;
		    transform: scale3d(1.05, 1.05, 1);
		    transition: opacity 0.35s ease 0s, transform 0.35s ease 0s;
		}
		&:before {
			background: none repeat scroll 0 0 rgba(255, 255, 255, 0.5);content: "";height: 100%;left: 0; position: absolute; top: 0;
		    transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0px, -100%, 0px);transition: transform 0.6s ease 0s; width: 100%;
		}
		&:hover{
			img {
				opacity: 0.6;
				transform: scale3d(1, 1, 1);
			}
			&:before {
				transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0px, 100%, 0px);
			}
		}
	}
}
@mixin banner9{
	a{
		display: block;position: relative;overflow:hidden;
		img{
		    @include transform(scale(1));@include transition(all 0.25s ease-in-out);	
		}
		&:before,&:after{
			content: "";position: absolute;@include transition( all 0.25s ease-in-out 0s);
		}
		&:before {
			background: rgba(0, 0, 0, 0.2);height: 100%;left: 0;opacity: 0;overflow: hidden;top: 0;width: 100%; z-index: 1;
		}
		&:after{
		    top: 10px;right: 10px;bottom: 10px;left: 10px;border: 1px solid rgba(255,255,255,0.8);@include opacity(0); z-index: 2;
		}
		&:hover{
			&:before {
				@include opacity(0.6);@include transform( scale(1));visibility: visible;
			}
			&:after{
				opacity: 1;top: 15px;right: 15px;bottom: 15px;left: 15px;@include opacity(1);
			}
			img{
			    @include transform(scale(1));
			}
		}
	}
}
@mixin banner10{
	a{
		display: block;position: relative;overflow:hidden;
		&:before {
			position: absolute;top: 50%;left: 50%;z-index: 2;display: block;content: '';width: 0;height: 0;background: rgba(255,255,255,0.2);border-radius: 100%;@include opacity(0);
			-webkit-transform: translate(-50%, -50%);
			-ms-transform: translate(-50%, -50%);
			-o-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
		}
		&:hover{
			&:before {
				-webkit-animation: circle .75s;
				-ms-animation: circle .75s;
				-o-animation: circle .75s;
				animation: circle .75s;
			}
		}
	}
}

@-ms-keyframes circle {
	0% {
		opacity: 1;
	}
	40% {
		opacity: 1;
	}
	100% {
		width: 200%;
		height: 200%;
		opacity: 0;
	}
}
@-o-keyframes circle {
	0% {
		opacity: 1;
	}
	40% {
		opacity: 1;
	}
	100% {
		width: 200%;
		height: 200%;
		opacity: 0;
	}
}
@-webkit-keyframes circle {
	0% {
		opacity: 1;
	}
	40% {
		opacity: 1;
	}
	100% {
		width: 200%;
		height: 200%;
		opacity: 0;
	}
}
@keyframes circle {
	0% {
		opacity: 1;
	}
	40% {
		opacity: 1;
	}
	100% {
		width: 200%;
		height: 200%;
		opacity: 0;
	}
}

@mixin banner11{
	a{
		display: block;position: relative;overflow:hidden;
		&:before {
			position: absolute;top: 0;left: -75%;z-index: 2;display: block;content: '';width: 50%;height: 100%;
			background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.4) 100%);
			background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,0.4) 100%);
			-ms-transform: skewX(-25deg);
			-o-transform: skewX(-25deg);
			-webkit-transform: skewX(-25deg);
			transform: skewX(-25deg);
		}
		&:hover{
			&:before {
				-webkit-animation: shinex 1s;
				-ms-animation: shinex 1s;
				-o-animation: shinex 1s;
				animation: shinex 1s;
			}
		}
	}
}
@-ms-keyframes shinex {
	100% {
		left: 125%;
	}
}
@-o-keyframes shinex {
	100% {
		left: 125%;
	}
}
@-webkit-keyframes shinex {
	100% {
		left: 125%;
	}
}
@keyframes shinex {
	100% {
		left: 125%;
	}
}
@mixin banner12{
	a{
		&:hover img {
			opacity: 1;
			-ms-animation: flash 1.2s;
			-o-animation: flash 1.2s;
			-webkit-animation: flash 1.2s;
			animation: flash 1.2s;
		}
	}
}
@-ms-keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}
@-o-keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}
@-webkit-keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}
@keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}
@mixin banner13{
	a{
		display: block;position: relative;overflow:hidden;
		img {
			@include transition(all 0.5s ease-in-out 0s);
		}
		&:before {
			background: url("../img/plus.png") no-repeat scroll center center / 60px 60px rgba(0, 0, 0, 0.1); content: "";height: 100%; left: 0;overflow: hidden; position: absolute;
			top: 0; @include transform(scale(0.4) rotateY(180deg)); @include transition( all 0.4s ease 0s);width: 100%; z-index: 100; @include opacity(0);
		}
		&:hover{
			&:before {
				@include opacity(0.6);@include transform( scale(1) rotate(0deg) ); visibility: visible;
			}
		}
	}
}
// Limit text length to n lines
@mixin max-lines($lines,$line_height){
	overflow: hidden;
	text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: $lines; /* number of lines to show */
   line-height: $line_height;        /* fallback */
   $max_height : #{$line_height * $lines}em;
   max-height: $max_height;      /* fallback */
}

@-webkit-keyframes snsnavloadding{
	0%{-webkit-transform:rotate(0);transform:rotate(0)}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}
}
@keyframes snsnavloadding{
	0%{-webkit-transform:rotate(0);transform:rotate(0)}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}
}

@-webkit-keyframes snssheen {
  100% {
    transform: rotateZ(60deg) translate(1em, -9em);
  }
}
@keyframes snssheen {
  100% {
    transform: rotateZ(60deg) translate(1em, -9em);
  }
}

// Mixin for generating new styles
@mixin alert-styles($color) {
  @include gradient-vertical($start-color: $color, $end-color: darken($color, 7.5%));
  border-color: darken($color, 15%);
}
