/******** ====== header ========********/
#tribe-bar-form { padding:0 20px 20px; }
#tribe-bar-form #tribe-bar-views { width:100%; left:0; }
#tribe-bar-form #tribe-bar-views + .tribe-bar-filters { right:auto; left:0; width: 100%; }
#tribe-bar-views ul.tribe-bar-views-list { height: 73px; padding: 20px; text-align: center; position:inherit; }
#tribe-bar-views ul.tribe-bar-views-list li.tribe-bar-views-option, .tribe-bar-disabled #tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option { display: inline-block; margin: 0 10px 0 0; padding: 0; }
#tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option a { background: #fff; border: 2px solid rgba(0, 0, 0, 0.15); color: #888; display: inline-block; padding: 2px 12px; text-decoration: none; line-height:28px; }

.tribe-bar-views-list li:hover span.tribe-icon-month, .tribe-bar-views-list li.tribe-bar-active span.tribe-icon-month { background-image: url(images/icon-month-hover.png); }
.tribe-bar-views-list li:hover span.tribe-icon-list, .tribe-bar-views-list li.tribe-bar-active span.tribe-icon-list { background-image: url(images/icon-list-hover.png); }
.tribe-bar-views-list li:hover span.tribe-icon-day, .tribe-bar-views-list li.tribe-bar-active span.tribe-icon-day { background-image: url(images/icon-day-hover.png); }

#tribe-bar-form .tribe-bar-filters { float: left; margin: 0; position: relative; }
#tribe-bar-form .tribe-bar-filters-inner { background: #fff none repeat scroll 0 0; box-shadow: 0 1px 3px #ccc; }
#tribe-bar-form label { font-weight:600; color:#000; }
#tribe-bar-form input[type="text"] { font-weight:400; }
.datepicker td, .datepicker th { border-radius:0; }

/******** ====== Month ========********/
.tribe-events-calendar th { padding:10px 0; }
#tribe-events-content .tribe-events-tooltip h4 { font-size: 14px; padding: 4px 6px; font-weight:600; color: #fff; margin-bottom: 10px; }
#tribe-events-content .tribe-events-tooltip .tribe-event-duration { margin-bottom: 10px; }
#tribe-events-content .tribe-events-tooltip .tribe-event-description { text-align: left; line-height: 20px; }

.tribe-events-tooltip .tribe-events-event-thumb { margin-right:10px; }
.tribe-events-tooltip p.entry-summary { text-align:left; line-height:18px; }
.tribe-events-tooltip { padding:10px 10px 5px 10px; }
.recurring-info-tooltip, .tribe-events-calendar .tribe-events-tooltip, .tribe-events-week .tribe-events-tooltip { border: 0 none; box-shadow: 3px 4px 21px rgba(0, 0, 0, 0.38); color: #6a695e; background-color:#fff; }
.tribe-events-tooltip .tribe-events-arrow { background-image:url(images/tribe-tooltips.png); background-position:-3px -1px; }
#tribe-events-content table.tribe-events-calendar { margin-bottom:20px; }
h2.tribe-events-page-title { font-weight:500; }
/* Border color */
#tribe-events-content .tribe-events-calendar td, #tribe-events-content table.tribe-events-calendar { border-color:rgba(0, 0, 0, 0.15); }

.tribe-bar-disabled { width:100%; }
.tribe-bar-disabled #tribe-bar-form #tribe-bar-views+.tribe-bar-filters { margin-top:20px; }
.tribe-bar-disabled #tribe-bar-form #tribe-bar-views { left:0; width:65%; }
.tribe-bar-disabled #tribe-bar-form #tribe-bar-views+.tribe-bar-filters { right:0; width:20%; float:right; }
.tribe-bar-disabled #tribe-bar-form .tribe-bar-filters input[type=text] { padding:16px 12px 15px; width:100%; border-bottom:1px dashed #b9b9b9; }

/******** ====== List ========********/
.tribe-events-list h2.tribe-events-page-title, .tribe-events-list .tribe-events-venue-details span.author { font-weight:600; }
#tribe-events-content .updated, .tribe-events-list .time-details, .tribe-events-list .tribe-events-venue-details { font-weight: 500; }
.tribe-events-list .tribe-events-event-image { width:30%; }
.tribe-events-list .tribe-events-event-image + div.tribe-events-list-event-detail { float: right; width: 67%; }
div.tribe-events-list-event-detail h2.tribe-events-list-event-title, #tribe-geo-results h2.tribe-events-map-event-title.summary { display: block; font-size: 27px; font-weight: 600; line-height: 37px; margin: 0 0 20px; }
.tribe-events-list .time-details, .tribe-events-list .tribe-events-venue-details { line-height:normal; }
.tribe-events-list .tribe-events-event-cost { display: inline-block; float: left; height: 50px; position: relative; margin-left:0; }
.tribe-events-list .tribe-events-event-cost span { background: transparent; line-height: 24px; font-size:14px; padding: 5px 12px; }
.tribe-events-list-event-detail .tribe-events-read-more, .tribe-events-day-time-slot .tribe-events-read-more, .tribe-events-back > a { color: #fff; float: left; font-size: 14px; font-weight: bold; padding: 6px 20px; text-transform: uppercase; }
.tribe-events-list-separator-month { text-align:center; }
.tribe-events-page-template .tribe-events-ical.tribe-events-button { margin-bottom: 80px; }

.tribe-grid-body .tribe-events-tooltip .tribe-events-arrow { left: -21px !important; right:auto !important; }
.tribe-grid-body .tribe-events-right .tribe-events-tooltip .tribe-events-arrow { background-position: -22px 0 !important; right:-17px !important; left:auto !important; }

/* Border color */
.tribe-events-list .type-tribe_events { border-color:rgba(0, 0, 0, 0.15); }

/******** ====== Day ========********/
.tribe-events-day .tribe-events-day-time-slot .type-tribe_events { margin-left:0; }
.tribe-events-list .tribe-events-day-time-slot h2.tribe-events-list-event-title { float: left; margin-bottom: 20px; width: 100%; }
.tribe-events-day .tribe-events-day-time-slot h5 { line-height:22px; text-align:center; }
#tribe-events-day .tribe-events-content { width:100%; }
.tribe-events-loop .tribe-events-content { padding-right:0; }

/******** ====== Detail Type 1========********/

#tribe-events-pg-template { max-width:100%; }

.type1.tribe_events .nav-top-links { border-bottom: 1px solid #e3e4e6; padding-bottom: 13px; margin-bottom:15px; }
.type1.tribe_events .nav-top-links a { font-size: 16px; font-weight: 500; }
.type1.tribe_events .nav-top-links .back-nav { text-transform:uppercase; }
.type1.tribe_events .nav-top-links > span.sep { font-size:17px; padding:0 5px; color:#e3e4e6; }
.type1.tribe_events .nav-top-links a, .type1 .event-schedule a { color:#000000; }

.type1.tribe_events h2 { font-size:35px; margin-bottom:5px; }
.type1.tribe_events .event-schedule { font-size:18px; font-weight:600; margin-bottom:20px; }
.type1.tribe_events .event-schedule a { font-weight:normal; }
.type1.tribe_events .event-schedule a.dt-sc-tooltip { text-transform:uppercase; }

.type1.tribe_events .event-image-wrapper { position:relative; margin-top:10px; }
.type1.tribe_events .event-image-wrapper .date-wrapper { position:absolute; right:10px; top:10px; }
.type1.tribe_events .event-image-wrapper .event-datetime { margin-bottom:0; position:relative; border-bottom:1px solid #d3d3d3; }
.type1.tribe_events .event-image-wrapper .event-datetime, .type1.tribe_events .event-image-wrapper .event-venue { background:#fff; line-height:52px; text-align:center; padding:0 20px; font-size:14px; }
.type1.tribe_events .event-image-wrapper .event-datetime > span { color:#fff; font-size:25px; float:left; width:46px; font-weight:600; padding:5px; line-height:20px; margin-right:20px; position:absolute; left:-56px; top:0; }
.type1.tribe_events .event-image-wrapper .event-datetime > span i { font-style:normal; font-size:18px; }
.type1.tribe_events .event-image-wrapper .event-datetime > i, .type1.tribe_events .event-image-wrapper .event-venue > i { margin-right:10px; font-size:20px; }

.type1.tribe_events h3, .type1 h3.tribe-events-related-events-title { font-size:25px; font-weight:bold; }
.type1.tribe_events h4 { font-weight:600; font-size:20px; }
.type1.tribe_events .tribe-events-gmap { font-weight:600; }

.type1.tribe_events ul.event-details, .type1.tribe_events .event-organize, .type1.tribe_events .event-venue, .type1.tribe_events .event-custom-fields { margin-bottom:10px; }
.type1.tribe_events ul.event-details li, .type1.tribe_events .event-organize li, .type1.tribe_events .event-venue li, .type1.tribe_events .event-custom-fields li { display:inline-block; width:100%; font-size:14px; }
.type1.tribe_events ul.event-details li dt, .type1.tribe_events .event-organize li dt, .type1.tribe_events .event-venue li dt, .type1.tribe_events .event-custom-fields li dt { float:left; display:inline-block; width:40%; font-weight:600; }
.type1.tribe_events ul.event-details li dt.cat { width:39.6%; }
.type1.tribe_events ul.event-details li .cat-wrapper { display:inline-block; width:55%; }
.type1.tribe_events ul.event-details li dd, .type1.tribe_events .event-organize li dd, .type1.tribe_events .event-venue li dd { display:inline-block; }
.type1.tribe_events .event-address { font-size:14px; }

.single-tribe_events a.tribe-events-gcal, .single-tribe_events a.tribe-events-ical { float: left; }

/******** ====== Detail Type 2========********/
.type2.tribe_events .date-wrapper { position:relative; }
.type2.tribe_events .date-wrapper p { font-size: 17px; color:#999999; }
.type2.tribe_events .date-wrapper p > span { font-size: 90px; float:left; margin-right:6px; line-height:72px; }
.type2.tribe_events .date-wrapper p i { font-style: normal; position: relative; top: 20px; }

.type2.tribe_events .ver-sep { border-left:1px solid #cccccc; padding:0 30px; border-right:1px solid #cccccc; }
.type2.tribe_events .ver-sep a.dt-sc-tooltip { text-transform:uppercase; font-size:21px; }
.type2.tribe_events .ver-sep h2 { margin-bottom:10px; font-size:25px; }

.type2.tribe_events .right-calc { text-align:right; }
.type2.tribe_events .right-calc a { font-size:18px; line-height:35px; } 

.type1.tribe_events ul.event-details li h3 { font-size:25px; }

.type2.tribe_events .event-content-wrapper { float:left; width:100%; margin-top:-170px; }

.type2.tribe_events .event-details, .type2.tribe_events .event-organize, .type2.tribe_events .event-venue {  margin: 0 auto 10px; box-shadow:0 0 0 20px rgba(255, 255, 255, 0.7); background:#fff; padding:25px; width:90%; box-sizing:border-box; }
.type2.tribe_events .event-details li, .type2.tribe_events .event-organize li, .type2.tribe_events .event-venue li { display:inline-block; width:100%; font-size:14px; }
.type2.tribe_events .event-details li dt, .type2.tribe_events .event-organize li dt, .type2.tribe_events .event-venue li dt { display:inline-block; width:40%; font-weight:600; float:left; }
.type2.tribe_events .event-details li dd, .type2.tribe_events .event-organize li dd, .type2.tribe_events .event-venue li dd { display:inline-block; }
.type2.tribe_events .event-addr { display: inline-block; width: 60%; }
.type2.tribe_events .event-address { font-size:14px; }

.type2.tribe_events h3, .type2 h3.tribe-events-related-events-title { font-size:25px; text-transform:uppercase; }
.type2.tribe_events h4 { font-size:25px; }

.type2.tribe_events .event-google-map #tribe-events-gmap-0 { width:330px; height:170px; }

/******** ====== Detail Type 3========********/ 
.type3 .dt-sc-tabs-horizontal-frame-container.event-meta-tab { margin-right:-1px; }


@media screen and (-webkit-min-device-pixel-ratio:0) { 
    /* Safari 5+ ONLY */
    ::i-block-chrome, .type3 .dt-sc-tabs-horizontal-frame-container.event-meta-tab { margin-right:-4px; }
}

@media only screen and (min-width:1601px) and (max-width:2000px) {
   .type3 .dt-sc-tabs-horizontal-frame-container.event-meta-tab { margin-right:0px; }
}

.type3.tribe_events h2 { font-size:30px; }
.type3.tribe_events .event-date { padding:19px; display:inline-block; color:#fff; font-size:39px; float:right; margin-bottom:0; text-transform:uppercase; font-weight:300; }
.type3.tribe_events .event-date span { font-size:43px; font-weight:bold; }

.single-tribe_events .type3.tribe_events .tribe-events-event-image { margin-bottom:0; }
.single-tribe_events .type3.tribe_events .tribe-events-event-image img { float:left; }

.type3.tribe_events .dt-sc-tabs-horizontal-frame-content, .event-meta-tab ul.dt-sc-tabs-horizontal-frame > li > a.current { background:#f2f2f2; }
.type3.tribe_events .event-meta-tab .dt-sc-tabs-horizontal-frame { border-bottom:0; }
.event-meta-tab ul.dt-sc-tabs-horizontal-frame > li { width:33.33%; margin-right:0; }
.event-meta-tab ul.dt-sc-tabs-horizontal-frame > li > a { border:0; border-radius:0; color:#fff; text-transform:uppercase; box-sizing:border-box; width:100%; display:inline-block; margin:0; }
.event-meta-tab ul.dt-sc-tabs-horizontal-frame > li > a:hover { color:#fff; }
.event-meta-tab ul.dt-sc-tabs-horizontal-frame > li > a.current { color:#282722; }
.type3.tribe_events .dt-sc-tabs-horizontal-frame-content { padding:30px; box-sizing:border-box; }

.type3.tribe_events .right-calc { text-align:right; margin-top:5px; display:inline-block; width:100%; font-size:18px; }
.type3.tribe_events .right-calc .sep { color:#d5d5d5; margin:0 2px; }

.type3.tribe_events .tribe-events-sub-nav { border-top:1px solid #e6e6e6; border-bottom:1px solid #e6e6e6; font-size:18px; float:left; width:100%; }
.type3.tribe_events .tribe-events-sub-nav li { display:inline-block; padding:15px 0; }
.type3.tribe_events .tribe-events-sub-nav .tribe-events-nav-previous { float:left; }
.type3.tribe_events .tribe-events-sub-nav .tribe-events-nav-next { float:right; }

.type3 h3.tribe-events-related-events-title { font-size:25px; }
.type3.tribe_events h4 { font-size:25px; text-transform:uppercase; }

.type3.tribe_events .event-details, .type3.tribe_events .event-organize, .type3.tribe_events .event-venue, .type3.tribe_events .event-custom-fields { margin-bottom:10px; padding:10px 0px; }
.type3.tribe_events .event-details li, .type3.tribe_events .event-organize li, .type3.tribe_events .event-venue li, .type3.tribe_events .event-custom-fields li { display:inline-block; width:100%; font-size:14px; color:#807c6c; }
.type3.tribe_events .event-details li dt, .type3.tribe_events .event-organize li dt, .type3.tribe_events .event-venue li dt, .type3.tribe_events .event-custom-fields li dt { display:inline-block; width:40%; font-weight:600; float:left; color:#000; }
.type3.tribe_events .event-details li .cat-wrapper { display:inline-block; width:50%; }
.type3.tribe_events .event-details li dd, .type3.tribe_events .event-organize li dd, .type3.tribe_events .event-venue li dd, .type3.tribe_events .event-custom-fields li dd { display:inline-block; }

.type3.tribe_events .event-addr { display: inline-block; width: 60%; }

.type3.tribe_events .right-calc a, .type3.tribe_events .tribe-events-sub-nav a { color:#282722; }

/******** ====== Detail Type 4 ========********/
.type4.tribe_events .data-wrapper p { font-size:28px; line-height:normal; font-style:italic; border-top:2px solid #e8f3fa; padding:25px 0; border-bottom:2px solid #e8f3fa; font-weight:600; }
.type4.tribe_events .data-wrapper p span { font-size:98px; line-height:72px; float:left; margin-right:10px; font-style:normal; }

.type4.tribe_events .event-details, .type4.tribe_events .event-organize, .type4.tribe_events .event-venue { margin-bottom:10px; padding:10px 0px; }
.type4.tribe_events .event-details li, .type4.tribe_events .event-organize li, .type4.tribe_events .event-venue li { display:inline-block; width:100%; font-size:14px; color:#807c6c; }
.type4.tribe_events .event-details li dt, .type4.tribe_events .event-organize li dt, .type4.tribe_events .event-venue li dt { display:inline-block; margin-right:5px; font-weight:600; float:left; color:#1a323e; }
.type4.tribe_events .event-details li dd, .type4.tribe_events .event-organize li dd, .type4.tribe_events .event-venue li dd { display:inline-block; }

.type4.tribe_events .event-details h3, .type4.tribe_events .event-organize h3, .type4.tribe_events .event-venue h3, .type4 h3.tribe-events-related-events-title { font-size:30px; font-weight:bold; text-transform:uppercase; }
.type4.tribe_events .event-organize h4, .type4.tribe_events .event-venue h4 { font-style:italic; font-size:30px; font-weight:600; }

.type4.tribe_events .event-google-map #tribe-events-gmap-0 { width:100%; height:260px; }

.type4.tribe_events .tribe-events-meta-group.tribe-events-meta-group-other { float:left; width:100%; }

/******** ====== Detail Type 5 ========********/
.type5.tribe_events .container { width:100%; }
.type5.tribe_events .container .container { width:1170px; }
.type5.tribe_events .data-wrapper p { font-size:27px; text-transform:uppercase; }
.type5.tribe_events .data-wrapper p span { font-size:57px; font-weight:bold; }

.type5.tribe_events h2 { font-size:26px; text-transform:uppercase; font-weight:bold; }

.type5.tribe_events .nav-top-links a { background-color:#efefef; padding:10px 25px; float:left; margin-right:1px; font-size:16px; color:#3c454e; }
.type5.tribe_events .nav-top-links a.back-nav { text-transform:uppercase; }
.type5.tribe_events .nav-top-links a:hover { background-color:#e5e5e5; }

.type5.tribe_events .event-details, .type5.tribe_events .event-organize, .type5.tribe_events .event-venue { margin-bottom:10px; }
.type5.tribe_events .event-details li, .type5.tribe_events .event-organize li, .type5.tribe_events .event-venue li { display:inline-block; width:100%; font-size:14px; color:#807c6c; }
.type5.tribe_events .event-details li dt, .type5.tribe_events .event-organize li dt, .type5.tribe_events .event-venue li dt { display:inline-block; width:40%; margin-right:5px; font-weight:600; float:left; }
.type5.tribe_events .event-details li dd, .type5.tribe_events .event-organize li dd, .type5.tribe_events .event-venue li dd { display:inline-block; }

.data-wrapper p span, .data-wrapper p i { font-style:normal; }
.type5.tribe_events .event-details h3, .type5.tribe_events .event-organize h3, .type5.tribe_events .event-venue h3, .type5 h3.tribe-events-related-events-title { font-size:20px; font-weight:bold; text-transform:uppercase; }

.type5.tribe_events .event-organize h4, .type5.tribe_events .event-venue h4 { margin-bottom:10px; font-weight:600; }

.type5.tribe_events .event-google-map #tribe-events-gmap-0 { width:100%; height:770px; }

/** Events border radius **/
input[type="submit"], button, #tribe-bar-form .tribe-bar-submit input[type="submit"] { border-radius:5px; }

#tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option a:hover, #tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option.tribe-bar-active a:hover, #tribe-bar-views .tribe-bar-views-list li.tribe-bar-active a, .tribe-events-calendar thead th, .tribe-events-read-more, #tribe-events .tribe-events-button:hover, .tribe-events-back > a, .tribe-events-back > a:hover { color:#fff; }

/** Single **/
h3.tribe-events-related-events-title { display:inline-block; width:100%; }


	/* Note: Design for a width of 960px */	
    @media only screen and (min-width:992px) and (max-width:1199px) {
		
		.type3.tribe_events .event-date { font-size: 30px; }
		.type3.tribe_events .event-date span { font-size: 40px; }
	
	}
	
	/* Note: Design for a width of 768px */

    @media only screen and (min-width:768px) and (max-width:991px) {
 		
		/*** Events ***/
		#tribe-bar-form.tribe-bar-collapse #tribe-bar-views + .tribe-bar-filters, #tribe-bar-views [name="tribe-bar-view"] { display:block; }
		#tribe-bar-views .tribe-bar-views-list { display:none; }
		
		.tribe-bar-collapse #tribe-bar-collapse-toggle { margin-bottom:5px; margin-top: 15px; width: 100%; }
		#tribe-bar-form.tribe-bar-collapse #tribe-bar-views { width:100%; padding-left:0; }
		
		.tribe-events-sub-nav li  { padding-bottom:0; }
		
		.single-tribe_events .type4 > .vc_col-sm-6.wp_column { width:100%; margin-right:0; }
		.event-meta-tab ul.dt-sc-tabs-horizontal-frame > li > a { text-transform:capitalize; }
		
		.type2.tribe_events .column { width:100%; margin:0; }
		.type2.tribe_events .event-details, .type2.tribe_events .event-organize, .type2.tribe_events .event-venue { margin-bottom:30px; box-shadow:0 0 0 10px rgba(255, 255, 255, 0.7); }
		.type2.tribe_events .event-content-wrapper { margin-top:-120px; }
		.type2.tribe_events .date-wrapper { display: inline-block; margin-bottom: 20px; width: 100%; }
		.type2.tribe_events .ver-sep { border:0; padding:0; }
		.type2.tribe_events .dt-sc-one-fourth.column.right-calc > br { display:none; }
		.type2.tribe_events .dt-sc-one-fourth.column.right-calc > a { margin-left:15px; }
		
		.type3.tribe_events .column { width:49%; }
		.type3.tribe_events .event-date { font-size:32px; }
		.type3.tribe_events .tribe-events-sub-nav { font-size:16px; }
		.type3.tribe_events .tribe-events-sub-nav li { padding-bottom:0; }
		
		.type5.tribe_events .container { width:710px; }
		.type5.tribe_events .column { width:100%; margin:0; }
		.single-tribe_events .tribe-events-event-image { display:inline-block; width:100%; }
		
		.tribe-scrollable-table th, .tribe-scrollable-table td { padding:5px; text-transform: capitalize; font-size:12px; }
	
	}
	
	/*----*****---- << Mobile (Landscape) >> ----*****----*/	
	
	/* Common Styles for the devices below 767px width */
	@media only screen and (max-width: 767px) {
 		
		/*** Events ***/
		#tribe-bar-form.tribe-bar-collapse #tribe-bar-views + .tribe-bar-filters, #tribe-bar-views [name="tribe-bar-view"] { display:block; }
		#tribe-bar-views .tribe-bar-views-list { display:none; }
		
		.tribe-bar-collapse #tribe-bar-collapse-toggle { margin-bottom:5px; margin-top: 15px; width: 100%; }
		#tribe-bar-form.tribe-bar-collapse #tribe-bar-views { width:100%; padding-left:0; }
		
		.tribe-events-sub-nav li  { padding-bottom:0; }
		.tribe-events-sub-nav li a { font-size:12px; text-align:center; padding:7px 5px 1000px; line-height:27px; }
		.tribe-events-sub-nav .tribe-events-nav-left a span, .tribe-events-sub-nav .tribe-events-nav-right a span { content:none; display:inline-block; top:auto; left:auto; position:inherit; right:auto; }
		
		.tribe-events-list .tribe-events-event-image + div.tribe-events-list-event-detail, .tribe-events-list .tribe-events-event-image { width:100%; margin:0; text-align:left; }
		.tribe-events-list .tribe-events-photo-event-wrap .tribe-events-event-image { text-align:center; }
		
		#tribe-mobile-container .type-tribe_events .tribe-events-read-more { padding:5px 10px; }
		#tribe-mobile-container .type-tribe_events .tribe-events-read-more:hover { color:#fff; }
		
		.event-meta-tab ul.dt-sc-tabs-horizontal-frame > li > a { text-transform:capitalize; }
		.single-tribe_events .type4 > .vc_col-sm-6.wp_column { width:100%; margin-right:0; }
	
		.type2.tribe_events .column { width:100%; margin:0; }
		.type2.tribe_events .event-details, .type2.tribe_events .event-organize, .type2.tribe_events .event-venue { margin-bottom:30px; box-shadow:0 0 0 10px rgba(255, 255, 255, 0.7); }
		.type2.tribe_events .event-content-wrapper { margin-top:-40px; }
		.type2.tribe_events .date-wrapper { display: inline-block; margin-bottom: 20px; width: 100%; }
		.type2.tribe_events .ver-sep { border:0; padding:0; }
		.dt-sc-one-fourth.column.right-calc > br { display:none; }
		.dt-sc-one-fourth.column.right-calc > a { margin-left:15px; }
		
		.type3.tribe_events .column, .type1.tribe_events .column { width:100%; margin:0px 0px 10px 0px; }
		.type3.tribe_events .event-date { width:100%;  font-size:35px; }
		
	   .type3.tribe_events .tribe-events-sub-nav li { float:none; display:inline-block; width:100%; text-align:center; }
	   .single-tribe_events  .type3.tribe_events .tribe-events-sub-nav li a, .single-tribe_events .type3.tribe_events .tribe-events-sub-nav li a span { color: #d3d3d3; padding: 10px; display:inline; }	   
	   .single-tribe_events .type3.tribe_events .tribe-events-sub-nav li a:hover { color:#ffffff; }
	   .single-tribe_events #tribe-events-pg-template, .single-tribe_organizer #tribe-events-pg-template, .single-tribe_venue #tribe-events-pg-template, #tribe-events-pg-template { padding:0; }
	   
	   .type1.tribe_events h2 { font-size:30px; }
	  
	   .type5.tribe_events .nav-top-links a { margin-top:5px; }
	   .type5.tribe_events .nav-top-links a { float:none; display:inline-block; }
	   .type5.tribe_events .data-wrapper p span { font-size:47px; }
	   .type5.tribe_events .data-wrapper p, .type5.tribe_events h2 { font-size:25px; text-transform:capitalize; line-height:normal; }
	   .type5.tribe_events .column { text-align:center; }
	   
	   .tribe-events-organizer address.organizer-address span { line-height:normal; }
	   
	   .tribe-events-list .tribe-events-event-image img { width:100%; height:auto; max-height:inherit; }
	   
	   #tribe-attendees-summary .welcome-panel-last { position:inherit; }
	   
	   .tribe-events-single ul.tribe-related-events li { width:100%; margin-right:0; }
	   .tribe-events-single ul.tribe-related-events .tribe-related-events-thumbnail { width:100%; margin-bottom:15px; }
	   
	   /** Table **/
	   .tribe-scrollable-table thead { float:left; display:block; }
	   .tribe-scrollable-table thead th, .tribe-scrollable-table thead td, .tribe-attendees-page .column-attendee_id, .tribe-attendees-page .column-order_id, .attendees .column-check_in { display:block; width:120px; }
	   .tribe-scrollable-table thead td { min-height:20px; }
	   .tribe-scrollable-table thead th { min-height:26px; }
	   .tribe-scrollable-table tbody { display: block; overflow-x: auto; position: relative; width: auto; white-space: nowrap; }
	   .tribe-scrollable-table tbody tr { display:inline-block; }
	   .tribe-scrollable-table tbody tr.event-tickets-meta-row { display:none; }
	   .tribe-scrollable-table tbody td, .tribe-scrollable-table tbody th { display: block; min-width: 180px; min-height: 20px; }	   
	   
	   #tribe-attendees-summary .welcome-panel-last { padding-left:0; padding-right:0; }
	   .tribe-community-event-info span.timeofdayoptions > .selection-box { float:left; width:100%; }
	   
	   #tribe-community-events .table-menu-wrapper { float:left; width:100%; }
	   #tribe-community-events th { text-transform:capitalize; padding:10px 5px; }
	   table.tribe-community-event-info td { padding-left:0; padding-right:0; }
	   
	   #tribe-filters .ticket_list td h4 { font-size:13px; }
	   #filters-wrap td { padding:5px; }
	   #tribe-events-report .eventtable td { font-size:12px; }
	   
	   .tribe-community-tickets-payment-options-link { margin-left:0; }
	   
	   .tribe-events-tickets tbody tr:nth-child(2n+1) td { background:none; }
	   
	}
	
	
	/*----*****---- << Mobile (Landscape) >> ----*****----*/
    /* Note: Design for a width of 480px */
    @media only screen and (min-width: 480px) and (max-width: 767px) {
		
		/*** Event ***/
	   .tribe-events-list .tribe-events-photo-event-wrap .tribe-events-event-image { padding-top:10px; }
	   #tribe-events-photo-events { margin-right:0; }
	   #tribe-events-photo-events.photo-two-col .type-tribe_events.tribe-events-photo-event { width:100%; }
	  
	   .type5.tribe_events .container { width:420px; }
	   .type5.tribe_events .column { text-align:left; }
	   
	   .tribe-scrollable-table tbody td, .tribe-scrollable-table tbody th { min-height:21px; }
	   .tribe-scrollable-table thead th { min-height:17px; }
	   
	}
	
	
	/* Common Styles for the devices below 479px width */
    @media only screen and (max-width: 479px) {
		
		.type1.tribe_events .event-image-wrapper .event-datetime, .type1.tribe_events .event-image-wrapper .event-venue { padding:0 10px; margin-bottom:0; }
		.type1.tribe_events .event-image-wrapper .date-wrapper { position:inherit; left:0; top:0; }
		.type1.tribe_events .event-image-wrapper .event-datetime > span { left:0; top:106px; }
		
	}
	
	
	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (min-width: 320px) and (max-width: 479px) {
		
		.tribe-events-calendar th { font-size:13px; text-transform:capitalize; }
		.tribe-events-calendar td div[id*="tribe-events-daynum-"], .tribe-events-calendar td div[id*="tribe-events-daynum-"] a { font-size:14px; }
		.tribe-events-list .tribe-events-photo-event-wrap .tribe-events-event-image { padding-top:0px; }
		
		
		.type2.tribe_events .dt-sc-one-fourth.column.right-calc > a { font-size:16px; }
		
		.type3.tribe_events .event-date { font-size:20px; }
		.type3.tribe_events .event-date span { font-size:30px; }
		.type3.tribe_events h4 { font-size:20px; text-transform:capitalize; }
		
		.single-tribe_events .type3.tribe_events .tribe-events-sub-nav li a span { display:none; }
		
		.type4.tribe_events .vc_col-sm-6.wp_column { width:100%; }
		
		/**** Events Detail page ****/
		.event-meta-tab ul.dt-sc-tabs-horizontal-frame > li > a { text-transform:capitalize; padding:10px; }
	}
	
	
	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 319px) {
		
		/*** Events ***/
		#tribe-events-bar { min-width:inherit; }
		#tribe-bar-form { padding:0 5px 5px; }
		
		.tribe-events-calendar th { font-size:11px; text-transform:capitalize; overflow:hidden; text-overflow:ellipsis; }
		.tribe-events-calendar td div[id*=tribe-events-daynum-], .tribe-events-calendar td div[id*=tribe-events-daynum-] a { font-size:12px; }
		
		#tribe-events-footer .tribe-events-sub-nav .tribe-events-nav-next, #tribe-events-footer .tribe-events-sub-nav .tribe-events-nav-previous, #tribe-events-header .tribe-events-sub-nav .tribe-events-nav-next, #tribe-events-header .tribe-events-sub-nav .tribe-events-nav-previous { width:200px; }
		#tribe-events-footer:after, #tribe-events-footer:before, #tribe-events-header:after, #tribe-events-header:before { width:100%; height:1px; top:43px; }
		
		.tribe-events-list-event-detail .tribe-events-read-more, .tribe-events-day-time-slot .tribe-events-read-more, .tribe-events-back > a { font-size:13px; }
		
		.single-tribe_events .type4 .vc_col-sm-6.wp_column { width:100%; }
		
		.type2.tribe_events .dt-sc-one-fourth.column.right-calc > br { display:block; }
		.type2.tribe_events .date-wrapper p > span { font-size:50px; }
		.type2.tribe_events .date-wrapper p { font-size:14px; }
		.type2.tribe_events .right-calc a { font-size:15px; line-height:28px; }
		.type2.tribe_events .event-details, .type2.tribe_events .event-organize, .type2.tribe_events .event-venue { padding:10px; }
		
		.type3.tribe_events .event-date { font-size:20px; text-transform:capitalize; }
		.type3.tribe_events .event-date span { font-size:22px; }
		.event-meta-tab ul.dt-sc-tabs-horizontal-frame > li { width:100%; }
		.type3.tribe_events .dt-sc-tabs-horizontal-frame-content { padding:10px; }
		.single-tribe_events .tribe-events-sub-nav li a { font-size:10px; }
		.single-tribe_events .type3.tribe_events .tribe-events-sub-nav li a { padding:10px 5px; }
		.single-tribe_events .type3.tribe_events .tribe-events-sub-nav li a span { display:none; }
		
		.type1.tribe_events h2 { font-size:25px; }
		.type1.tribe_events .event-schedule { font-size:14px; }
		
		.single #tribe-events-footer:after, .single #tribe-events-footer:before, .single #tribe-events-header:after, .single #tribe-events-header:before { display:none; }
		#tribe-events #tribe-events-header, #tribe-events #tribe-events-footer { display:inline-block; }
		
		.tribe-events-community-details > table > tbody > tr > td:first-child { width:70px; }
		.tribe-events-community-details > table > tbody > tr > td .chosen-container { width:150px !important; }
	}
	
	/* Note: Design for a width of 960px */	
    @media only screen and (min-width:992px) and (max-width:1199px) {
		

		/*** Events ***/
		.type2.tribe_events .date-wrapper p > span { font-size:70px; }
		.type2.tribe_events .date-wrapper p { font-size:13px; }
		.type2.tribe_events .event-details, .type2.tribe_events .event-organize, .type2.tribe_events .event-venue { padding:15px; box-shadow:0 0 0 15px rgba(255, 255, 255, 0.7); }
		
		.type3.tribe_events .wpb_column { width:49%; }
		
		.type5.tribe_events .container { width:900px; }
		.type5.tribe_events .nav-top-links a { margin-top:1px; }
		.type5.tribe_events .wpb_column { width:49%; }
		.type5.tribe_events .wpb_column.dt-sc-one-fifth { width:100%; margin:0; }
		.type5.tribe_events .data-wrapper p { font-size:22px; }
		.type5.tribe_events .data-wrapper p span { font-size:47px; }
		
		.type5.tribe_events .column { margin: 0; width: 100%; }
		
	}
	
	
/******** ====== Skins ========********/  
.type1 .event-schedule, .type1.tribe_events .nav-top-links a:hover, .type1.tribe_events .event-image-wrapper .event-datetime > i, .type1.tribe_events .event-image-wrapper .event-venue > i, .type1.tribe_events h4 a, .type2.tribe_events .date-wrapper p span, .type2.tribe_events h4 a, .type3.tribe_events .right-calc a:hover, .type3.tribe_events .tribe-events-sub-nav li a:hover, .type3.tribe_events .tribe-events-sub-nav li a span, .type4.tribe_events .data-wrapper p span, .type4.tribe_events .data-wrapper p i, .type4.tribe_events .event-organize h4 a, .type4.tribe_events .event-venue h4 a, .type5.tribe_events .event-details h3, .type5.tribe_events .event-organize h3, .type5.tribe_events .event-venue h3, .type5.tribe_events .data-wrapper p span, .data-wrapper p i, .type5.tribe_events .event-organize h4 a, .type5.tribe_events .event-venue h4 a { color:#da0000; }

.type1.tribe_events .event-image-wrapper .event-datetime > span, .type3.tribe_events .event-date, .event-meta-tab ul.dt-sc-tabs-horizontal-frame > li > a { background:#da0000; }


